/**********************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_ProcessHalfDayLeaves
*	Description: This stored procedure is used to process the half day leaves in the timesheet
*
*	Date			Author		Revision No.		Comments
*	24/02/2015		Ervin		1.0					Created
*	20/05/2015		Ervin		1.1					Refactored the code. Added extra validation to check if @processDate is equal to either
													"FromDate" or "ToDate" fields from Vw_EmployeeAvailability based on the value of "HalfDayLeaveFlag"
*	02/06/2015		Ervin		1.2					Added code to update the "RemarkCode" field in Tran_Timesheet to an empty string. 
*	23/06/2015		Ervin		1.3					Added code that handles the processing of unprocessed half day leaves in the Timesheet
*	14/07/2015		Ervin		1.4					Modified the condition in fetching the unprocesed half day leaves. Add 1 day to the @processDate variable
*	15/07/2015		Ervin		1.5					Check if LeaveType in the timesheet table is not equal to 'HD'
*	10/11/2022		Ervin		1.6					Added filter to check if the employee was absent
************************************************************************************************************************************************************************/

ALTER PROCEDURE tas.Pr_ProcessHalfDayLeaves
(
	@processDate DATETIME
)
AS

	--Define constants
	DECLARE @CONST_RETURN_OK				INT,
			@CONST_RETURN_ERROR				INT,
			@CONST_HALF_DAY_LEAVE_CODE		VARCHAR(10)		

	--Initialize constants
	SELECT	@CONST_RETURN_OK				= 0,
			@CONST_RETURN_ERROR				= -1,
			@CONST_HALF_DAY_LEAVE_CODE		= 'HD'

	--Define variables
	DECLARE @rowsAffected					int,
			@hasError						bit,
			@retError						int,
			@retErrorDesc					varchar(200),				
			@logID							bigint

	--Initialize variables
	SELECT	@rowsAffected					= 0,
			@hasError						= 0,
			@retError						= @CONST_RETURN_OK,
			@retErrorDesc					= '',
			@logID							= 0

	--Start a transaction
	BEGIN TRANSACTION

	BEGIN TRY

		IF EXISTS
		(
			SELECT a.AutoID FROM tas.Tran_Timesheet a WITH (NOLOCK)
				INNER JOIN tas.Vw_EmployeeAvailability b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.DT BETWEEN FromDate AND ToDate
			WHERE a.IsLastRow = 1 				
				AND RTRIM(b.LeaveCode) = 'AL'
				AND RTRIM(a.LeaveType) <> 'HD'	--Rev. #1.5
				AND b.HalfDayLeaveFlag IN ('1', '2', '3')
				AND CONVERT(VARCHAR, @processDate, 12) BETWEEN CONVERT(VARCHAR, FromDate, 12) AND CONVERT(VARCHAR, ToDate, 12)
				AND a.DT = @processDate
				AND 
				(
					(CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.FromDate, 12) AND b.HalfDayLeaveFlag = 1)
					OR (CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.ToDate, 12) AND b.HalfDayLeaveFlag = 2)
					OR 
					(
						(
							CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.FromDate, 12) 
							OR CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.ToDate, 12)
						) 
						AND b.HalfDayLeaveFlag = 3
					)
				)
				AND RTRIM(a.RemarkCode) <> 'A'		--Rev. #1.6
		)
		BEGIN

			IF NOT EXISTS
			(
				SELECT LogID FROM tas.TimesheetHalfDayLeaveLog WITH (NOLOCK) 
				WHERE AutoID IN 
				(
					SELECT a.AutoID FROM tas.Tran_Timesheet a WITH (NOLOCK)
						INNER JOIN tas.Vw_EmployeeAvailability b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.DT BETWEEN FromDate AND ToDate
					WHERE a.IsLastRow = 1 				
						AND RTRIM(b.LeaveCode) = 'AL'
						AND RTRIM(a.LeaveType) <> 'HD'	--Rev. #1.5
						AND b.HalfDayLeaveFlag IN ('1', '2', '3')
						AND CONVERT(VARCHAR, @processDate, 12) BETWEEN CONVERT(VARCHAR, FromDate, 12) AND CONVERT(VARCHAR, ToDate, 12)
						AND a.DT = @processDate
						AND 
						(
							(CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.FromDate, 12) AND b.HalfDayLeaveFlag = 1)
							OR (CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.ToDate, 12) AND b.HalfDayLeaveFlag = 2)
							OR 
							(
								(
									CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.FromDate, 12) 
									OR CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.ToDate, 12)
								) 
								AND b.HalfDayLeaveFlag = 3
							)
						)
						AND RTRIM(a.RemarkCode) <> 'A'		--Rev. #1.6
				)
			)
			BEGIN

				--Insert new transaction record
				INSERT INTO tas.TimesheetHalfDayLeaveLog
				(
					[LogDate]
					,[AutoID]
					,[DT]
					,[EmpNo]
					,[LeaveType_From]
					,[LeaveType_To]
					,[NoPayHours_From]
					,[NoPayHours_To]
					,[CorrectionCode_From]
					,[CorrectionCode_To]
					,[RemarkCode_From]		--Rev. #1.2
					,[RemarkCode_To]		--Rev. #1.2
					,[LastUpdateUser]
					,[LastUpdateTime]
				)
				SELECT	GETDATE() AS LogDate, 
						a.AutoID,
						a.DT,
						a.EmpNo,
						RTRIM(a.LeaveType) AS LeaveType_From,
						'HD' AS LeaveType_To,
						a.NoPayHours AS NoPayHours_From,
						tas.fnCalculateNPHForHalfDayLeave(b.HalfDayLeaveFlag, b.LeaveReqNo, 'AL', a.EmpNo, @processDate) AS NoPayHours_To,
						RTRIM(a.CorrectionCode) AS CorrectionCode_From,
						CASE WHEN tas.fnCalculateNPHForHalfDayLeave(b.HalfDayLeaveFlag, b.LeaveReqNo, 'AL', a.EmpNo, @processDate) > 0 THEN 'ANAD' ELSE '' END AS CorrectionCode_To,
						RTRIM(a.RemarkCode) AS RemarkCode_From,	--Rev. #1.2
						'' AS RemarkCode_To,					--Rev. #1.2
						'System Admin',
						GETDATE()
				FROM tas.Tran_Timesheet a WITH (NOLOCK)
					INNER JOIN tas.Vw_EmployeeAvailability b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.DT BETWEEN FromDate AND ToDate
				WHERE a.IsLastRow = 1 				
					AND RTRIM(b.LeaveCode) = 'AL'
					AND RTRIM(a.LeaveType) <> 'HD'	--Rev. #1.5
					AND b.HalfDayLeaveFlag IN ('1', '2', '3')
					AND CONVERT(VARCHAR, @processDate, 12) BETWEEN CONVERT(VARCHAR, FromDate, 12) AND CONVERT(VARCHAR, ToDate, 12)
					AND a.DT = @processDate
					AND 
					(
						(CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.FromDate, 12) AND b.HalfDayLeaveFlag = 1)
						OR (CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.ToDate, 12) AND b.HalfDayLeaveFlag = 2)
						OR 
						(
							(
								CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.FromDate, 12) 
								OR CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.ToDate, 12)
							) 
							AND b.HalfDayLeaveFlag = 3
						)
					)
					AND RTRIM(a.RemarkCode) <> 'A'		--Rev. #1.6
			END

			ELSE
			BEGIN

				--Update existing records
				UPDATE tas.TimesheetHalfDayLeaveLog
				SET tas.TimesheetHalfDayLeaveLog.LogDate = GETDATE(),
					tas.TimesheetHalfDayLeaveLog.DT = b.DT,
					tas.TimesheetHalfDayLeaveLog.EmpNo = b.EmpNo,
					tas.TimesheetHalfDayLeaveLog.LeaveType_From = RTRIM(b.LeaveType),
					tas.TimesheetHalfDayLeaveLog.LeaveType_To = 'HD',
					tas.TimesheetHalfDayLeaveLog.NoPayHours_From = b.NoPayHours,
					tas.TimesheetHalfDayLeaveLog.NoPayHours_To = tas.fnCalculateNPHForHalfDayLeave(c.HalfDayLeaveFlag, c.LeaveReqNo, 'AL', b.EmpNo, @processDate),
					tas.TimesheetHalfDayLeaveLog.CorrectionCode_From = RTRIM(b.CorrectionCode),
					tas.TimesheetHalfDayLeaveLog.CorrectionCode_To = CASE WHEN tas.fnCalculateNPHForHalfDayLeave(c.HalfDayLeaveFlag, c.LeaveReqNo, 'AL', b.EmpNo, @processDate) > 0 THEN 'ANAD' ELSE '' END,
					tas.TimesheetHalfDayLeaveLog.RemarkCode_From = RTRIM(b.RemarkCode),	--Rev. #1.2
					tas.TimesheetHalfDayLeaveLog.RemarkCode_To = '',					--Rev. #1.2
					tas.TimesheetHalfDayLeaveLog.LastUpdateUser = 'System Admin',
					tas.TimesheetHalfDayLeaveLog.LastUpdateTime = GETDATE()
				FROM tas.TimesheetHalfDayLeaveLog a WITH (NOLOCK)
					INNER JOIN tas.Tran_Timesheet b WITH (NOLOCK) ON a.AutoID = b.AutoID
					INNER JOIN tas.Vw_EmployeeAvailability c WITH (NOLOCK) ON b.EmpNo = c.EmpNo AND b.DT BETWEEN FromDate AND ToDate
				WHERE b.IsLastRow = 1 				
					AND RTRIM(c.LeaveCode) = 'AL'
					AND RTRIM(b.LeaveType) <> 'HD'	--Rev. #1.5
					AND c.HalfDayLeaveFlag IN ('1', '2', '3')
					AND CONVERT(VARCHAR, @processDate, 12) BETWEEN CONVERT(VARCHAR, FromDate, 12) AND CONVERT(VARCHAR, ToDate, 12)
					AND a.DT = @processDate
					AND 
					(
						(CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, c.FromDate, 12) AND c.HalfDayLeaveFlag = 1)
						OR (CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, c.ToDate, 12) AND c.HalfDayLeaveFlag = 2)
						OR 
						(
							(
								CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, c.FromDate, 12) 
								OR CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, c.ToDate, 12)
							) 
							AND c.HalfDayLeaveFlag = 3
						)
					)
					AND RTRIM(b.RemarkCode) <> 'A'		--Rev. #1.6
			END

			--Checks for error
			IF @@ERROR <> @CONST_RETURN_OK
			BEGIN
				
				SELECT	@retError = @CONST_RETURN_ERROR,
						@hasError = 1
			END

			-- Checks if there's no error
			IF @retError = @CONST_RETURN_OK
			BEGIN
				
				--Update the Timesheet data to process the Half Day Leave
				UPDATE tas.Tran_Timesheet
				SET	tas.Tran_Timesheet.LeaveType = 'HD',
					tas.Tran_Timesheet.NoPayHours = tas.fnCalculateNPHForHalfDayLeave(b.HalfDayLeaveFlag, b.LeaveReqNo, 'AL', a.EmpNo, @processDate),
					tas.Tran_Timesheet.CorrectionCode = CASE WHEN tas.fnCalculateNPHForHalfDayLeave(b.HalfDayLeaveFlag, b.LeaveReqNo, 'AL', a.EmpNo, @processDate) > 0 THEN 'ANAD' ELSE '' END,
					tas.Tran_Timesheet.LastUpdateUser = 'System Admin',
					tas.Tran_Timesheet.LastUpdateTime = GETDATE(),
					tas.Tran_Timesheet.Processed = 0,
					tas.Tran_Timesheet.RemarkCode = ''	--Rev. #1.2
				FROM tas.Tran_Timesheet a WITH (NOLOCK)
					INNER JOIN tas.Vw_EmployeeAvailability b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.DT BETWEEN FromDate AND ToDate
				WHERE 
					a.IsLastRow = 1 					
					AND RTRIM(b.LeaveCode) = 'AL'
					AND RTRIM(a.LeaveType) <> 'HD'	--Rev. #1.5
					AND b.HalfDayLeaveFlag IN ('1', '2', '3')
					AND CONVERT(VARCHAR, @processDate, 12) BETWEEN CONVERT(VARCHAR, FromDate, 12) AND CONVERT(VARCHAR, ToDate, 12)
					AND a.DT = @processDate
					AND 
					(
						(CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.FromDate, 12) AND b.HalfDayLeaveFlag = 1)
						OR (CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.ToDate, 12) AND b.HalfDayLeaveFlag = 2)
						OR 
						(
							(
								CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.FromDate, 12) 
								OR CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.ToDate, 12)
							) 
							AND b.HalfDayLeaveFlag = 3
						)
					)
					AND RTRIM(a.RemarkCode) <> 'A'		--Rev. #1.6

				--Get the number of Timesheet records updated
				SELECT @rowsAffected = @@ROWCOUNT
					
				--Checks for error
				IF @@ERROR <> @CONST_RETURN_OK
				BEGIN
					
					--Delete the transaction logs
					DELETE FROM tas.TimesheetHalfDayLeaveLog
					WHERE AutoID IN
					(
						SELECT a.AutoID FROM tas.Tran_Timesheet a WITH (NOLOCK)
							INNER JOIN tas.Vw_EmployeeAvailability b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.DT BETWEEN FromDate AND ToDate
						WHERE a.IsLastRow = 1 							
							AND RTRIM(b.LeaveCode) = 'AL'
							AND RTRIM(a.LeaveType) <> 'HD'	--Rev. #1.5
							AND b.HalfDayLeaveFlag IN ('1', '2', '3')
							AND CONVERT(VARCHAR, @processDate, 12) BETWEEN CONVERT(VARCHAR, FromDate, 12) AND CONVERT(VARCHAR, ToDate, 12)
							AND A.DT = @processDate
							AND 
							(
								(CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.FromDate, 12) AND b.HalfDayLeaveFlag = 1)
								OR (CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.ToDate, 12) AND b.HalfDayLeaveFlag = 2)
								OR 
								(
									(
										CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.FromDate, 12) 
										OR CONVERT(VARCHAR, @processDate, 12) = CONVERT(VARCHAR, b.ToDate, 12)
									) 
									AND b.HalfDayLeaveFlag = 3
								)
							)
							AND RTRIM(a.RemarkCode) <> 'A'		--Rev. #1.6
					)

					SELECT	@retError = @CONST_RETURN_ERROR,
							@hasError = 1
				END
			END
		END

		/*******************************************************************************************
			Start of Rev. #1.3 - Search for unprocessed half day leaves in the Timesheet
		********************************************************************************************/
		IF EXISTS
		(
			SELECT DISTINCT a.AutoID
			FROM tas.Tran_Timesheet a WITH (NOLOCK)
				INNER JOIN tas.Vw_EmployeeAvailability b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.DT BETWEEN FromDate AND ToDate
				INNER JOIN tas.sy_LeaveRequisitionDetail c WITH (NOLOCK) ON a.EmpNo = c.LeaveEmpNo AND c.LeaveType = 'AL' 
					AND  CONVERT(VARCHAR, a.DT, 12) BETWEEN CONVERT(VARCHAR, c.LeaveStartDate, 12) AND  CONVERT(VARCHAR, c.LeaveEndDate, 12)
				INNER JOIN tas.sy_LeaveRequisition d WITH (NOLOCK) ON c.LeaveNo = d.RequisitionNo AND RTRIM(c.LeaveType) = RTRIM(d.LeaveType)
			WHERE a.IsLastRow = 1 				
				AND RTRIM(b.LeaveCode) = 'AL'
				AND b.HalfDayLeaveFlag IN ('1', '2', '3')
				AND a.DT <= DATEADD(DD, 1, @processDate)	--Rev. #1.4
				AND RTRIM(a.LeaveType) <> 'HD'
				AND b.LeaveApprovalFlag IN ('A', 'N') 
				AND 
				(
					(CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.FromDate, 12) AND b.HalfDayLeaveFlag = 1)
					OR (CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.ToDate, 12) AND b.HalfDayLeaveFlag = 2)
					OR 
					(
						(
							CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.FromDate, 12) 
							OR CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.ToDate, 12)
						) 
						AND b.HalfDayLeaveFlag = 3
					)
				)
				AND ISNULL(a.Processed, 0) = 0
				AND RTRIM(a.RemarkCode) <> 'A'		--Rev. #1.6
		)
		BEGIN
			
			--Insert record to transaction log table
			IF NOT EXISTS
			(
				SELECT LogID FROM tas.TimesheetHalfDayLeaveLog WITH (NOLOCK) 
				WHERE AutoID IN 
				(
					SELECT DISTINCT a.AutoID
					FROM tas.Tran_Timesheet a WITH (NOLOCK)
						INNER JOIN tas.Vw_EmployeeAvailability b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.DT BETWEEN FromDate AND ToDate
						INNER JOIN tas.sy_LeaveRequisitionDetail c WITH (NOLOCK) ON a.EmpNo = c.LeaveEmpNo AND c.LeaveType = 'AL' 
							AND  CONVERT(VARCHAR, a.DT, 12) BETWEEN CONVERT(VARCHAR, c.LeaveStartDate, 12) AND  CONVERT(VARCHAR, c.LeaveEndDate, 12)
						INNER JOIN tas.sy_LeaveRequisition d WITH (NOLOCK) ON c.LeaveNo = d.RequisitionNo AND RTRIM(c.LeaveType) = RTRIM(d.LeaveType)
					WHERE a.IsLastRow = 1 				
						AND RTRIM(b.LeaveCode) = 'AL'
						AND b.HalfDayLeaveFlag IN ('1', '2', '3')
						AND a.DT <= DATEADD(DD, 1, @processDate)	--Rev. #1.4
						AND RTRIM(a.LeaveType) <> 'HD'
						AND b.LeaveApprovalFlag IN ('A', 'N') 
						AND 
						(
							(CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.FromDate, 12) AND b.HalfDayLeaveFlag = 1)
							OR (CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.ToDate, 12) AND b.HalfDayLeaveFlag = 2)
							OR 
							(
								(
									CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.FromDate, 12) 
									OR CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.ToDate, 12)
								) 
								AND b.HalfDayLeaveFlag = 3
							)
						)
						AND ISNULL(a.Processed, 0) = 0
						AND RTRIM(a.RemarkCode) <> 'A'		--Rev. #1.6
				)
			)
			BEGIN

				--Insert new transaction record
				INSERT INTO tas.TimesheetHalfDayLeaveLog
				(
					[LogDate]
					,[AutoID]
					,[DT]
					,[EmpNo]
					,[LeaveType_From]
					,[LeaveType_To]
					,[NoPayHours_From]
					,[NoPayHours_To]
					,[CorrectionCode_From]
					,[CorrectionCode_To]
					,[RemarkCode_From]		
					,[RemarkCode_To]		
					,[LastUpdateUser]
					,[LastUpdateTime]
				)
				SELECT DISTINCT 
					GETDATE() AS LogDate,
					a.AutoID,
					a.DT,
					a.EmpNo,
					RTRIM(a.LeaveType) AS LeaveType_From,
					'HD' AS LeaveType_To,
					a.NoPayHours AS NoPayHours_From,
					tas.fnCalculateNPHForHalfDayLeave(b.HalfDayLeaveFlag, b.LeaveReqNo, 'AL', a.EmpNo, a.DT) AS NoPayHours_To,
					RTRIM(a.CorrectionCode) AS CorrectionCode_From,
					CASE WHEN tas.fnCalculateNPHForHalfDayLeave(b.HalfDayLeaveFlag, b.LeaveReqNo, 'AL', a.EmpNo, a.DT) > 0 THEN 'ANAD' ELSE '' END AS CorrectionCode_To,
					RTRIM(a.RemarkCode) AS RemarkCode_From,	
					'' AS RemarkCode_To,					
					'System Admin',
					GETDATE()
				FROM tas.Tran_Timesheet a WITH (NOLOCK)
					INNER JOIN tas.Vw_EmployeeAvailability b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.DT BETWEEN FromDate AND ToDate
					INNER JOIN tas.sy_LeaveRequisitionDetail c WITH (NOLOCK) ON a.EmpNo = c.LeaveEmpNo AND c.LeaveType = 'AL' 
						AND  CONVERT(VARCHAR, a.DT, 12) BETWEEN CONVERT(VARCHAR, c.LeaveStartDate, 12) AND  CONVERT(VARCHAR, c.LeaveEndDate, 12)
					INNER JOIN tas.sy_LeaveRequisition d WITH (NOLOCK) ON c.LeaveNo = d.RequisitionNo AND RTRIM(c.LeaveType) = RTRIM(d.LeaveType)
				WHERE a.IsLastRow = 1 				
					AND RTRIM(b.LeaveCode) = 'AL'
					AND b.HalfDayLeaveFlag IN ('1', '2', '3')
					AND a.DT <= DATEADD(DD, 1, @processDate)	--Rev. #1.4
					AND RTRIM(a.LeaveType) <> 'HD'
					AND b.LeaveApprovalFlag IN ('A', 'N') 
					AND 
					(
						(CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.FromDate, 12) AND b.HalfDayLeaveFlag = 1)
						OR (CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.ToDate, 12) AND b.HalfDayLeaveFlag = 2)
						OR 
						(
							(
								CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.FromDate, 12) 
								OR CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.ToDate, 12)
							) 
							AND b.HalfDayLeaveFlag = 3
						)
					)
					AND ISNULL(a.Processed, 0) = 0
					AND RTRIM(a.RemarkCode) <> 'A'		--Rev. #1.6
			END

			ELSE
			BEGIN

				--Update existing records
				UPDATE tas.TimesheetHalfDayLeaveLog
				SET tas.TimesheetHalfDayLeaveLog.LogDate = GETDATE(),
					tas.TimesheetHalfDayLeaveLog.DT = b.DT,
					tas.TimesheetHalfDayLeaveLog.EmpNo = b.EmpNo,
					tas.TimesheetHalfDayLeaveLog.LeaveType_From = RTRIM(b.LeaveType),
					tas.TimesheetHalfDayLeaveLog.LeaveType_To = 'HD',
					tas.TimesheetHalfDayLeaveLog.NoPayHours_From = b.NoPayHours,
					tas.TimesheetHalfDayLeaveLog.NoPayHours_To = tas.fnCalculateNPHForHalfDayLeave(c.HalfDayLeaveFlag, c.LeaveReqNo, 'AL', b.EmpNo, a.DT),
					tas.TimesheetHalfDayLeaveLog.CorrectionCode_From = RTRIM(b.CorrectionCode),
					tas.TimesheetHalfDayLeaveLog.CorrectionCode_To = CASE WHEN tas.fnCalculateNPHForHalfDayLeave(c.HalfDayLeaveFlag, c.LeaveReqNo, 'AL', b.EmpNo, a.DT) > 0 THEN 'ANAD' ELSE '' END,
					tas.TimesheetHalfDayLeaveLog.RemarkCode_From = RTRIM(b.RemarkCode),	
					tas.TimesheetHalfDayLeaveLog.RemarkCode_To = '',					
					tas.TimesheetHalfDayLeaveLog.LastUpdateUser = 'System Admin',
					tas.TimesheetHalfDayLeaveLog.LastUpdateTime = GETDATE()
				FROM tas.TimesheetHalfDayLeaveLog a WITH (NOLOCK)
					INNER JOIN tas.Tran_Timesheet b WITH (NOLOCK) ON a.AutoID = b.AutoID
					INNER JOIN tas.Vw_EmployeeAvailability c WITH (NOLOCK) ON b.EmpNo = c.EmpNo AND b.DT BETWEEN FromDate AND ToDate
					INNER JOIN tas.sy_LeaveRequisitionDetail d WITH (NOLOCK) ON a.EmpNo = d.LeaveEmpNo AND d.LeaveType = 'AL' 
						AND  CONVERT(VARCHAR, b.DT, 12) BETWEEN CONVERT(VARCHAR, d.LeaveStartDate, 12) AND  CONVERT(VARCHAR, d.LeaveEndDate, 12)
					INNER JOIN tas.sy_LeaveRequisition e WITH (NOLOCK) ON d.LeaveNo = e.RequisitionNo AND RTRIM(d.LeaveType) = RTRIM(e.LeaveType)
				WHERE b.IsLastRow = 1 		
					AND RTRIM(c.LeaveCode) = 'AL'
					AND c.HalfDayLeaveFlag IN ('1', '2', '3')
					AND a.DT <= DATEADD(DD, 1, @processDate)	--Rev. #1.4
					AND RTRIM(b.LeaveType) <> 'HD'
					AND c.LeaveApprovalFlag IN ('A', 'N') 
					AND 
					(
						(CONVERT(VARCHAR, b.DT, 12) = CONVERT(VARCHAR, c.FromDate, 12) AND c.HalfDayLeaveFlag = 1)
						OR (CONVERT(VARCHAR, b.DT, 12) = CONVERT(VARCHAR, c.ToDate, 12) AND c.HalfDayLeaveFlag = 2)
						OR 
						(
							(
								CONVERT(VARCHAR, b.DT, 12) = CONVERT(VARCHAR, c.FromDate, 12) 
								OR CONVERT(VARCHAR, b.DT, 12) = CONVERT(VARCHAR, c.ToDate, 12)
							) 
							AND c.HalfDayLeaveFlag = 3
						)
					)			
					AND ISNULL(b.Processed, 0) = 0
					AND RTRIM(b.RemarkCode) <> 'A'		--Rev. #1.6
			END

			--Checks for error
			IF @@ERROR <> @CONST_RETURN_OK
			BEGIN
				
				SELECT	@retError = @CONST_RETURN_ERROR,
						@hasError = 1
			END

			-- Checks if there's no error
			IF @retError = @CONST_RETURN_OK
			BEGIN
				
				--Update the Timesheet data to process the Half Day Leave
				UPDATE tas.Tran_Timesheet
				SET	tas.Tran_Timesheet.LeaveType = 'HD',
					tas.Tran_Timesheet.NoPayHours = tas.fnCalculateNPHForHalfDayLeave(b.HalfDayLeaveFlag, b.LeaveReqNo, 'AL', a.EmpNo, a.DT),
					tas.Tran_Timesheet.CorrectionCode = CASE WHEN tas.fnCalculateNPHForHalfDayLeave(b.HalfDayLeaveFlag, b.LeaveReqNo, 'AL', a.EmpNo, a.DT) > 0 THEN 'ANAD' ELSE '' END,
					tas.Tran_Timesheet.LastUpdateUser = 'System Admin',
					tas.Tran_Timesheet.LastUpdateTime = GETDATE(),
					tas.Tran_Timesheet.Processed = 0,
					tas.Tran_Timesheet.RemarkCode = ''	
				FROM tas.Tran_Timesheet a WITH (NOLOCK)
					INNER JOIN tas.Vw_EmployeeAvailability b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.DT BETWEEN FromDate AND ToDate
					INNER JOIN tas.sy_LeaveRequisitionDetail c WITH (NOLOCK) ON a.EmpNo = c.LeaveEmpNo AND c.LeaveType = 'AL' 
						AND  CONVERT(VARCHAR, a.DT, 12) BETWEEN CONVERT(VARCHAR, c.LeaveStartDate, 12) AND  CONVERT(VARCHAR, c.LeaveEndDate, 12)
					INNER JOIN tas.sy_LeaveRequisition d WITH (NOLOCK) ON c.LeaveNo = d.RequisitionNo AND RTRIM(c.LeaveType) = RTRIM(d.LeaveType)
				WHERE 
					a.IsLastRow = 1 				
					AND RTRIM(b.LeaveCode) = 'AL'
					AND b.HalfDayLeaveFlag IN ('1', '2', '3')
					AND a.DT <= DATEADD(DD, 1, @processDate)	--Rev. #1.4
					AND RTRIM(a.LeaveType) <> 'HD'
					AND b.LeaveApprovalFlag IN ('A', 'N') 
					AND 
					(
						(CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.FromDate, 12) AND b.HalfDayLeaveFlag = 1)
						OR (CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.ToDate, 12) AND b.HalfDayLeaveFlag = 2)
						OR 
						(
							(
								CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.FromDate, 12) 
								OR CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.ToDate, 12)
							) 
							AND b.HalfDayLeaveFlag = 3
						)
					)
					AND ISNULL(a.Processed, 0) = 0
					AND RTRIM(a.RemarkCode) <> 'A'		--Rev. #1.6

				--Get the number of Timesheet records updated
				SELECT @rowsAffected = @rowsAffected + @@ROWCOUNT
					
				--Checks for error
				IF @@ERROR <> @CONST_RETURN_OK
				BEGIN
					
					--Delete the transaction logs
					DELETE FROM tas.TimesheetHalfDayLeaveLog
					WHERE AutoID IN
					(
						SELECT DISTINCT a.AutoID
						FROM tas.Tran_Timesheet a WITH (NOLOCK)
							INNER JOIN tas.Vw_EmployeeAvailability b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.DT BETWEEN FromDate AND ToDate
							INNER JOIN tas.sy_LeaveRequisitionDetail c WITH (NOLOCK) ON a.EmpNo = c.LeaveEmpNo AND c.LeaveType = 'AL' 
								AND  CONVERT(VARCHAR, a.DT, 12) BETWEEN CONVERT(VARCHAR, c.LeaveStartDate, 12) AND  CONVERT(VARCHAR, c.LeaveEndDate, 12)
							INNER JOIN tas.sy_LeaveRequisition d WITH (NOLOCK) ON c.LeaveNo = d.RequisitionNo AND RTRIM(c.LeaveType) = RTRIM(d.LeaveType)
						WHERE a.IsLastRow = 1 				
							AND RTRIM(b.LeaveCode) = 'AL'
							AND b.HalfDayLeaveFlag IN ('1', '2', '3')
							AND a.DT <= DATEADD(DD, 1, @processDate)	--Rev. #1.4
							AND RTRIM(a.LeaveType) <> 'HD'
							AND b.LeaveApprovalFlag IN ('A', 'N') 
							AND 
							(
								(CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.FromDate, 12) AND b.HalfDayLeaveFlag = 1)
								OR (CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.ToDate, 12) AND b.HalfDayLeaveFlag = 2)
								OR 
								(
									(
										CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.FromDate, 12) 
										OR CONVERT(VARCHAR, a.DT, 12) = CONVERT(VARCHAR, b.ToDate, 12)
									) 
									AND b.HalfDayLeaveFlag = 3
								)
							)
							AND ISNULL(a.Processed, 0) = 0
							AND RTRIM(a.RemarkCode) <> 'A'		--Rev. #1.6
					)

					SELECT	@retError = @CONST_RETURN_ERROR,
							@hasError = 1
				END
			END
		END
		/********************************************* End of Rev. #1.3 **********************************************/

	END TRY
	BEGIN CATCH

		--Capture the error
		SELECT	@retError = CASE WHEN ERROR_NUMBER() > 0 THEN ERROR_NUMBER() ELSE @CONST_RETURN_ERROR END,
				@retErrorDesc = ERROR_MESSAGE(),
				@hasError = 1

	END CATCH

EXIT_POINT:

	IF @retError = @CONST_RETURN_OK
	BEGIN

		IF @@TRANCOUNT > 0
			COMMIT TRANSACTION;		
	END

	ELSE
	BEGIN

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION
	END

	--Return error information to the caller
	SELECT	@hasError AS HasError, 
			@retError AS ErrorCode, 
			@retErrorDesc AS ErrorDescription,
			@rowsAffected AS RowsAffected

