/***************************************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_GetMissingSwipeStatistics_V2
*	Description: This stored procedure is used to fetch data that will be used in the Missing Swipes Statistics Report
*
*	Date:			Author:		Rev.#:		Comments:
*	28/01/2016		Ervin		1.0			Created
*	10/04/2022		Ervin		1.1			Added filter to return cost center wherein IsSyncTimesheet = 1
*	06/05/2022		Ervin		1.2			Converted date/time inputs into date values
*	22/08/2022		Ervin		1.3			Commented filter that checks if IsSyncTimesheet = 1
***************************************************************************************************************************************************************************************************************************/

ALTER PROCEDURE tas.Pr_GetMissingSwipeStatistics_V2
(
	@startDate			datetime,
	@endDate			datetime
)
AS	
BEGIN 

	--Tell SQL Engine not to return the row-count information
	SET NOCOUNT ON 

	DECLARE	@totalSwipe					INT,
			@totalMorningShift			INT,
			@totalEveningShift			INT,
			@totalNightShift			INT

	--Rev. #1.2
	SELECT	@startDate = CONVERT(DATETIME, CONVERT(VARCHAR, @startDate, 12)),
			@endDate = CONVERT(DATETIME, CONVERT(VARCHAR, @endDate, 12))

	SELECT	DISTINCT
			a.CostCenter,
			b.BusinessUnitName AS CostCenterName,
			c.TotalDayShift,
			c.TotalMorningShift,
			c.TotalEveningShift,
			c.TotalNightShift,
			c.TotalSwipe
	FROM (
			SELECT DISTINCT CostCenter 
			FROM tas.WorkplaceReaderSetting WITH (NOLOCK) 
			WHERE IsActive = 1 
				--AND IsSyncTimesheet = 1		--Rev. #1.3
		) a	
		LEFT JOIN tas.Master_BusinessUnit_JDE b WITH (NOLOCK) ON RTRIM(a.CostCenter) = RTRIM(b.BusinessUnit)
		OUTER APPLY tas.fnGetMissingSwipeStatistics(@startDate, @endDate, RTRIM(a.CostCenter)) c
	ORDER BY a.CostCenter

END 

/*	Debug:

	EXEC tas.Pr_GetMissingSwipeStatistics_V2 '08/21/2022', '08/21/2022'

*/

