/******************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_AutoMarkAbsentRemoveDayOff
*	Description: This stored procedure is used to remove day-off and mark as absent
*
*	Date			Author		Revision No.	Comments:
*	25/03/2019		Ervin		1.0				Created
*	24/06/2019		Ervin		1.1				Added condition to check if record exists in "DayOffAbsentLog" table
*	11/05/2020		Ervin		1.2				Added filter condition that checks if LeaveType is null
*	13/09/2020		Ervin		1.3				Commented code changes done in Rev. #1.2
*	25/04/2022		Ervin		1.4				Restored changes done in Rev. #1.2
*******************************************************************************************************************************************************************************************************/

ALTER PROCEDURE tas.Pr_AutoMarkAbsentRemoveDayOff
(	
	@actionType			TINYINT,		--(Note: 1 = Mark absent remove dayoff; 2 = Undo removal of dayoff)	
	@empNo				INT = 0,
	@dayOffArray		VARCHAR(200) 
)
AS	
BEGIN

	--Tell SQL Engine not to return the row-count information
	SET NOCOUNT ON 

	--Define constants
	DECLARE @CONST_RETURN_OK		INT,
			@CONST_RETURN_ERROR		INT,
			@CONST_MARO				VARCHAR(10)

	--Define other variables
	DECLARE @hasError				BIT,
			@retError				INT,
			@retErrorDesc			VARCHAR(200),
			@rowsAffected			INT			

	--Initialize constants
	SELECT	@CONST_RETURN_OK		= 0,
			@CONST_RETURN_ERROR		= -1,
			@CONST_MARO				= 'MARO'	--Mark Absent - Remove Dayoff

	--Initialize other variables
	SELECT	@hasError				= 0,
			@retError				= @CONST_RETURN_OK,
			@retErrorDesc			= '',
			@rowsAffected			= 0				

	IF @actionType = 1		--Mark absent remove dayoff
	BEGIN

		IF NOT EXISTS
        (
			SELECT 1 FROM tas.DayOffAbsentLog a WITH (NOLOCK)
			WHERE a.EmpNo = @empNo
				AND a.DT IN (SELECT DateValue FROM tas.fnParseDateArrayToDateTime(@dayOffArray, ','))	
		)
		BEGIN
        
			--Insert the log record first
			INSERT INTO tas.DayOffAbsentLog
			(
				TSAutoID,
				EmpNo,
				DT,
				CostCenter,
				ShiftPatCode,
				ShiftCode,
				CorrectionCode,
				RemarkCode,
				CreatedDate,
				CreatedByEmpNo,
				CreatedByUserID
			)
			SELECT	a.AutoID,
					a.EmpNo, 
					a.DT,
					RTRIM(a.BusinessUnit),
					a.ShiftPatCode,
					a.ShiftCode,
					a.CorrectionCode,
					a.RemarkCode,
					GETDATE(),
					0,
					'System Admin'
			FROM tas.Tran_Timesheet a WITH (NOLOCK)
			WHERE a.EmpNo = @empNo
				AND a.IsLastRow = 1
				AND a.DT IN (SELECT DateValue FROM tas.fnParseDateArrayToDateTime(@dayOffArray, ','))		
				--AND ISNULL(a.LeaveType, '') = ''	--Rev. #1.2
		END 									
					
		--Checks for error
		IF @@ERROR <> @CONST_RETURN_OK
		BEGIN
				
			SELECT	@retError = @CONST_RETURN_ERROR,
					@hasError = 1
		END

		-- Checks if there's no error
		IF @retError = @CONST_RETURN_OK
		BEGIN

			--Update the attendance record
			UPDATE tas.Tran_Timesheet
			SET tas.Tran_Timesheet.CorrectionCode = @CONST_MARO,
				tas.Tran_Timesheet.RemarkCode = 'A',
				tas.Tran_Timesheet.LeaveType = NULL,
				tas.Tran_Timesheet.AbsenceReasonCode = NULL,
				tas.Tran_Timesheet.Processed = 0,
				tas.Tran_Timesheet.LastUpdateUser = 'System Admin',
				tas.Tran_Timesheet.LastUpdateTime = GETDATE()
			FROM tas.Tran_Timesheet a WITH (NOLOCK)
			WHERE a.EmpNo = @empNo
				AND a.IsLastRow = 1
				AND a.DT IN (SELECT DateValue FROM tas.fnParseDateArrayToDateTime(@dayOffArray, ','))
				--AND ISNULL(a.LeaveType, '') = ''	--Rev. #1.2

			--Get the number of affected records in the "Tran_Timesheet" table
			SELECT @rowsAffected = @@rowcount 

			--Checks for error
			IF @@ERROR <> @CONST_RETURN_OK
			BEGIN
				
				SELECT	@retError = @CONST_RETURN_ERROR,
						@hasError = 1
			END
		END 
	END 

	ELSE IF @actionType = 2		--Undo removal of dayoff
	BEGIN

		UPDATE tas.Tran_Timesheet
		SET tas.Tran_Timesheet.CorrectionCode = b.CorrectionCode,
			tas.Tran_Timesheet.RemarkCode = b.RemarkCode,
			tas.Tran_Timesheet.LeaveType = b.LeaveType,
			tas.Tran_Timesheet.AbsenceReasonCode = b.AbsenceReasonCode,
			tas.Tran_Timesheet.Processed = b.Processed,
			tas.Tran_Timesheet.LastUpdateUser = 'System Admin',
			tas.Tran_Timesheet.LastUpdateTime = GETDATE()
		FROM tas.Tran_Timesheet a WITH (NOLOCK)
			INNER JOIN tas.DayOffAbsentLog b WITH (NOLOCK) ON a.AutoID = b.TSAutoID
		WHERE a.EmpNo = @empNo
			AND a.IsLastRow = 1
			AND a.DT IN (SELECT DateValue FROM tas.fnParseDateArrayToDateTime(@dayOffArray, ','))
		
		--Get the number of affected records in the "Tran_Timesheet" table
		SELECT @rowsAffected = @@rowcount 

		--Checks for error
		IF @@ERROR <> @CONST_RETURN_OK
		BEGIN
				
			SELECT	@retError = @CONST_RETURN_ERROR,
					@hasError = 1
		END

		-- Checks if there's no error
		IF @retError = @CONST_RETURN_OK
		BEGIN

			DELETE FROM tas.DayOffAbsentLog 
			WHERE EmpNo = @empNo
				AND DT IN (SELECT DateValue FROM tas.fnParseDateArrayToDateTime(@dayOffArray, ','))
		END 
	END 

	--Return error information to the caller
	SELECT	@hasError AS HasError, 
			@retError AS ErrorCode, 
			@retErrorDesc AS ErrorDescription,
			@rowsAffected AS RowsAffected

END 

/*	Debug:

	SELECT * FROM tas.DayOffAbsentLog a
	WHERE a.EmpNo = 10003108
	ORDER BY EmpNo, DT DESC

PARAMETERS:
	@actionType			TINYINT,		--(Note: 1 = Mark absent remove dayoff; 2 = Undo removal of dayoff)	
	@empNo				INT = 0,
	@dayOffArray		VARCHAR(200) 

	EXEC tas.Pr_AutoMarkAbsentRemoveDayOff 1, 10003108, '220506,220507'				--Mark absent remove dayoff		--(Date Format: yymmdd)
	EXEC tas.Pr_AutoMarkAbsentRemoveDayOff 2, 10003829, '220402,220401'			--Undo removal of dayoff

*/

