/*****************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_GetCostCenter_V2
*	Description: Get all cost centers 
*
*	Date			Author		Rev. #		Comments:
*	05/01/2017		Ervin		1.0			Created
*	16/07/2020		Ervin		1.1			Removed the filter by checking records in "Master_Employee_JDE" table
******************************************************************************************************************************************************************************/

ALTER PROCEDURE tas.Pr_GetCostCenter_V2
(   
	@loadType	TINYINT = 0
)
AS
BEGIN
	
	SET NOCOUNT ON 

	IF @loadType = 0	--Get all cost center where Manager is defined
	BEGIN
    
		SELECT	a.CompanyCode,
				a.BusinessUnit, 
				a.BusinessUnitName,
				a.ParentBU,
				a.Superintendent,
				a.CostCenterManager 
		FROM tas.Master_BusinessUnit_JDE_V2 a WITH (NOLOCK)
		WHERE ISNULL(a.CostCenterManager, 0) > 0
		ORDER BY a.CompanyCode, a.BusinessUnit
	END
    
	ELSE IF @loadType = 1	--Get cost centers with matching record in "Master_Employee_JDE" view
	BEGIN
    
		SELECT	a.CompanyCode,
				a.BusinessUnit, 
				a.BusinessUnitName,
				a.ParentBU,
				a.Superintendent,
				a.CostCenterManager
		FROM tas.Master_BusinessUnit_JDE_V2 a WITH (NOLOCK)
		--WHERE LTRIM(RTRIM(a.BusinessUnit)) IN		--Rev. #1.1
		--	(
		--		SELECT DISTINCT LTRIM(RTRIM(BusinessUnit)) 
		--		FROM tas.Master_Employee_JDE
		--	) 
		ORDER BY a.CompanyCode, a.BusinessUnit
	END
END 

/*	Debug:

	EXEC tas.Pr_GetCostCenter_V2
	EXEC tas.Pr_GetCostCenter_V2 0
	EXEC tas.Pr_GetCostCenter_V2 1

*/