/*****************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_UpdateTimeSheetGrantDIL
*	Description: Activate DIL entitlement for eligible employees
*
*	Date			Author		Rev. #		Comments:
*	05/01/2012		Ervin		1.0			Created
******************************************************************************************************************************************************************************/

ALTER PROCEDURE tas.Pr_UpdateTimeSheetGrantDIL
(
	@AutoID			int,
	@EmpNo			int,
	@DT				datetime	
)
AS
BEGIN 

	UPDATE tas.Tran_Timesheet
	SET [DIL_Entitlement] = 'AD'
	WHERE AutoID = @AutoID
		AND EmpNo = @EmpNo
		AND DT = @DT

END 

