/********************************************************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_Tran_ManualAttendance_CRUD
*	Description: Performs insert, update, and delete operations against "Tran_ManualAttendance" table
*
*	Date			Author		Rev. #		Comments:
*	29/01/2017		Ervin		1.0			Created
*	05/03/2017		Ervin		1.1			Fixed bug that updates the Timesheet record on previous day if scheduled shift is Night Shift
*	05/08/2018		Ervin		1.2			Added logic to check for the employee has multiple swipes and to calculate the total work duration. Added the ff variables: @hasMultipleSwipe, @maxDurationWorked, @maxNetMinutes
*	19/07/2020		Ervin		1.3			Added code to insert attendance records if it does not exist yet in the Timesheet
*	12/12/2021		Ervin		1.4			Added condition to populate Timesheet records even if there is shift pattern defined 
*********************************************************************************************************************************************************************************************************************************************/

ALTER PROCEDURE tas.Pr_Tran_ManualAttendance_CRUD
(	
	@actionType			INT,	
	@autoID				INT, 	
	@empNo				INT,
	@dtIN				DATETIME,
	@timeIN				DATETIME,
	@dtOUT				DATETIME,
	@timeOUT			DATETIME,
	@userID				VARCHAR(30)
)
AS
BEGIN
	
	DECLARE @newID					INT = 0,
			@rowsAffected			INT = 0,
			@ts_AutoID				INT = 0,
			@shiftPatCode			VARCHAR(2) = '',	
			@shiftCode				VARCHAR(10) = '',
			@combinedTimeIn			DATETIME = NULL,
			@combinedTimeOut		DATETIME = NULL,
			@hasMultipleSwipe		BIT = 0,
			@maxDurationWorked		INT = 0,
			@maxNetMinutes			INT = 0,
			@effectiveShiftPatCode  VARCHAR(2) = '',
			@effectiveShiftCode		VARCHAR(10) = '',
			@costCenter				VARCHAR(12) = '',
			@payGrade				VARCHAR(10) = ''

	IF @actionType = 1		--Insert new record
	BEGIN				

		INSERT INTO tas.Tran_ManualAttendance
		(
			EmpNo,
			dtIN,
			timeIN,
			dtOUT,
			[timeOUT],
			CreatedUser,
			CreatedTime
		)
		VALUES
		(
			@empNo,
			@dtIN,
			tas.fmtHHmm(@timeIN),
			@dtOUT,
			tas.fmtHHmm(@timeOUT),
			@userID,
			GETDATE()	
		)
		
		--Get the new ID
		SET @newID = @@identity

		IF @newID > 0
		BEGIN					

			--Update the Timesheet record
			IF	@dtIN IS NOT NULL 
				AND @dtOUT IS NOT NULL				
			BEGIN

				--Check if attendance record does not exist
				IF NOT EXISTS
                (
					SELECT 1 FROM tas.Tran_Timesheet a WITH (NOLOCK)
					WHERE a.EmpNo = @empNo
						AND a.DT = @dtIN
				)
				BEGIN
				
					--Get the employee information
					SELECT	@costCenter = RTRIM(a.BusinessUnit),
							@payGrade = CAST(a.GradeCode AS VARCHAR(10))
					FROM tas.Master_Employee_JDE_View_V2 a WITH (NOLOCK)
					WHERE a.EmpNo = @empNo
                
					IF EXISTS
                    (
						SELECT 1 FROM tas.Tran_ShiftPatternUpdates a WITH (NOLOCK)
						WHERE a.EmpNo = @empNo
							AND a.DateX = @dtIN
					)
					BEGIN
                    
						--Get the shift pattern information from "Tran_ShiftPatternUpdates" table
						SELECT	@effectiveShiftPatCode = RTRIM(a.Effective_ShiftPatCode),
								@effectiveShiftCode = RTRIM(a.Effective_ShiftCode)
						FROM tas.Tran_ShiftPatternUpdates a WITH (NOLOCK)
						WHERE a.EmpNo = @empNo
							AND a.DateX = @dtIN
					END 

					ELSE
                    BEGIN

						--Get the shift pattern information from "Tran_ShiftPatternChanges" table
						SELECT TOP 1 
							@effectiveShiftPatCode = RTRIM(a.ShiftPatCode),
							@effectiveShiftCode = b.ShiftCode
						FROM tas.Tran_ShiftPatternChanges a WITH (NOLOCK)
							INNER JOIN tas.Master_ShiftPattern b WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(b.ShiftPatCode) AND a.ShiftPointer = b.ShiftPointer
						WHERE EmpNo = @empNo
						ORDER BY a.AutoID DESC
                    END 

					--Insert new attendance record copying data from the previous record
					IF EXISTS
                    (
						SELECT 1 FROM tas.Tran_Timesheet a WITH (NOLOCK)	--Rev. #1.4
						WHERE a.IsLastRow = 1
							AND RTRIM(a.ShiftCode) = @effectiveShiftCode
							AND a.EmpNo = @empNo  
					)
					BEGIN
                    
						INSERT INTO tas.Tran_Timesheet
						(
							[EmpNo]
							,[DT]
							,[ShiftPatCode]
							,[ShiftCode]
							,[Actual_ShiftCode]
							,[ShiftAllowance]
							,[NoPayHours]
							,[BusinessUnit]
							,[GradeCode]
							,[Processed]
							,[LastUpdateUser]
							,[LastUpdateTime]
							,[JobCategoryCode]
							,[isMuslim]
							,[isRamadan]
							,[IsPublicHoliday]
							,[IsDILdayWorker]
							,[IsEmployee_OR_Contractor]
							,[IsResigned]
							,[IsSalStaff]
							,[IsDayWorker_OR_Shifter]
							,[IsDriver]
							,[IsLiasonOfficer]
							,[IsHedger]
							,[IsOnDutyRota]
							,[ContractorGroupCode]
							,[IsLastRow]
							,[Duration_Shift]
							,[Duration_Required]
							,[SwipeSource]
							,XXXXXXXXXXXX_800
						)
						SELECT TOP 1	
								@empNo,
								@dtIN AS DT,
								@effectiveShiftPatCode AS ShiftPatCode,
								@effectiveShiftCode AS ShiftCode,
								@effectiveShiftCode AS Actual_ShiftCode,
								a.ShiftAllowance,
								0 AS NoPayHours,
								@costCenter,
								@payGrade,
								0 AS Processed,
								@userID AS LastUpdateUser, 
								GETDATE() AS LastUpdateTime,
								a.JobCategoryCode,
								a.isMuslim,
								a.isRamadan,
								a.IsPublicHoliday,
								a.IsDILdayWorker, 
								a.IsEmployee_OR_Contractor, 
								a.IsResigned, 
								a.IsSalStaff, 
								a.IsDayWorker_OR_Shifter, 
								a.IsDriver,
								a.IsLiasonOfficer,
								a.IsHedger, 
								a.IsOnDutyRota,
								a.ContractorGroupCode,
								1 AS IsLastRow,
								a.Duration_Shift,
								a.Duration_Required,
								a.SwipeSource,
								1 AS XXXXXXXXXXXX_800
						FROM tas.Tran_Timesheet a WITH (NOLOCK)
						WHERE a.IsLastRow = 1
							AND RTRIM(a.ShiftCode) = @effectiveShiftCode
							AND a.EmpNo = @empNo  
						ORDER BY a.DT DESC  
					END

					ELSE
                    BEGIN

						INSERT INTO tas.Tran_Timesheet
						(
							[EmpNo]
							,[DT]
							,[ShiftPatCode]
							,[ShiftCode]
							,[Actual_ShiftCode]
							,[ShiftAllowance]
							,[NoPayHours]
							,[BusinessUnit]
							,[GradeCode]
							,[Processed]
							,[LastUpdateUser]
							,[LastUpdateTime]
							,[JobCategoryCode]
							,[isMuslim]
							,[isRamadan]
							,[IsPublicHoliday]
							,[IsDILdayWorker]
							,[IsEmployee_OR_Contractor]
							,[IsResigned]
							,[IsSalStaff]
							,[IsDayWorker_OR_Shifter]
							,[IsDriver]
							,[IsLiasonOfficer]
							,[IsHedger]
							,[IsOnDutyRota]
							,[ContractorGroupCode]
							,[IsLastRow]
							,[Duration_Shift]
							,[Duration_Required]
							,[SwipeSource]
							,XXXXXXXXXXXX_800
						)
						SELECT TOP 1	
								@empNo,
								@dtIN AS DT,
								@effectiveShiftPatCode AS ShiftPatCode,
								@effectiveShiftCode AS ShiftCode,
								@effectiveShiftCode AS Actual_ShiftCode,
								a.ShiftAllowance,
								0 AS NoPayHours,
								@costCenter,
								@payGrade,
								0 AS Processed,
								@userID AS LastUpdateUser, 
								GETDATE() AS LastUpdateTime,
								a.JobCategoryCode,
								a.isMuslim,
								a.isRamadan,
								a.IsPublicHoliday,
								a.IsDILdayWorker, 
								a.IsEmployee_OR_Contractor, 
								a.IsResigned, 
								a.IsSalStaff, 
								a.IsDayWorker_OR_Shifter, 
								a.IsDriver,
								a.IsLiasonOfficer,
								a.IsHedger, 
								a.IsOnDutyRota,
								a.ContractorGroupCode,
								1 AS IsLastRow,
								a.Duration_Shift,
								a.Duration_Required,
								a.SwipeSource,
								1 AS XXXXXXXXXXXX_800
						FROM tas.Tran_Timesheet a WITH (NOLOCK)
						WHERE a.IsLastRow = 1
							AND a.EmpNo = @empNo  
						ORDER BY a.DT DESC  
                    END 
				END

				SELECT	@combinedTimeIn = DATEADD(MINUTE, tas.fmtHHmm_Min(tas.fmtHHmm(@timeIN)), @dtIN),	
						@combinedTimeOut = DATEADD(MINUTE, tas.fmtHHmm_Min(tas.fmtHHmm(@timeOUT)), @dtOUT)	

				IF @dtIN < @dtOUT
				BEGIN
                
					--Check if employee has multiple swipe records
					SELECT @hasMultipleSwipe = tas.fnCheckIfMutipleGateEntry(@empNo, @dtOUT) 

					IF @hasMultipleSwipe = 1
					BEGIN

						--Get the maximum value of "Duration_Worked_Cumulative" and "NetMinutes" fields
						SELECT TOP 1 
							@maxDurationWorked = a.Duration_Worked_Cumulative, 
							@maxNetMinutes =  a.NetMinutes
						FROM tas.Tran_Timesheet a WITH (NOLOCK)
						WHERE a.EmpNo = @empNo    
							AND a.DT = @dtOUT
							AND a.IsLastRow = 0
						ORDER BY a.AutoID DESC

						--Process Night shift
						SELECT	@ts_AutoID = a.AutoID,
								@shiftPatCode = RTRIM(a.ShiftPatCode),
								@shiftCode = RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode)) 
						FROM tas.Tran_Timesheet a WITH (NOLOCK)
						WHERE a.EmpNo = @empNo
							AND a.DT = @dtOUT
							AND IsLastRow = 1

						UPDATE tas.Tran_Timesheet 
						SET dtIN = @combinedTimeIn,
							dtOUT = @combinedTimeOut,							
							Shaved_IN = tas.fnGetShavingTime(0, @combinedTimeIn, @shiftPatCode, @shiftCode),
							Shaved_OUT = tas.fnGetShavingTime(1, @combinedTimeOut, @shiftPatCode, @shiftCode)
						WHERE EmpNo = @empNo
							AND DT = @dtOUT
							AND IsLastRow = 1

						--Calculate the total work duration
						UPDATE tas.Tran_Timesheet 
						SET Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
							Duration_Worked_Cumulative = @maxDurationWorked + DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
							NetMinutes = @maxNetMinutes + DATEDIFF(MINUTE, @combinedTimeIn, @combinedTimeOut)
						WHERE EmpNo = @empNo
							AND DT = @dtOUT
							AND IsLastRow = 1

						--Get the number of affected records
						SELECT @rowsAffected = @@rowcount 
					END
                    
					ELSE
					BEGIN
                    
						--Process Night shift
						SELECT	@ts_AutoID = a.AutoID,
								@shiftPatCode = RTRIM(a.ShiftPatCode),
								@shiftCode = RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode)) 
						FROM tas.Tran_Timesheet a WITH (NOLOCK)
						WHERE a.EmpNo = @empNo
							AND a.DT = @dtOUT
							AND IsLastRow = 1

						UPDATE tas.Tran_Timesheet 
						SET dtIN = @combinedTimeIn,
							dtOUT = @combinedTimeOut,
							NetMinutes = DATEDIFF(MINUTE, @combinedTimeIn, @combinedTimeOut),
							Shaved_IN = tas.fnGetShavingTime(0, @combinedTimeIn, @shiftPatCode, @shiftCode),
							Shaved_OUT = tas.fnGetShavingTime(1, @combinedTimeOut, @shiftPatCode, @shiftCode)
						WHERE EmpNo = @empNo
							AND DT = @dtOUT
							AND IsLastRow = 1

						--Calculate the total work duration
						UPDATE tas.Tran_Timesheet 
						SET Duration_Worked_Cumulative = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
							Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT)
						WHERE EmpNo = @empNo
							AND DT = @dtOUT
							AND IsLastRow = 1

						--Get the number of affected records
						SELECT @rowsAffected = @@rowcount 
					END 
				END 

				ELSE IF @dtIN = @dtOUT
				BEGIN
				
					--Check if employee has multiple swipe records
					SELECT @hasMultipleSwipe = tas.fnCheckIfMutipleGateEntry(@empNo, @dtOUT) 

					IF @hasMultipleSwipe = 1
					BEGIN
						
						--Get the maximum value of "Duration_Worked_Cumulative" and "NetMinutes" fields
						SELECT TOP 1 
							@maxDurationWorked = a.Duration_Worked_Cumulative, 
							@maxNetMinutes =  a.NetMinutes
						FROM tas.Tran_Timesheet a WITH (NOLOCK)
						WHERE a.EmpNo = @empNo    
							AND a.DT = @dtOUT
							AND a.IsLastRow = 0
						ORDER BY a.AutoID DESC

						--Process Morning, Evening, or Day shifts
						SELECT	@ts_AutoID = a.AutoID,
								@shiftPatCode = RTRIM(a.ShiftPatCode),
								@shiftCode = RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode))
						FROM tas.Tran_Timesheet a WITH (NOLOCK)
						WHERE a.EmpNo = @empNo
							AND a.DT = @dtOUT
							AND IsLastRow = 1

						UPDATE tas.Tran_Timesheet 
						SET dtIN = @combinedTimeIn,
							dtOUT = @combinedTimeOut,							
							Shaved_IN = tas.fnGetShavingTime(0, @combinedTimeIn, @shiftPatCode, @shiftCode),
							Shaved_OUT = tas.fnGetShavingTime(1, @combinedTimeOut, @shiftPatCode, @shiftCode)
						WHERE EmpNo = @empNo
							AND DT = @dtOUT
							AND IsLastRow = 1

						--Calculate the total work duration
						UPDATE tas.Tran_Timesheet 
						SET Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
							Duration_Worked_Cumulative = @maxDurationWorked + DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
							NetMinutes = @maxNetMinutes + DATEDIFF(MINUTE, @combinedTimeIn, @combinedTimeOut)
						WHERE EmpNo = @empNo
							AND DT = @dtOUT
							AND IsLastRow = 1

						--Get the number of affected records
						SELECT @rowsAffected = @@rowcount 
					END 

					ELSE
					BEGIN
                    
						--Check if employee has multiple swipe records
						SELECT @hasMultipleSwipe = tas.fnCheckIfMutipleGateEntry(@empNo, @dtOUT) 

						IF @hasMultipleSwipe = 1
						BEGIN

							--Get the maximum value of "Duration_Worked_Cumulative" and "NetMinutes" fields
							SELECT TOP 1 
								@maxDurationWorked = a.Duration_Worked_Cumulative, 
								@maxNetMinutes =  a.NetMinutes
							FROM tas.Tran_Timesheet a WITH (NOLOCK)
							WHERE a.EmpNo = @empNo    
								AND a.DT = @dtOUT
								AND a.IsLastRow = 0
							ORDER BY a.AutoID DESC

							--Process Morning, Evening, or Day shifts
							SELECT	@ts_AutoID = a.AutoID,
									@shiftPatCode = RTRIM(a.ShiftPatCode),
									@shiftCode = RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode))
							FROM tas.Tran_Timesheet a WITH (NOLOCK)
							WHERE a.EmpNo = @empNo
								AND a.DT = @dtOUT
								AND IsLastRow = 1

							UPDATE tas.Tran_Timesheet 
							SET dtIN = @combinedTimeIn,
								dtOUT = @combinedTimeOut,								
								Shaved_IN = tas.fnGetShavingTime(0, @combinedTimeIn, @shiftPatCode, @shiftCode),
								Shaved_OUT = tas.fnGetShavingTime(1, @combinedTimeOut, @shiftPatCode, @shiftCode)
							WHERE EmpNo = @empNo
								AND DT = @dtOUT
								AND IsLastRow = 1

							--Calculate the total work duration
							UPDATE tas.Tran_Timesheet 
							SET Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
								Duration_Worked_Cumulative = @maxDurationWorked + DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
								NetMinutes = @maxNetMinutes + DATEDIFF(MINUTE, @combinedTimeIn, @combinedTimeOut)
							WHERE EmpNo = @empNo
								AND DT = @dtOUT
								AND IsLastRow = 1

							--Get the number of affected records
							SELECT @rowsAffected = @@rowcount 
						END
                        
						ELSE
						BEGIN
                        
							--Process Morning, Evening, or Day shifts
							SELECT	@ts_AutoID = a.AutoID,
									@shiftPatCode = RTRIM(a.ShiftPatCode),
									@shiftCode = RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode))
							FROM tas.Tran_Timesheet a WITH (NOLOCK)
							WHERE a.EmpNo = @empNo
								AND a.DT = @dtOUT
								AND IsLastRow = 1

							UPDATE tas.Tran_Timesheet 
							SET dtIN = @combinedTimeIn,
								dtOUT = @combinedTimeOut,
								NetMinutes = DATEDIFF(MINUTE, @combinedTimeIn, @combinedTimeOut),
								Shaved_IN = tas.fnGetShavingTime(0, @combinedTimeIn, @shiftPatCode, @shiftCode),
								Shaved_OUT = tas.fnGetShavingTime(1, @combinedTimeOut, @shiftPatCode, @shiftCode)
							WHERE EmpNo = @empNo
								AND DT = @dtOUT
								AND IsLastRow = 1

							--Calculate the total work duration
							UPDATE tas.Tran_Timesheet 
							SET Duration_Worked_Cumulative = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
								Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT)
							WHERE EmpNo = @empNo
								AND DT = @dtOUT
								AND IsLastRow = 1

							--Get the number of affected records
							SELECT @rowsAffected = @@rowcount 
						END 
					END 
				END 

				ELSE
                BEGIN
				
					--Process Morning, Evening, or Day shifts
					SELECT	@ts_AutoID = a.AutoID,
							@shiftPatCode = RTRIM(a.ShiftPatCode),
							@shiftCode = RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode))
					FROM tas.Tran_Timesheet a WITH (NOLOCK)
					WHERE a.EmpNo = @empNo
						AND a.DT = @dtOUT
						AND IsLastRow = 1

					UPDATE tas.Tran_Timesheet 
					SET dtIN = @combinedTimeIn,
						dtOUT = @combinedTimeOut,
						NetMinutes = DATEDIFF(MINUTE, @combinedTimeIn, @combinedTimeOut),
						Shaved_IN = tas.fnGetShavingTime(0, @combinedTimeIn, @shiftPatCode, @shiftCode),
						Shaved_OUT = tas.fnGetShavingTime(1, @combinedTimeOut, @shiftPatCode, @shiftCode)
					WHERE EmpNo = @empNo
						AND DT = @dtOUT
						AND IsLastRow = 1

					--Calculate the total work duration
					UPDATE tas.Tran_Timesheet 
					SET Duration_Worked_Cumulative = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
						Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT)
					WHERE EmpNo = @empNo
						AND DT = @dtOUT
						AND IsLastRow = 1

					--Get the number of affected records
					SELECT @rowsAffected = @@rowcount 
				END 
			END

			ELSE
            BEGIN

				IF	@dtIN IS NULL 
					AND @dtOUT IS NOT NULL
                BEGIN
									
					--Manual entry for Time-out
					SELECT @combinedTimeOut = DATEADD(MINUTE, tas.fmtHHmm_Min(tas.fmtHHmm(@timeOUT)), @dtOUT)

					SELECT	@combinedTimeIn = a.dtIN,
							@ts_AutoID = a.AutoID,
							@shiftPatCode = RTRIM(a.ShiftPatCode),
							@shiftCode = RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode)) 
					FROM tas.Tran_Timesheet a WITH (NOLOCK)
					WHERE a.EmpNo = @empNo
						AND a.DT = @dtOUT
						AND IsLastRow = 1

					IF	@combinedTimeIn IS NOT NULL 
						AND @combinedTimeOut IS NOT NULL
					BEGIN

						--Check if employee has multiple swipe records
						SELECT @hasMultipleSwipe = tas.fnCheckIfMutipleGateEntry(@empNo, @dtOUT) 

						IF @hasMultipleSwipe = 1
						BEGIN

							--Get the maximum value of "Duration_Worked_Cumulative" and "NetMinutes" fields
							SELECT TOP 1 
								@maxDurationWorked = a.Duration_Worked_Cumulative, 
								@maxNetMinutes =  a.NetMinutes
							FROM tas.Tran_Timesheet a WITH (NOLOCK)
							WHERE a.EmpNo = @empNo    
								AND a.DT = @dtOUT
								AND a.IsLastRow = 0
							ORDER BY a.AutoID DESC

							UPDATE tas.Tran_Timesheet 
							SET dtOUT = @combinedTimeOut,								
								Shaved_OUT = tas.fnGetShavingTime(1, @combinedTimeOut, @shiftPatCode, @shiftCode)
							WHERE EmpNo = @empNo
								AND DT = @dtOUT
								AND IsLastRow = 1

							--Calculate the total work duration
							UPDATE tas.Tran_Timesheet 
							SET Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
								Duration_Worked_Cumulative = @maxDurationWorked + DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
								NetMinutes = @maxNetMinutes + DATEDIFF(MINUTE, dtIN, @combinedTimeOut)
							WHERE EmpNo = @empNo
								AND DT = @dtOUT
								AND IsLastRow = 1

							--Get the number of affected records
							SELECT @rowsAffected = @@rowcount 
						END
                        
						ELSE
                        BEGIN
                        
							UPDATE tas.Tran_Timesheet 
							SET dtOUT = @combinedTimeOut,
								NetMinutes = DATEDIFF(MINUTE, dtIN, @combinedTimeOut),
								Shaved_OUT = tas.fnGetShavingTime(1, @combinedTimeOut, @shiftPatCode, @shiftCode)
							WHERE EmpNo = @empNo
								AND DT = @dtOUT
								AND IsLastRow = 1

							--Calculate the total work duration
							UPDATE tas.Tran_Timesheet 
							SET Duration_Worked_Cumulative = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
								Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT)
							WHERE EmpNo = @empNo
								AND DT = @dtOUT
								AND IsLastRow = 1

							--Get the number of affected records
							SELECT @rowsAffected = @@rowcount 
						END 
                    END 
                END 

				ELSE IF @dtIN IS NOT NULL 
					AND @dtOUT IS NULL
                BEGIN

					--Manual entry for Time-in
					SELECT @combinedTimeIn = DATEADD(MINUTE, tas.fmtHHmm_Min(tas.fmtHHmm(@timeIN)), @dtIN)

					SELECT	@combinedTimeOut = a.dtOUT,
							@ts_AutoID = a.AutoID,
							@shiftPatCode = RTRIM(a.ShiftPatCode),
							@shiftCode = RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode)) 
					FROM tas.Tran_Timesheet a WITH (NOLOCK)
					WHERE a.EmpNo = @empNo
						AND a.DT = @dtIN
						AND IsLastRow = 1

					IF @combinedTimeIn IS NOT NULL AND @combinedTimeOut IS NOT NULL
					BEGIN

						--Check if employee has multiple swipe records
						SELECT @hasMultipleSwipe = tas.fnCheckIfMutipleGateEntry(@empNo, @dtOUT) 

						IF @hasMultipleSwipe = 1
						BEGIN

							--Get the maximum value of "Duration_Worked_Cumulative" and "NetMinutes" fields
							SELECT TOP 1 
								@maxDurationWorked = a.Duration_Worked_Cumulative, 
								@maxNetMinutes =  a.NetMinutes
							FROM tas.Tran_Timesheet a WITH (NOLOCK)
							WHERE a.EmpNo = @empNo    
								AND a.DT = @dtOUT
								AND a.IsLastRow = 0
							ORDER BY a.AutoID DESC

							UPDATE tas.Tran_Timesheet 
							SET dtIN = @combinedTimeIn,								
								Shaved_IN = tas.fnGetShavingTime(0, @combinedTimeIn, @shiftPatCode, @shiftCode)
							WHERE EmpNo = @empNo
								AND DT = @dtIN
								AND IsLastRow = 1

							--Calculate the total work duration
							UPDATE tas.Tran_Timesheet 
							SET Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
								Duration_Worked_Cumulative = @maxDurationWorked + DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
								NetMinutes = @maxNetMinutes + DATEDIFF(MINUTE, @combinedTimeIn, dtOUT)
							WHERE EmpNo = @empNo
								AND DT = @dtIN
								AND IsLastRow = 1

							--Get the number of affected records
							SELECT @rowsAffected = @@rowcount 
						END
                        
						ELSE
                        BEGIN
                        
							UPDATE tas.Tran_Timesheet 
							SET dtIN = @combinedTimeIn,
								NetMinutes = DATEDIFF(MINUTE, @combinedTimeIn, dtOUT),
								Shaved_IN = tas.fnGetShavingTime(0, @combinedTimeIn, @shiftPatCode, @shiftCode)
							WHERE EmpNo = @empNo
								AND DT = @dtIN
								AND IsLastRow = 1

							--Calculate the total work duration
							UPDATE tas.Tran_Timesheet 
							SET Duration_Worked_Cumulative = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
								Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT)
							WHERE EmpNo = @empNo
								AND DT = @dtIN
								AND IsLastRow = 1

							--Get the number of affected records
							SELECT @rowsAffected = @@rowcount 
						END 
                    END 
                END 
            END 
        END 
	END

	ELSE IF @actionType = 2		--Update existing record
	BEGIN

		UPDATE tas.Tran_ManualAttendance
		SET	dtIN = @dtIN,
            dtOUT = @dtOUT,
            timeIN = tas.fmtHHmm(@timeIN),
            [timeOUT] = tas.fmtHHmm(@timeOUT),
            LastUpdateUser = @userID,
			LastUpdateTime = GETDATE()
		WHERE AutoID = @autoID

		SELECT @rowsAffected = @@rowcount 

		IF @rowsAffected > 0
		BEGIN

			--Update the Timesheet record
			IF	@dtIN IS NOT NULL 
				AND @dtOUT IS NOT NULL				
			BEGIN

				SELECT	@combinedTimeIn = DATEADD(MINUTE, tas.fmtHHmm_Min(tas.fmtHHmm(@timeIN)), @dtIN),	
						@combinedTimeOut = DATEADD(MINUTE, tas.fmtHHmm_Min(tas.fmtHHmm(@timeOUT)), @dtOUT)	

				IF @dtIN < @dtOUT
				BEGIN
                
					--Process Night shift
					SELECT	@ts_AutoID = a.AutoID,
							@shiftPatCode = RTRIM(a.ShiftPatCode),
							@shiftCode = RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode)) 
					FROM tas.Tran_Timesheet a WITH (NOLOCK)
					WHERE a.EmpNo = @empNo
						AND a.DT = @dtOUT
						AND IsLastRow = 1

					UPDATE tas.Tran_Timesheet 
					SET dtIN = @combinedTimeIn,
						dtOUT = @combinedTimeOut,
						NetMinutes = DATEDIFF(MINUTE, @combinedTimeIn, @combinedTimeOut),
						Shaved_IN = tas.fnGetShavingTime(0, @combinedTimeIn, @shiftPatCode, @shiftCode),
						Shaved_OUT = tas.fnGetShavingTime(1, @combinedTimeOut, @shiftPatCode, @shiftCode)
					WHERE EmpNo = @empNo
						AND DT = @dtOUT
						AND IsLastRow = 1

					--Calculate the total work duration
					UPDATE tas.Tran_Timesheet 
					SET Duration_Worked_Cumulative = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
						Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT)
					WHERE EmpNo = @empNo
						AND DT = @dtOUT
						AND IsLastRow = 1
				END 

				ELSE IF @dtIN = @dtOUT
				BEGIN

					--Process Morning, Evening, or Day shifts
					SELECT	@ts_AutoID = a.AutoID,
							@shiftPatCode = RTRIM(a.ShiftPatCode),
							@shiftCode = RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode))
					FROM tas.Tran_Timesheet a WITH (NOLOCK)
					WHERE a.EmpNo = @empNo
						AND a.DT = @dtOUT
						AND IsLastRow = 1

					UPDATE tas.Tran_Timesheet 
					SET dtIN = @combinedTimeIn,
						dtOUT = @combinedTimeOut,
						NetMinutes = DATEDIFF(MINUTE, @combinedTimeIn, @combinedTimeOut),
						Shaved_IN = tas.fnGetShavingTime(0, @combinedTimeIn, @shiftPatCode, @shiftCode),
						Shaved_OUT = tas.fnGetShavingTime(1, @combinedTimeOut, @shiftPatCode, @shiftCode)
					WHERE EmpNo = @empNo
						AND DT = @dtOUT
						AND IsLastRow = 1

					--Calculate the total work duration
					UPDATE tas.Tran_Timesheet 
					SET Duration_Worked_Cumulative = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
						Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT)
					WHERE EmpNo = @empNo
						AND DT = @dtOUT
						AND IsLastRow = 1
                END 
			END

			ELSE
            BEGIN

				IF	@dtIN IS NULL 
					AND @dtOUT IS NOT NULL
                BEGIN

					--Manual entry for Time-out
					SELECT @combinedTimeOut = DATEADD(MINUTE, tas.fmtHHmm_Min(tas.fmtHHmm(@timeOUT)), @dtOUT)

					SELECT	@combinedTimeIn = a.dtIN,
							@ts_AutoID = a.AutoID,
							@shiftPatCode = RTRIM(a.ShiftPatCode),
							@shiftCode = RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode)) 
					FROM tas.Tran_Timesheet a WITH (NOLOCK)
					WHERE a.EmpNo = @empNo
						AND a.DT = @dtOUT
						AND IsLastRow = 1

					IF	@combinedTimeIn IS NOT NULL 
						AND @combinedTimeOut IS NOT NULL
					BEGIN

						UPDATE tas.Tran_Timesheet 
						SET dtOUT = @combinedTimeOut,
							NetMinutes = DATEDIFF(MINUTE, dtIN, @combinedTimeOut),
							Shaved_OUT = tas.fnGetShavingTime(1, @combinedTimeOut, @shiftPatCode, @shiftCode)
						WHERE EmpNo = @empNo
							AND DT = @dtOUT
							AND IsLastRow = 1

						--Calculate the total work duration
						UPDATE tas.Tran_Timesheet 
						SET Duration_Worked_Cumulative = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
							Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT)
						WHERE EmpNo = @empNo
							AND DT = @dtOUT
							AND IsLastRow = 1
                    END 
                END 

				ELSE IF @dtIN IS NOT NULL 
					AND @dtOUT IS NULL
                BEGIN

					--Manual entry for Time-in
					SELECT @combinedTimeIn = DATEADD(MINUTE, tas.fmtHHmm_Min(tas.fmtHHmm(@timeIN)), @dtIN)

					SELECT	@combinedTimeOut = a.dtOUT,
							@ts_AutoID = a.AutoID,
							@shiftPatCode = RTRIM(a.ShiftPatCode),
							@shiftCode = RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode)) 
					FROM tas.Tran_Timesheet a WITH (NOLOCK)
					WHERE a.EmpNo = @empNo
						AND a.DT = @dtIN
						AND IsLastRow = 1

					IF @combinedTimeIn IS NOT NULL AND @combinedTimeOut IS NOT NULL
					BEGIN

						UPDATE tas.Tran_Timesheet 
						SET dtIN = @combinedTimeIn,
							NetMinutes = DATEDIFF(MINUTE, @combinedTimeIn, dtOUT),
							Shaved_IN = tas.fnGetShavingTime(0, @combinedTimeIn, @shiftPatCode, @shiftCode)
						WHERE EmpNo = @empNo
							AND DT = @dtIN
							AND IsLastRow = 1

						--Calculate the total work duration
						UPDATE tas.Tran_Timesheet 
						SET Duration_Worked_Cumulative = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT),
							Duration_Worked = DATEDIFF(MINUTE, Shaved_IN, Shaved_OUT)
						WHERE EmpNo = @empNo
							AND DT = @dtIN
							AND IsLastRow = 1
                    END 
                END 
            END 
        END 
	END

	ELSE IF @actionType = 3		--Delete existing record 
	BEGIN

		DELETE FROM tas.Tran_ManualAttendance
		WHERE AutoID = @autoID

		--Undo manual entry changes in the Timesheet
		IF	@dtIN IS NOT NULL 
			AND @dtOUT IS NOT NULL				
		BEGIN

			UPDATE tas.Tran_Timesheet 
			SET dtIN = NULL,
				dtOUT = NULL,
				Shaved_IN = NULL,
				Shaved_OUT = NULL,
				NetMinutes = 0,
				Duration_Worked_Cumulative = 0,
				Duration_Worked = 0
			WHERE EmpNo = @empNo
				AND DT = @dtOUT
				AND IsLastRow = 1
		END 

		ELSE
        BEGIN

			IF	@dtIN IS NULL 
				AND @dtOUT IS NOT NULL
            BEGIN

				UPDATE tas.Tran_Timesheet 
				SET dtOUT = NULL,
					Shaved_OUT = NULL,
					NetMinutes = 0,
					Duration_Worked_Cumulative = 0,
					Duration_Worked = 0						
				WHERE EmpNo = @empNo
					AND DT = @dtOUT
					AND IsLastRow = 1
            END 

			ELSE IF @dtIN IS NOT NULL 
				AND @dtOUT IS NULL
            BEGIN

				UPDATE tas.Tran_Timesheet 
				SET dtIN = NULL,
					Shaved_IN = NULL,
					NetMinutes = 0,
					Duration_Worked_Cumulative = 0,
					Duration_Worked = 0		
				WHERE EmpNo = @empNo
					AND DT = @dtIN
					AND IsLastRow = 1
            END 
        END 		
	END

	ELSE IF (@actionType = 4)  --Delete record by Emp. No.
	BEGIN

		DELETE FROM tas.Tran_ManualAttendance
		WHERE EmpNo = @empNo

		SELECT @rowsAffected = @@rowcount
	END

	--Return the variables as resultset
	SELECT	@newID AS NewIdentityID,
			@rowsAffected AS RowsAffected

END

/*	Debugging:

PARAMETERS:
	@actionType			INT,	
	@autoID				INT, 	
	@empNo				INT,
	@dtIN				DATETIME,
	@timeIN				DATETIME,
	@dtOUT				DATETIME,
	@timeOUT			DATETIME,
	@userID				VARCHAR(30)

	EXEC tas.Pr_Tran_ManualAttendance_CRUD 1, 0, 10003632, '01/05/2020', '2020-01-05 07:00:00.000', '01/05/2020', '2020-01-05 16:00:00.000', 'ervin'

*/

