/*************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.prGetSwipeDetails_V2
*	Description: Used to fetch the swipe time in/out base on the selected date
*
*	Date			Author		Revision No.	Comments:
*	31/03/2016		Ervin		1.0				Created
*************************************************************************************************************************************************/

ALTER PROCEDURE tas.prGetSwipeDetails_V2
(     
	@EmpNo	INT,           
    @Date	DATETIME = NULL   
)
As

    DECLARE	@fromDate	DATETIME,
			@toDate     DATETIME,
			@shiftCode  VARCHAR(10)

    --Set @fromDate = convert(datetime,convert(varchar,@Date,101))
    --Set @toDate = convert(datetime,convert(varchar,dateadd(day,1,@Date),101))

	--Initialize the variables
	SELECT	@fromDate = CONVERT(DATETIME, CONVERT(VARCHAR, @Date, 12)),
			@toDate = CONVERT(DATETIME, CONVERT(VARCHAR, DATEADD(DAY, 1, @Date)))
      
	--Get the shift pattern information
    SELECT @shiftCode = RTRIM(a.Effective_ShiftCode)
    FROM tas.Tran_ShiftPatternUpdates a
    WHERE a.EmpNo = @EmpNo
		AND a.DateX = @fromDate

    IF @shiftCode = 'N'
		SET @fromDate = DATEADD(DAY, -1, @fromDate)

    SELECT      dt,
                (case when locationcode in (-1,1) and readerno in (-1,4,6,8)then 'IN' when locationcode in (-1,1) and readerno in (-2,5,7,9) then 'OUT'
                when locationcode='2' and readerno in (0,3)then 'IN' when locationcode='2' and readerno in (1,2) then 'OUT' else '' end),
                (case when locationcode='1' then 'GARMCO' when locationcode='2' then 'FOILMIL' else '' end)
    FROM tas.vuEmployeeAttendance a
    WHERE a.empno = @EmpNo
		AND a.LocationCode IN (-1, 1, 2)
		AND a.DT BETWEEN @fromDate AND @toDate 
    ORDER BY dt
      

/*	Debugging:

	exec tas.prGetSwipeDetails_V2 10003632, '04/09/2014'

*/