/*****************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_GetTimesheetAbsenceHistory
*	Description: Used to fetch the absences record of an employee on specific date period
*
*	Date			Author		Rev. #		Comments:
*	27/07/2016		Ervin		1.0			Created
******************************************************************************************************************************************************************************/

ALTER PROCEDURE tas.Pr_GetTimesheetAbsenceHistory
(   
	@empNo			INT,
	@DT				DATETIME,
	@pageNumber		INT = 1,
	@pageSize		INT = 10	
)
AS

	--Declare table variable
	DECLARE @tempTable TABLE (totalRows int)

	--Declare variables
	DECLARE	@userCostCenter				VARCHAR(12),
			@CMDMaster					NVARCHAR(MAX), 
			@CMDMaster2					NVARCHAR(MAX), 
			@CMD						VARCHAR(MAX), 
			@CMDTotalRecords			VARCHAR(MAX),
			@WHERE						VARCHAR(MAX),		
			@ORDERBY					VARCHAR(MAX),	
			@chrQuote					CHAR(1),
			@startIndex					INT,
			@endIndex					INT,
			@totalRecords				INT,
			@recordCount				INT

	SELECT	@userCostCenter				= '',
			@WHERE						= 'WHERE',
			@ORDERBY					= ' ORDER BY EffectiveDate DESC',
			@chrQuote					= '''',
			@CMDMaster2					= '',
			@totalRecords				= 0,
			@recordCount				= 0 

	-- Set the starting and ending index
	SET @startIndex	= (@pageNumber * @pageSize) - @pageSize + 1
	SET @endIndex	= (@startIndex + @pageSize) - 1 
	SET @recordCount = @pageNumber * @pageSize

	SET @CMDTotalRecords = 'SELECT COUNT(*) FROM tas.Tran_Absence a '
	SET @CMD = 'SELECT	a.AutoID,
						a.EmpNo,
						a.EffectiveDate,
						a.EndingDate,
						a.StartTime,
						a.EndTime,
						a.DayOfWeek,
						a.AbsenceReasonCode,
						CASE WHEN RTRIM(a.AbsenceReasonCode) = ''DD'' THEN ''Day-in-lieu'' ELSE LTRIM(RTRIM(b.DRDL01)) END AS AbsenceReasonDesc, 
						a.XID_TS_DIL_ENT,
						a.XID_TS_DIL_USD,
						a.DIL_ENT_CODE,
						a.LastUpdateUser,
						a.LastUpdateTime
				FROM tas.Tran_Absence a 
					LEFT JOIN tas.syJDE_F0005 b ON UPPER(RTRIM(a.AbsenceReasonCode)) = LTRIM(RTRIM(b.DRKY)) AND LTRIM(RTRIM(b.DRSY)) + ''-'' + LTRIM(RTRIM(b.DRRT)) = ''55-RA'' '
	
	--Add @empNo filter
	IF @empNo IS NOT NULL
		SELECT @WHERE = @WHERE + CASE WHEN (@WHERE <> 'WHERE') THEN ' AND ' ELSE ' ' END + ' EmpNo = ' + RTRIM(CAST(@empNo AS VARCHAR(10))) 

	----Add @DT filter	
	IF @DT IS NOT NULL 
		SELECT @WHERE =  @WHERE + CASE WHEN (@WHERE <> 'WHERE') THEN ' AND ' ELSE ' ' END + @chrQuote + CONVERT(varchar, @DT, 12) + @chrQuote + ' BETWEEN CONVERT(VARCHAR, EffectiveDate, 12) AND CONVERT(VARCHAR, EndingDate, 12) '

	--Get the total records
	SELECT @CMDMaster2 = @CMDTotalRecords + CASE WHEN @WHERE = 'WHERE' THEN '' ELSE @WHERE END

	INSERT INTO @tempTable
	EXEC sp_executesql @CMDMaster2 
	SELECT @totalRecords = totalRows FROM @tempTable

	--Build the final query
	SELECT @CMDMaster = 
		'SELECT * FROM 
		(
			SELECT *, ' + CONVERT(VARCHAR(10), @totalRecords) + 
			' AS TotalRecords, ROW_NUMBER() OVER (ORDER BY EffectiveDate DESC) as RowNumber 
			FROM (' + @CMD + CASE WHEN @WHERE = 'WHERE' THEN '' ELSE @WHERE END + ') as innerTable 
		) as outerTable WHERE RowNumber BETWEEN ' + CONVERT(VARCHAR(10), @startIndex) + ' AND ' + CONVERT(VARCHAR(10), @endIndex)		
		+ @ORDERBY

	--Check if total records to return is greater than 200
	IF @recordCount > 100
		SELECT @CMDMaster = REPLACE(@CMDMaster, 'TOP 100', 'TOP ' + CONVERT(VARCHAR(10), @recordCount));

	PRINT @CMDMaster
	EXEC sp_executesql @CMDMaster

/*	Debugging:

	--Retrieve all Absent Reason Codes
	SELECT * FROM tas.syJDE_F0005
	WHERE ltrim(rtrim(DRSY)) + '-' + ltrim(rtrim(DRRT)) = '55-RA'
	ORDER BY LTRIM(RTRIM(DRKY))

PARAMETERS:
	@empNo			INT,
	@DT				DATETIME,
	@pageNumber		INT = 1,
	@pageSize		INT = 10	

	EXEC tas.Pr_GetTimesheetAbsenceHistory 10003632, '15/12/2015'		

*/


