/******************************************************************************************************************************************
*	Revision History
*
*	Name: tas.OvertimeWFTransactionActivity
*	Description: This table stores the workflow transaction activities for the "Overtime Online Approval System"
*
*	Date			Author		Rev.#		Comments
*	26/07/2017		Ervin		1.0			Created
*****************************************************************************************************************************************/

IF OBJECT_ID ('tas.OvertimeWFTransactionActivity') IS NOT NULL
BEGIN	

	DROP TABLE tas.OvertimeWFTransactionActivity
END

	CREATE TABLE tas.OvertimeWFTransactionActivity
	(
		WorkflowTransactionID bigint IDENTITY(1,1) NOT NULL,
		OTRequestNo BIGINT NOT NULL,	
		TS_AutoID int NOT NULL,
		WFModuleCode varchar(10) NOT NULL,
		ActivityCode varchar(20) NOT NULL,
		NextActivityCode varchar(20) NULL,
		ActivityDesc1 varchar(200) NOT NULL,
		ActivityDesc2 varchar(500) NULL,
		WFActivityTypeCode varchar(10) NOT NULL,
		SequenceNo int NOT NULL,
		SequenceType int NULL,						--(Note: 1 = Series; 2 = Parallel)
		ApprovalType int NULL,						--(Note: 1 = Primary Only; 2 = At Least One; 3 = All Approvers)
		ActionRole int NULL,						--(Note: 1 = Service Provider; 2 = Approver; 3 = Validator)
		ActionMemberCode varchar(10) NULL,		
		ActionMemberType TINYINT NULL,				--(Note: 1 = Builtin Group; 2 = Individual Employee; 3 = Distribuition List)
		ServiceProviderTypeCode VARCHAR(10) NULL,
		ParameterSourceTable varchar(50) NULL,
		ParameterName varchar(50) NULL,
		ParameterDataType varchar(50) NULL,
		ConditionCheckValue varchar(50) NULL,
		ConditionCheckDataType varchar(50) NULL,
		EmailSourceName varchar(30) NULL,
		EmailCCRecipient varchar(200) NULL,
		EmailCCRecipientType int NULL,		--(Note: 1 = Builtin Group; 2 = Individual Employee; 3 = Distribuition List)
		IsCurrent bit NULL,
		IsCompleted bit NULL,
		IsFinalAct bit NULL,
		ActStatusID int NULL,
		RequestSubmissionDate datetime NOT NULL,
		BypassIfAlreadyApproved BIT NULL,
		CreatedByUser varchar(50) NULL,
		CreatedDate datetime DEFAULT getdate(),		
		CreatedByUserEmpNo int NULL,
		CreatedByUserEmpName varchar(50) NULL,
		LastUpdateUser varchar(50) NULL,		
		LastUpdateTime datetime NULL,
		LastUpdateEmpNo int NULL,
		LastUpdateEmpName varchar(50) NULL
		
		CONSTRAINT PK_OvertimeWFTransactionActivity PRIMARY KEY CLUSTERED 
		(
			WFModuleCode,
			OTRequestNo,
			TS_AutoID,
			ActivityCode,
			RequestSubmissionDate
		)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY]


GO

