/**************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetShavingTime_V2
*	Description: This function is used to calculate the shaving time based on the supplied workplace swipe time
*
*	Date:			Author:		Rev.#:		Comments:
*	13/05/2019		Ervin		1.0			Created
**************************************************************************************************************************************************************/

ALTER FUNCTION tas.fnGetShavingTime_V2
(
	@actionTypeID			INT,	--(Note: 0 => Shaved In Time; 1 => Shaved Out Time)
	@workplaceSwipeTime		DATETIME,
	@shiftPatCode			VARCHAR(2),	
	@shiftCode				VARCHAR(10),
	@empNo					INT 
)
RETURNS DATETIME
AS

BEGIN

	DECLARE	@result				DATETIME,
			@arrivalFrom		DATETIME,
			@arrivalTo			DATETIME,
			@departFrom			DATETIME,
			@departTo			DATETIME,
			@isRamadan			BIT = 0,		
			@isMuslim			BIT = 0			

	--Check if today's date is Ramadan
	IF EXISTS
    (
		SELECT 1 FROM tas.syJDE_F55HOLID a WITH (NOLOCK)
		WHERE tas.ConvertFromJulian(a.HOHDT) = CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 12))
			AND UPPER(LTRIM(RTRIM(a.HOHLCD))) = 'R'
	)
	SET @isRamadan = 1

	--Check if employee is a Muslim
	IF EXISTS
    (
		SELECT 1 FROM tas.syJDE_F060116 a WITH (NOLOCK)
		WHERE a.YAAN8 = @empNo
			AND LTRIM(RTRIM(a.YAEEOM)) = 'M'
	)
	SET @isMuslim = 1

	/***************************************************************************************
		Calculate Shaving Time
	****************************************************************************************/
	--Get the Shift timing info
	SELECT	@arrivalFrom = CASE WHEN @isRamadan = 1 AND @isMuslim = 1 THEN a.RArrivalFrom ELSE a.ArrivalFrom END,
			@arrivalTo = CASE WHEN @isRamadan = 1 AND @isMuslim = 1 THEN a.RArrivalTo ELSE a.ArrivalTo END,
			@departFrom = CASE WHEN @isRamadan = 1 AND @isMuslim = 1 THEN a.RDepartFrom ELSE a.DepartFrom END,
			@departTo = CASE WHEN @isRamadan = 1 AND @isMuslim = 1 THEN a.RDepartTo ELSE a.DepartTo END
	FROM tas.Master_ShiftTimes a WITH (NOLOCK)
	WHERE RTRIM(a.ShiftPatCode) = @shiftPatCode
		AND RTRIM(a.ShiftCode) = @shiftCode

	IF ISNULL(@arrivalFrom, '') <> '' AND ISNULL(@arrivalTo, '') <> '' 
		AND ISNULL(@departFrom, '') <> '' AND ISNULL(@departTo, '') <> ''
	BEGIN

		IF @actionTypeID = 0
		BEGIN

			--Calculate shaving time-in
			IF CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, @arrivalFrom) AND CONVERT(TIME, @arrivalTo)
				SET @result = CONVERT(DATETIME, CONVERT(VARCHAR, @workplaceSwipeTime, 12) + ' ' + CONVERT(VARCHAR, @arrivalTo, 108), 12)

			ELSE
			BEGIN
            
				--Start of Rev. #1.1
				--Search for the correct shift timing
				SELECT	@arrivalFrom = CASE WHEN @isRamadan = 1 AND @isMuslim = 1 THEN a.RArrivalFrom ELSE a.ArrivalFrom END,
						@arrivalTo = CASE WHEN @isRamadan = 1 AND @isMuslim = 1 THEN a.RArrivalTo ELSE a.ArrivalTo END,
						@departFrom = CASE WHEN @isRamadan = 1 AND @isMuslim = 1 THEN a.RDepartFrom ELSE a.DepartFrom END,
						@departTo = CASE WHEN @isRamadan = 1 AND @isMuslim = 1 THEN a.RDepartTo ELSE a.DepartTo END
				FROM tas.Master_ShiftTimes a WITH (NOLOCK)
				WHERE CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, a.ArrivalFrom)	AND CONVERT(TIME, a.ArrivalTo)
					AND 
					(
						CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, a.DepartFrom)	AND CONVERT(TIME, a.DepartTo)
						OR
						CONVERT(TIME, @workplaceSwipeTime) > CONVERT(TIME, a.DepartTo)
					)
					AND RTRIM(a.ShiftPatCode) = @shiftPatCode

				IF CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, @arrivalFrom) AND CONVERT(TIME, @arrivalTo)
					SET @result = CONVERT(DATETIME, CONVERT(VARCHAR, @workplaceSwipeTime, 12) + ' ' + CONVERT(VARCHAR, @arrivalTo, 108), 12)
				ELSE 
					SET @result = @workplaceSwipeTime
				--End of Rev. #1.1
			END 
		END

		ElSE
		BEGIN

			--Calculate shaving time-out
			IF CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, @departFrom) AND CONVERT(TIME, @departTo)
				SET @result = CONVERT(DATETIME, CONVERT(VARCHAR, @workplaceSwipeTime, 12) + ' ' + CONVERT(VARCHAR, @departFrom, 108), 12)

			ELSE
			BEGIN
            
				--Start of Rev. #1.1
				--Search for the correct shift timing
				SELECT	@arrivalFrom = CASE WHEN @isRamadan = 1 AND @isMuslim = 1 THEN a.RArrivalFrom ELSE a.ArrivalFrom END,
						@arrivalTo = CASE WHEN @isRamadan = 1 AND @isMuslim = 1 THEN a.RArrivalTo ELSE a.ArrivalTo END,
						@departFrom = CASE WHEN @isRamadan = 1 AND @isMuslim = 1 THEN a.RDepartFrom ELSE a.DepartFrom END,
						@departTo = CASE WHEN @isRamadan = 1 AND @isMuslim = 1 THEN a.RDepartTo ELSE a.DepartTo END
				FROM tas.Master_ShiftTimes a WITH (NOLOCK)
				WHERE CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, a.ArrivalFrom)	AND CONVERT(TIME, a.ArrivalTo)
					AND 
					(
						CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, a.DepartFrom)	AND CONVERT(TIME, a.DepartTo)
						OR
						CONVERT(TIME, @workplaceSwipeTime) > CONVERT(TIME, a.DepartTo)
					)
					AND RTRIM(a.ShiftPatCode) = @shiftPatCode

				IF CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, @arrivalFrom) AND CONVERT(TIME, @arrivalTo)
					SET @result = CONVERT(DATETIME, CONVERT(VARCHAR, @workplaceSwipeTime, 12) + ' ' + CONVERT(VARCHAR, @arrivalTo, 108), 12)
				ELSE 
					SET @result = @workplaceSwipeTime
				--End of Rev. #1.1
			END 
		END
	END
	
	RETURN @result

END


/*	Testing:

PARAMETERS:
	@actionTypeID				INT,	--(Note: 0 => Shaved In Time; 1 => Shaved Out Time)
	@workplaceSwipeTime			DATETIME,
	@shiftPatCode				VARCHAR(2),	
	@shiftCode					VARCHAR(10),
	@empNo						INT 

	--Production database
	SELECT tas.fnGetShavingTime_V2(0, '2019-05-13 08:54:00.000', 'DR', 'D', 10003656)
	SELECT tas.fnGetShavingTime_V2(1, '2019-05-13 08:54:00.000', 'DR', 'D', 10003565)

*/
