/*************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fmtDate_MaxTimeOfDay_V2
*	Description: Returns the maximum time of the day
*
*	Date			Author		Rev. #		Comments:
*	31/03/2016		Ervin		1.0			Created
*************************************************************************************************************************************************/

ALTER FUNCTION tas.fmtDate_MaxTimeOfDay_V2 
(
	@DT DATETIME
) 
RETURNS DATETIME
AS 
BEGIN 

	RETURN CONVERT(DATETIME, CONVERT(VARCHAR, @DT, 12) + ' 23:59:59.000') 

END


/*	Debugging:

	SELECT tas.fmtDate_MaxTimeOfDay_V2(GETDATE())

*/



