/*************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnCurrentDayStatus_V2
*	Description: Check the employees current attendance status
*
*	Date			Author		Rev. #		Comments:
*	31/03/2016		Ervin		1.0			Created
*************************************************************************************************************************************************/

ALTER FUNCTION tas.fnCurrentDayStatus_V2 
(
    @empNo			INT,
    @status			VARCHAR(2),
	@processDate	DATETIME
)
RETURNS VARCHAR(20)

AS
BEGIN

	DECLARE @returnStatus	VARCHAR(20),
			@holidayType    CHAR,
			@currentDate    DATETIME,
			@shiftCode      CHAR,
			@religionCode   CHAR(2),
			@shiftPatCode   VARCHAR(2),
			@nArrival       DATETIME,
			@rArrival       DATETIME,
			@time           DATETIME 

	--Validate parameters
	IF @processDate IS NULL OR @processDate = CONVERT(DATETIME, '') 
		SET @processDate = GETDATE()	
    
	--Get the minimum time
	SELECT @currentDate	= tas.fmtDate_MinTimeOfDay_V2(@processDate)

	--Initialize variables
	SELECT	@returnStatus	= '',
			@holidayType	= '',		
			@time			= LTRIM(RIGHT(CONVERT(VARCHAR(20), @currentDate, 100), 7))
	
	--Get the employee religion
	SELECT @religionCode = RTRIM(a.ReligionCode)
		FROM tas.master_Employee_JDE a
	WHERE a.EmpNo = @empNo
	
	--get the holiday type			   
	SELECT @holidayType = RTRIM(HolidayType) 
	FROM tas.Master_Calendar a
	WHERE a.HolidayDate = CONVERT(DATETIME, CONVERT(VARCHAR, @currentDate, 12))

	--Get Shift Code and Shift Pointer
	SELECT	@shiftCode = RTRIM(Effective_ShiftCode), 
			@shiftPatCode = RTRIM(Effective_ShiftPatCode)
	FROM tas.Tran_ShiftPatternUpdates a 
	WHERE a.DateX = CONVERT(DATETIME, CONVERT(VARCHAR, @currentDate, 12))
		AND a.EmpNo = @empNo

	--Get arrival data
	SELECT @nArrival = LTRIM(RIGHT(CONVERT(VARCHAR(20), arrivalto, 100), 7)) , 
		   @rArrival = LTRIM(RIGHT(CONVERT(VARCHAR(20), rarrivalto, 100), 7))
	FROM tas.Master_ShiftTimes a 
	WHERE RTRIM(a.ShiftPatCode) = @shiftPatCode 
		AND RTRIM(a.ShiftCode) = @shiftCode
      
	IF @holidayType ='H' OR @shiftCode = 'O'
	BEGIN  
	
		IF RTRIM(@status) = 'x'
			SET @returnStatus = 'Day Off'
		ELSE  
			SET @returnStatus = 'Over Time'
	END 

    ELSE IF @holidayType = 'D' AND @shiftCode = 'D'
	BEGIN 

		IF RTRIM(@status) = 'x'
			SET @returnStatus = 'Day Off'
		ELSE   -- must calculte working hours , more than 6 ==> over time ---------------
			SET @returnStatus = ''
	END 

    ELSE IF RTRIM(@status) = 'x'
	BEGIN 

		IF @holidayType = 'R' AND @religionCode = 'M'
		BEGIN 
				
			IF @time < @rArrival
			BEGIN
            
				IF @shiftCode = 'E' 
					SET @returnStatus = 'Evening shift'
			END 
			ELSE  
			BEGIN 

				IF @shiftCode = 'N' 
					SET @returnStatus = 'Night shift'
			END 
		END 

		ELSE  
		BEGIN 
			
			IF @time < @nArrival
			BEGIN
            
				IF @shiftCode = 'E' 
					SET @returnStatus = 'Evening shift'
			END 
			ELSE
			BEGIN 
			  
				IF @shiftCode = 'N' 
					SET @returnStatus = 'Night shift'
			END 
		END 
				
		SET @returnStatus = 'Not come yet'
	END 

    RETURN @returnStatus
END


/*	Debugging:

	SELECT tas.fnCurrentDayStatus_V2(10003632, 'x', '04/09/2014') 

*/

