/***********************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetFirstSwipeIn
*	Description: Get the first swipe in at the Main Gate
*
*	Date			Author		Rev. #		Comments:
*	05/04/2016		Ervin		1.0			Created
*************************************************************************************************************************************************/

ALTER FUNCTION tas.fnGetFirstSwipeIn
(
    @empNo	INT
)
RETURNS DATETIME
AS
BEGIN      

	DECLARE	@returnVal	DATETIME			

	--Get the 
	SELECT @returnVal = MIN(AttendanceDate)
	FROM tas.Master_EmployeeAttendance a
	WHERE a.EmployeeNo = @empNo
			
	--Return the in/out status
	RETURN @returnVal           
END

/*	Debugging:

	SELECT tas.fnGetFirstSwipeIn(10003632)

*/
