/*****************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetContractorWorkDuration
*	Description: This table-view function returns attendance work duration of a contractor
*
*	Date:			Author:		Rev.#:		Comments:
*	07/09/2016		Ervin		1.0			Created
*	08/05/2019		Ervin		1.1				Refactored the code to enhance data retrieval performance
******************************************************************************************************************************************************************************************************/

ALTER FUNCTION tas.fnGetContractorWorkDuration
(
	@empNo					INT,
	@swipeDate				DATETIME,
	@requiredWorkDuration	INT
)
RETURNS @rtnTable 
TABLE 
(
	SwipeDate			DATETIME,
	SwipeIn				DATETIME,
	SwipeOut			DATETIME,
	NetMinutes			INT,
	Overtime			INT
	--LocationName		VARCHAR(40),
	--ReaderName			VARCHAR(40)
)
AS
BEGIN

	DECLARE	@swipeIn			DATETIME = NULL,
			@swipeOut			DATETIME = NULL,
			--@location			VARCHAR(40) = '',
			--@readerName			VARCHAR(40) = '',
			@netMinutes			INT = 0,
			@overtime			INT = 0

	--Get the first Swipe In time
	--SELECT TOP 1 @swipeIn = a.SwipeTime
	--FROM tas.Vw_ContractorSwipe a WITH (NOLOCK)
	--WHERE a.EmpNo = @empNo
	--	AND a.SwipeDate = @swipeDate
	--	AND UPPER(RTRIM(a.SwipeType)) = 'IN'
	--ORDER BY a.SwipeTime ASC

	--Get the first Swipe In time
	SELECT	@swipeIn = a.SwipeTime
			--@location = a.LocationName,
			--@readerName = a.ReaderName 
	FROM tas.fnGetContractorSwipe(@empNo, @swipeDate, 'IN') a

	--Get the last Swipe Out time
	--SELECT TOP 1 @swipeOut = a.SwipeTime
	--FROM tas.Vw_ContractorSwipe a WITH (NOLOCK)
	--WHERE a.EmpNo = @empNo
	--	AND a.SwipeDate = @swipeDate
	--	AND UPPER(RTRIM(a.SwipeType)) = 'OUT'
	--ORDER BY a.SwipeTime DESC

	--Get the last Swipe Out time
	SELECT	@swipeOut = a.SwipeTime
			--@location = a.LocationName,
			--@readerName = a.ReaderName   
	FROM tas.fnGetContractorSwipe(@empNo, @swipeDate, 'OUT') a
	
	SELECT @netMinutes = DATEDIFF(MINUTE, @swipeIn, @swipeOut)

	--Check if value is negative
	IF @netMinutes < 0
		SELECT @netMinutes = DATEDIFF(MINUTE, @swipeOut, @swipeIn)

	--Calculate overtime
	IF @requiredWorkDuration > 0 AND @netMinutes > @requiredWorkDuration
	BEGIN

		SELECT @overtime = @netMinutes - @requiredWorkDuration
    END 

	--Populate data to the table
	INSERT INTO @rtnTable 
	SELECT @swipeDate, @swipeIn, @swipeOut, @netMinutes, @overtime--, @location, @readerName

	RETURN 

END


/*	Testing:

PARAMETERS:
	@empNo					INT,
	@swipeDate				DATETIME,
	@requiredWorkDuration	INT

	SELECT * FROM tas.fnGetContractorWorkDuration(61048, '06/27/2021', 480)

*/
