/**************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnRetrieveDILStatistics
*	Description: Get the count of assigned DIl requisitions
*
*	Date:			Author:		Rev.#:		Comments:
*	06/03/2012		Ervin		1.0			Created
*	12/06/2014		Ervin		1.1			Refactored the code 
*	13/05/2017		Ervin		1.2			Modified the filter condition in fetching the count of assigned DIl requisitions 
*	24/10/2018		Ervin		1.3			Refactored the code to enhance data retrieval performance
*	20/01/2021		Ervin		1.4			Modified the logic in fetching the number of assigned request
**************************************************************************************************************************************************************/

ALTER FUNCTION tas.fnRetrieveDILStatistics
(
	@EmpNo INT 
)
RETURNS  @rtnTable TABLE  
(     
	OpenDILCount				INT NULL,
	DraftDILCount				INT NULL,
	AssignedDILCount			INT NULL,
	PastWeekDILCount			INT NULL
) 
AS 
BEGIN 

	DECLARE @myTable table
	(
		OpenDILCount			INT, 
		DraftDILCount			INT,
		AssignedDILCount		INT,
		PastWeekDILCount		INT
	)  

	DECLARE @OpenDILCount		INT,
			@DraftDILCount		INT,
			@AssignedDILCount	INT,
			@PastWeekDILCount	INT

	SELECT 	@OpenDILCount		= 0, 
			@DraftDILCount		= 0, 
			@AssignedDILCount	= 0, 
			@PastWeekDILCount	= 0
	
	SELECT @OpenDILCount = COUNT(a.AutoID) 
	FROM tas.Tran_Absence_DIL a WITH (NOLOCK)
	WHERE RTRIM(a.StatusHandlingCode) = 'Open' 
		AND ISNULL(a.IsDraft, 0) = 0
		AND (a.CreatedByUserEmpNo = @EmpNo OR a.EmpNo = @EmpNo)

	SELECT @DraftDILCount = COUNT(a.AutoID) 
	FROM tas.Tran_Absence_DIL a WITH (NOLOCK)
	WHERE a.IsDraft = 1
		AND (a.CreatedByUserEmpNo = @EmpNo OR a.EmpNo = @EmpNo)

	SELECT @AssignedDILCount = COUNT(a.AutoID) 
	FROM tas.Tran_Absence_DIL a WITH (NOLOCK)
	WHERE RTRIM(ISNULL(StatusCode, '')) IN ('05','121')
		AND 
		(
			(a.ApproverEmpNo = @EmpNo AND ISNULL(a.ApprovalType, 0) IN (1, 2))
			OR (a.HRApproverEmpNo = @EmpNo AND ISNULL(a.ApprovalType, 0) = 3)
			OR (a.CEOApproverEmpNo = @EmpNo AND ISNULL(a.ApprovalType, 0) = 4)
		)

	SELECT @PastWeekDILCount = COUNT(a.AutoID) 
	FROM tas.Tran_Absence_DIL a WITH (NOLOCK)
	WHERE (ApproverEmpNo = @EmpNo or HRApproverEmpNo = @EmpNo or CEOApproverEmpNo = @EmpNo) 
		AND CONVERT(VARCHAR, a.ApprovedDate, 12) BETWEEN CONVERT(VARCHAR, DATEADD(DAY, -7, GETDATE()), 12) AND CONVERT(VARCHAR, GETDATE(), 12)
		AND RTRIM(a.StatusHandlingCode) = 'Closed'
			
	INSERT INTO @myTable  
	SELECT @OpenDILCount, @DraftDILCount, @AssignedDILCount, @PastWeekDILCount 

	INSERT INTO @rtnTable 
	SELECT * FROM @mytable  
	
	RETURN
END

/*	Debugging:

	SELECT * FROM tas.fnRetrieveDILStatistics(10001841)

*/
	
