/**************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetShavingTime
*	Description: This function is used to calculate the shaving time based on the supplied workplace swipe time
*
*	Date:			Author:		Rev.#:		Comments:
*	02/09/2015		Ervin		1.0			Created
*	25/06/2016		Ervin		1.1			Added extra checking to get the correct shift timing
**************************************************************************************************************************************************************/

ALTER FUNCTION tas.fnGetShavingTime
(
	@actionTypeID				INT,	--(Note: 0 => Shaved In Time; 1 => Shaved Out Time)
	@workplaceSwipeTime			DATETIME,
	@shiftPatCode				VARCHAR(2),	
	@shiftCode					VARCHAR(10)
)
RETURNS DATETIME
AS

BEGIN

	DECLARE	@result				DATETIME,
			@arrivalFrom		DATETIME,
			@arrivalTo			DATETIME,
			@departFrom			DATETIME,
			@departTo			DATETIME

	/***************************************************************************************
		Calculate Shaving Time
	****************************************************************************************/
	--Get the Shift timing info
	SELECT	@arrivalFrom = a.ArrivalFrom,
			@arrivalTo = a.ArrivalTo,
			@departFrom = a.DepartFrom,
			@departTo = a.DepartTo
	FROM tas.Master_ShiftTimes a
	WHERE RTRIM(a.ShiftPatCode) = @shiftPatCode
		AND RTRIM(a.ShiftCode) = @shiftCode

	IF ISNULL(@arrivalFrom, '') <> '' AND ISNULL(@arrivalTo, '') <> '' 
		AND ISNULL(@departFrom, '') <> '' AND ISNULL(@departTo, '') <> ''
	BEGIN

		IF @actionTypeID = 0
		BEGIN

			--Calculate shaving time-in
			IF CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, @arrivalFrom) AND CONVERT(TIME, @arrivalTo)
				SET @result = CONVERT(DATETIME, CONVERT(VARCHAR, @workplaceSwipeTime, 12) + ' ' + CONVERT(VARCHAR, @arrivalTo, 108), 12)

			ELSE
			BEGIN
            
				--Start of Rev. #1.1
				--Search for the correct shift timing
				SELECT	@arrivalFrom = a.ArrivalFrom,
						@arrivalTo = a.ArrivalTo,
						@departFrom = a.DepartFrom,
						@departTo = a.DepartTo
				FROM tas.Master_ShiftTimes a
				WHERE CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, a.ArrivalFrom)	AND CONVERT(TIME, a.ArrivalTo)
					AND 
					(
						CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, a.DepartFrom)	AND CONVERT(TIME, a.DepartTo)
						OR
						CONVERT(TIME, @workplaceSwipeTime) > CONVERT(TIME, a.DepartTo)
					)
					AND RTRIM(a.ShiftPatCode) = @shiftPatCode

				IF CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, @arrivalFrom) AND CONVERT(TIME, @arrivalTo)
					SET @result = CONVERT(DATETIME, CONVERT(VARCHAR, @workplaceSwipeTime, 12) + ' ' + CONVERT(VARCHAR, @arrivalTo, 108), 12)
				ELSE 
					SET @result = @workplaceSwipeTime
				--End of Rev. #1.1
			END 
		END

		ElSE
		BEGIN

			--Calculate shaving time-out
			IF CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, @departFrom) AND CONVERT(TIME, @departTo)
				SET @result = CONVERT(DATETIME, CONVERT(VARCHAR, @workplaceSwipeTime, 12) + ' ' + CONVERT(VARCHAR, @departFrom, 108), 12)

			ELSE
			BEGIN
            
				--Start of Rev. #1.1
				--Search for the correct shift timing
				SELECT	@arrivalFrom = a.ArrivalFrom,
						@arrivalTo = a.ArrivalTo,
						@departFrom = a.DepartFrom,
						@departTo = a.DepartTo
				FROM tas.Master_ShiftTimes a
				WHERE CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, a.ArrivalFrom)	AND CONVERT(TIME, a.ArrivalTo)
					AND 
					(
						CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, a.DepartFrom)	AND CONVERT(TIME, a.DepartTo)
						OR
						CONVERT(TIME, @workplaceSwipeTime) > CONVERT(TIME, a.DepartTo)
					)
					AND RTRIM(a.ShiftPatCode) = @shiftPatCode

				IF CONVERT(TIME, @workplaceSwipeTime) BETWEEN CONVERT(TIME, @arrivalFrom) AND CONVERT(TIME, @arrivalTo)
					SET @result = CONVERT(DATETIME, CONVERT(VARCHAR, @workplaceSwipeTime, 12) + ' ' + CONVERT(VARCHAR, @arrivalTo, 108), 12)
				ELSE 
					SET @result = @workplaceSwipeTime
				--End of Rev. #1.1
			END 
		END
	END
	
	RETURN @result

END


/*	Testing:

PARAMETERS:
	@actionTypeID				INT,	--(Note: 0 => Shaved In Time; 1 => Shaved Out Time)
	@workplaceSwipeTime			DATETIME,
	@shiftPatCode				VARCHAR(2),	
	@shiftCode					VARCHAR(10)

	SELECT tas.fnGetShavingTime(0, '2016-06-13 22:48:10.000', 'I', 'N')
	SELECT tas.fnGetShavingTime(1, '2016-06-14 07:04:19.000', 'I', 'N')

*/
