/************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnMultipleSwipes_V2
*	Description: Check if an employee has multiple swipes
*
*	Date			Author		Rev. #		Comments:
*	31/03/2016		Ervin		1.0			Created
*	27/11/2019		Ervin		1.1			Refactored the code to enhance data retrieval performance
*	08/08/2020		Ervin		1.2			Implemented logic for Car Park #5 reader nos. 11 (IN) and 12 (OUT)
*	15/08/2021		Ervin		1.3			Implemented logic for the following new Foil Mill readers: 31 = Turntile In, 32 = Turnstile Out, 33 = Barrier In, 34 = Barrier Out
*	31/08/2021		Ervin		1.4			Implemented logic for the following new Mail Mill readers: 13 = Turntile In, 14 = Turnstile Out, 15 = Barrier In, 16 = Barrier Out
************************************************************************************************************************************************************************************************/

ALTER FUNCTION tas.fnMultipleSwipes_V2 
(
	@empNo			INT,
	@processDate	DATETIME 
)
RETURNS VARCHAR(30)
AS
BEGIN

    DECLARE	@swipeStatus	VARCHAR(30),
			@religionCode   CHAR(2),
			@timing			CHAR,
			@shiftPatCode	VARCHAR(2),
			@shiftCode		VARCHAR(2),
			@empArrival		DATETIME,
			@empDepart		DATETIME,
			@maxIN			DATETIME,
			@currentDate	DATETIME,
			@temp			VARCHAR(20)

	--Initialize variables
	SELECT	@swipeStatus	= '',
			@religionCode   = '',
			@timing			= '',
			@shiftPatCode	= '',
			@shiftCode		= '',
			@empArrival		= NULL,
			@empDepart		= NULL,
			@maxIN			= NULL,
			@currentDate	= NULL,
			@temp			= ''

	--Validate parameters
	IF @processDate IS NULL OR @processDate = CONVERT(DATETIME, '') 
		SET @processDate = GETDATE()	
    
	--Get the minimum time
	SELECT @currentDate	= tas.fmtDate_MinTimeOfDay_V2(@processDate)
      
	--Get Shift Code and Shift Pointer
	SELECT	@shiftCode = RTRIM(Effective_ShiftCode), 
			@shiftPatCode = RTRIM(Effective_ShiftPatCode)
	FROM tas.Tran_ShiftPatternUpdates a WITH (NOLOCK) 
	WHERE a.DateX = CONVERT(DATETIME, CONVERT(VARCHAR, @currentDate, 12))
		AND a.EmpNo = @empNo

    IF @shiftCode != 'O'	-- If day is not off  ----------------------------
    BEGIN												

        IF @shiftCode != 'N'
        BEGIN

			SELECT @empArrival = MIN(AttendanceDate)    ---- first IN
			FROM tas.Master_EmployeeAttendance a WITH (NOLOCK)
			WHERE a.LocationCode IN (1, 2)
				AND a.ReaderNo IN (0, 3, 4, 6, 8, 11, 13, 15, 31, 33)		--Rev. #1.3
				AND a.EmployeeNo = @empNo

			SELECT @maxIN = MAX(AttendanceDate)			---- max IN
			FROM tas.Master_EmployeeAttendance a WITH (NOLOCK)
			WHERE a.LocationCode IN (1, 2)
				AND a.ReaderNo IN (0, 3, 4, 6, 8, 11, 13, 15, 31, 33)		--Rev. #1.3
				AND a.EmployeeNo = @empNo

			SELECT @empDepart = MAX(AttendanceDate)     ---- max OUT
			FROM tas.Master_EmployeeAttendance a WITH (NOLOCK)
			WHERE a.LocationCode IN (1, 2)
				AND a.ReaderNo IN (1, 2, 5, 7, 9, 12, 14, 16, 32, 34)		--Rev. #1.3
				AND a.EmployeeNo = @empNo

            IF @empDepart < @maxIN AND @empDepart > @empArrival
                SET @swipeStatus = ' Went out and came back'
        END
      
		------------- Nightshift ---------------------------------
		ELSE
        BEGIN

			SELECT @empArrival = MIN(AttendanceDate)     ---- first IN
			FROM tas.Master_EmployeeAttendance a WITH (NOLOCK)
			WHERE a.LocationCode IN (1, 2)
				AND a.ReaderNo IN (0, 3, 4, 6, 8, 11, 13, 15, 31, 33)		--Rev. #1.3
				AND a.EmployeeNo = @empNo

			SELECT @maxIN = MAX(AttendanceDate)        ---- max IN
			FROM tas.Master_EmployeeAttendance a WITH (NOLOCK)
			WHERE a.LocationCode IN (1, 2)
				AND a.ReaderNo IN (0, 3, 4, 6, 8, 11, 13, 15, 31, 33)		--Rev. #1.3
				AND a.EmployeeNo = @empNo

			SELECT @empDepart = MAX(AttendanceDate)      ---- max OUT
			FROM tas.Master_EmployeeAttendance a WITH (NOLOCK)
			WHERE a.LocationCode IN (1, 2)
				AND a.ReaderNo IN (1, 2, 5, 7, 9, 12, 14, 16, 32, 34)		--Rev. #1.3
				AND a.EmployeeNo = @empNo

            IF @empDepart < @maxIN AND @empDepart > @empArrival
                SET @swipeStatus = ' Went out and came back'
        END
    END
    
	--If day is  off --------------
    ELSE IF @shiftCode = 'O' 
		SET @swipeStatus = 'Day Off'

    RETURN @swipeStatus
END


/*	Debugging:

	SELECT tas.fnMultipleSwipes_V2(10003810, '08/31/2021') 

*/