/*****************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetContractorSwipe
*	Description: This table-view function returns the contractor's swipe data
*
*	Date:			Author:		Rev.#:		Comments:
*	27/06/2021		Ervin		1.0			Created
*	24/11/2021		Ervin		1.1			Refactored the logic in calculating the swipe time
******************************************************************************************************************************************************************************************************/

ALTER FUNCTION tas.fnGetContractorSwipe
(
	@empNo				INT,
	@swipeDate			DATETIME,
	@swipeType			VARCHAR(3)
)
RETURNS @rtnTable 
TABLE 
(
	EmpNo				INT,
	SwipeDate			DATETIME,
	SwipeTime			DATETIME
)
AS
BEGIN

	DECLARE	@swipeTime			DATETIME = NULL

	IF @swipeType = 'IN'
	BEGIN
    
		SELECT TOP 1 @swipeTime = a.SwipeTime
		FROM tas.ContractorSwipeLog a WITH (NOLOCK)
		WHERE a.EmpNo = @empNo
			AND a.SwipeDate = @swipeDate
			AND UPPER(RTRIM(a.SwipeType)) = @swipeType
		ORDER BY a.SwipeTime ASC
	END

	ELSE
    BEGIN

		SELECT TOP 1 @swipeTime = a.SwipeTime
		FROM tas.ContractorSwipeLog a WITH (NOLOCK)
		WHERE a.EmpNo = @empNo
			AND a.SwipeDate = @swipeDate
			AND UPPER(RTRIM(a.SwipeType)) = @swipeType
		ORDER BY a.SwipeTime DESC
    END 
	
	--Populate data to the table
	INSERT INTO @rtnTable 
	SELECT @empNo, @swipeDate, @swipeTime

	RETURN 

END


/*	Testing:

PARAMETERS:
	@empNo				INT,
	@swipeDate			DATETIME,
	@swipeType			VARCHAR(3)

	SELECT * FROM tas.fnGetContractorSwipe(61123, '11/21/2021', 'IN')
	SELECT * FROM tas.fnGetContractorSwipe(61123, '11/21/2021', 'OUT')

*/
