/****************************************************************************************************************************************************************************************

Store Procedure Name			:	tas.prTimesheet_CopyWorkingData
Description						:	This stored procedure is used to copy data to temporary tables for proccesing
Created By						:	Zaharan Haleed
Date Created					:	12 December 2011

Revision History:
	1.0					Zaharan			2011.12.12 08:36
	Created

	1.1					Ervin			2016.04.04 15:45
	Refactored the code

	1.2					Ervin			2016.06.12 10:30
	Refactored the logic in fetching the In and Out time

	1.3					Ervin			2020.08.08 18:00
	Implemented logic for Car Park #5 reader nos. 11 (IN) and 12 (OUT)

	1.4					Ervin			2021.08.15 08:57
	Implemented logic for the following new Foil Mill readers: 31 = Turntile In, 32 = Turnstile Out, 33 = Barrier In, 34 = Barrier Out

	1.5					Ervin			2021.08.31 02:40 PM
	Implemented logic for the following new Mail Mill readers: 13 = Turntile In, 14 = Turnstile Out, 15 = Barrier In, 16 = Barrier Out
*****************************************************************************************************************************************************************************************/

ALTER FUNCTION tas.fnGetAttendanceStatus
(
    @EmpNo INT 
)
RETURNS varchar(2)
AS
BEGIN
      
	DECLARE	@locationCode   INT,
			@readerNo       INT,
			@ret            VARCHAR(2),
			@lateOrEarly    VARCHAR(20),
			@fromDate       DATETIME,
			@toDate         DATETIME,
			@remarks		VARCHAR(100)

	
	SET @ret = 'x'
	  
	--Location code '-1' is for manual timesheets
	SELECT TOP 1
		@readerno = a.ReaderNo, 
		@locationcode = a.LocationCode 	
	FROM tas.Master_EmployeeAttendance a WITH (NOLOCK)
	WHERE --LocationCode IN (-1, 1, 2) 
		--Start of Rev. #1.2
		(
			(a.LocationCode = 1 AND a.ReaderNo IN (4, 5, 6, 7, 11, 12, 13, 14, 15, 16))			--(Main Mill: 4 = In Turnstile; 5 = Out Turnstile; 6 = Barrier In; 7 = Barrier Out; 11 = Car Park #5 Turnstile (IN); 12 = Car Park #5 Turnstile (OUT), 13 = New Turntile (IN), 14 = New Turnstile (OUT), 15 = New Barrier (IN), 16 = New Barrier (OUT))
			OR
            (a.LocationCode = 2 AND a.ReaderNo IN (0, 1, 2, 3, 31, 32, 33, 34))		--(Foil Mill: 0 = Barrier In; 1 = Barrier Out; 2 = Turnstile Out; 3 = Turnstile In,  31 = Turntile In,  32 = Turntile Out, 33 = Barrier In, 34 = Barrier Out)
			OR
            (a.LocationCode = -1 AND a.ReaderNo IN (-1, -2))		--(Manual Timesheet: -1 = IN; -2 = OUT)
		)
		--End of Rev. #1.2
		AND a.EmployeeNo = @empNo
	ORDER BY a.AttendanceDate DESC

    --Check for the location codes  
    IF @locationCode = 1
	BEGIN
    
		IF @readerNo IN (4, 6, 8, 11, 13, 15) 
			SET @ret = 'i'
		ELSE  
			SET @ret = 'o'
	END     
	         
    ELSE IF @locationCode = 2
	BEGIN
    
		IF @readerNo IN (0, 3, 33, 31)			--Rev. #1.4
			SET @ret = 'i'
		ELSE IF @readerNo IN (1, 2, 34, 32)		--Rev. #1.4
			SET @ret = 'o'
	END     
	         
    ELSE IF @locationCode = -1		-- Manual Timesheet
	BEGIN
    
		IF @readerNo = -1
			SET @ret = 'im'
		ELSE IF @readerNo = -2
			SET @ret = 'om'
	END   
		
	--Return the in/out status
	RETURN RTRIM(@ret)

END

/*	Debug:

	SELECT tas.fnGetAttendanceStatus(10003589)

*/