/**********************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetApproverEmpNo_WithSubstitute
*	Description: Retrieves the substitute
*
*	Date:		Author:		Rev. #:		Comments:
*	23/07/13	EBrosas		1.0			Created
*	19/08/13	EBrosas		1.1			Added "All" condition for parameter "@BusinessUnit"
*	25/05/13	EBrosas		1.2			Refactored the logic. Check substitute setup in the "Workflow Substitute Settings" form in ISMS
*	04/10/2015	EBrosas		1.3			Get the substitute in the Leave Requisition System instead of the Common Admin System
*	07/10/2015	EBrosas		1.4			Added logic for fetching the Immediate Supervisor
**********************************************************************************************************************************************************************************/

ALTER FUNCTION tas.fnGetApproverEmpNo_WithSubstitute
(
	@DistListCode varchar(10),
	@BusinessUnit varchar(12),
	@EmpNo int 
)
RETURNS INT
AS
BEGIN

	DECLARE	@result					int,
			@CONST_WFDIL			varchar(10),
			@DistListID				int,
			@ServiceProviderEmpNo	int,
			@SubstituteEmpNo		int,
			@DistMemID				int,
			@AppCode				varchar(10),
			@WFSubstituteEmpNo		int,
			@WFSubstituteEmpName	varchar(50),
			@WFSubstituteEmpEmail	varchar(50), 			
			@SuperintendentNo		int,
			@CostCenterManagerNo	int
		
	SELECT	@result					= 0, 
			@CONST_WFDIL			= 'WFDIL',
			@DistListID				= 0,
			@ServiceProviderEmpNo	= 0,
			@SubstituteEmpNo		= 0,
			@DistMemID				= 0,
			@AppCode				= 'TAS',
			@WFSubstituteEmpNo		= 0,
			@WFSubstituteEmpName	= '',
			@WFSubstituteEmpEmail	= '',
			@SuperintendentNo		= 0,
			@CostCenterManagerNo	= 0
	
	IF UPPER(RTRIM(@DistListCode)) = 'SUPERVISOR' 
	BEGIN

		--Get the Supervisor Emp. No.
		SELECT TOP 1 
			@ServiceProviderEmpNo = YAANPA, 
			@BusinessUnit = LTRIM(RTRIM(YAMCU))
		FROM tas.syJDE_F060116 
		WHERE YAAN8 = @EmpNo	

		IF ISNULL(@ServiceProviderEmpNo, 0) = 0
		BEGIN

			--Set the Superintendent as the Supervisor
			SELECT TOP 1 @ServiceProviderEmpNo = MCAN8
			FROM tas.External_JDE_F0006 
			WHERE LTRIM(RTRIM(MCMCU)) = LTRIM(RTRIM(@BusinessUnit))
		END

		IF @ServiceProviderEmpNo > 0
		BEGIN

			-- Search for active substitute defined through the "Workflow Substitute Settings" form in ISMS
			IF EXISTS 
			(
				SELECT SubstituteSettingID 
				FROM Gen_Purpose.genuser.fnGetActiveSubstitute(@ServiceProviderEmpNo, @CONST_WFDIL, @BusinessUnit)
			)
			BEGIN

				SELECT	@WFSubstituteEmpNo = SubstituteEmpNo, 
						@WFSubstituteEmpName = SubstituteEmpName,
						@WFSubstituteEmpEmail = SubstituteEmpEmail
				FROM Gen_Purpose.genuser.fnGetActiveSubstitute(@ServiceProviderEmpNo, @CONST_WFDIL, @BusinessUnit)
			END

			IF @WFSubstituteEmpNo > 0
			BEGIN

				SET @result = @WFSubstituteEmpNo
			END

			ELSE 
			BEGIN
				
				--Check if Supervisor is on-leave
				IF EXISTS 
				(
					SELECT EmpNo FROM tas.Vw_EmployeeAvailability
					WHERE EmpNo = @ServiceProviderEmpNo 
						AND convert(datetime, getdate(),101) BETWEEN FromDate and ToDate
				)
				BEGIN

					--The Supervisor is on-leave, so get the substitute from the Leave Requisition	System (Rev. #1.3)
					SELECT @SubstituteEmpNo = SubEmpNo
					FROM tas.syJDE_LeaveRequisition 
					WHERE RTRIM(RequestStatusSpecialHandlingCode) = 'Closed' 
						AND EmpNo = @ServiceProviderEmpNo
						AND RTRIM(LeaveType) = 'AL' 
						AND CONVERT(DATETIME, CONVERT(VARCHAR(10), GETDATE(), 101)) BETWEEN LeaveStartDate and LeaveEndDate

					IF (@SubstituteEmpNo > 0)		
					BEGIN
								
						SELECT @result = @SubstituteEmpNo
						FROM tas.Master_Employee_JDE_View a
							INNER JOIN tas.Master_BusinessUnit_JDE b ON rtrim(a.BusinessUnit) = rtrim(b.BusinessUnit)
						WHERE EmpNo = @SubstituteEmpNo
					END

					ELSE 
					BEGIN

						--Get the original Supervisor
						SELECT @result = @ServiceProviderEmpNo
					END
				END

				ELSE 
				BEGIN
				
					--Get the original Supervisor
					SELECT @result = @ServiceProviderEmpNo
				END
			END
		END
	END

	ELSE IF UPPER(RTRIM(@DistListCode)) = 'CCAPPROVER' 
	BEGIN

		IF ISNULL(@BusinessUnit, '') <> '' 
		BEGIN

			--Get the original approver 
			SELECT @ServiceProviderEmpNo = mcanpa
			FROM tas.External_JDE_F0006 a 
				INNER JOIN tas.Master_Employee_JDE_View b ON a.mcanpa = b.EmpNo 	
				LEFT JOIN tas.Master_BusinessUnit_JDE c ON LTRIM(RTRIM(b.BusinessUnit)) = LTRIM(RTRIM(c.BusinessUnit))
			WHERE LTRIM(RTRIM(mcmcu)) = LTRIM(RTRIM(@BusinessUnit))

			IF @ServiceProviderEmpNo > 0
			BEGIN

				--Search for active substitute defined through the "Workflow Substitute Settings" form in ISMS
				IF EXISTS (SELECT SubstituteSettingID FROM tas.fnGetActiveSubstitute(@ServiceProviderEmpNo, @CONST_WFDIL, @BusinessUnit))
				BEGIN
					SELECT	@WFSubstituteEmpNo = SubstituteEmpNo, 
							@WFSubstituteEmpName = SubstituteEmpName,
							@WFSubstituteEmpEmail = SubstituteEmpEmail
					FROM tas.fnGetActiveSubstitute(@ServiceProviderEmpNo, @CONST_WFDIL, @BusinessUnit)
				END
			END

			IF @WFSubstituteEmpNo > 0		
				SET @result = @WFSubstituteEmpNo

			ELSE
			BEGIN

				--Check if the Service Provider is on-leave
				IF EXISTS 
				(
					SELECT EmpNo FROM tas.Vw_EmployeeAvailability
					WHERE EmpNo = @ServiceProviderEmpNo 
						AND convert(datetime, getdate(),101) BETWEEN FromDate and ToDate
				)
				BEGIN

					--The Cost Center Manager is on-leave, so get the substitute
					--SELECT @SubstituteEmpNo = tas.fnGetSubstituteEmpNo(1,@BusinessUnit,@AppCode)

					--The Cost Center Manager is on-leave, so get the substitute from the Leave Requisition	System (Rev. #1.3)
					SELECT @SubstituteEmpNo = SubEmpNo
					FROM tas.syJDE_LeaveRequisition 
					WHERE RTRIM(RequestStatusSpecialHandlingCode) = 'Closed' 
						AND EmpNo = @ServiceProviderEmpNo
						AND RTRIM(LeaveType) = 'AL' 
						AND CONVERT(DATETIME, CONVERT(VARCHAR(10), GETDATE(), 101)) BETWEEN LeaveStartDate and LeaveEndDate

					IF (@SubstituteEmpNo > 0)		
					BEGIN
								
						SELECT @result = @SubstituteEmpNo
						FROM tas.Master_Employee_JDE_View a
							INNER JOIN tas.Master_BusinessUnit_JDE b ON rtrim(a.BusinessUnit) = rtrim(b.BusinessUnit)
						WHERE EmpNo = @SubstituteEmpNo
					END

					ELSE 
					BEGIN

						--Get the original Cost Center Manager
						SELECT @result = mcanpa
						FROM tas.External_JDE_F0006 a 
							INNER JOIN tas.Master_Employee_JDE_View b ON a.mcanpa = b.EmpNo 	
							LEFT JOIN tas.Master_BusinessUnit_JDE c ON LTRIM(RTRIM(b.BusinessUnit)) = LTRIM(RTRIM(c.BusinessUnit))
						WHERE LTRIM(RTRIM(mcmcu)) = LTRIM(RTRIM(@BusinessUnit))
					END
				END

				ELSE 
				BEGIN
				
					--Get the original Cost Center Manager
					SELECT @result = mcanpa
					FROM tas.External_JDE_F0006 a 
						INNER JOIN tas.Master_Employee_JDE_View b ON a.mcanpa = b.EmpNo 	
						LEFT JOIN tas.Master_BusinessUnit_JDE c ON LTRIM(RTRIM(b.BusinessUnit)) = LTRIM(RTRIM(c.BusinessUnit))
					WHERE LTRIM(RTRIM(mcmcu)) = LTRIM(RTRIM(@BusinessUnit))
				END
			END
		END

		ELSE 
		BEGIN

			SELECT @BusinessUnit = b.BusinessUnit
			FROM tas.syJDE_F060116 a
				INNER JOIN tas.Master_Employee_JDE_View b ON a.YAAN8 = b.EmpNo 
				LEFT JOIN tas.Master_BusinessUnit_JDE c ON LTRIM(RTRIM(b.BusinessUnit)) = LTRIM(RTRIM(c.BusinessUnit))
			WHERE YAAN8 = @EmpNo	
			
			IF ISNULL(@BusinessUnit, '') <> ''
			BEGIN

				--Get the Service Provider employee info
				SELECT @ServiceProviderEmpNo = mcanpa
				FROM tas.External_JDE_F0006 a 
					INNER JOIN tas.Master_Employee_JDE_View b ON a.mcanpa = b.EmpNo 	
					LEFT JOIN tas.Master_BusinessUnit_JDE c ON LTRIM(RTRIM(b.BusinessUnit)) = LTRIM(RTRIM(c.BusinessUnit))
				WHERE LTRIM(RTRIM(mcmcu)) = LTRIM(RTRIM(@BusinessUnit))

				IF @ServiceProviderEmpNo > 0
				BEGIN

					--Search for active substitute defined through the "Workflow Substitute Settings" form in ISMS
					IF EXISTS (SELECT SubstituteSettingID FROM tas.fnGetActiveSubstitute(@ServiceProviderEmpNo, @CONST_WFDIL, @BusinessUnit))
					BEGIN
						SELECT	@WFSubstituteEmpNo = SubstituteEmpNo, 
								@WFSubstituteEmpName = SubstituteEmpName,
								@WFSubstituteEmpEmail = SubstituteEmpEmail
						FROM tas.fnGetActiveSubstitute(@ServiceProviderEmpNo, @CONST_WFDIL, @BusinessUnit)
					END
				END

				IF @WFSubstituteEmpNo > 0		
					SET @result = @WFSubstituteEmpNo

				ELSE
				BEGIN

					--Check if the Service Provider is on-leave
					IF EXISTS 
					(
						SELECT EmpNo FROM tas.Vw_EmployeeAvailability
						WHERE EmpNo = @ServiceProviderEmpNo 
							AND convert(datetime, getdate(),101) BETWEEN FromDate and ToDate
					)
					BEGIN

						--The Cost Center Manager is on-leave, so get the substitute
						--SELECT @SubstituteEmpNo = tas.fnGetSubstituteEmpNo(1,@BusinessUnit,@AppCode)

						--The Cost Center Manager is on-leave, so get the substitute from the Leave requisition	(Rev. #1.3)
						SELECT @SubstituteEmpNo = SubEmpNo
						FROM tas.syJDE_LeaveRequisition 
						WHERE RTRIM(RequestStatusSpecialHandlingCode) = 'Closed' 
							AND EmpNo = @ServiceProviderEmpNo
							AND RTRIM(LeaveType) = 'AL' 
							AND CONVERT(DATETIME, CONVERT(VARCHAR(10), GETDATE(), 101)) BETWEEN LeaveStartDate and LeaveEndDate

						IF (@SubstituteEmpNo > 0)		
						BEGIN
										
							SELECT @result = @SubstituteEmpNo
							FROM tas.Master_Employee_JDE_View a
								INNER JOIN tas.Master_BusinessUnit_JDE b ON rtrim(a.BusinessUnit) = rtrim(b.BusinessUnit)
							WHERE EmpNo = @SubstituteEmpNo
						END

						ELSE 
						BEGIN

							--Get the Cost Center Manager
							SELECT @result = mcanpa 
							FROM tas.External_JDE_F0006 a 
								INNER JOIN tas.Master_Employee_JDE_View b ON a.mcanpa = b.EmpNo 	
								LEFT JOIN tas.Master_BusinessUnit_JDE c ON LTRIM(RTRIM(b.BusinessUnit)) = LTRIM(RTRIM(c.BusinessUnit))
							WHERE LTRIM(RTRIM(mcmcu)) = LTRIM(RTRIM(@BusinessUnit))
						END
					END

					ELSE 
					BEGIN

						--Get the Cost Center Manager
						SELECT @result = mcanpa 
						FROM tas.External_JDE_F0006 a 
							INNER JOIN tas.Master_Employee_JDE_View b ON a.mcanpa = b.EmpNo 	
							LEFT JOIN tas.Master_BusinessUnit_JDE c ON LTRIM(RTRIM(b.BusinessUnit)) = LTRIM(RTRIM(c.BusinessUnit))
						WHERE LTRIM(RTRIM(mcmcu)) = LTRIM(RTRIM(@BusinessUnit))
					END
				END
			END
		END
	END

	ELSE 
	BEGIN

		SELECT TOP 1 @DistListID = DistListID 
		FROM tas.syJDE_DistributionList
		WHERE upper(rtrim(DistListCode)) = upper(rtrim(@DistListCode))

		IF @DistListID > 0 
		BEGIN

			--Get the Service Provider employee info
			SELECT TOP 1 @ServiceProviderEmpNo = isnull(DistMemEmpNo,0), @DistMemID = DistMemID
			FROM tas.syJDE_DistributionMember
			WHERE DistMemDistListID = @DistListID

			IF @ServiceProviderEmpNo > 0
			BEGIN

				--Search for active substitute defined through the "Workflow Substitute Settings" form in ISMS
				IF EXISTS (SELECT SubstituteSettingID FROM tas.fnGetActiveSubstitute(@ServiceProviderEmpNo, @CONST_WFDIL, @BusinessUnit))
				BEGIN
					SELECT	@WFSubstituteEmpNo = SubstituteEmpNo, 
							@WFSubstituteEmpName = SubstituteEmpName,
							@WFSubstituteEmpEmail = SubstituteEmpEmail
					FROM tas.fnGetActiveSubstitute(@ServiceProviderEmpNo, @CONST_WFDIL, @BusinessUnit)
				END
			END

			IF @WFSubstituteEmpNo > 0		
				SET @result = @WFSubstituteEmpNo

			ELSE
			BEGIN

				--Check if the Service Provider is on-leave
				IF EXISTS 
				(
					SELECT EmpNo FROM tas.Vw_EmployeeAvailability
					WHERE EmpNo = @ServiceProviderEmpNo 
						AND convert(datetime,getdate(),101) BETWEEN FromDate and ToDate
				)
				BEGIN

					--The service provider is on-leave, so get the substitute.
					--SELECT @SubstituteEmpNo = tas.fnGetSubstituteEmpNo(2, convert(varchar(12), @DistMemID), @AppCode)

					--The Service Provider is on-leave, so get the substitute from the Leave requisition (Rev. #1.3)
					SELECT @SubstituteEmpNo = SubEmpNo
					FROM tas.syJDE_LeaveRequisition 
					WHERE RTRIM(RequestStatusSpecialHandlingCode) = 'Closed' 
						AND EmpNo = @ServiceProviderEmpNo
						AND RTRIM(LeaveType) = 'AL' 
						AND CONVERT(DATETIME, CONVERT(VARCHAR(10), GETDATE(), 101)) BETWEEN LeaveStartDate and LeaveEndDate

					IF (@SubstituteEmpNo > 0)
						SET @result = @SubstituteEmpNo
					ELSE
						SET @result = @ServiceProviderEmpNo
				END
				ELSE 
					SET @result = @ServiceProviderEmpNo
			END
		END
	END
			
	RETURN @result

END

/*	Debug:

	SELECT tas.fnGetApproverEmpNo_WithSubstitute('TICKVAL', '', 0)

*/
