/*****************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetMissingSwipeStatistics
*	Description: This table-view function returns data for the Workplace Missing Swipes Statistics report
*
*	Date:			Author:		Rev.#:		Comments:
*	28/01/2016		Ervin		1.0			Created
*	16/02/2016		Ervin		1.1			Added filter conditions that check if employee exist in "WorkplaceSwipeExclusion" and table and Timesheet not yet processed in Payroll
*	21/02/2016		Ervin		1.2			Synchronized the query in getting the Total Swipes and the breakdown by shifts.
*	17/04/2022		Ervin		1.3			Added logic to calculate the total of missing swipes for Day Shift workers
*	12/08/2022		Ervin		1.4			Added filter condition to check the effectivity date of the Admin Bldg. reader
*	22/08/2022		Ervin		1.5			Commented all occurences that check if IsSyncTimesheet = 1
******************************************************************************************************************************************************************************************************/

ALTER FUNCTION tas.fnGetMissingSwipeStatistics
(
	@startDate			DATETIME,
	@endDate			DATETIME,
	@costCenter			VARCHAR(12)
)
RETURNS @rtnTable 
TABLE 
(
	CostCenter				VARCHAR(12),
	TotalSwipe				INT,
	TotalDayShift			INT,
	TotalMorningShift		INT,
	TotalEveningShift		INT,
	TotalNightShift			INT
)
AS
BEGIN

	DECLARE @myTable TABLE 
	(
		CostCenter				VARCHAR(12),
		TotalSwipe				INT,
		TotalDayShift			INT,
		TotalMorningShift		INT,
		TotalEveningShift		INT,
		TotalNightShift			INT
	)

	DECLARE	@totalSwipe					INT,
			@totalDayShift				INT,
			@totalMorningShift			INT,
			@totalEveningShift			INT,
			@totalNightShift			INT

	--Initialize variables
	SELECT	@totalSwipe					= 0,
			@totalDayShift				= 0,
			@totalMorningShift			= 0,
			@totalEveningShift			= 0,
			@totalNightShift			= 0

	--Get Total Swipes
	SELECT @totalSwipe = COUNT(SwipeID)
	FROM
	(
		SELECT DISTINCT 
			SwipeID,
			a.CostCenter,
			RTRIM(c.BusinessUnitName) AS CostCenterName,
			ISNULL(d.Actual_ShiftCode, a.ShiftCode) AS Actual_ShiftCode
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
			INNER JOIN tas.Master_Employee_JDE_View b WITH (NOLOCK) ON a.EmpNo = b.EmpNo
			LEFT JOIN tas.Master_BusinessUnit_JDE c WITH (NOLOCK) ON RTRIM(a.CostCenter) = RTRIM(c.BusinessUnit)
			LEFT JOIN tas.Tran_Timesheet  d WITH (NOLOCK) ON a.EmpNo = d.EmpNo AND a.SwipeDate = d.DT 
			LEFT JOIN tas.Master_ShiftTimes h WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(h.ShiftPatCode) AND RTRIM(ISNULL(d.Actual_ShiftCode, a.ShiftCode)) = RTRIM(h.ShiftCode)			
			LEFT JOIN tas.Tran_TempSwipeData i WITH (NOLOCK) ON d.EmpNo = i.EmpNo AND d.DT BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, i.DTSwipeLastProcessed, 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, i.DTSwipeNewProcess, 12))
			LEFT JOIN tas.SyncWorkplaceSwipeToTimesheetLog j WITH (NOLOCK) ON d.AutoID = j.AutoID AND d.EmpNo = j.EmpNo AND RTRIM(a.CostCenter) = RTRIM(j.CostCenter)
			LEFT JOIN tas.WorkplaceSwipeExclusion k WITH (NOLOCK) ON a.EmpNo = k.EmpNo AND RTRIM(a.CostCenter) = RTRIM(k.CostCenter)
		WHERE 
			(
				(TimeINWP IS NOT NULL AND TimeOutWP IS NULL)
				OR (TimeINWP IS NULL AND TimeOutWP IS NOT NULL)
				OR (TimeINWP IS NULL AND TimeOutWP IS NULL)
				OR (IsCorrected = 1 AND ISNULL(CorrectionType, 0) > 0)
			)
			AND RTRIM(a.CostCenter) IN (SELECT DISTINCT CostCenter FROM tas.WorkplaceReaderSetting WITH (NOLOCK) WHERE IsActive = 1 /*AND IsSyncTimesheet = 1*/)	--Rev. #1.5
			AND 
			(
				CONVERT(VARCHAR, a.SwipeDate, 12) BETWEEN CONVERT(VARCHAR, @startDate, 12) AND CONVERT(VARCHAR, @endDate, 12)
				OR (@startDate IS NULL AND @endDate IS NULL)
			)
			AND ISNULL(a.IsDayShift, 0) = 0
			AND 
			(
				(
					(
						ISNULL(d.CorrectionCode, '') = ''
						OR 
						(
							ISNULL(d.CorrectionCode, '') <> '' 
							AND 
							(d.dtIN IS NULL OR d.dtOUT IS NULL)
							AND
							j.LogID IS NOT NULL
						) 
					)
					AND d.IsLastRow = 1
				)
				OR d.AutoID IS NULL
			)
			AND
			(
				i.DT IS NULL OR i.TempSwipeID IS NULL
			)
			AND	--(Note: Exlude records when Timesheet is not yet processed)
			(
				CASE WHEN 
					(
						d.AutoID IS NOT NULL 
						AND NOT
						(
							--Note: Exclude morning and evening shifts if dtOUT is not yet defined
							(CASE WHEN ISNULL(d.Actual_ShiftCode, '') <> '' THEN d.Actual_ShiftCode ELSE d.ShiftCode END) IN ('M', 'E')	
							AND d.dtOUT IS NULL
							AND d.DT = CONVERT(DATETIME, GETDATE(), 101) 
						)
						AND j.LogID IS NOT NULL
					)
					OR j.LogID IS NULL
					THEN 1 
					ELSE 0 
				END
			) = 1			
			AND 
			(
				ISNULL(a.IsSubmittedForApproval, 0) = 0		--Not yet submitted for approval
				OR (a.IsSubmittedForApproval = 1 AND a.IsClosed = 1 AND RTRIM(a.StatusCode) = '110')	--Rejected by approver		
			)

			--Start of Rev. #1.1
			AND 
			(
				(k.AutoID IS NOT NULL AND a.SwipeDate < k.EffectiveDate)
				OR k.AutoID IS NULL 
			)	
			AND 
			(
				(ISNULL(d.Processed, 0) = 0 AND d.AutoID IS NOT NULL) 
				OR d.AutoID IS NULL
			)
			--End of Rev. #1.1
	) A
	GROUP BY A.CostCenter, A.CostCenterName
	HAVING A.CostCenter = @costCenter
	ORDER BY A.CostCenter

	--Start of Rev. #1.3
	--Get Total Day Shift Swipes 
	SELECT @totalDayShift = COUNT(x.SwipeID)
	FROM
	(	
		SELECT DISTINCT a.CostCenter, a.SwipeID, a.SwipeDate, a.EmpNo, a.TimeInMG, a.TimeOutMG, a.TimeInWP, a.TimeOutWP
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
			INNER JOIN tas.Tran_Timesheet b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.SwipeDate = b.DT 
			CROSS APPLY tas.fnCheckWorkplaceEnabled(a.EmpNo) c
			CROSS APPLY		--Rev. #1.4
			(
				SELECT TOP 1 x.EffectiveDate 
				FROM tas.WorkplaceReaderSetting x WITH (NOLOCK)  
					INNER JOIN tas.Master_AccessReaders y WITH (NOLOCK) ON x.ReaderNo = y.ReaderNo AND y.LocationCode = 8 AND y.SourceID = 2		--(Notes: SourceID = 2 referes to all Admin Bldg. readers)
				WHERE x.IsActive = 1
					AND RTRIM(x.CostCenter) = RTRIM(a.CostCenter)
			) d
		WHERE (c.IsWorkplaceEnabled = 1 AND c.IsAdminBldgEnabled = 1 /*AND c.IsSyncTimesheet = 1*/)		--Rev. #1.5
			AND (a.TimeInWP IS NULL OR a.TimeOutWP IS NULL)
			AND 
			(
				ISNULL(a.IsSubmittedForApproval, 0) = 0		--Not yet submitted for approval
				OR (a.IsSubmittedForApproval = 1 AND a.IsClosed = 1 AND RTRIM(a.StatusCode) = '110')	--Rejected by approver		
			)
			AND a.SwipeDate BETWEEN @startDate AND @endDate
			AND (a.SwipeDate >= d.EffectiveDate AND d.EffectiveDate IS NOT NULL)	--Rev. #1.4
			AND RTRIM(a.CostCenter) = @costCenter
	) x
	--End of Rev. #1.3

	--Get Total Morning Shift Swipes
	SELECT @totalMorningShift = COUNT(SwipeID)
	FROM
	(
		SELECT DISTINCT 
			SwipeID,
			a.CostCenter,
			RTRIM(c.BusinessUnitName) AS CostCenterName,
			ISNULL(d.Actual_ShiftCode, a.ShiftCode) AS Actual_ShiftCode
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
			INNER JOIN tas.Master_Employee_JDE_View b WITH (NOLOCK) ON a.EmpNo = b.EmpNo
			LEFT JOIN tas.Master_BusinessUnit_JDE c WITH (NOLOCK) ON RTRIM(a.CostCenter) = RTRIM(c.BusinessUnit)
			LEFT JOIN tas.Tran_Timesheet  d WITH (NOLOCK) ON a.EmpNo = d.EmpNo AND a.SwipeDate = d.DT 
			LEFT JOIN tas.Master_ShiftTimes h WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(h.ShiftPatCode) AND RTRIM(ISNULL(d.Actual_ShiftCode, a.ShiftCode)) = RTRIM(h.ShiftCode)			
			LEFT JOIN tas.Tran_TempSwipeData i WITH (NOLOCK) ON d.EmpNo = i.EmpNo AND d.DT BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, i.DTSwipeLastProcessed, 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, i.DTSwipeNewProcess, 12))
			LEFT JOIN tas.SyncWorkplaceSwipeToTimesheetLog j WITH (NOLOCK) ON d.AutoID = j.AutoID AND d.EmpNo = j.EmpNo AND RTRIM(a.CostCenter) = RTRIM(j.CostCenter)
			LEFT JOIN tas.WorkplaceSwipeExclusion k WITH (NOLOCK) ON a.EmpNo = k.EmpNo AND RTRIM(a.CostCenter) = RTRIM(k.CostCenter)
		WHERE 
			(
				(TimeINWP IS NOT NULL AND TimeOutWP IS NULL)
				OR (TimeINWP IS NULL AND TimeOutWP IS NOT NULL)
				OR (TimeINWP IS NULL AND TimeOutWP IS NULL)
				OR (IsCorrected = 1 AND ISNULL(CorrectionType, 0) > 0)
			)
			AND RTRIM(a.CostCenter) IN (SELECT DISTINCT CostCenter FROM tas.WorkplaceReaderSetting WITH (NOLOCK) WHERE IsActive = 1 /*AND IsSyncTimesheet = 1*/)		--Rev. #1.5
			AND 
			(
				CONVERT(VARCHAR, a.SwipeDate, 12) BETWEEN CONVERT(VARCHAR, @startDate, 12) AND CONVERT(VARCHAR, @endDate, 12)
				OR (@startDate IS NULL AND @endDate IS NULL)
			)
			AND ISNULL(a.IsDayShift, 0) = 0
			AND 
			(
				(
					(
						ISNULL(d.CorrectionCode, '') = ''
						OR 
						(
							ISNULL(d.CorrectionCode, '') <> '' 
							AND 
							(d.dtIN IS NULL OR d.dtOUT IS NULL)
							AND
							j.LogID IS NOT NULL
						) 
					)
					AND d.IsLastRow = 1
				)
				OR d.AutoID IS NULL
			)
			AND
			(
				i.DT IS NULL OR i.TempSwipeID IS NULL
			)
			AND	--(Note: Exlude records when Timesheet is not yet processed)
			(
				CASE WHEN 
					(
						d.AutoID IS NOT NULL 
						AND NOT
						(
							--Note: Exclude morning and evening shifts if dtOUT is not yet defined
							(CASE WHEN ISNULL(d.Actual_ShiftCode, '') <> '' THEN d.Actual_ShiftCode ELSE d.ShiftCode END) IN ('M', 'E')	
							AND d.dtOUT IS NULL
							AND d.DT = CONVERT(DATETIME, GETDATE(), 101) 
						)
						AND j.LogID IS NOT NULL
					)
					OR j.LogID IS NULL
					THEN 1 
					ELSE 0 
				END
			) = 1			
			AND 
			(
				ISNULL(a.IsSubmittedForApproval, 0) = 0		--Not yet submitted for approval
				OR (a.IsSubmittedForApproval = 1 AND a.IsClosed = 1 AND RTRIM(a.StatusCode) = '110')	--Rejected by approver		
			)

			--Start of Rev. #1.1
			AND 
			(
				(k.AutoID IS NOT NULL AND a.SwipeDate < k.EffectiveDate)
				OR k.AutoID IS NULL 
			)	
			AND 
			(
				(ISNULL(d.Processed, 0) = 0 AND d.AutoID IS NOT NULL) 
				OR d.AutoID IS NULL
			)
			--End of Rev. #1.1
	) A
	GROUP BY A.CostCenter, A.CostCenterName, A.Actual_ShiftCode
	HAVING A.CostCenter = @costCenter
		--AND ISNULL(A.Actual_ShiftCode, '') = ''
		AND RTRIM(ISNULL(A.Actual_ShiftCode, '')) = 'M'
	ORDER BY A.CostCenter

	--Get Total Evening Shift Swipes
	SELECT @totalEveningShift = COUNT(SwipeID)
	FROM
	(
		SELECT DISTINCT 
			SwipeID,
			a.CostCenter,
			RTRIM(c.BusinessUnitName) AS CostCenterName,
			ISNULL(d.Actual_ShiftCode, a.ShiftCode) AS Actual_ShiftCode
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
			INNER JOIN tas.Master_Employee_JDE_View b WITH (NOLOCK) ON a.EmpNo = b.EmpNo
			LEFT JOIN tas.Master_BusinessUnit_JDE c WITH (NOLOCK) ON RTRIM(a.CostCenter) = RTRIM(c.BusinessUnit)
			LEFT JOIN tas.Tran_Timesheet  d WITH (NOLOCK) ON a.EmpNo = d.EmpNo AND a.SwipeDate = d.DT 
			LEFT JOIN tas.Master_ShiftTimes h WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(h.ShiftPatCode) AND RTRIM(ISNULL(d.Actual_ShiftCode, a.ShiftCode)) = RTRIM(h.ShiftCode)			
			LEFT JOIN tas.Tran_TempSwipeData i WITH (NOLOCK) ON d.EmpNo = i.EmpNo AND d.DT BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, i.DTSwipeLastProcessed, 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, i.DTSwipeNewProcess, 12))
			LEFT JOIN tas.SyncWorkplaceSwipeToTimesheetLog j WITH (NOLOCK) ON d.AutoID = j.AutoID AND d.EmpNo = j.EmpNo AND RTRIM(a.CostCenter) = RTRIM(j.CostCenter)
			LEFT JOIN tas.WorkplaceSwipeExclusion k WITH (NOLOCK) ON a.EmpNo = k.EmpNo AND RTRIM(a.CostCenter) = RTRIM(k.CostCenter)
		WHERE 
			(
				(TimeINWP IS NOT NULL AND TimeOutWP IS NULL)
				OR (TimeINWP IS NULL AND TimeOutWP IS NOT NULL)
				OR (TimeINWP IS NULL AND TimeOutWP IS NULL)
				OR (IsCorrected = 1 AND ISNULL(CorrectionType, 0) > 0)
			)
			AND RTRIM(a.CostCenter) IN (SELECT DISTINCT CostCenter FROM tas.WorkplaceReaderSetting WITH (NOLOCK) WHERE IsActive = 1 /*AND IsSyncTimesheet = 1*/)		--Rev. #1.5
			AND 
			(
				CONVERT(VARCHAR, a.SwipeDate, 12) BETWEEN CONVERT(VARCHAR, @startDate, 12) AND CONVERT(VARCHAR, @endDate, 12)
				OR (@startDate IS NULL AND @endDate IS NULL)
			)
			AND ISNULL(a.IsDayShift, 0) = 0
			AND 
			(
				(
					(
						ISNULL(d.CorrectionCode, '') = ''
						OR 
						(
							ISNULL(d.CorrectionCode, '') <> '' 
							AND 
							(d.dtIN IS NULL OR d.dtOUT IS NULL)
							AND
							j.LogID IS NOT NULL
						) 
					)
					AND d.IsLastRow = 1
				)
				OR d.AutoID IS NULL
			)
			AND
			(
				i.DT IS NULL OR i.TempSwipeID IS NULL
			)
			AND	--(Note: Exlude records when Timesheet is not yet processed)
			(
				CASE WHEN 
					(
						d.AutoID IS NOT NULL 
						AND NOT
						(
							--Note: Exclude morning and evening shifts if dtOUT is not yet defined
							(CASE WHEN ISNULL(d.Actual_ShiftCode, '') <> '' THEN d.Actual_ShiftCode ELSE d.ShiftCode END) IN ('M', 'E')	
							AND d.dtOUT IS NULL
							AND d.DT = CONVERT(DATETIME, GETDATE(), 101) 
						)
						AND j.LogID IS NOT NULL
					)
					OR j.LogID IS NULL
					THEN 1 
					ELSE 0 
				END
			) = 1			
			AND 
			(
				ISNULL(a.IsSubmittedForApproval, 0) = 0		--Not yet submitted for approval
				OR (a.IsSubmittedForApproval = 1 AND a.IsClosed = 1 AND RTRIM(a.StatusCode) = '110')	--Rejected by approver		
			)

			--Start of Rev. #1.1
			AND 
			(
				(k.AutoID IS NOT NULL AND a.SwipeDate < k.EffectiveDate)
				OR k.AutoID IS NULL 
			)	
			AND 
			(
				(ISNULL(d.Processed, 0) = 0 AND d.AutoID IS NOT NULL) 
				OR d.AutoID IS NULL
			)
			--End of Rev. #1.1
	) A
	GROUP BY A.CostCenter, A.CostCenterName, A.Actual_ShiftCode
	HAVING A.CostCenter = @costCenter
		AND RTRIM(ISNULL(A.Actual_ShiftCode, '')) = 'E'
	ORDER BY A.CostCenter

	--Get Total Night Shift Swipes
	SELECT @totalNightShift = COUNT(SwipeID)
	FROM
	(
		SELECT DISTINCT 
			SwipeID,
			a.CostCenter,
			RTRIM(c.BusinessUnitName) AS CostCenterName,
			ISNULL(d.Actual_ShiftCode, a.ShiftCode) AS Actual_ShiftCode
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
			INNER JOIN tas.Master_Employee_JDE_View b WITH (NOLOCK) ON a.EmpNo = b.EmpNo
			LEFT JOIN tas.Master_BusinessUnit_JDE c WITH (NOLOCK) ON RTRIM(a.CostCenter) = RTRIM(c.BusinessUnit)
			LEFT JOIN tas.Tran_Timesheet  d WITH (NOLOCK) ON a.EmpNo = d.EmpNo AND a.SwipeDate = d.DT 
			LEFT JOIN tas.Master_ShiftTimes h WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(h.ShiftPatCode) AND RTRIM(ISNULL(d.Actual_ShiftCode, a.ShiftCode)) = RTRIM(h.ShiftCode)			
			LEFT JOIN tas.Tran_TempSwipeData i WITH (NOLOCK) ON d.EmpNo = i.EmpNo AND d.DT BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, i.DTSwipeLastProcessed, 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, i.DTSwipeNewProcess, 12))
			LEFT JOIN tas.SyncWorkplaceSwipeToTimesheetLog j WITH (NOLOCK) ON d.AutoID = j.AutoID AND d.EmpNo = j.EmpNo AND RTRIM(a.CostCenter) = RTRIM(j.CostCenter)
			LEFT JOIN tas.WorkplaceSwipeExclusion k WITH (NOLOCK) ON a.EmpNo = k.EmpNo AND RTRIM(a.CostCenter) = RTRIM(k.CostCenter)
		WHERE 
			(
				(TimeINWP IS NOT NULL AND TimeOutWP IS NULL)
				OR (TimeINWP IS NULL AND TimeOutWP IS NOT NULL)
				OR (TimeINWP IS NULL AND TimeOutWP IS NULL)
				OR (IsCorrected = 1 AND ISNULL(CorrectionType, 0) > 0)
			)
			AND RTRIM(a.CostCenter) IN (SELECT DISTINCT CostCenter FROM tas.WorkplaceReaderSetting WITH (NOLOCK) WHERE IsActive = 1 /*AND IsSyncTimesheet = 1*/)		--Rev. #1.5
			AND 
			(
				CONVERT(VARCHAR, a.SwipeDate, 12) BETWEEN CONVERT(VARCHAR, @startDate, 12) AND CONVERT(VARCHAR, @endDate, 12)
				OR (@startDate IS NULL AND @endDate IS NULL)
			)
			AND ISNULL(a.IsDayShift, 0) = 0
			AND 
			(
				(
					(
						ISNULL(d.CorrectionCode, '') = ''
						OR 
						(
							ISNULL(d.CorrectionCode, '') <> '' 
							AND 
							(d.dtIN IS NULL OR d.dtOUT IS NULL)
							AND
							j.LogID IS NOT NULL
						) 
					)
					AND d.IsLastRow = 1
				)
				OR d.AutoID IS NULL
			)
			AND
			(
				i.DT IS NULL OR i.TempSwipeID IS NULL
			)
			AND	--(Note: Exlude records when Timesheet is not yet processed)
			(
				CASE WHEN 
					(
						d.AutoID IS NOT NULL 
						AND NOT
						(
							--Note: Exclude morning and evening shifts if dtOUT is not yet defined
							(CASE WHEN ISNULL(d.Actual_ShiftCode, '') <> '' THEN d.Actual_ShiftCode ELSE d.ShiftCode END) IN ('M', 'E')	
							AND d.dtOUT IS NULL
							AND d.DT = CONVERT(DATETIME, GETDATE(), 101) 
						)
						AND j.LogID IS NOT NULL
					)
					OR j.LogID IS NULL
					THEN 1 
					ELSE 0 
				END
			) = 1			
			AND 
			(
				ISNULL(a.IsSubmittedForApproval, 0) = 0		--Not yet submitted for approval
				OR (a.IsSubmittedForApproval = 1 AND a.IsClosed = 1 AND RTRIM(a.StatusCode) = '110')	--Rejected by approver		
			)

			--Start of Rev. #1.1
			AND 
			(
				(k.AutoID IS NOT NULL AND a.SwipeDate < k.EffectiveDate)
				OR k.AutoID IS NULL 
			)	
			AND 
			(
				(ISNULL(d.Processed, 0) = 0 AND d.AutoID IS NOT NULL) 
				OR d.AutoID IS NULL
			)
			--End of Rev. #1.1
	) A
	GROUP BY A.CostCenter, A.CostCenterName, A.Actual_ShiftCode
	HAVING A.CostCenter = @costCenter
		AND RTRIM(ISNULL(A.Actual_ShiftCode, '')) = 'N'
	ORDER BY A.CostCenter

	--Populate data to the table
	INSERT INTO @myTable  
	SELECT	@costCenter,
			@totalSwipe,
			@totalDayShift,
			@totalMorningShift,
			@totalEveningShift,
			@totalNightShift
	
	INSERT INTO @rtnTable 
	SELECT * FROM @mytable 

	RETURN 

END


/*	Testing:

PARAMETERS:
	@startDate			DATETIME,
	@endDate			DATETIME,
	@costCenter			VARCHAR(12)

	SELECT * FROM tas.fnGetMissingSwipeStatistics('04/01/2022', '04/17/2022', '7600')
	SELECT * FROM tas.fnGetMissingSwipeStatistics('08/14/2022', '08/22/2022', '4100')

*/
