/**************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetAllEmployeeSwipe
*	Description: This functions fetches the swipe records of all people in GARMCO on a given day
*
*	Date:			Author:		Rev.#:		Comments:
*	17/04/2019		Ervin		1.0			Created
*	29/10/2023		Ervin		1.1			Refactored the code in fetching the main gate swipe
**************************************************************************************************************************************************************/

ALTER FUNCTION tas.fnGetAllEmployeeSwipe
(
	@swipeDate		DATETIME,
	@empNo			INT 
)
RETURNS  @rtnTable TABLE  
(     
	EmpNo			INT,
	SwipeDate		DATETIME,
	SwipeTime		DATETIME,
	SwipeLocation	VARCHAR(100),
	SwipeType		VARCHAR(3),
	ShiftPatCode	VARCHAR(10),
	ShiftCode		VARCHAR(10)
) 
AS
BEGIN

	IF ISNULL(@empNo, 0) = 0
		SET @empNo = NULL

	INSERT INTO @rtnTable 
	SELECT	a.EmpNo,
			@swipeDate,
			a.SwipeTime, 
			a.SwipeLocation,
			a.SwipeType, 
			d.Effective_ShiftPatCode,
			d.Effective_ShiftCode 
	FROM
	(
		--Get main gate swipe records
		SELECT x.EmpNo, 
			x.SwipeDate, 
			x.SwipeDateTime AS SwipeTime, 
			RTRIM(x.LocationName)  + ' - ' + RTRIM(x.ReaderName) AS SwipeLocation,
			x.Direction AS SwipeType,
			x.LocationCode,
			x.ReaderNo,
			'MAINGATE' AS SwipeCode,
			x.LocationName,  x.ReaderName,
			y.EmpName		 
		FROM
		(
			SELECT CASE WHEN ISNUMERIC(a.C_Unique) = 1 
						THEN CASE WHEN LEN(RTRIM(a.C_Unique)) = 5 THEN CAST(a.C_Unique AS INT) ELSE CAST(a.C_Unique AS INT) + 10000000 END 
						ELSE 0 
					END AS EmpNo,	
					RTRIM(a.C_Name) AS EmpName,
					CAST(a.C_date AS DATETIME) AS SwipeDate,
					CONVERT
					(
						TIME, 
						CONVERT(VARCHAR(2), a.C_Time / 10000) + ':' +
						CONVERT(VARCHAR(2), (a.C_Time % 10000) / 100) + ':' +
						CONVERT(VARCHAR(2), a.C_Time % 100)          
					)  AS SwipeTime,
					CAST(a.C_date AS DATETIME) +
						CONVERT
						(
							TIME, 
							CONVERT(VARCHAR(2), a.C_Time / 10000) + ':' +
							CONVERT(VARCHAR(2), (a.C_Time % 10000) / 100) + ':' +
							CONVERT(VARCHAR(2), a.C_Time % 100)          
						)  AS SwipeDateTime,
					b.LocationCode,
					b.LocationName,
					a.L_TID AS ReaderNo,
					b.ReaderName,
					CASE WHEN a.L_Result = 0 THEN 8 ELSE a.L_Result END AS EventCode,
					'A' AS Source,
					CASE WHEN RTRIM(b.Direction) = 'I' THEN 'IN'
						WHEN RTRIM(b.Direction) = 'O' THEN 'OUT'
						WHEN RTRIM(b.Direction) = 'IO' THEN 'IN/OUT'
						ELSE ''
					END AS Direction,
					RTRIM(a.C_Card) AS CardNo,
					a.L_UID AS UserID		
				FROM [UNIS].[dbo].[tEnter] a WITH (NOLOCK)
					INNER JOIN tas.Master_AccessReaders b WITH (NOLOCK) ON a.L_TID = b.ReaderNo 
				WHERE b.SourceID = 1				
		) x
		INNER JOIN tas.Master_Employee_JDE_View y ON x.EmpNo = y.EmpNo
		WHERE x.EventCode = 8

		/*
		SELECT 
			CASE WHEN ISNUMERIC(a.FName) = 1 
			THEN 
				CASE WHEN ((CONVERT(INT, a.FName) >= 10000 OR CONVERT(INT, a.FName) >= 50000) AND CONVERT(INT, a.FName) < 10000000)
				THEN 
					CONVERT(INT, a.FName)
				ELSE 
					CONVERT(INT, a.FName) + 10000000 
				END
			ELSE 0 
			END AS EmpNo,
			CONVERT(DATETIME, CONVERT(VARCHAR, a.TimeDate, 12)) AS SwipeDate,
			CONVERT(DATETIME, CONVERT(VARCHAR, a.TimeDate, 126)) AS SwipeTime,
			RTRIM(b.LocationName)  + ' - ' + RTRIM(b.ReaderName) AS SwipeLocation,
			(
				CASE	WHEN UPPER(RTRIM(b.Direction)) = 'I' THEN 'IN' 
						WHEN UPPER(RTRIM(b.Direction)) = 'O' THEN 'OUT' 
						ELSE '' END
			) AS SwipeType,
			b.LocationCode,
			b.ReaderNo,
			'MAINGATE' AS SwipeCode,
			b.LocationName,
			b.ReaderName,
			a.LName
		FROM tas.Vw_EvnLogCurrent a WITH (NOLOCK)
			INNER JOIN tas.Master_AccessReaders b WITH (NOLOCK) ON a.Loc = b.LocationCode AND a.Dev = b.ReaderNo
		WHERE 
			a.[Event] = 8				--(Note: 8 means successful swipe)
			AND a.Dev NOT IN (8, 9)		--Rev. #1.5 (Note: 8 = GARMCO Main gate ALT-Turnstile; 9 = GARMCO Main gate ALT-Turnstile)                 
		*/

		/*
		UNION

		--Get workplace swipe records
		
		SELECT 
			CASE WHEN ISNUMERIC(a.FName) = 1 
			THEN 
				CASE WHEN ((CONVERT(INT, a.FName) >= 10000 OR CONVERT(INT, a.FName) >= 50000) AND CONVERT(INT, a.FName) < 10000000)
				THEN 
					CONVERT(INT, a.FName)
				ELSE 
					CONVERT(INT, a.FName) + 10000000 
				END
			ELSE 0 
			END AS EmpNo,
			CONVERT(DATETIME, CONVERT(VARCHAR, a.TimeDate, 12)) AS SwipeDate,
			CONVERT(DATETIME, CONVERT(VARCHAR, a.TimeDate, 126)) AS SwipeTime,
			RTRIM(b.LocationName)  + ' - ' + RTRIM(b.ReaderName) AS SwipeLocation,
			(
				CASE	WHEN UPPER(RTRIM(b.Direction)) = 'I' THEN 'IN' 
						WHEN UPPER(RTRIM(b.Direction)) = 'O' THEN 'OUT' 
						ELSE '' END
			) AS SwipeType,
			b.LocationCode,
			b.ReaderNo,
			'WORKPLACE' AS SwipeCode,
			b.LocationName,
			b.ReaderName,
			a.LName
		FROM tas.sy_ExtLog a WITH (NOLOCK)
			INNER JOIN tas.Master_AccessReaders b WITH (NOLOCK) ON a.Loc = b.LocationCode AND a.Dev = b.ReaderNo
		WHERE a.[Event] = 8	--(Note: 8 means successful swipe)
		

		/*************************************************************************************************************
			Rev. #1.3 - Get manual swipe attendance records at the workplace which is already processed in Timesheet
		*************************************************************************************************************/
		UNION

		SELECT	a.EmpNo,
				a.SwipeDate,
				CASE WHEN CorrectionType = 1 THEN TimeInWP
					WHEN CorrectionType = 2 THEN TimeOutWP
					ELSE NULL
					END AS SwipeTime,
				'Workplace Manual Swipe' AS SwipeLocation,
				CASE WHEN CorrectionType = 1 THEN 'IN'
					WHEN CorrectionType = 2 THEN 'OUT'
					ELSE ''
					END AS SwipeType,
				0 AS LocationCode,
				0 AS ReaderNo,
				'WORKPLACE' AS SwipeCode,
				'' AS LocationName,
				'' AS ReaderName,
				EmpName AS LName
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
		WHERE a.IsProcessedByTimesheet = 1
			AND a.CorrectionType IN (1, 2)

		UNION

		SELECT	a.EmpNo,
				a.SwipeDate,
				a.TimeInWP AS SwipeTime,
				'Workplace Manual Swipe' AS SwipeLocation,
				'IN' AS SwipeType,
				0 AS LocationCode,
				0 AS ReaderNo,
				'WORKPLACE' AS SwipeCode,
				'' AS LocationName,
				'' AS ReaderName,
				EmpName AS LName
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
		WHERE a.IsProcessedByTimesheet = 1
			AND a.CorrectionType = 3

		UNION 
	
		SELECT	a.EmpNo,
				a.SwipeDate,
				a.TimeOutWP AS SwipeTime,
				'Workplace Manual Swipe' AS SwipeLocation,
				'OUT' AS SwipeType,
				0 AS LocationCode,
				0 AS ReaderNo,
				'WORKPLACE' AS SwipeCode,
				'' AS LocationName,
				'' AS ReaderName,
				EmpName AS LName
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
		WHERE a.IsProcessedByTimesheet = 1
			AND a.CorrectionType = 3
		*/
	) AS a
	LEFT JOIN tas.Tran_ShiftPatternUpdates d WITH (NOLOCK) ON a.EmpNo = d.EmpNo AND a.SwipeDate = d.DateX
	LEFT JOIN tas.Master_ShiftPatternTitles f WITH (NOLOCK) ON RTRIM(d.Effective_ShiftPatCode) = RTRIM(f.ShiftPatCode) 	
	WHERE a.SwipeDate = @swipeDate
		AND (a.EmpNo = @empNo OR @empNo IS NULL)

	RETURN 

END


/*	Debugging:
	
PARAMETERS:
	@swipeDate		DATETIME,
	@empNo			INT 

	SELECT * FROM tas.fnGetAllEmployeeSwipe('10/29/2023', 0)
	ORDER BY EmpNo, SwipeTime ASC	
	
	--Get the first time-in
	SELECT TOP 1 SwipeTime 
	FROM tas.fnGetAllEmployeeSwipe('04/18/2019', 10003323) a
	WHERE RTRIM(a.SwipeType) = 'IN'
	ORDER BY SwipeTime ASC	

	--Get the status of the last swipe
	SELECT TOP 1 SwipeType
	FROM tas.fnGetAllEmployeeSwipe('04/18/2019', 10003323) 
	ORDER BY SwipeTime DESC

*/
