/*************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fmtDate_MaxTimeOfDay_V2
*	Description: Check whether an employee is on-leave
*
*	Date			Author		Rev. #		Comments:
*	31/03/2016		Ervin		1.0			Created
*************************************************************************************************************************************************/

ALTER FUNCTION tas.fnGetEmployeeLeaveStatus_V2
(
	@empNo INT,
	@processDate DATETIME
)
RETURNS varchar(100)
AS
BEGIN
		
	DECLARE	@attendanceStatus	VARCHAR(300),
			@leaveStatus		VARCHAR(100),
			@code				VARCHAR(3),
			@sTime				VARCHAR(6),
			@eTime				VARCHAR(6),
			@day				VARCHAR(5),
			@currentDate		DATETIME,
			@toDate				DATETIME,
			@today				VARCHAR(5),
			@TRNo				INT,
			@TRStatusCode		VARCHAR(10)
			
	--Validate parameters
	IF @processDate IS NULL OR @processDate = CONVERT(DATETIME, '') 
		SET @processDate = GETDATE()	

	--Initialize variables
	SELECT	@attendanceStatus	= '',
			@leaveStatus		= '',
			@code				= '',				
			@TRNo				= 0,
			@TRStatusCode		= ''

	--Get the minimum time of the process date
	SELECT @currentDate = tas.fmtDate_MinTimeOfDay_V2(@processDate)

	--Get the day of week
	SELECT @today = CONVERT(VARCHAR(3), DATENAME(dw, @currentDate))
	
	--Get the Status and Travel Request No.
	SELECT	@leaveStatus = RTRIM(ISNULL([Description], '')), 
			@code = UPPER(LTRIM(RTRIM(ISNULL(LeaveCode, '')))), 
			--@toDate = ToDate, 
			@toDate = c.LeaveResumeDate, 
			@TRNo = ISNULL(b.TrNo, 0), 
			@TRStatusCode = RTRIM(ISNULL(b.TRStatusCode, ''))
	FROM tas.Master_CurrentLeaves a
		LEFT JOIN tas.syn_TravelRequest b ON a.EmpNo = b.TREmpNo AND a.FromDate = b.TRIncStartDate AND a.ToDate = b.TRIncEndDate
		INNER JOIN tas.Vw_LeaveRequisition c ON a.EmpNo = c.EmpNo AND a.FromDate = c.LeaveStartDate AND a.ToDate = c.LeaveEndDate AND RTRIM(c.ApprovalFlag) NOT IN ('C', 'R', 'D')
	WHERE CONVERT(DATETIME, CONVERT(VARCHAR, @currentDate, 12)) BETWEEN FromDate AND ToDate 
		AND a.EmpNo = @empNo
	
	IF @code = 'AL' 
		SET @attendanceStatus = 'On ' + RTRIM(@leaveStatus) + '. Coming back on '+ CONVERT(VARCHAR, @toDate, 103) --CONVERT(VARCHAR, DATEADD(DAY, 1, @toDate), 103)

	ELSE IF @code = 'BT' AND @TRNo > 0 AND @TRStatusCode <> '101'
		SET @attendanceStatus = 'On ' + rtrim(@leaveStatus) + '. Coming back on '+ CONVERT(VARCHAR, DATEADD(DAY, 1, @toDate), 103)

	ELSE 
	BEGIN

		IF ISNULL(@leaveStatus, '') = ''
		BEGIN
			
			--Check if employee is on Day in Lieu
			DECLARE @DayInLieuCount INT
			SET @DayInLieuCount = 
			(
				SELECT COUNT(*)
				FROM tas.Tran_Absence a		
				WHERE LTRIM(RTRIM(a.AbsenceReasonCode)) = 'DD'
					AND CONVERT(DATETIME, CONVERT(VARCHAR, @currentDate, 12)) BETWEEN a.EffectiveDate AND a.EndingDate
					AND a.EmpNo = @empNo
					AND (a.[DayOfWeek] = @today OR a.[DayOfWeek] IS NULL)
			)

			IF @DayInLieuCount > 0
				SET @leaveStatus = 'Day in Lieu'
			
			ELSE
			BEGIN			

				SELECT DISTINCT
					@toDate = a.endingdate,
					@sTime = a.starttime, 
					@eTime = a.endtime, 
					@day = a.[DayOfWeek], 
					@leaveStatus = b.[description] 
				FROM tas.Tran_Absence a
					INNER JOIN tas.Master_CurrentLeaves b on rtrim(a.absencereasoncode) = rtrim(b.code)
					INNER JOIN tas.syn_TravelRequest c ON a.EmpNo = c.TREmpNo AND a.EffectiveDate = c.TRIncStartDate AND a.EndingDate = c.TRIncEndDate
				WHERE CONVERT(DATETIME, CONVERT(VARCHAR, @currentDate, 12)) BETWEEN a.EffectiveDate AND a.EndingDate	
					AND a.EmpNo = @empNo
					AND	(a.[DayOfWeek] = @today OR a.[DayOfWeek] IS NULL)
					AND RTRIM(c.TRStatusCode) <> '101'

				SET @leaveStatus = ISNULL(@leaveStatus, '')
				SET @day = ISNULL(@day, '')
				SET @toDate = CONVERT(DATETIME, CONVERT(VARCHAR, DATEADD(DAY, 1, @toDate), 101))
						
				IF ISNULL(@day, '') = ''
					SET @leaveStatus =  'On '+ RTRIM(@leaveStatus) + '. Coming back on ' + CONVERT(VARCHAR, @toDate, 103)
				ELSE IF @day = @today
					SET @leaveStatus =  'On '+ RTRIM(@leaveStatus)+' starting '+ SUBSTRING(@sTime,1, 2) + ':' + SUBSTRING(@sTime, 3, 2) + ' till ' + SUBSTRING (@eTime, 1, 2) + ':' + SUBSTRING(@eTime, 3, 2)
				ELSE SET @leaveStatus = ''
			END								
					
			SET @attendanceStatus = RTRIM(@leaveStatus)
		END
	END	

	RETURN @attendanceStatus
END

/*	Debugging:

	SELECT tas.fnGetEmployeeLeaveStatus_V2(10003512, '04/09/2014')

*/
