/**********************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fmtMIN_HHmm
*	Description: Converts minute to HH:mm format
*
*	Date:			Author:		Rev. #:		Comments:
*	12/12/2011		Zaharan		1.0			Created
*	15/01/2017		Ervin		1.1			Refactored the code
************************************************************************************************************************************************/

ALTER FUNCTION tas.fmtMIN_HHmm
(
    @n INT 
)
RETURNS VARCHAR(4)
AS
BEGIN
      
	DECLARE	@HH			VARCHAR(2),
			@nn			VARCHAR(2),
			@returnVal	VARCHAR(4)

	--Initialize variables
	SELECT	@HH			= '',
			@nn			= '',
			@returnVal	= ''

	IF @n > 0
	BEGIN
    
		SET @HH = @n/60
		SET @nn = @n - (@HH * 60)

		SELECT @returnVal = tas.lpad(@HH, 2, '0') + tas.lpad(@nn, 2, '0')
	END 
		
	--Return the result
	RETURN RTRIM(@returnVal)

END

