USE [JDE_PRODUCTION]
GO
/****** Object:  StoredProcedure [secuser].[pr_GetPRHeader]    Script Date: 18/01/2022 15:52:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************************************************************************

Stored Procedure Name	:	secuser.pr_GetPRHeader
Description				:	This stored procedure retrieves the header details for the requested PR.

							This SP is part of the GARMCO Application Portal Project.

Created By				:	Shoukhat Ali Khan
Date Created			:	17 June 2019

Parameters	
	@prDocNo			:	The PR No.	

Revision History:
	1.0					Shoukhat Ali Khan					17-Jun-2019 12:00 PM
	Created

	1.1					Ervin Brosas						28-Nov-2021 10:29 AM
	Changed the filter condition from PDDOCO to "PHDOCO" and PDDCTO to "PHDCTO"

	1.2					Ervin brosas						20-Dec-2021 12:42 PM
	Added "PREndUserEmpNo", "PREndUserEmpName", "PRPriority" fields
************************************************************************************************************/
ALTER PROCEDURE [secuser].[pr_GetPRHeader]
	@prDocNo DECIMAL
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @err nvarchar(MAX)
			
	SELECT	@err = ''

	-- CHECK IF THE PR EXISTS IN THE DATABASE
	IF NOT EXISTS(SELECT PDDOCO FROM secuser.F4311 WHERE PDDOCO = @prDocNo AND PDDCTO = 'OR')
	BEGIN
		IF(@err <> '') SET @err = @err + '|'
		SET @err = @err + 'PR does not exist.'
	END
	ELSE
	BEGIN
		

		--CHECK IF ALL THE ITEMS ARE CLOSED OR CANCELLED
		IF NOT EXISTS(SELECT PDDOCO FROM secuser.F4311 WHERE PDDOCO = @prDocNo AND PDDCTO = 'OR' AND PDNXTR <> 999)
		BEGIN
			IF(@err <> '') SET @err = @err + '|'
			SET @err = @err + 'PR is either closed or cancelled'
		END

	    --CHECK IF THE PR IS READY FOR APPROVAL
		IF EXISTS(SELECT PDDOCO FROM secuser.F4311 WHERE PDDOCO = @prDocNo AND PDDCTO = 'OR' AND PDNXTR < 120)
		BEGIN
			IF(@err <> '') SET @err = @err + '|'
			SET @err = @err + 'PR is still not ready for approval'
		END

		--CHECK IF THE PR IS ALREADY APPROVED
		IF EXISTS(SELECT PDDOCO FROM secuser.F4311 WHERE PDDOCO = @prDocNo AND PDDCTO = 'OR' AND PDNXTR >= 220 AND PDNXTR <> 999)		
		BEGIN
			IF(@err <> '') SET @err = @err + '|'
			SET @err = @err + 'PR is already approved'
		END

		--CHECK IF THE PR IS ALREADY SUBMITTED FOR APPROVAL
		IF EXISTS(SELECT PDDOCO FROM secuser.F4311 WHERE PDDOCO = @prDocNo AND PDDCTO = 'OR' AND PDNXTR = 122)		
		BEGIN
			IF(@err <> '') SET @err = @err + '|'
			SET @err = @err + 'PR is already submitted for approval'
		END

		--MAKE SURE ONLY STOCK ITEMS ARE INCLUDED
		IF EXISTS (SELECT PDDOCO FROM secuser.F4311 WHERE PDDOCO = @prDocNo AND PDDCTO = 'OR' AND (RTRIM(PDLNTY)) = 'N')
		BEGIN
		    IF(@err <> '') SET @err = @err + '|'
			SET @err = @err + 'PR cannot have non-stock items'
		END

		--CHECK IF THE COMPANY CODE IS SAME IN THE HEADER AND DETAIL
		IF EXISTS(SELECT PDDOCO FROM secuser.F4311 WHERE PDDOCO = @prDocNo AND PDDCTO = 'OR' AND  
			PDKCOO <> (SELECT TOP(1) PHKCOO FROM secuser.F4301 WHERE PHDOCO = @prDocNo AND PHDCTO = 'OR'))	--Rev. #1.1
		BEGIN
			IF(@err <> '') SET @err = @err + '|'
			SET @err = @err + 'One or more items are from a different company than the order header'
		END
	END

	SELECT a.PHDOCO AS PRReqNo, ISNULL(e.PRInstanceID, '') AS PRInstanceID, dbo.ConvertFromJulian(a.PHDRQJ) AS PRDateRequested, 
		b.CostCenter AS PRCostCenter, b.CostCenterName AS PRCostCenterName,
		c.ABAN8 AS PRSupplierNo, c.ABALPH AS PRSupplierName, @err AS PRErrors,
		ISNULL(e.PREmpNo, 0) AS PROrigEmpNo, ISNULL(e.PREmpName, '') AS PROrigEmpName,
		a.PHCRCD AS PRCurrency, d.CurrencyDecimalPlaces AS PRCurrencyDecimalPlaces, a.PHCRR AS PRExchangeRate, ISNULL(a.PHHOLD, '') AS PRHoldCode,
		(SELECT COUNT(1) FROM secuser.F4311 WHERE PDDOCO = @prDocNo AND PDDCTO = 'OR' AND PDNXTR NOT IN ('999', '360', '980')) AS PRItemCount,
		(SELECT SUM((ISNULL(PDAEXP, 0) + ISNULL(PDACHG, 0))) / 1000 FROM secuser.F4311 WHERE PDDOCO = @prDocNo AND PDDCTO = 'OR' AND PDNXTR NOT IN ('999', '360', '980')) AS PRTotalCost,
		(
			SELECT SUM((ISNULL(a.PDFEA, 0) / POWER(10, CONVERT(int, ISNULL(c.CurrencyDecimalPlaces, '0')))) + (ISNULL(a.PDFCHG, 0) / POWER(10, CONVERT(int, ISNULL(c.CurrencyDecimalPlaces, '0')))))
			FROM secuser.F4311 AS a
				LEFT JOIN secuser.Currency AS c ON a.PDCRCD = c.CurrencyCode
			WHERE a.PDDOCO = @prDocNo AND a.PDDCTO = 'OR' AND a.PDNXTR NOT IN ('999', '360', '980')
		) AS PRForiegnTotalCost, ISNULL(f.UDCDesc1, '') AS PRStatus, ISNULL(f.UDCSpecialHandlingCode, '') AS PRStatusCategory,
		CASE WHEN ISNULL(h.ActCode, '') IN ('APPSTRHEAD', 'APPSUPMNGR') THEN 1 ELSE 0 END AS PRAllowQtyChange,
		ISNULL(g.CurrentDistMemEmpNo, 0) AS PRCurrentlyAssignedToEmpNo,
		ISNULL(g.CurrentDistMemEmpName, '') AS PRCurrentlyAssignedToEmpName,
		ISNULL(g.CurrentDistMemActionType, 0) AS  PRActionType, ISNULL(g.CurrentDistMemRoutineSeq, 0) AS PRRoutineSequence,
		ISNULL(e.PRBuyerEmpNo, 0) AS PRBuyerEmpNo, ISNULL(e.PRBuyerEmpName, '') AS PRBuyerEmpName, ISNULL(e.PRFeedbackRequestedBy, 0) AS PRFeedbackRequestedBy,
		e.PREndUserEmpNo,	
		e.PRPriority,		--Rev. #1.2
		LTRIM(RTRIM(i.YAALPH)) AS PREndUserEmpName,
		LTRIM(RTRIM(i.YAMCU)) AS PREndUserCostCenter
	FROM secuser.F4301 AS a 
		INNER JOIN secuser.CostCenter AS b ON LTRIM(RTRIM(a.PHMCU)) = b.CostCenter
		LEFT JOIN secuser.F0101 AS c ON a.PHAN8 = c.ABAN8
		LEFT JOIN secuser.Currency AS d ON a.PHCRCD = d.CurrencyCode
		LEFT JOIN secuser.PurchaseRequisitionWF AS e ON a.PHDOCO = e.PRDocNo AND e.PROrderType = 'OR'
		LEFT JOIN secuser.UserDefinedCode AS f ON e.PRReqStatusID = f.UDCID AND f.UDCUDCGID = 9
		LEFT JOIN secuser.CurrentDistributionMember AS g ON a.PHDOCO =  g.CurrentDistMemReqTypeNo AND g.CurrentDistMemReqType = 5 AND g.CurrentDistMemCurrent = 1
		OUTER APPLY 
		(
			SELECT b.ActCode 
			FROM secuser.ProcessWF AS a 
				INNER JOIN secuser.TransActivity AS b ON b.ActProcessID = a.ProcessID 
			WHERE a.ProcessReqTypeNo = @prDocNo 
				AND a.ProcessReqType = 5  
				AND b.ActCurrent = 1
		) AS h
		LEFT JOIN secuser.F060116 i WITH (NOLOCK) ON e.PREndUserEmpNo = CAST(i.YAAN8 AS INT)
	WHERE a.PHDOCO = @prDocNo AND a.PHDCTO = 'OR'

END
