USE [ServiceMgmt]
GO
/****** Object:  StoredProcedure [serviceuser].[Pr_MIRRequest_CRUD]    Script Date: 30/09/2017 13:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************************************************
*	Revision History
*
*	Name: serviceuser.Pr_MIRRequest_CRUD
*	Description: Performs insert, update, and delete in "MIRRequest" table
*
*	Date:			Author:		Rev.#:		Comments:
*	21/10/2015		Ervin		1.0			Created
**************************************************************************************************************************************/


ALTER PROCEDURE [serviceuser].[Pr_MIRRequest_CRUD]
(
	@ActionType int,	
	@MIRRequestNo int,
	@ServiceRequestNo int,
    @DateReported datetime,
    @TimeReported datetime,
    @TimeEventOccured datetime,
    @EmpNo int,
	@IsDraft bit,
	@SubmittedDate datetime,
    @ContractorName varchar(100),
    @ContractorOccupation varchar(100),
    @ContractorSupervisorEmpNo int,
    @ExactLocation varchar(300),
    @CostCenter varchar(12),
    @OtherDepartment varchar(100),
    @AccidentDescription varchar(3000),
    @InjuryDescription varchar(3000),
    @IsMinor bit,
    @IsLTI bit,
    @IsFatality bit,
    @IsFirstAidCase bit,
    @IsIllHealth bit,
    @IsRestrictedWorkArea bit,
    @IsNonIndustrial bit,
    @IsOtherInjuryClass bit,
    @OtherInjuryClassDesc varchar(300),
    @IsTraumaticAmputation bit,
    @IsForeignObject bit,
    @IsOtherForeignObject bit,
    @OtherForeignObjectDesc varchar(300),
    @IsHeadScalp bit,
    @IsBothLegs bit,
    @IsRightWrist bit,
    @IsAsphyxia bit,
    @IsNeck bit,
    @IsRightLeg bit,
    @IsLeftWrist bit,
    @IsBurn bit,
    @IsBothEyes bit,
    @IsLeftLeg bit,
    @IsForehead bit,
    @IsContusion bit,
    @IsRightEye bit,
    @IsBothKnees bit,
    @IsBothElbows bit,
    @IsWound bit,
    @IsLeftEye bit,
    @IsRightKnee bit,
    @IsRightElbow bit,
    @IsFracture bit,
    @IsChest bit,
    @IsLeftKnee bit,
	@IsLeftElbow bit,
    @IsSkinIrritation bit,
    @IsMouthNose bit,
    @IsBothAnkles bit,
    @IsFinger bit,
    @IsDislocation bit,
    @IsBothArms bit,
    @IsRightAnkle bit,
    @IsAbdomen bit,
    @IsElectricShock bit,
    @IsRightArm bit,
    @IsLeftAnkle bit,
    @IsGroin bit,
    @IsHeatExhaustion bit,
    @IsLeftArm bit,
    @IsBothHips bit,
    @IsBothFeet bit,
    @IsHernia bit,
    @IsBack bit,
    @IsRightHip bit,
    @IsRightFoot bit,
    @IsInflammation bit,
    @IsUpperBack bit,
    @IsLeftHip bit,
    @IsLeftFoot bit,
    @IsSprain bit,
    @IsMidBack bit,
    @IsBothHands bit,
    @IsToe bit,
    @IsMultipleInjuries bit,
    @IsLowerBack bit,
    @IsRightHand bit,
    @IsShoulders bit,
    @IsPuncture bit,
    @IsLeftEar bit,
    @IsLeftHand bit,
    @IsOtherNatureInjury bit,
    @IsSoftTissueInjury bit,
    @IsRightEar bit,
    @IsBothWrists bit,
    @OtherNatureDesc varchar(200),
	@TotalDaysLost INT,
	@UserID varchar(50),
	@UserEmpNo int,
	@UserEmpName varchar(50),
	@UserExtNo varchar(10)
)
AS	
	
	DECLARE @newID				int,
			@rowsAffected		int,
			@statusID			int,
			@statusCode			varchar(10),
			@statusDesc			varchar(50),
			@statusHandlingCode	varchar(50)
	
	--Initialize variables
	SELECT	@newID = 0,
			@rowsAffected = 0

	IF (@ActionType = 1) --Insert new record
	BEGIN
		
		IF @IsDraft = 1
		BEGIN

			--Get the "Draft" status
			SELECT	@statusID = UDCID,
					@statusCode = RTRIM(UDCCode),
					@statusDesc = RTRIM(UDCDesc1),
					@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
			FROM serviceuser.UserDefinedCode
			WHERE RTRIM(UDCCode) = '01'
		END

		ELSE
		BEGIN

			--Get the "Request Sent" status
			SELECT	@statusID = UDCID,
					@statusCode = RTRIM(UDCCode),
					@statusDesc = RTRIM(UDCDesc1),
					@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
			FROM serviceuser.UserDefinedCode
			WHERE RTRIM(UDCCode) = '02'
		END

		INSERT INTO [serviceuser].[MIRRequest]
		(
			[ServiceRequestNo]
			,[DateReported]
			,[TimeReported]
			,[TimeEventOccured]
			,[EmpNo]
			,[IsDraft]
			,[SubmittedDate]
			,[ContractorName]
			,[ContractorOccupation]
			,[ContractorSupervisorEmpNo]
			,[ExactLocation]
			,[CostCenter]
			,[OtherDepartment]
			,[AccidentDescription]
			,[InjuryDescription]
			,[IsMinor]
			,[IsLTI]
			,[IsFatality]
			,[IsFirstAidCase]
			,[IsIllHealth]
			,[IsRestrictedWorkArea]
			,[IsNonIndustrial]
			,[IsOtherInjuryClass]
			,[OtherInjuryClassDesc]
			,[IsTraumaticAmputation]
			,[IsForeignObject]
			,[IsOtherForeignObject]
			,[OtherForeignObjectDesc]
			,[IsHeadScalp]
			,[IsBothLegs]
			,[IsRightWrist]
			,[IsAsphyxia]
			,[IsNeck]
			,[IsRightLeg]
			,[IsLeftWrist]
			,[IsBurn]
			,[IsBothEyes]
			,[IsLeftLeg]
			,[IsForehead]
			,[IsContusion]
			,[IsRightEye]
			,[IsBothKnees]
			,[IsBothElbows]
			,[IsWound]
			,[IsLeftEye]
			,[IsRightKnee]
			,[IsRightElbow]
			,[IsFracture]
			,[IsChest]
			,[IsLeftKnee]
			,[IsLeftElbow]
			,[IsSkinIrritation]
			,[IsMouthNose]
			,[IsBothAnkles]
			,[IsFinger]
			,[IsDislocation]
			,[IsBothArms]
			,[IsRightAnkle]
			,[IsAbdomen]
			,[IsElectricShock]
			,[IsRightArm]
			,[IsLeftAnkle]
			,[IsGroin]
			,[IsHeatExhaustion]
			,[IsLeftArm]
			,[IsBothHips]
			,[IsBothFeet]
			,[IsHernia]
			,[IsBack]
			,[IsRightHip]
			,[IsRightFoot]
			,[IsInflammation]
			,[IsUpperBack]
			,[IsLeftHip]
			,[IsLeftFoot]
			,[IsSprain]
			,[IsMidBack]
			,[IsBothHands]
			,[IsToe]
			,[IsMultipleInjuries]
			,[IsLowerBack]
			,[IsRightHand]
			,[IsShoulders]
			,[IsPuncture]
			,[IsLeftEar]
			,[IsLeftHand]
			,[IsOtherNatureInjury]
			,[IsSoftTissueInjury]
			,[IsRightEar]
			,[IsBothWrists]
			,[OtherNatureDesc]
			,[StatusID]
			,[StatusCode]
			,[StatusDesc]
			,[StatusHandlingCode]
			,[CreatedDate]
			,[CreatedByEmpNo]
			,[CreatedByUser]
			,[CreatedByEmpName]		
			,[CreatedByPhoneExt]	
			,[TotalDaysLost]
		)
		VALUES
		(
			@ServiceRequestNo,
			@DateReported, 
			@TimeReported, 
			@TimeEventOccured, 
			@EmpNo, 
			@IsDraft,
			@SubmittedDate,
			@ContractorName, 
			@ContractorOccupation, 
			@ContractorSupervisorEmpNo, 
			@ExactLocation, 
			@CostCenter, 
			@OtherDepartment, 
			@AccidentDescription, 
			@InjuryDescription, 
			@IsMinor,
			@IsLTI,
			@IsFatality,
			@IsFirstAidCase,
			@IsIllHealth,
			@IsRestrictedWorkArea,
			@IsNonIndustrial,
			@IsOtherInjuryClass,
			@OtherInjuryClassDesc,
			@IsTraumaticAmputation,
			@IsForeignObject,
			@IsOtherForeignObject,
			@OtherForeignObjectDesc,
			@IsHeadScalp,
			@IsBothLegs,
			@IsRightWrist,
			@IsAsphyxia,
			@IsNeck,
			@IsRightLeg,
			@IsLeftWrist,
			@IsBurn,
			@IsBothEyes,
			@IsLeftLeg,
			@IsForehead,
			@IsContusion,
			@IsRightEye,
			@IsBothKnees,
			@IsBothElbows,
			@IsWound,
			@IsLeftEye,
			@IsRightKnee,
			@IsRightElbow,
			@IsFracture,
			@IsChest,
			@IsLeftKnee,
			@IsLeftElbow,
			@IsSkinIrritation,
			@IsMouthNose,
			@IsBothAnkles,
			@IsFinger,
			@IsDislocation,
			@IsBothArms,
			@IsRightAnkle,
			@IsAbdomen,
			@IsElectricShock,
			@IsRightArm,
			@IsLeftAnkle,
			@IsGroin,
			@IsHeatExhaustion,
			@IsLeftArm,
			@IsBothHips,
			@IsBothFeet,
			@IsHernia,
			@IsBack,
			@IsRightHip,
			@IsRightFoot,
			@IsInflammation,
			@IsUpperBack,
			@IsLeftHip,
			@IsLeftFoot,
			@IsSprain,
			@IsMidBack,
			@IsBothHands,
			@IsToe,
			@IsMultipleInjuries,
			@IsLowerBack,
			@IsRightHand,
			@IsShoulders,
			@IsPuncture,
			@IsLeftEar,
			@IsLeftHand,
			@IsOtherNatureInjury,
			@IsSoftTissueInjury,
			@IsRightEar,
			@IsBothWrists,
			@OtherNatureDesc, 
			@statusID,
			@statusCode,
			@statusDesc,
			@statusHandlingCode,
			GETDATE(),
			@UserEmpNo, 
			@UserID, 
			@UserEmpName,
			@UserExtNo,
			@TotalDaysLost
		) 

		--Get the new ID
		SELECT @newID = SCOPE_IDENTITY()
	END

	ELSE IF (@ActionType = 2)  --Update existing record
	BEGIN

		IF @IsDraft = 1
		BEGIN

			--Get the "Draft" status
			SELECT	@statusID = UDCID,
					@statusCode = RTRIM(UDCCode),
					@statusDesc = RTRIM(UDCDesc1),
					@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
			FROM serviceuser.UserDefinedCode
			WHERE RTRIM(UDCCode) = '01'
		END

		ELSE
		BEGIN

			--Get the "Request Sent" status
			SELECT	@statusID = UDCID,
					@statusCode = RTRIM(UDCCode),
					@statusDesc = RTRIM(UDCDesc1),
					@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
			FROM serviceuser.UserDefinedCode
			WHERE RTRIM(UDCCode) = '02'
		END

		UPDATE serviceuser.MIRRequest
		SET [TimeReported] = @TimeReported, 
			[TimeEventOccured] = @TimeEventOccured, 
			[EmpNo] = @EmpNo, 
			[IsDraft] = @IsDraft,
			[SubmittedDate] = @SubmittedDate,
			[ContractorName] = @ContractorName, 
			[ContractorOccupation] = @ContractorOccupation, 
			[ContractorSupervisorEmpNo] = @ContractorSupervisorEmpNo, 
			[ExactLocation] = @ExactLocation, 
			[CostCenter] = @CostCenter, 
			[OtherDepartment] = @OtherDepartment, 
			[AccidentDescription] = @AccidentDescription, 
			[InjuryDescription] = @InjuryDescription, 
			[IsMinor] = @IsMinor,
			[IsLTI] = @IsLTI,
			[IsFatality] = @IsFatality,
			[IsFirstAidCase] = @IsFirstAidCase,
			[IsIllHealth] = @IsIllHealth,
			[IsRestrictedWorkArea] = @IsRestrictedWorkArea,
			[IsNonIndustrial] = @IsNonIndustrial,
			[IsOtherInjuryClass] = @IsOtherInjuryClass,
			[OtherInjuryClassDesc] = @OtherInjuryClassDesc, 
			[IsTraumaticAmputation] = @IsTraumaticAmputation,
			[IsForeignObject] = @IsForeignObject,
			[IsOtherForeignObject] = @IsOtherForeignObject,
			[OtherForeignObjectDesc] = @OtherForeignObjectDesc, 
			[IsHeadScalp] = @IsHeadScalp,
			[IsBothLegs] = @IsBothLegs,
			[IsRightWrist] = @IsRightWrist,
			[IsAsphyxia] = @IsAsphyxia,
			[IsNeck] = @IsNeck,
			[IsRightLeg] = @IsRightLeg,
			[IsLeftWrist] = @IsLeftWrist,
			[IsBurn] = @IsBurn,
			[IsBothEyes] = @IsBothEyes,
			[IsLeftLeg] = @IsLeftLeg,
			[IsForehead] = @IsForehead,
			[IsContusion] = @IsContusion,
			[IsRightEye] = @IsRightEye,
			[IsBothKnees] = @IsBothKnees,
			[IsBothElbows] = @IsBothElbows,
			[IsWound] = @IsWound,
			[IsLeftEye] = @IsLeftEye,
			[IsRightKnee] = @IsRightKnee,
			[IsRightElbow] = @IsRightElbow,
			[IsFracture] = @IsFracture,
			[IsChest] = @IsChest,
			[IsLeftKnee] = @IsLeftKnee,
			[IsLeftElbow] = @IsLeftElbow,
			[IsSkinIrritation] = @IsSkinIrritation,
			[IsMouthNose] = @IsMouthNose,
			[IsBothAnkles] = @IsBothAnkles,
			[IsFinger] = @IsFinger,
			[IsDislocation] = @IsDislocation,
			[IsBothArms] = @IsBothArms,
			[IsRightAnkle] = @IsRightAnkle,
			[IsAbdomen] = @IsAbdomen,
			[IsElectricShock] = @IsElectricShock,
			[IsRightArm] = @IsRightArm,
			[IsLeftAnkle] = @IsLeftAnkle,
			[IsGroin] = @IsGroin,
			[IsHeatExhaustion] = @IsHeatExhaustion,
			[IsLeftArm] = @IsLeftArm,
			[IsBothHips] = @IsBothHips,
			[IsBothFeet] = @IsBothFeet,
			[IsHernia] = @IsHernia,
			[IsBack] = @IsBack,
			[IsRightHip] = @IsRightHip,
			[IsRightFoot] = @IsRightFoot,
			[IsInflammation] = @IsInflammation,
			[IsUpperBack] = @IsUpperBack,
			[IsLeftHip] = @IsLeftHip,
			[IsLeftFoot] = @IsLeftFoot,
			[IsSprain] = @IsSprain,
			[IsMidBack] = @IsMidBack,
			[IsBothHands] = @IsBothHands,
			[IsToe] = @IsToe,
			[IsMultipleInjuries] = @IsMultipleInjuries,
			[IsLowerBack] = @IsLowerBack,
			[IsRightHand] = @IsRightHand,
			[IsShoulders] = @IsShoulders,
			[IsPuncture] = @IsPuncture,
			[IsLeftEar] = @IsLeftEar,
			[IsLeftHand] = @IsLeftHand,
			[IsOtherNatureInjury] = @IsOtherNatureInjury,
			[IsSoftTissueInjury] = @IsSoftTissueInjury,
			[IsRightEar] = @IsRightEar,
			[IsBothWrists] = @IsBothWrists,
			[OtherNatureDesc] = @OtherNatureDesc,
			[StatusID] = @statusID,
			[StatusCode] = @statusCode,
			[StatusDesc] = @statusDesc,
			[StatusHandlingCode] = @statusHandlingCode,
			[LastUpdateTime] = GETDATE(),
			[LastUpdateEmpNo] = @UserEmpNo,
			[LastUpdateUser] = @UserID, 
			[LastUpdateEmpName] = @UserEmpName,
			[TotalDaysLost] = @TotalDaysLost
		WHERE MIRRequestNo = @MIRRequestNo

		SELECT @rowsAffected = @@rowcount 
	END

	ELSE IF (@ActionType = 3)  --Delete existing record 
	BEGIN

		DELETE FROM serviceuser.MIRRequest
		WHERE MIRRequestNo = @MIRRequestNo

		SELECT @rowsAffected = @@rowcount
	END

	ELSE IF (@ActionType = 4)  --Cancel existing record 
	BEGIN

		--Get the "Cancelled By User" status
		SELECT	@statusID = UDCID,
				@statusCode = RTRIM(UDCCode),
				@statusDesc = RTRIM(UDCDesc1),
				@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
		FROM serviceuser.UserDefinedCode
		WHERE RTRIM(UDCCode) = '101'

		UPDATE serviceuser.MIRRequest
		SET	[StatusID] = @statusID,
			[StatusCode] = @statusCode,
			[StatusDesc] = @statusDesc,
			[StatusHandlingCode] = @statusHandlingCode,
			[LastUpdateTime] = GETDATE(),
			[LastUpdateEmpNo] = @UserEmpNo,
			[LastUpdateUser] = @UserID, 
			[LastUpdateEmpName] = @UserEmpName
		WHERE MIRRequestNo = @MIRRequestNo

		SELECT @rowsAffected = @@rowcount
	END

	--Return the variables as resultset
	SELECT	@newID as NewIdentityID,
			@rowsAffected as RowsAffected
