USE [ServiceMgmt]
GO
/****** Object:  StoredProcedure [serviceuser].[Pr_AutoApproveGatePass]    Script Date: 10/07/2023 11:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_AutoApproveGatePass
*	Description: This stored procedure populates the data in all related tables for the auto approval of waste or scrap gate pass
*
*	Date:			Author:		Rev.#:		Comments:
*	21/10/2019		Ervin		1.0			Created
*************************************************************************************************************************************************************************************/

ALTER PROCEDURE [serviceuser].[Pr_AutoApproveGatePass]
(
	@serviceRequestNo	INT 
)
AS	

	--Tell SQL Engine not to return the row-count information
	SET NOCOUNT ON 

	--Define constants
	DECLARE @CONST_RETURN_OK			INT = 0,
			@CONST_RETURN_ERROR			INT = -1,
			@CONST_AUTO_APPROVAL_MSG	VARCHAR(100) = 'Auto approved by Purchasing Department as per system setup'

	--Define variables
	DECLARE @rowsAffected				INT = 0,
			@hasError					BIT = 0,
			@retError					INT = 0,
			@retErrorDesc				VARCHAR(200) = '',
			@serviceTypeCode			VARCHAR(10) = '',
			@itemCode					VARCHAR(25) = '',	
			@customerCode				FLOAT = 0,
			@issuedDate					DATETIME = NULL,
			@unitPrice					FLOAT = 0,
			@currencyCode				VARCHAR(3) = '',
			@currencyDesc				VARCHAR(30) = '',
			@purchasingRemarks			VARCHAR(500) = ''

	BEGIN TRY

		--Get the service type code
		SELECT	@serviceTypeCode = RTRIM(a.ServiceTypeCode)
		FROM serviceuser.ServiceRequest a WITH (NOLOCK)
		WHERE a.ServiceRequestNo = @serviceRequestNo

		IF @serviceTypeCode = 'MGPSCRAP'		--Scrap gate pass
		BEGIN
        
			--Get the gate pass details
			SELECT	@itemCode = RTRIM(b.Field13Value),
					@customerCode = CASE WHEN ISNUMERIC(b.Field2Value) = 1 THEN CAST(b.Field2Value AS FLOAT) ELSE 0 END,
					@issuedDate = CASE WHEN ISDATE(b. Field44Value) = 1 THEN CAST(b.Field44Value AS DATETIME) ELSE NULL END  
			FROM serviceuser.ServiceRequest a WITH (NOLOCK)
				INNER JOIN serviceuser.ServiceRequestDetail b WITH (NOLOCK) ON a.ServiceRequestNo = b.ServiceRequestNo
			WHERE a.ServiceRequestNo = @serviceRequestNo
		
			IF	ISNULL(@itemCode, '') <> ''
				AND ISNULL(@customerCode, 0) > 0
				AND @issuedDate IS NOT NULL 
			BEGIN
        
				--Get details from the auto approval settings table
				SELECT TOP 1 
					@unitPrice = a.UnitPrice,
					@currencyCode = RTRIM(a.CurrencyCode),
					@currencyDesc = RTRIM(a.CurrencyDesc),
					@purchasingRemarks = RTRIM(a.Remarks)
				FROM serviceuser.GatePassAutoApprovalSetting a WITH (NOLOCK)
				WHERE RTRIM(a.ItemCode) = @itemCode
					AND a.CustomerCode = @customerCode
					AND @issuedDate BETWEEN a.EffectiveDate AND a.EndingDate 

				--Update service request details
				UPDATE serviceuser.ServiceRequestDetail
				SET Field26Value = CAST(@unitPrice AS VARCHAR),
					Field27Value = @currencyCode,
					Field28Value = @currencyDesc,
					FieldMax2Value = @purchasingRemarks,
					Flag1Value = 'WFAssignToSecurity',
					Flag2Value = 'True',
					Flag3Value = 'True'
				WHERE ServiceRequestNo = @serviceRequestNo

				--Checks for error
				IF @@ERROR <> @CONST_RETURN_OK
				BEGIN
				
					SELECT	@retError = @CONST_RETURN_ERROR,
							@hasError = 1
				END

				ELSE 
				BEGIN

					--Insert routine history
					INSERT INTO serviceuser.History
					(
						HistReqType,
						HistReqNo,
						HistDesc,
						HistCreatedBy,
						HistCreatedName,
						HistCreatedDate
					)
					VALUES
					(
						17,
						@serviceRequestNo,
						@CONST_AUTO_APPROVAL_MSG,
						0, 
						'System Admin', 
						GETDATE()
					)

					--Insert approval record
					INSERT INTO serviceuser.Approval
					(
						AppReqType,
						AppReqTypeNo,
						AppApproved,
						AppRemarks,
						AppCreatedBy,
						AppCreatedName,
						AppCreatedDate,
						DistListCode,
						ActivityCode
					)
					VALUES
					(
						17,
						@serviceRequestNo,
						1,
						@purchasingRemarks,
						0,
						'System Admin',
						GETDATE(),
						'MGPPURAPVR',
						'SCRAP_ASGN_PURCHASE'
					)
				END 
			END 
		END 

		ELSE IF @serviceTypeCode = 'MGPWASTE'		--Waste gate pass
		BEGIN
        
			--Get the gate pass details
			SELECT	@itemCode = RTRIM(b.Field23Value),
					@customerCode = CASE WHEN ISNUMERIC(b.Field2Value) = 1 THEN CAST(b.Field2Value AS FLOAT) ELSE 0 END,
					@issuedDate = CASE WHEN ISDATE(b. Field48Value) = 1 THEN CAST(b.Field48Value AS DATETIME) ELSE NULL END  
			FROM serviceuser.ServiceRequest a WITH (NOLOCK)
				INNER JOIN serviceuser.ServiceRequestDetail b WITH (NOLOCK) ON a.ServiceRequestNo = b.ServiceRequestNo
			WHERE a.ServiceRequestNo = @serviceRequestNo
		
			IF	ISNULL(@itemCode, '') <> ''
				AND ISNULL(@customerCode, 0) > 0
				AND @issuedDate IS NOT NULL 
			BEGIN
        
				--Get details from the auto approval settings table
				SELECT TOP 1 
					@unitPrice = a.UnitPrice,
					@currencyCode = RTRIM(a.CurrencyCode),
					@currencyDesc = RTRIM(a.CurrencyDesc),
					@purchasingRemarks = RTRIM(a.Remarks)
				FROM serviceuser.GatePassAutoApprovalSetting a WITH (NOLOCK)
				WHERE RTRIM(a.ItemCode) = @itemCode
					AND a.CustomerCode = @customerCode
					AND @issuedDate BETWEEN a.EffectiveDate AND a.EndingDate 

				--Update service request details
				UPDATE serviceuser.ServiceRequestDetail
				SET Field33Value = CAST(@unitPrice AS VARCHAR),
					Field34Value = @currencyCode,
					Field35Value = @currencyDesc,
					FieldMax2Value = @purchasingRemarks,
					Flag1Value = 'WFAssignToSecurity',
					Flag2Value = 'True',
					Flag3Value = 'True'
				WHERE ServiceRequestNo = @serviceRequestNo

				--Checks for error
				IF @@ERROR <> @CONST_RETURN_OK
				BEGIN
				
					SELECT	@retError = @CONST_RETURN_ERROR,
							@hasError = 1
				END

				ELSE 
				BEGIN

					--Insert routine history
					INSERT INTO serviceuser.History
					(
						HistReqType,
						HistReqNo,
						HistDesc,
						HistCreatedBy,
						HistCreatedName,
						HistCreatedDate
					)
					VALUES
					(
						17,
						@serviceRequestNo,
						@CONST_AUTO_APPROVAL_MSG,
						0, 
						'System Admin', 
						GETDATE()
					)

					--Insert approval record
					INSERT INTO serviceuser.Approval
					(
						AppReqType,
						AppReqTypeNo,
						AppApproved,
						AppRemarks,
						AppCreatedBy,
						AppCreatedName,
						AppCreatedDate,
						DistListCode,
						ActivityCode
					)
					VALUES
					(
						17,
						@serviceRequestNo,
						1,
						@purchasingRemarks,
						0,
						'System Admin',
						GETDATE(),
						'MGPPURAPVR',
						'WASTE_PURCHASING_APV'
					)
				END 
			END 
		END 

	END TRY

	BEGIN CATCH

		--Capture the error
		SELECT	@retError = CASE WHEN ERROR_NUMBER() > 0 THEN ERROR_NUMBER() ELSE @CONST_RETURN_ERROR END,
				@retErrorDesc = ERROR_MESSAGE(),
				@hasError = 1

	END CATCH

EXIT_POINT:

	--Return error information to the caller
	SELECT	@rowsAffected AS RowsAffected,
			@hasError AS HasError, 
			@retError AS ErrorCode, 
			@retErrorDesc AS ErrorDescription

