USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_SetWorkflowState]    Script Date: 12/12/2022 08:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_SetWorkflowState
*	Description: This stored procedure is used to fetch the missing swipes at the workplace
*
*	Date			Author		Rev.#		Comments:
*	23/09/2015		Ervin		1.0			Created
*	27/09/2015		Ervin		1.1			Changed "SwipeID" data type from int into bigint. Added email delivery functionality
*	04/10/2015		Ervin		1.2			Added code for "Reassign to Other Approver" 
*	10/12/2015		Ervin		1.3			Commented the code that updates the ff fields in the Timeshet table due to complex logic. Also, modified the logic in updating the overtime in "Tran_Timesheet_Extra" table
											ShiftSpan, Actual_ShiftCode, ShiftAllowance, Duration_ShiftAllowance_Evening, Duration_ShiftAllowance_Night
*	01/02/2016		Ervin		1.4			Set the value of the "RequestSubmissionDate" field to minimum date minus 1 day
*	23/02/2016		Ervin		1.5			Check the value of "@appRemarks" parameter if it is null. Commented filter by "RequestSubmissionDate" condition in @actionType = 4.
*	16/10/2016		Ervin		1.6			Added filter condition to allow updates in "Tran_Timesheet" and "Tran_Timesheet_Extra" tables only if CorrectionCode is null as per HD #72493 			
*	15/03/2017		Ervin		1.7			Added condition to set @isApproved to 1 if the value passed from the UI is null
*	27/09/2017		Ervin		1.8			Commented the filter condition that check if OT start and end time are null
*	19/04/2022		Ervin		1.9			Added filter condition to sync workplace to Timesheet if not belong to Admin Bldg. reader
*****************************************************************************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_SetWorkflowState]
(
	@actionType				tinyint,	--(Note: 1 = Create workflow; 2 = Get next activity; 3 = Undo request submission; 4 = Reassign to Other Approver) 
	@swipeID				bigint,
	@tsAutoID				int,
	@createdByEmpNo			int = 0,
	@createdByEmpName		varchar(50) = '',
	@assigneeEmpNo			int = 0,
	@assigneeEmpName		varchar(50) = '',
	@isApproved				bit = NULL,
	@appRemarks				varchar(300) = NULL,
	@requestSubmissionDate	datetime = NULL
)
AS
BEGIN
	
	--Define constants
	DECLARE @CONST_RETURN_OK			int,
			@CONST_RETURN_ERROR			int,
			@CONST_APP_MODULE_CODE		varchar(10)

	--Initialize constants
	SELECT	@CONST_RETURN_OK			= 0,
			@CONST_RETURN_ERROR			= -1,
			@CONST_APP_MODULE_CODE		= 'TASSWIPE'

	--Define workflow status variables
	DECLARE	@statusID					int,
			@statusCode					varchar(10),
			@statusDesc					varchar(200),
			@statusHandlingCode			varchar(50),
			@currentlyAssignedEmpNo		int,
			@currentlyAssignedEmpName	varchar(50),
			@currentlyAssignedEmpEmail	varchar(50),
			@serviceProviderTypeCode	varchar(10),
			@distListCode				varchar(10),
			@emailSourceName			varchar(30),
			@emailCCRecipient			varchar(200),
			@emailCCRecipientType		int			

	--Initialize workflow status variables
	SELECT	@statusID					= NULL,
			@statusCode					= NULL,
			@statusDesc					= NULL,
			@statusHandlingCode			= NULL,
			@currentlyAssignedEmpNo		= NULL,
			@currentlyAssignedEmpName	= NULL,
			@currentlyAssignedEmpEmail	= NULL,
			@serviceProviderTypeCode	= NULL,
			@distListCode				= NULL,
			@emailSourceName			= '',
			@emailCCRecipient			= '',
			@emailCCRecipientType		= 0
			

	--Define variables
	DECLARE	@isWorkflowCompleted				bit,
			@isWFUpdateSuccess					bit,
			@hasError							bit,
			@retError							int,
			@rowsAffected						int,
			@swipeRecordProcessed				int,
			@retErrorDesc						varchar(200),	
			@currentWorkflowTransactionID		bigint,
			@currentRequestSubmissionDate		datetime,
			@currentSequenceNo					int,
			@currentActivityCode				varchar(20),
			@currentActionMemberCode			varchar(10),
			@nextActivityCode					varchar(20),
			@nextActionMemberCode				varchar(10),
			@empNo								int,
			@costCenter							varchar(12),
			@isFinalAct							bit,	--This flag determines whether the current activity is the final one hence closing the workflow process
			@syncWorkplaceToTimesheet			bit,	--This flag determines whether the workplace swipe will be processed in the Timesheet
			@timeSheetRecordsProcessed			int,
			@overtimeRecordsProcessed			INT,
			@swipeDate							DATETIME = NULL,
			@isWorkplaceEnabled					BIT,
			@isSyncTimesheet					BIT,
			@isAdminBldgEnabled					BIT   			

	--Initialize variables
	SELECT	@isWorkflowCompleted				= 0,
			@isWFUpdateSuccess					= 0,
			@hasError							= 0,
			@retError							= @CONST_RETURN_OK,
			@rowsAffected						= 0,
			@swipeRecordProcessed				= 0,
			@retErrorDesc						= '',
			@currentWorkflowTransactionID		= 0,
			@currentRequestSubmissionDate		= NULL,
			@currentSequenceNo					= 0,
			@currentActivityCode				= '',
			@currentActionMemberCode			= '',
			@nextActivityCode					= '',
			@nextActionMemberCode				= '',
			@empNo								= 0,
			@costCenter							= '',
			@isFinalAct							= 0,
			@syncWorkplaceToTimesheet			= 0,
			@timeSheetRecordsProcessed			= 0,
			@overtimeRecordsProcessed			= 0

	--Rev. #1.7
	IF ISNULL(@isApproved, 0) = 0
		SET @isApproved = 1

	--Start a transaction
	BEGIN TRANSACTION

	BEGIN TRY

		--Validate parameters
		IF ISNULL(@requestSubmissionDate, '') = ''
			SET @requestSubmissionDate = NULL

		--Check the flag that determines whether the workplace swipe should be processed in the Timesheet
		SELECT TOP 1 @syncWorkplaceToTimesheet = ISNULL(SyncWorkplaceToTimesheet, 0)
		FROM tas.WorkplaceTimesheetSetting a WITH (NOLOCK)
		WHERE IsActive = 1

		--Get the employee no. and cost center
		SELECT	@empNo = a.EmpNo,
				@costCenter = RTRIM(a.CostCenter),
				@swipeDate = a.SwipeDate
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
		WHERE a.SwipeID = @swipeID

		IF @empNo > 0
		BEGIN
        
			--Get reader setting flags
			SELECT	@isWorkplaceEnabled = a.IsWorkplaceEnabled,
					@isAdminBldgEnabled = a.IsAdminBldgEnabled,
					@isSyncTimesheet = a.IsSyncTimesheet
			FROM tas.fnCheckWorkplaceEnabled(@empNo) a
		END 

		IF @actionType = 1	--Create workflow
		BEGIN

			SET @currentSequenceNo = 1

			IF NOT EXISTS
			(
				SELECT WorkflowTransactionID 
				FROM tas.WorkflowTransactionActivity WITH (NOLOCK)
				WHERE SwipeID = @swipeID	
					AND TS_AutoID = @tsAutoID
					AND RequestSubmissionDate = @requestSubmissionDate
					AND RTRIM(AppModuleCode) = @CONST_APP_MODULE_CODE
			)
			BEGIN

				--Copy workflow template into the transaction table
				INSERT INTO tas.WorkflowTransactionActivity
				(
					SwipeID,
					TS_AutoID,
					AppModuleCode,
					ActivityCode,
					NextActivityCode,
					ActivityDesc1,
					ActivityDesc2,
					WFActivityTypeCode,
					SequenceNo,
					SequenceType,
					ApprovalType,
					ActionRole,
					ActionMemberCode,
					ParameterSourceTable,
					ParameterName,
					ParameterDataType,
					ConditionCheckValue,
					ConditionCheckDataType,
					EmailSourceName,
					EmailCCRecipient,
					EmailCCRecipientType,
					IsCurrent,
					IsCompleted,
					IsFinalAct,
					ActStatusID,
					RequestSubmissionDate,
					CreatedByUser,
					CreatedDate,
					CreatedByUserEmpNo,
					CreatedByUserEmpName
				)
				SELECT	@swipeID,
						@tsAutoID,
						AppModuleCode,
						ActivityCode,
						NextActivityCode,
						ActivityDesc1,
						ActivityDesc2,
						WFActivityTypeCode,
						SequenceNo,
						SequenceType,
						ApprovalType,
						ActionRole,
						ActionMemberCode,
						ParameterSourceTable,
						ParameterName,
						ParameterDataType,
						ConditionCheckValue,
						ConditionCheckDataType,
						EmailSourceName,
						EmailCCRecipient,
						EmailCCRecipientType,
						NULL AS IsCurrent,
						NULL AS IsCompleted,
						IsFinalAct,
						106 AS ActStatusID,
						@requestSubmissionDate,
						'' AS CreatedByUser,
						GETDATE(),
						@createdByEmpNo,
						@createdByEmpName
				FROM tas.WorkflowActivityTemplate WITH (NOLOCK)
				WHERE RTRIM(AppModuleCode) = @CONST_APP_MODULE_CODE

				--Checks for error
				IF @@ERROR <> @CONST_RETURN_OK
				BEGIN
				
					SELECT	@retError = @CONST_RETURN_ERROR,
							@hasError = 1
				END

				-- Checks if there's no error
				IF @retError = @CONST_RETURN_OK
				BEGIN

					--Set the current activity
					UPDATE tas.WorkflowTransactionActivity
					SET IsCurrent = 1,
						IsCompleted = 0,
						ActStatusID = 107
					WHERE SwipeID = @swipeID
						AND TS_AutoID = @tsAutoID
						AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)
						AND SequenceNo = 1

					--Get the number of rows affected
					SELECT @rowsAffected = @@ROWCOUNT

					IF @rowsAffected > 0
					BEGIN

						--Get the current workflow information
						SELECT	@currentWorkflowTransactionID = WorkflowTransactionID,
								@currentRequestSubmissionDate = RequestSubmissionDate,
								@emailSourceName = RTRIM(EmailSourceName),
								@emailCCRecipient = RTRIM(EmailCCRecipient),
								@emailCCRecipientType = EmailCCRecipientType,
								@currentSequenceNo = SequenceNo,
								@currentActivityCode = RTRIM(ActivityCode),
								@currentActionMemberCode = RTRIM(ActionMemberCode)
						FROM tas.WorkflowTransactionActivity WITH (NOLOCK)
						WHERE SwipeID = @swipeID
							AND TS_AutoID = @tsAutoID
							AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)
							AND IsCurrent = 1
							AND ISNULL(IsCompleted, 0) = 0

						IF ISNULL(@currentActionMemberCode, '') <> ''
						BEGIN

							--Get the currently assigned employee
							SELECT	@serviceProviderTypeCode	= 'SPAPPROVER',
									@distListCode				= @currentActionMemberCode

							SELECT	@currentlyAssignedEmpNo		= EmpNo,
									@currentlyAssignedEmpName	= EmpName,
									@currentlyAssignedEmpEmail	= EmpEmail										
							FROM tas.fnGetActionMember_WithSubstitute(@currentActionMemberCode, @costCenter, @empNo)

							--Insert email delivery record
							INSERT INTO tas.WorkflowEmailDelivery
							(								
								SwipeID,
								TS_AutoID,
								RequestSubmissionDate,
								CurrentlyAssignedEmpNo,
								CurrentlyAssignedEmpName,
								CurrentlyAssignedEmpEmail,
								ActivityCode,
								ActionMemberCode,
								EmailSourceName,
								EmailCCRecipient,
								EmailCCRecipientType,
								IsDelivered,
								CreatedByEmpNo,
								CreatedByEmpName,
								CreatedDate
							)
							SELECT	@swipeID,
									@tsAutoID,
									@currentRequestSubmissionDate,
									@currentlyAssignedEmpNo,
									@currentlyAssignedEmpName,
									@currentlyAssignedEmpEmail,
									@currentActivityCode,
									@currentActionMemberCode,
									@emailSourceName,
									@emailCCRecipient,
									@emailCCRecipientType,
									0 AS IsDelivered,
									@createdByEmpNo,
									@createdByEmpName,
									GETDATE()

							--Checks for error
							IF @@ERROR <> @CONST_RETURN_OK
							BEGIN
				
								SELECT	@retError = @CONST_RETURN_ERROR,
										@hasError = 1
							END

							-- Checks if there's no error
							IF @retError = @CONST_RETURN_OK
							BEGIN

								--Set the flag
								SET @isWFUpdateSuccess = 1
							END
						END
					END
				END
			END
		END

		ELSE IF @actionType = 2		--Get next activity
		BEGIN

			--Get the current workflow information
			SELECT	@currentWorkflowTransactionID = WorkflowTransactionID,
					@currentRequestSubmissionDate = RequestSubmissionDate,
					@emailSourceName = RTRIM(EmailSourceName),
					@emailCCRecipient = RTRIM(EmailCCRecipient),
					@emailCCRecipientType = EmailCCRecipientType,
					@currentSequenceNo = SequenceNo
			FROM tas.WorkflowTransactionActivity WITH (NOLOCK)
			WHERE SwipeID = @swipeID
				AND TS_AutoID = @tsAutoID
				AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)
				AND IsCurrent = 1
				AND ISNULL(IsCompleted, 0) = 0

			IF @currentWorkflowTransactionID > 0
			BEGIN

				--Close current activity
				UPDATE tas.WorkflowTransactionActivity
				SET IsCompleted = 1,
					ActStatusID = 109,
					LastUpdateTime = GETDATE(),
					LastUpdateEmpNo = @assigneeEmpNo,
					LastUpdateEmpName = @assigneeEmpName
				WHERE WorkflowTransactionID = @currentWorkflowTransactionID

				--Checks for error
				IF @@ERROR <> @CONST_RETURN_OK
				BEGIN
				
					SELECT	@retError = @CONST_RETURN_ERROR,
							@hasError = 1
				END

				-- Checks if there's no error
				IF @retError = @CONST_RETURN_OK
				BEGIN

					IF @isApproved = 1
					BEGIN

						--Get next activity 
						SELECT	@nextActivityCode = RTRIM(ActivityCode),
								@isFinalAct = ISNULL(IsFinalAct, 0)							
						FROM tas.WorkflowTransactionActivity WITH (NOLOCK)
						WHERE SwipeID = @swipeID
							AND TS_AutoID = @tsAutoID
							AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)
							AND SequenceNo = @currentSequenceNo + 1

						--Check if need to close the workflow
						IF @isFinalAct = 1 
						BEGIN

							--Close the workflow
							UPDATE tas.WorkflowTransactionActivity
							SET IsCurrent = 1,
								IsCompleted = 1,
								ActStatusID = 109,
								LastUpdateTime = GETDATE(),
								LastUpdateEmpNo = @assigneeEmpNo,
								LastUpdateEmpName = @assigneeEmpName
							WHERE SwipeID = @swipeID
								AND TS_AutoID = @tsAutoID
								AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)
								AND RTRIM(ActivityCode) = @nextActivityCode

							--Set the flags
							SELECT	@isWFUpdateSuccess = 1,
									@isWorkflowCompleted = 1
						END

						ELSE
						BEGIN

							--Set the next activity
							UPDATE tas.WorkflowTransactionActivity
							SET IsCurrent = 1,
								IsCompleted = 0,
								ActStatusID = 107
							WHERE SwipeID = @swipeID
								AND TS_AutoID = @tsAutoID
								AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)
								AND RTRIM(ActivityCode) = @nextActivityCode

							--Checks for error
							IF @@ERROR <> @CONST_RETURN_OK
							BEGIN
				
								SELECT	@retError = @CONST_RETURN_ERROR,
										@hasError = 1
							END

							-- Checks if there's no error
							IF @retError = @CONST_RETURN_OK
							BEGIN

								--Get the next action member code and other details
								SELECT	@nextActionMemberCode = RTRIM(ActionMemberCode),
										@emailSourceName = RTRIM(EmailSourceName),
										@emailCCRecipient = RTRIM(EmailCCRecipient),
										@emailCCRecipientType = EmailCCRecipientType
								FROM tas.WorkflowTransactionActivity WITH (NOLOCK)
								WHERE SwipeID = @swipeID
									AND TS_AutoID = @tsAutoID
									AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)
									AND IsCurrent = 1
									AND ISNULL(IsCompleted, 0) = 0

								IF ISNULL(@nextActionMemberCode, '') <> ''
								BEGIN

									--Get the next assigned employee
									SELECT	@serviceProviderTypeCode	= 'SPAPPROVER',
											@distListCode				= @nextActionMemberCode

									SELECT	@currentlyAssignedEmpNo		= EmpNo,
											@currentlyAssignedEmpName	= EmpName,
											@currentlyAssignedEmpEmail	= EmpEmail										
									FROM tas.fnGetActionMember_WithSubstitute(@nextActionMemberCode, @costCenter, @empNo)

									--Insert email delivery record
									INSERT INTO tas.WorkflowEmailDelivery
									(										
										SwipeID,
										TS_AutoID,
										RequestSubmissionDate,
										CurrentlyAssignedEmpNo,
										CurrentlyAssignedEmpName,
										CurrentlyAssignedEmpEmail,
										ActivityCode,
										ActionMemberCode,
										EmailSourceName,
										EmailCCRecipient,
										EmailCCRecipientType,
										IsDelivered,
										CreatedByEmpNo,
										CreatedByEmpName,
										CreatedDate
									)
									SELECT	@swipeID,
											@tsAutoID,
											@currentRequestSubmissionDate,
											@currentlyAssignedEmpNo,
											@currentlyAssignedEmpName,
											@currentlyAssignedEmpEmail,
											@nextActivityCode,
											@nextActionMemberCode,
											@emailSourceName,
											@emailCCRecipient,
											@emailCCRecipientType,
											0 AS IsDelivered,
											@assigneeEmpNo,
											@assigneeEmpName,
											GETDATE()

									--Checks for error
									IF @@ERROR <> @CONST_RETURN_OK
									BEGIN
				
										SELECT	@retError = @CONST_RETURN_ERROR,
												@hasError = 1
									END

									-- Checks if there's no error
									IF @retError = @CONST_RETURN_OK
									BEGIN

										--Set the flag
										SET @isWFUpdateSuccess = 1
									END
								END
							END
						END
					END

					ELSE
					BEGIN

						--Approver has rejected the request in the current workflow activity
						--Set the remaining activities status to 108 (Bypassed)
						UPDATE tas.WorkflowTransactionActivity
						SET IsCurrent = 0,
							IsCompleted = 0,
							ActStatusID = 108
						WHERE SwipeID = @swipeID
							AND TS_AutoID = @tsAutoID
							AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)
							AND SequenceNo > @currentSequenceNo 

						--Start of Rev. #1.4
						--Get the minimum submission date
						DECLARE @minSubmissionDate DATETIME	
						SELECT TOP 1 @minSubmissionDate = RequestSubmissionDate
						FROM tas.WorkflowTransactionActivity WITH (NOLOCK)
						WHERE SwipeID = @swipeID
							AND TS_AutoID = @tsAutoID
						ORDER BY RequestSubmissionDate ASC

						IF @minSubmissionDate IS NOT NULL
						BEGIN
							
							UPDATE tas.Tran_WorkplaceSwipe
							SET SubmittedDate = DATEADD(dd, -1, @minSubmissionDate)
							WHERE SwipeID = @swipeID

							UPDATE tas.WorkflowTransactionActivity
							SET RequestSubmissionDate = DATEADD(dd, -1, @minSubmissionDate)
							WHERE SwipeID = @swipeID
								AND TS_AutoID = @tsAutoID
								AND RequestSubmissionDate = @requestSubmissionDate

							UPDATE tas.WorkflowEmailDelivery
							SET RequestSubmissionDate = DATEADD(dd, -1, @minSubmissionDate)
							WHERE SwipeID = @swipeID
								AND TS_AutoID = @tsAutoID
								AND RequestSubmissionDate = @requestSubmissionDate

							UPDATE tas.WorkflowHistory
							SET RequestSubmissionDate = DATEADD(dd, -1, @minSubmissionDate)
							WHERE SwipeID = @swipeID
								AND TS_AutoID = @tsAutoID
								AND RequestSubmissionDate = @requestSubmissionDate

							UPDATE tas.WorkflowApproval
							SET RequestSubmissionDate = DATEADD(dd, -1, @minSubmissionDate)
							WHERE SwipeID = @swipeID
								AND TS_AutoID = @tsAutoID
								AND RequestSubmissionDate = @requestSubmissionDate

							SET @currentRequestSubmissionDate = DATEADD(dd, -1, @minSubmissionDate)
						END
						--End of Rev. #1.4

						--Set the flags
						SELECT	@isWFUpdateSuccess = 1,
								@isWorkflowCompleted = 1
					END
				END
			END
		END

		ELSE IF @actionType = 3		--Undo request submission
		BEGIN

			IF EXISTS
			(
				SELECT WorkflowTransactionID 
				FROM tas.WorkflowTransactionActivity WITH (NOLOCK)
				WHERE SwipeID = @swipeID 
					AND TS_AutoID = @tsAutoID
					AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)
			)
			BEGIN

				--Delete workflow activity records 
				DELETE FROM tas.WorkflowTransactionActivity 
				WHERE SwipeID = @swipeID 
					AND TS_AutoID = @tsAutoID
					AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)

				--Delete workflow history records
				DELETE FROM tas.WorkflowHistory 
				WHERE SwipeID = @swipeID
					AND TS_AutoID = @tsAutoID
					AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)

				--Get the workflow approval records
				DELETE FROM tas.WorkflowApproval 
				WHERE SwipeID = @swipeID
					AND TS_AutoID = @tsAutoID
					AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)

				--Delete email delivery records
				DELETE FROM tas.WorkflowEmailDelivery 
				WHERE SwipeID = @swipeID
					AND TS_AutoID = @tsAutoID
					AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)
						
				--Checks for error
				IF @@ERROR <> @CONST_RETURN_OK
				BEGIN
				
					SELECT	@retError = @CONST_RETURN_ERROR,
							@hasError = 1
				END

				-- Checks if there's no error
				IF @retError = @CONST_RETURN_OK
				BEGIN

					--Reset swipe records to submission for approval state
					UPDATE tas.Tran_WorkplaceSwipe
					SET	StatusID = NULL,
						StatusCode = NULL,
						StatusDesc = NULL,
						StatusHandlingCode = NULL,
						CurrentlyAssignedEmpNo = NULL,
						CurrentlyAssignedEmpName = NULL,
						CurrentlyAssignedEmpEmail = NULL,
						ServiceProviderTypeCode = NULL,
						DistListCode = NULL,
						IsClosed = NULL,
						ClosedDate = NULL,
						IsSubmittedForApproval = NULL,
						SubmittedDate = NULL
					WHERE SwipeID = @swipeID

					--Get the number of swipe records affected
					SELECT @swipeRecordProcessed = @@ROWCOUNT

					--Checks for error
					IF @@ERROR <> @CONST_RETURN_OK
					BEGIN
				
						SELECT	@retError = @CONST_RETURN_ERROR,
								@hasError = 1
					END
				END
			END
		END

		IF @actionType IN (1, 2)
		BEGIN

			/***********************************************************
				Update swipe records to set the workflow status
			***********************************************************/
			IF @isWorkflowCompleted = 1
			BEGIN

				IF @isApproved = 1
				BEGIN

					--Get the "Closed by Approver" status
					SELECT	@statusID	= UDCID,
							@statusCode = RTRIM(UDCCode), 
							@statusDesc = RTRIM(UDCDesc1),
							@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
					FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
					WHERE RTRIM(UDCCode) = '123'

					--Insert history record
					INSERT INTO tas.WorkflowHistory
					(						
						SwipeID,
						TS_AutoID,
						RequestSubmissionDate,
						HistDesc,
						HistCreatedBy,
						HistCreatedName,
						HistCreatedDate
					)
					SELECT	@swipeID,
							@tsAutoID,
							@currentRequestSubmissionDate,
							ISNULL(@statusDesc, '') AS HistDesc, 
							ISNULL(@assigneeEmpNo, 0) AS HistCreatedBy,
							@assigneeEmpName AS HistCreatedName,
							GETDATE() AS HistCreatedDate

					--Insert Approval record
					INSERT INTO tas.WorkflowApproval
					(
						SwipeID,
						TS_AutoID,
						RequestSubmissionDate,
						AppApproved,
						AppRemarks,
						AppRoutineSeq,
						AppCreatedBy,
						AppCreatedName,
						AppCreatedDate
					)
					SELECT	@swipeID,
							@tsAutoID,
							@currentRequestSubmissionDate,
							ISNULL(@isApproved, 0) AS AppApproved,
							ISNULL(@appRemarks, '') AS AppRemarks,
							@currentSequenceNo AS AppRoutineSeq,
							ISNULL(@assigneeEmpNo, 0) AS AppCreatedBy,
							@assigneeEmpName AS AppCreatedName,
							GETDATE() AS AppCreatedDate

					--Update swipe record
					UPDATE tas.Tran_WorkplaceSwipe
					SET	StatusID = @statusID,
						StatusCode = @statusCode,
						StatusDesc = @statusDesc,
						StatusHandlingCode = @statusHandlingCode,
						CurrentlyAssignedEmpNo = NULL,
						CurrentlyAssignedEmpName = NULL,
						CurrentlyAssignedEmpEmail = NULL,
						ServiceProviderTypeCode = NULL,
						DistListCode = NULL,
						IsClosed = 1,
						ClosedDate = GETDATE(),
						LastUpdateTime = GETDATE(),
						LastUpdateEmpNo = @assigneeEmpNo,
						LastUpdateUserID = '',
						LastUpdateEmpName = @assigneeEmpName,
						LastUpdateEmpEmail = ''
					WHERE SwipeID = @swipeID

					--Get the number of swipe records affected
					SELECT @swipeRecordProcessed = @@ROWCOUNT

					--Check if workplace swipe should be synchronized to Timesheet
					IF @syncWorkplaceToTimesheet = 1
					BEGIN

						IF @isWorkplaceEnabled = 1 AND @isAdminBldgEnabled = 1 AND @isSyncTimesheet = 1
						BEGIN

							/***********************************************************************************************************
								Automate the process of synchronizing Admin Bldg. readers valid swipe data into the Timesheet
							*************************************************************************************************************/
							DECLARE	@return_value			INT,
									@validSwipeRows			INT = 0

							EXEC	@return_value = tas.Pr_SyncAdminBldgSwipeToTimesheet
									@actionTypeID = 0,
									@tsRowsAffected = @validSwipeRows OUTPUT,
									@startDate = @swipeDate,
									@endDate = @swipeDate,
									@costCenter = @costCenter,
									@empNo = @empNo

							--Add row count to the counter
							SELECT @timeSheetRecordsProcessed = @validSwipeRows
						END

						ELSE
                        BEGIN 

							--Update Timesheet records based on the corrected workplace swipes
							UPDATE tas.Tran_Timesheet
							SET	tas.Tran_Timesheet.dtIN = c.dtIN,
								tas.Tran_Timesheet.dtOUT = c.dtOUT,
								tas.Tran_Timesheet.Shaved_IN = c.Shaved_IN,
								tas.Tran_Timesheet.Shaved_OUT = c.Shaved_OUT,
								tas.Tran_Timesheet.NoPayHours = c.NoPayHours,

								tas.Tran_Timesheet.OTType = CASE WHEN ISNULL(b.OTType, '') = ''				--OT is not yet approved
															THEN
																CASE WHEN c.EnableOT = 1 AND c.OTAutoApprove = 1 
																	THEN c.OTType
																	ELSE NULL 
																END
															ELSE											--OT was already approved
																CASE WHEN c.EnableOT = 1 
																	THEN c.OTType
																	ELSE b.OTType 
																END
															END,	

								--tas.Tran_Timesheet.OTStartTime = CASE WHEN ISNULL(b.OTStartTime, '') = ''	--OT is not yet approved
								--								 THEN
								--									CASE WHEN c.EnableOT = 1 AND c.OTAutoApprove = 1 
								--										THEN c.OTStartTime
								--										ELSE NULL 
								--									END
								--								 ELSE										--OT was already approved
								--									CASE WHEN c.EnableOT = 1 
								--										THEN c.OTStartTime
								--										ELSE b.OTStartTime 
								--									END
								--								 END,	

								--tas.Tran_Timesheet.OTEndTime =	CASE WHEN ISNULL(b.OTEndTime, '') = ''		--OT is not yet approved
								--								THEN
								--									CASE WHEN c.EnableOT = 1 AND c.OTAutoApprove = 1 
								--										THEN c.OTEndTime
								--										ELSE NULL 
								--									END
								--								ELSE										--OT was already approved
								--									CASE WHEN c.EnableOT = 1 
								--										THEN c.OTEndTime
								--										ELSE b.OTEndTime 
								--									END
								--								 END,	
												 												
								tas.Tran_Timesheet.Duration_Worked_Cumulative = c.Duration_Worked_Cumulative,
								tas.Tran_Timesheet.NetMinutes = c.NetMinutes,
								tas.Tran_Timesheet.Processed = 0,							

								/*********************************************** Start of Rev. #1.3 ************************************************/
								--tas.Tran_Timesheet.ShiftSpan = c.ShiftSpan,
								--tas.Tran_Timesheet.Actual_ShiftCode = c.Actual_ShiftCode,
								--tas.Tran_Timesheet.ShiftAllowance = c.ShiftAllowance,
								--tas.Tran_Timesheet.Duration_ShiftAllowance_Evening = c.Duration_ShiftAllowance_Evening,
								--tas.Tran_Timesheet.Duration_ShiftAllowance_Night = c.Duration_ShiftAllowance_Night,
								/*********************************************** End of Rev. #1.3 *************************************************/	

								tas.Tran_Timesheet.LastUpdateUser = 'System Admin',
								tas.Tran_Timesheet.LastUpdateTime = GETDATE()
							FROM tas.Tran_WorkplaceSwipe a 
								INNER JOIN tas.Tran_Timesheet b ON a.EmpNo = b.EmpNo AND a.SwipeDate = b.DT AND b.IsLastRow = 1
								CROSS APPLY tas.fnGetProcessedWorkplaceDataToSync(a.EmpNo, a.SwipeDate, a.TimeInWP, a.TimeOutWP, a.CorrectionType) c
							WHERE a.SwipeID = @swipeID
								AND a.IsCorrected = 1
								AND a.CorrectionType > 0
								AND ISNULL(b.CorrectionCode, '') = ''	--Rev. #1.6

							--Get the number of timesheet records processed
							SELECT @timeSheetRecordsProcessed = @@ROWCOUNT
						END 																		

						--Checks for error
						IF @@ERROR <> @CONST_RETURN_OK
						BEGIN
				
							SELECT	@retError = @CONST_RETURN_ERROR,
									@hasError = 1
						END

						-- Checks if there's no error
						IF @retError = @CONST_RETURN_OK
						BEGIN

							--Update Overtime records based on the corrected workplace swipes
							IF EXISTS
							(
								SELECT a.SwipeID
								FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
									INNER JOIN tas.Tran_Timesheet b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.SwipeDate = b.DT AND b.IsLastRow = 1
									CROSS APPLY tas.fnGetProcessedWorkplaceDataToSync(a.EmpNo, a.SwipeDate, a.TimeInWP, a.TimeOutWP, a.CorrectionType) c
									INNER JOIN tas.Tran_Timesheet_Extra d WITH (NOLOCK) ON b.AutoID = d.XID_AutoID	
								WHERE a.SwipeID = @swipeID
									AND a.IsCorrected = 1
									AND a.CorrectionType > 0
									AND ISNULL(b.CorrectionCode, '') = ''	--Rev. #1.6
									--AND d.OTStartTime IS NOT NULL			--Rev. #1.8 
									--AND d.OTEndTime IS NOT NULL
							)
							BEGIN

								UPDATE tas.Tran_Timesheet_Extra
								SET tas.Tran_Timesheet_Extra.OTstartTime =	CASE WHEN c.EnableOT = 1 AND a.CorrectionType IN (1, 3)		--For Workplace Time-in and Both correction type (Rev. #1.3)
																				THEN c.OTStartTime 
																				ELSE d.OTstartTime 
																			END,
									tas.Tran_Timesheet_Extra.OTendTime =	CASE WHEN c.EnableOT = 1 AND a.CorrectionType IN (2, 3)		--For Workplace Time-out and Both correction type (Rev. #1.3)
																				THEN c.OTEndTime 
																				ELSE d.OTendTime 
																			END
								FROM tas.Tran_WorkplaceSwipe a 
									INNER JOIN tas.Tran_Timesheet b  ON a.EmpNo = b.EmpNo AND a.SwipeDate = b.DT AND b.IsLastRow = 1
									CROSS APPLY tas.fnGetProcessedWorkplaceDataToSync(a.EmpNo, a.SwipeDate, a.TimeInWP, a.TimeOutWP, a.CorrectionType) c
									INNER JOIN tas.Tran_Timesheet_Extra d ON b.AutoID = d.XID_AutoID	
								WHERE a.SwipeID = @swipeID
									AND a.IsCorrected = 1
									AND a.CorrectionType > 0
									AND ISNULL(b.CorrectionCode, '') = ''	--Rev. #1.6
									--AND d.OTStartTime IS NOT NULL			--Rev. #1.8
									--AND d.OTEndTime IS NOT NULL		

								--Get the number of overtime records processed
								SELECT @overtimeRecordsProcessed = @@ROWCOUNT

								--Checks for error
								IF @@ERROR <> @CONST_RETURN_OK
								BEGIN
				
									SELECT	@retError = @CONST_RETURN_ERROR,
											@hasError = 1
								END
							END
						END
					END
				END

				ELSE
				BEGIN

					--Get the "Rejected By Approver" status
					SELECT	@statusID	= UDCID,
							@statusCode = RTRIM(UDCCode), 
							@statusDesc = RTRIM(UDCDesc1),
							@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
					FROM tas.syJDE_UserDefinedCode	
					WHERE RTRIM(UDCCode) = '110'

					--Insert "Rejected By Approver" History record
					INSERT INTO tas.WorkflowHistory
					(						
						SwipeID,
						TS_AutoID,
						RequestSubmissionDate,
						HistDesc,
						HistCreatedBy,
						HistCreatedName,
						HistCreatedDate
					)
					SELECT	@swipeID,
							@tsAutoID,
							@currentRequestSubmissionDate,
							'Status Changed - ' + RTRIM(@statusDesc) + ' (' + UPPER(RTRIM(@assigneeEmpName)) + ')' AS HistDesc, 
							@assigneeEmpNo AS HistCreatedBy,
							RTRIM(@assigneeEmpName) AS HistCreatedName,
							GETDATE() AS HistCreatedDate

					--Insert Approval record
					INSERT INTO tas.WorkflowApproval
					(						
						SwipeID,
						TS_AutoID,
						RequestSubmissionDate,
						AppApproved,
						AppRemarks,
						AppRoutineSeq,
						AppCreatedBy,
						AppCreatedName,
						AppCreatedDate
					)
					SELECT	@swipeID,
							@tsAutoID,
							@currentRequestSubmissionDate,
							ISNULL(@isApproved, 0) AS AppApproved,
							ISNULL(@appRemarks, '') AS AppRemarks,
							@currentSequenceNo AS AppRoutineSeq,
							ISNULL(@assigneeEmpNo, 0) AS AppCreatedBy,
							@assigneeEmpName AS AppCreatedName,
							GETDATE() AS AppCreatedDate

					--Update swipe record
					UPDATE tas.Tran_WorkplaceSwipe
					SET	StatusID = @statusID,
						StatusCode = @statusCode,
						StatusDesc = @statusDesc,
						StatusHandlingCode = @statusHandlingCode,
						CurrentlyAssignedEmpNo = NULL,
						CurrentlyAssignedEmpName = NULL,
						CurrentlyAssignedEmpEmail = NULL,
						ServiceProviderTypeCode = NULL,
						DistListCode = NULL,
						IsClosed = 1,
						ClosedDate = GETDATE(),
						--IsSubmittedForApproval = NULL,
						--SubmittedDate = NULL
						LastUpdateTime = GETDATE(),
						LastUpdateEmpNo = @assigneeEmpNo,
						LastUpdateUserID = '',
						LastUpdateEmpName = @assigneeEmpName,
						LastUpdateEmpEmail = ''
					WHERE SwipeID = @swipeID

					--Get the number of swipe records affected
					SELECT @swipeRecordProcessed = @@ROWCOUNT	
				END
			END

			ELSE
			BEGIN
			
				IF @isWFUpdateSuccess = 1
				BEGIN

					IF @actionType = 1	--Create workflow
					BEGIN
				
						--Get the "Request Sent" status
						SELECT	@statusID	= UDCID,
								@statusCode = RTRIM(UDCCode), 
								@statusDesc = RTRIM(UDCDesc1),
								@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
						FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
						WHERE RTRIM(UDCCode) = '02'

						--Insert "Request Sent" history record
						INSERT INTO tas.WorkflowHistory
						(
							SwipeID,
							TS_AutoID,
							RequestSubmissionDate,
							HistDesc,
							HistCreatedBy,
							HistCreatedName,
							HistCreatedDate
						)
						SELECT	@swipeID,
								@tsAutoID,
								@currentRequestSubmissionDate,
								'Open - ' + RTRIM(@statusDesc) AS HistDesc, 
								@createdByEmpNo AS HistCreatedBy,
								RTRIM(@createdByEmpName) AS HistCreatedName,
								GETDATE() AS HistCreatedDate

						--Get the "Waiting For Approval" status
						SELECT	@statusID	= UDCID,
								@statusCode = RTRIM(UDCCode), 
								@statusDesc = RTRIM(UDCDesc1),
								@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
						FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
						WHERE RTRIM(UDCCode) = '05'

						--Insert "Waiting For Approval" history record
						INSERT INTO tas.WorkflowHistory
						(
							SwipeID,
							TS_AutoID,
							RequestSubmissionDate,
							HistDesc,
							HistCreatedBy,
							HistCreatedName,
							HistCreatedDate
						)
						SELECT	@swipeID,
								@tsAutoID,
								@currentRequestSubmissionDate,
								'Status Changed - ' + RTRIM(@statusDesc) + ' (' + UPPER(RTRIM(@currentlyAssignedEmpName)) + ')' AS HistDesc, 
								ISNULL(@currentlyAssignedEmpNo, 0) AS HistCreatedBy,
								ISNULL(@currentlyAssignedEmpName, '') AS HistCreatedName,
								GETDATE() AS HistCreatedDate	
								
						--Update swipe record
						UPDATE tas.Tran_WorkplaceSwipe
						SET	StatusID = @statusID,
							StatusCode = @statusCode,
							StatusDesc = @statusDesc,
							StatusHandlingCode = @statusHandlingCode,
							CurrentlyAssignedEmpNo = @currentlyAssignedEmpNo,
							CurrentlyAssignedEmpName = @currentlyAssignedEmpName,
							CurrentlyAssignedEmpEmail = @currentlyAssignedEmpEmail,
							ServiceProviderTypeCode = @serviceProviderTypeCode,
							DistListCode = @distListCode,
							IsClosed = NULL,
							ClosedDate = NULL,
							IsSubmittedForApproval = 1,
							SubmittedDate = @currentRequestSubmissionDate,
							SubmittedByEmpNo = @createdByEmpNo,
							LastUpdateTime = GETDATE(),
							LastUpdateEmpNo = @createdByEmpNo,
							LastUpdateUserID = '',
							LastUpdateEmpName = @createdByEmpName,
							LastUpdateEmpEmail = ''
						WHERE SwipeID = @swipeID

						--Get the number of swipe records affected
						SELECT @swipeRecordProcessed = @@ROWCOUNT									
					END
			
					ELSE
					BEGIN

						IF @isApproved = 1
						BEGIN

							--Get the "Approved By Approver" status
							SELECT	@statusID	= UDCID,
									@statusCode = RTRIM(UDCCode), 
									@statusDesc = RTRIM(UDCDesc1),
									@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
							FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
							WHERE RTRIM(UDCCode) = '120'

							--Insert "Approved By Approver" history record
							INSERT INTO tas.WorkflowHistory
							(
								SwipeID,
								TS_AutoID,
								RequestSubmissionDate,
								HistDesc,
								HistCreatedBy,
								HistCreatedName,
								HistCreatedDate
							)
							SELECT	@swipeID,
									@tsAutoID,
									@currentRequestSubmissionDate,
									'Status Changed - ' + RTRIM(@statusDesc) + ' (' + UPPER(RTRIM(@assigneeEmpName)) + ')' AS HistDesc, 
									@assigneeEmpNo AS HistCreatedBy,
									RTRIM(@assigneeEmpName) AS HistCreatedName,
									GETDATE() AS HistCreatedDate

							--Get the "Assigned to Next Approver" status
							SELECT	@statusID	= UDCID,
									@statusCode = RTRIM(UDCCode), 
									@statusDesc = RTRIM(UDCDesc1),
									@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
							FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
							WHERE RTRIM(UDCCode) = '121'

							--Insert "Assigned to Next Approver" history record
							INSERT INTO tas.WorkflowHistory
							(
								SwipeID,
								TS_AutoID,
								RequestSubmissionDate,
								HistDesc,
								HistCreatedBy,
								HistCreatedName,
								HistCreatedDate
							)
							SELECT	@swipeID,
									@tsAutoID,
									@currentRequestSubmissionDate,
									'Status Changed - ' + RTRIM(@statusDesc) + ' (' + RTRIM(@currentlyAssignedEmpName) + ')' AS HistDesc, 
									ISNULL(@currentlyAssignedEmpNo, 0) AS HistCreatedBy,
									ISNULL(@currentlyAssignedEmpName, '') AS HistCreatedName,
									GETDATE() AS HistCreatedDate

							--Insert Approval record
							INSERT INTO tas.WorkflowApproval
							(
								SwipeID,
								TS_AutoID,
								RequestSubmissionDate,
								AppApproved,
								AppRemarks,
								AppRoutineSeq,
								AppCreatedBy,
								AppCreatedName,
								AppCreatedDate
							)
							SELECT	@swipeID,
									@tsAutoID,
									@currentRequestSubmissionDate,
									ISNULL(@isApproved, 0) AS AppApproved,
									ISNULL(@appRemarks, '') AS AppRemarks,
									@currentSequenceNo AS AppRoutineSeq,
									ISNULL(@assigneeEmpNo, 0) AS AppCreatedBy,
									@assigneeEmpName AS AppCreatedName,
									GETDATE() AS AppCreatedDate

							--Update the swipe record
							UPDATE tas.Tran_WorkplaceSwipe
							SET	StatusID = @statusID,
								StatusCode = @statusCode,
								StatusDesc = @statusDesc,
								StatusHandlingCode = @statusHandlingCode,
								CurrentlyAssignedEmpNo = @currentlyAssignedEmpNo,
								CurrentlyAssignedEmpName = @currentlyAssignedEmpName,
								CurrentlyAssignedEmpEmail = @currentlyAssignedEmpEmail,
								ServiceProviderTypeCode = @serviceProviderTypeCode,
								DistListCode = @distListCode,
								LastUpdateTime = GETDATE(),
								LastUpdateEmpNo = @assigneeEmpNo,
								LastUpdateUserID = '',
								LastUpdateEmpName = @assigneeEmpName,
								LastUpdateEmpEmail = ''
							WHERE SwipeID = @swipeID

							--Get the number of swipe records affected
							SELECT @swipeRecordProcessed = @@ROWCOUNT	
						END

						ELSE 
						BEGIN

							--Get the "Rejected By Approver" status
							SELECT	@statusID	= UDCID,
									@statusCode = RTRIM(UDCCode), 
									@statusDesc = RTRIM(UDCDesc1),
									@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
							FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
							WHERE RTRIM(UDCCode) = '110'

							--Insert "Rejected By Approver" History record
							INSERT INTO tas.WorkflowHistory
							(
								SwipeID,
								TS_AutoID,
								RequestSubmissionDate,
								HistDesc,
								HistCreatedBy,
								HistCreatedName,
								HistCreatedDate
							)
							SELECT	@swipeID,
									@tsAutoID,
									@currentRequestSubmissionDate,
									'Status Changed - ' + RTRIM(@statusDesc) + ' (' + UPPER(RTRIM(@assigneeEmpName)) + ')' AS HistDesc, 
									@assigneeEmpNo AS HistCreatedBy,
									RTRIM(@assigneeEmpName) AS HistCreatedName,
									GETDATE() AS HistCreatedDate

							--Insert Approval record
							INSERT INTO tas.WorkflowApproval
							(
								SwipeID,
								TS_AutoID,
								RequestSubmissionDate,
								AppApproved,
								AppRemarks,
								AppRoutineSeq,
								AppCreatedBy,
								AppCreatedName,
								AppCreatedDate
							)
							SELECT	@swipeID,
									@tsAutoID,
									@currentRequestSubmissionDate,
									ISNULL(@isApproved, 0) AS AppApproved,
									ISNULL(@appRemarks, '') AS AppRemarks,
									@currentSequenceNo AS AppRoutineSeq,
									ISNULL(@assigneeEmpNo, 0) AS AppCreatedBy,
									@assigneeEmpName AS AppCreatedName,
									GETDATE() AS AppCreatedDate

							--Update swipe record
							UPDATE tas.Tran_WorkplaceSwipe
							SET	StatusID = @statusID,
								StatusCode = @statusCode,
								StatusDesc = @statusDesc,
								StatusHandlingCode = @statusHandlingCode,
								CurrentlyAssignedEmpNo = NULL,
								CurrentlyAssignedEmpName = NULL,
								CurrentlyAssignedEmpEmail = NULL,
								ServiceProviderTypeCode = NULL,
								DistListCode = NULL,
								IsClosed = 1,
								ClosedDate = GETDATE(),
								--IsSubmittedForApproval = NULL,
								--SubmittedDate = NULL,
								LastUpdateTime = GETDATE(),
								LastUpdateEmpNo = @assigneeEmpNo,
								LastUpdateUserID = '',
								LastUpdateEmpName = @assigneeEmpName,
								LastUpdateEmpEmail = ''
							WHERE SwipeID = @swipeID

							--Get the number of swipe records affected
							SELECT @swipeRecordProcessed = @@ROWCOUNT	
						END												
					END
				END
			END
		END

		ELSE IF @actionType = 4		--Reassign to Other Approver
		BEGIN

			--Get the employee info
			IF ISNULL(@assigneeEmpNo, 0) > 0
			BEGIN
				
				--Get the current workflow information
				SELECT	@currentRequestSubmissionDate = RequestSubmissionDate
				FROM tas.WorkflowTransactionActivity WITH (NOLOCK)
				WHERE SwipeID = @swipeID
					AND TS_AutoID = @tsAutoID
					--AND (RequestSubmissionDate = @requestSubmissionDate OR @requestSubmissionDate IS NULL)	--Rev. #1.5
					AND IsCurrent = 1
					AND ISNULL(IsCompleted, 0) = 0

				--Get the approver employee information
				SELECT	@currentlyAssignedEmpNo = a.EmpNo,
						@currentlyAssignedEmpName = RTRIM(a.EmpName),
						@currentlyAssignedEmpEmail = LTRIM(RTRIM(b.EAEMAL))
				FROM tas.Master_Employee_JDE_View a WITH (NOLOCK)
					LEFT JOIN tas.syJDE_F01151 b WITH (NOLOCK) ON a.EmpNo = b.EAAN8 AND b.EAIDLN = 0 AND b.EARCK7 = 1 AND UPPER(LTRIM(RTRIM(b.EAETP))) = 'E' 
				WHERE EmpNo = @assigneeEmpNo

				--Get the "Reassigned to Other Approver" status
				SELECT	@statusID	= UDCID,
						@statusCode = RTRIM(UDCCode), 
						@statusDesc = RTRIM(UDCDesc1),
						@statusHandlingCode = RTRIM(UDCSpecialHandlingCode)
				FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
				WHERE RTRIM(UDCCode) = '122'

				--Insert "Reassigned to Other Approver" history record
				INSERT INTO tas.WorkflowHistory
				(
					SwipeID,
					TS_AutoID,
					RequestSubmissionDate,
					HistDesc,
					HistCreatedBy,
					HistCreatedName,
					HistCreatedDate
				)
				SELECT	@swipeID,
						@tsAutoID,
						@currentRequestSubmissionDate,

						--Start of Rev. #1.5
						CASE WHEN ISNULL(@appRemarks, '') <> '' 
							THEN 'Status Changed - ' + RTRIM(@statusDesc) + ' (' + UPPER(RTRIM(@currentlyAssignedEmpName)) + ')' + ' - ' + RTRIM(@appRemarks)  
							ELSE 'Status Changed - ' + RTRIM(@statusDesc) + ' (' + UPPER(RTRIM(@currentlyAssignedEmpName)) 
						END AS HistDesc, 
						--End of Rev. #1.5

						ISNULL(@currentlyAssignedEmpNo, 0) AS HistCreatedBy,
						ISNULL(@currentlyAssignedEmpName, '') AS HistCreatedName,
						GETDATE() AS HistCreatedDate

				--Update the swipe record
				UPDATE tas.Tran_WorkplaceSwipe
				SET	StatusID = @statusID,
					StatusCode = @statusCode,
					StatusDesc = @statusDesc,
					StatusHandlingCode = @statusHandlingCode,
					CurrentlyAssignedEmpNo = @currentlyAssignedEmpNo,
					CurrentlyAssignedEmpName = @currentlyAssignedEmpName,
					CurrentlyAssignedEmpEmail = @currentlyAssignedEmpEmail,
					ServiceProviderTypeCode = @serviceProviderTypeCode,
					DistListCode = @distListCode,
					LastUpdateTime = GETDATE(),
					LastUpdateEmpNo = @createdByEmpNo,
					LastUpdateUserID = '',
					LastUpdateEmpName = @createdByEmpName,
					LastUpdateEmpEmail = ''
				WHERE SwipeID = @swipeID

				--Get the number of swipe records affected
				SELECT @swipeRecordProcessed = @@ROWCOUNT	
			END
		END

	END TRY
	BEGIN CATCH

		--Capture the error
		SELECT	@retError = CASE WHEN ERROR_NUMBER() > 0 THEN ERROR_NUMBER() ELSE @CONST_RETURN_ERROR END,
				@retErrorDesc = ERROR_MESSAGE(),
				@hasError = 1

	END CATCH

EXIT_POINT:

	IF @retError = @CONST_RETURN_OK
	BEGIN

		IF @@TRANCOUNT > 0
			COMMIT TRANSACTION		
	END

	ELSE
	BEGIN

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION
	END

	--Return worflow update results to the caller
	SELECT	@hasError AS HasError, 
			@retError AS ErrorCode, 
			@retErrorDesc AS ErrorDescription,
			@swipeRecordProcessed AS SwipeRecordProcessed,
			@timeSheetRecordsProcessed AS TimeSheetRecordProcessed,
			@overtimeRecordsProcessed AS OvertimeRecordProcessed,
			@isWorkflowCompleted AS IsWorkflowCompleted,
			@currentlyAssignedEmpNo AS CurrentlyAssignedEmpNo,
			@currentlyAssignedEmpName AS CurrentlyAssignedEmpName,
			@currentlyAssignedEmpEmail AS CurrentlyAssignedEmpEmail,
			@emailSourceName AS EmailSourceName,
			@emailCCRecipient AS EmailCCRecipient,
			@emailCCRecipientType AS EmailCCRecipientType

END 
