USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_CheckReaderStatus]    Script Date: 24/01/2021 15:22:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_CheckReaderStatus
*	Description: This stored procedure is used to check the status of all readers at the workplace before running the Timesheet Process.
*
*	Date:			Author:		Rev.#:		Comments:
*	08/03/2016		Ervin		1.0			Created
*	09/11/2016		Ervin		1.1			Changed the value of @CONST_TIMESHEET_TIME constant into 09:10 AM
***************************************************************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_CheckReaderStatus]
(
	@processDate	DATETIME = NULL,
	@readerNo		INT	= 0 
)
AS	
    
	IF ISNULL(@processDate, '') = ''
		SET @processDate = NULL

	IF ISNULL(@readerNo, 0) = 0
		SET @readerNo = NULL

	--Define variables
	DECLARE	@CONST_TIMESHEET_TIME	DATETIME,
			@totalReaders			INT,
			@totalFaultyReaders		INT,
			@maxLastRead			DATETIME,
			@proceedExecuteTS		BIT 

	--Initialize variables
	SELECT	@CONST_TIMESHEET_TIME	= DATEADD(n, 10, DATEADD(hh, 9, CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 12)))),
			@totalReaders			= 0,
			@totalFaultyReaders		= 0,
			@maxLastRead			= NULL,
			@proceedExecuteTS		= 1

	--Get total count of all readers
	SELECT @totalReaders = COUNT(ReaderID) 
	FROM tas.sy_ReaderStatus

	--Get total count of all faulty readers
	SELECT @totalFaultyReaders = COUNT(ReaderID) 
	FROM tas.sy_ReaderStatus a
	WHERE a.LastRead < @CONST_TIMESHEET_TIME

	--Get the maximum value of "LastRead" field
	SELECT TOP 1 @maxLastRead = LastRead 
	FROM tas.sy_ReaderStatus a 
	ORDER BY a.LastRead DESC 

	--Check if need to execute Timesheet and Plant Swipe related services
	IF @totalReaders = @totalFaultyReaders
		SET @proceedExecuteTS = 0

	--For testing purpose uncomment the code below
	--SET @proceedExecuteTS = 0

	SELECT	@totalReaders		AS TotalReaders,
			@totalFaultyReaders	AS TotalFaultyReaders,
			@maxLastRead		AS MaxLastRead,
			@proceedExecuteTS	AS ProceedExecuteTS


/*	Debugging:

	exec tas.Pr_CheckReaderStatus '', 0

*/