USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[prInsertUpdateCurrentAttendance_V2]    Script Date: 07/04/2022 12:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.prInsertUpdateCurrentAttendance_V2
*	Description: Used to populate date in the attendance temporary table
*
*	Date			Author		Revision No.	Comments:
*	31/03/2016		Ervin		1.0				Created
*************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[prInsertUpdateCurrentAttendance_V2]  
(
	@action			VARCHAR(10),
	@processDate	DATETIME = NULL      	
)
AS                

	DECLARE @FromDAte	VARCHAR(50), 
			@ToDAte		VARCHAR(50) 

	IF UPPER(RTRIM(@action)) = 'INSERT'
	BEGIN 

		IF @processDate IS NULL
			SET @processDate = GETDATE()

		SELECT @FromDAte = tas.fmtDate_MinTimeOfDay_V2(@processDate)
		SELECT @ToDate = tas.fmtDate_MaxTimeOfDay_V2(@processDate)

		INSERT INTO tas.Master_EmployeeAttendance 
		(
			EmployeeNo, 
			AttendanceDate, 
			LocationCode, 
			ReaderNo, 
			EventCode, 
			[Source]
		)

		SELECT	EmpNo, 
				DT, 
				LocationCode, 
				ReaderNo, 
				EventCode, 
				[Source] 
		FROM tas.Tran_SwipeData_dsx1
		WHERE DT BETWEEN @FromDAte AND @ToDate
			
		UNION	 

		SELECT	EmpNo, 
				DATEADD(MINUTE, CONVERT(INT, SUBSTRING(timeIN, 3, 2)), DATEADD(hh, CONVERT(INT, SUBSTRING(timeIN, 1, 2)), dtIN)) AS 'DT', 
				-1 AS 'LocationCode', 
				-1 AS 'ReaderNo', 
				'' AS 'EventCode', 
				'' AS 'Source' 
		FROM tas.Tran_ManualAttendance
		WHERE CONVERT(DATETIME, CONVERT(VARCHAR, DATEADD(MINUTE, CONVERT(INT, SUBSTRING(timeIN, 3, 2)), DATEADD(hh, CONVERT(INT, SUBSTRING(timeIN, 1, 2)), dtIN)), 12)) BETWEEN @FromDAte AND @ToDate
			
		UNION

		SELECT	EmpNo, 
				DATEADD(MINUTE, CONVERT(INT, SUBSTRING([timeOUT], 3, 2)), DATEADD(hh, CONVERT(INT, SUBSTRING([timeOUT], 1, 2)), dtOut)) AS 'DT', 
				-1 AS 'LocationCode', 
				-2 AS 'ReaderNo', 
				'' AS 'EventCode', 
				'' AS 'Source' 
		FROM tas.Tran_ManualAttendance
		WHERE CONVERT(DATETIME, CONVERT(VARCHAR, DATEADD(MINUTE, CONVERT(INT, SUBSTRING([timeOUT], 3, 2)), DATEADD(hh, CONVERT(INT, SUBSTRING([timeOUT], 1, 2)), dtOut)), 12)) BETWEEN @FromDAte AND @ToDate
	END
	
	ELSE
	BEGIN
    
		DELETE FROM tas.Master_EmployeeAttendance
	END 


/*	Debugging:

	SELECT * FROM tas.Master_EmployeeAttendance

	exec tas.prInsertUpdateCurrentAttendance_V2 'insert', '04/09/2014'  
	exec tas.prInsertUpdateCurrentAttendance_V2 'delete'

*/
	