USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_Retrieve_TranTimeSheet]    Script Date: 6/6/2016 10:10:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*********************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_Retrieve_TranTimeSheet
*	Description: Retrieves data from tran_absence_dil table
*
*	Date:		Author:		Ref#:		Comments:
*	12/28/11	EBrosas		N/A			Created
*	04/08/12	EBrosas					Added @LoadType = 7	
*	04/09/12	EBrosas					Added filter for Active DIL. Included RE and PE DIL_Entitlement types
*	09/08/12	EBrosas					Check for IsLastRow = 1 
*	21/01/13	EBrosas					Removed checking of approved DIL request in Tran_Absence_DIL if DIL_Entitlement is set to 'AD' in tran_TimeSheet
*	13/05/13	EBrosas					Modified LoadType 3. Commented the filter b.IsDayShift = 1 
*	05/09/13	EBrosas					Fixed bug in LoadType = 6
*	30/09/13	Ervin		N/A			Modified logic in LoadType = 6
*	04/09/14	Ervin		N/A			Convert date into ISO Date in LoadType = 6
*	25/01/15	Ervin		N/A			Modified the condition in LoadType = 3 to return only employee absences wherein DT greater than or equals to the employee's joining date
**********************************************************************************************************************************************************************************************************/


ALTER PROCEDURE [tas].[Pr_Retrieve_TranTimeSheet]
(
	@LoadType	tinyint,
	@EmpNo		int,
	@StartDate	datetime,
	@EndDate	datetime	
)

AS

DECLARE @NullDate datetime
SELECT @NullDate = convert(datetime,'')

IF @LoadType = 0 BEGIN  -- Load Approved DIL
	IF @StartDate <> '' And @StartDate <> @NullDate And @EndDate <> '' And @EndDate <> @NullDate BEGIN
		select  
			AID, 	
			tas.fmtdate(EntitlementDate) as EntitlementDate,
			tas.fmtdate(SpendDate) as SpendDate,
			Remark,
			empno,
			DILcode,
			XID_TS_DIL_ENT
		from
		( 
			select 	top 100 
				T.AutoID AID, 
				T.empno , 
				dt , 
				dt EntitlementDate , 
				AB.EffectiveDate SpendDate ,
				DIL_entitlement  DILcode ,
				replace(Remark , ' ' , char(160)) Remark ,
				AB.XID_TS_DIL_ENT
			from tas.Tran_Timesheet T 
				left join (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') UDC on t.DIL_entitlement = udc.code  
				left join (select * from tas.tran_absence where empno = @EmpNo) AB on AB.XID_TS_DIL_ENT = T.autoid
				inner join tas.System_Values S on 1=1
			where 	DIL_entitlement is not null  
			and 	len(DIL_entitlement)>0
			--and 	( rtrim(ltrim(DIL_entitlement))='ES' or rtrim(ltrim(DIL_entitlement))='EA' )
			and 	( rtrim(ltrim(DIL_entitlement))='AD')
			and 	t.empno = @EmpNo  
			and 	(
				dt >= DateAdd( M ,-1  * S.Months_DILexpiry   , getdate())
				and
				dt >= S.DIL_switch_date
				)
			order by DT
		) A 
		where
			convert(datetime,convert(varchar(10),EntitlementDate,101)) between convert(datetime,convert(varchar(10), @StartDate,101)) and convert(datetime,convert(varchar(10), @EndDate,101))	
			and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
				inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
				where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_ENT,0) = A.AID)
			and exists(select AutoID from tas.Tran_Entitlement_DIL where AutoID = A.AID)
		order by AID DESC
	END
	ELSE BEGIN
		select  
			AID, 	
			tas.fmtdate(EntitlementDate) as EntitlementDate,
			tas.fmtdate(SpendDate) as SpendDate,
			Remark,
			empno,
			DILcode,
			XID_TS_DIL_ENT
		from
		( 
			select 	top 100 
				T.AutoID AID, 
				T.empno , 
				dt , 
				dt EntitlementDate , 
				AB.EffectiveDate SpendDate ,
				DIL_entitlement  DILcode ,
				replace(Remark , ' ' , char(160)) Remark ,
				AB.XID_TS_DIL_ENT
			from  	tas.Tran_Timesheet T 
				left join (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') UDC on t.DIL_entitlement = udc.code  
				left join (select * from tas.tran_absence where empno = @EmpNo) AB on AB.XID_TS_DIL_ENT = T.autoid
				inner join tas.System_Values S on 1=1
			where 	DIL_entitlement is not null  
			and 	len(DIL_entitlement)>0
			--and 	( rtrim(ltrim(DIL_entitlement))='ES' or rtrim(ltrim(DIL_entitlement))='EA' )
			and 	( rtrim(ltrim(DIL_entitlement))='AD')
			and 	t.empno = @EmpNo  
			and 	(
				dt >= DateAdd( M ,-1  * S.Months_DILexpiry   , getdate())
				and
				dt >= S.DIL_switch_date
				)
			order by DT
		) A 
		where
			not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
				inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
				where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_ENT,0) = A.AID)
			and exists(select AutoID from tas.Tran_Entitlement_DIL where AutoID = A.AID)
		order by AID DESC
	END
END

ELSE IF @LoadType = 1 BEGIN	-- Load Expired DIL 
	IF @StartDate <> '' And @StartDate <> @NullDate And @EndDate <> '' And @EndDate <> @NullDate BEGIN
		select  
			AID, 
			tas.fmtdate(EntitlementDate) as EntitlementDate,
			tas.fmtdate(SpendDate) as SpendDate,	
			Remark, 
			empno,
			DILcode,
			XID_TS_DIL_ENT
		from
		( 
			select 	top 100 
				T.AutoID AID, 
				T.empno , 
				dt , 
				dt EntitlementDate , 
				AB.EffectiveDate SpendDate ,
				DIL_entitlement  DILcode ,
				replace(Remark , ' ' , char(160)) Remark ,
				AB.XID_TS_DIL_ENT
			from  	tas.Tran_Timesheet T 
				left join (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') UDC on t.DIL_entitlement = udc.code  
				left join (select * from tas.tran_absence where empno = @EmpNo) AB on AB.XID_TS_DIL_ENT = T.autoid
				inner join tas.System_Values S on 1=1
			where 	DIL_entitlement is not null  
			and 	len(DIL_entitlement)>0
			--and 	( rtrim(ltrim(DIL_entitlement))='ES' or rtrim(ltrim(DIL_entitlement))='EA' )
			and 	( rtrim(ltrim(DIL_entitlement))='AD')
			and 	t.empno = @EmpNo  
			and 	(
				dt < DateAdd( M ,-1  * S.Months_DILexpiry   , getdate())
				or
				dt < S.DIL_switch_date
				)
			order by DT
		) A 
		where
			convert(datetime,convert(varchar(10),EntitlementDate,101)) between convert(datetime,convert(varchar(10), @StartDate,101)) and convert(datetime,convert(varchar(10), @EndDate,101))	
			and not exists(select AutoID from tas.Tran_Entitlement_DIL where AutoID = A.AID)
		order by AID asc
	END
	ELSE BEGIN
		select  
			AID , 
			tas.fmtdate(EntitlementDate) as EntitlementDate,
			tas.fmtdate(SpendDate) as SpendDate,	
			Remark, 
			empno,
			DILcode,
			XID_TS_DIL_ENT
		from
		( 
			select 	top 100 
				T.AutoID AID, 
				T.empno , 
				dt , 
				dt EntitlementDate , 
				AB.EffectiveDate SpendDate ,
				DIL_entitlement  DILcode ,
				replace(Remark , ' ' , char(160)) Remark ,
				AB.XID_TS_DIL_ENT
			from  	tas.Tran_Timesheet T 
				left join (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') UDC on t.DIL_entitlement = udc.code  
				left join (select * from tas.tran_absence where empno = @EmpNo) AB on AB.XID_TS_DIL_ENT = T.autoid
				inner join tas.System_Values S on 1=1
			where 	DIL_entitlement is not null  
			and 	len(DIL_entitlement)>0
			--and 	( rtrim(ltrim(DIL_entitlement))='ES' or rtrim(ltrim(DIL_entitlement))='EA' )
			and 	( rtrim(ltrim(DIL_entitlement))='AD' )
			and 	t.empno = @EmpNo  
			and 	(
				dt < DateAdd( M ,-1  * S.Months_DILexpiry   , getdate())
				or
				dt < S.DIL_switch_date
				)
			order by DT
		) A 
		where 
			not exists(select AutoID from tas.Tran_Entitlement_DIL where AutoID = A.AID)
		order by AID asc
	END
END

ELSE IF @LoadType = 2 BEGIN	-- Load Used DIL
	IF @StartDate <> '' And @StartDate <> @NullDate And @EndDate <> '' And @EndDate <> @NullDate BEGIN
		SELECT * FROM
		(	
			select  
				AID, 
				tas.fmtdate(EntitlementDate) as EntitlementDate,
				EntitlementDate as OrigDate,
				tas.fmtdate(SpendDate) as SpendDate,
				Remark,
				empno,
				DILcode,
				XID_TS_DIL_ENT   
			from  
				( 
					select top 100 T.AutoID AID, T.empno , (dt) dt, (dt) EntitlementDate , (AB.EffectiveDate) SpendDate , DIL_entitlement  DILcode , replace(Remark , ' ' , char(160)) Remark ,  AB.XID_TS_DIL_ENT    
					from  tas.tran_timesheet T 
					left join (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') UDC   on t.DIL_entitlement = udc.code  
					left join (select * from tas.tran_absence where empno = @EmpNo) AB         on AB.XID_TS_DIL_ENT = T.autoid 
					where DIL_entitlement is not null  
					and len(DIL_entitlement)>0  
					and (  rtrim(ltrim(DIL_entitlement)) = 'UD' or rtrim(ltrim(DIL_entitlement))='UA'  ) 
					and DIL_entitlement is not  null 
					and t.empno = @EmpNo order by DT 
					
			UNION
				select  
					a.AutoID as AID,
					a.empno,
					b.dt,
					b.DT as EntitlementDate,
					b.AppliedDate as SpendDate,
					c.DIL_Entitlement as DILcode,
					'' as Remark,
					b.XID_TS_DIL_ENT
				from tas.Tran_Absence_DIL a
					inner join tas.Tran_DIL_Consumption b on a.AutoID = b.RequisitionNo
					left join tas.Tran_Entitlement_DIL c on b.XID_TS_DIL_ENT = c.AutoID
				where a.EmpNo = @EmpNo
					and isnull(a.StatusCode,'') not in ('101','110')
				) A 
			where cast(tas.fmtdate(dt)as datetime) >= cast(tas.fmtdate(DATEADD(DAY,-365,getdate()))as datetime)
		) tbl
		WHERE
			convert(datetime,convert(varchar(10),OrigDate,101)) between convert(datetime,convert(varchar(10), @StartDate,101)) and convert(datetime,convert(varchar(10), @EndDate,101))	
		ORDER BY AID DESC
	END
	ELSE BEGIN
		SELECT * FROM
		(	
			select  
				AID, 
				tas.fmtdate(EntitlementDate) as EntitlementDate,
				EntitlementDate as OrigDate,
				tas.fmtdate(SpendDate) as SpendDate,
				Remark,
				empno,
				DILcode,
				XID_TS_DIL_ENT   
			from  
				( 
					select top 100 
						T.AutoID AID, T.empno , (dt) dt, (dt) EntitlementDate , (AB.EffectiveDate) SpendDate , DIL_entitlement  DILcode , replace(Remark , ' ' , char(160)) Remark ,  AB.XID_TS_DIL_ENT    
					from  tas.tran_timesheet T 
						left join (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') UDC   on t.DIL_entitlement = udc.code  
						left join (select * from tas.tran_absence where empno = @EmpNo) AB         on AB.XID_TS_DIL_ENT = T.autoid 
					where 
						DIL_entitlement is not null  
						and len(DIL_entitlement)>0  
						and (  rtrim(ltrim(DIL_entitlement)) = 'UD' or rtrim(ltrim(DIL_entitlement))='UA'  ) 
						and DIL_entitlement is not  null 
						and t.empno = @EmpNo 
					order by DT 
			
				UNION
				
					select  
						a.AutoID as AID,
						a.empno,
						b.dt,
						b.DT as EntitlementDate,
						b.AppliedDate as SpendDate,
						c.DIL_Entitlement as DILcode,
						'' as Remark,
						b.XID_TS_DIL_ENT
					from tas.Tran_Absence_DIL a
						inner join tas.Tran_DIL_Consumption b on a.AutoID = b.RequisitionNo
						left join tas.Tran_Entitlement_DIL c on b.XID_TS_DIL_ENT = c.AutoID
					where a.EmpNo = @EmpNo
						and isnull(a.StatusCode,'') not in ('101','110')
					) A 
				where cast(tas.fmtdate(dt)as datetime) >= cast(tas.fmtdate(DATEADD(DAY,-365,getdate()))as datetime)					
		) tbl
		ORDER BY AID DESC
	END
END

ELSE IF @LoadType = 3 BEGIN	-- Get Employee Absences and Incomplete work days
	IF @StartDate <> '' And @StartDate <> @NullDate And @EndDate <> '' And @EndDate <> @NullDate BEGIN
		/* Absences */	
		SELECT * FROM
		(	
			SELECT * FROM(
				SELECT TOP 100
					a.autoid as AID, 
					ProcessID,
					EmpNo, 
					dt as EntitlementDate, 
					dtIN,
					dtOUT,
					Duration_Required,
					Duration_Worked,
					Duration_Worked_Cumulative,
					RemarkCode,
					GradeCode,
					a.ShiftPatCode,
					'' as SpendDate,
					'Absent' as Remark 
				FROM tas.tran_timesheet a
					INNER JOIN tas.master_ShiftPatternTitles b ON a.ShiftPatCode = b.ShiftPatCode
					INNER JOIN tas.syJDE_F060116 c on a.EmpNo = c.YAAN8
				WHERE 
					ISNULL(RemarkCode,'') = 'A' 
					AND GradeCode >= 9 
					--AND b.IsDayShift = 1 
					AND isnull(IsLastRow,0) = 1
					AND a.empno = @EmpNo
					and isnull(AbsenceReasonCode,'') = ''
					and isnull(LeaveType,'') = ''
					--AND Duration_Worked_Cumulative = 0
					AND a.DT >= tas.ConvertFromJulian(ISNULL(c.YADST, 0))	
				) tbl
			WHERE 
				not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
					inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
					where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_USD,0) = AID)

		UNION
		
			/* Incomplete work days */	
			SELECT TOP 100
				a.autoid as AID, 
				ProcessID,
				EmpNo, 
				dt as EntitlementDate, 
				dtIN,
				dtOUT,
				Duration_Required,
				Duration_Worked,
				Duration_Worked_Cumulative,
				RemarkCode,
				GradeCode,
				a.ShiftPatCode,
				'' as SpendDate,
				'Incomplete work day (<i>worked less than 2 hours</i>)' as Remark
			FROM tas.tran_timesheet a
				INNER JOIN tas.master_ShiftPatternTitles b ON a.ShiftPatCode = b.ShiftPatCode
				INNER JOIN tas.syJDE_F060116 c on a.EmpNo = c.YAAN8
			WHERE 
				GradeCode >= 9
				--AND b.IsDayShift = 1 
				AND isnull(IsLastRow,0) = 1
				AND (Duration_Required > Duration_Worked_Cumulative AND Duration_Worked_Cumulative > 0 AND Duration_Worked_Cumulative <= 120)
				AND isnull(IsPublicHoliday,0) = 0
				AND ShiftCode = 'D'
				AND isnull(IsOnDutyRota,0) = 0
				AND isnull(IsDILdayWorker,0) = 0
				AND a.empno = @EmpNo
				AND ISNULL(RemarkCode,'') <> 'A' 
				and isnull(AbsenceReasonCode,'') = ''
				and isnull(LeaveType,'') = ''
				and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
					inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
					where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_USD,0) = a.AutoID)
				AND a.DT >= tas.ConvertFromJulian(ISNULL(c.YADST, 0))	
		) tbl
		WHERE
			convert(datetime,convert(varchar(10),EntitlementDate,101)) between convert(datetime,convert(varchar(10), @StartDate,101)) and convert(datetime,convert(varchar(10), @EndDate,101))	
		ORDER BY 
			Remark ASC, EntitlementDate DESC
	END
	ELSE BEGIN
		/* Absences */	
		SELECT * FROM
			(SELECT TOP 100
				a.autoid as AID, 
				ProcessID,
				EmpNo, 
				dt as EntitlementDate, 
				dtIN,
				dtOUT,
				Duration_Required,
				Duration_Worked,
				Duration_Worked_Cumulative,
				RemarkCode,
				GradeCode,
				a.ShiftPatCode,
				'' as SpendDate,
				'Absent' as Remark 
			FROM tas.tran_timesheet a
				INNER JOIN tas.master_ShiftPatternTitles b ON a.ShiftPatCode = b.ShiftPatCode
				INNER JOIN tas.syJDE_F060116 c on a.EmpNo = c.YAAN8
			WHERE 
				ISNULL(RemarkCode,'') = 'A' 
				AND GradeCode >= 9 
				--AND b.IsDayShift = 1 
				AND isnull(IsLastRow,0) = 1
				AND a.empno = @EmpNo
				and isnull(AbsenceReasonCode,'') = ''
				and isnull(LeaveType,'') = ''
				--AND Duration_Worked_Cumulative = 0
				AND a.DT >= tas.ConvertFromJulian(ISNULL(c.YADST, 0))	
		) tbl
		WHERE 
			not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
				inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
				where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_USD,0) = AID)

		UNION
			/* Incomplete work days */	
			SELECT TOP 100
				a.autoid as AID, 
				ProcessID,
				EmpNo, 
				dt as EntitlementDate, 
				dtIN,
				dtOUT,
				Duration_Required,
				Duration_Worked,
				Duration_Worked_Cumulative,
				RemarkCode,
				GradeCode,
				a.ShiftPatCode,
				'' as SpendDate,
				'Incomplete work day (<i>worked less than 2 hours</i>)' as Remark
			FROM tas.tran_timesheet a
				INNER JOIN tas.master_ShiftPatternTitles b ON a.ShiftPatCode = b.ShiftPatCode
				INNER JOIN tas.syJDE_F060116 c on a.EmpNo = c.YAAN8
			WHERE 
				GradeCode >= 9
				--AND b.IsDayShift = 1 
				AND isnull(IsLastRow,0) = 1
				AND (Duration_Required > Duration_Worked_Cumulative AND Duration_Worked_Cumulative > 0 AND Duration_Worked_Cumulative <= 120)
				AND isnull(IsPublicHoliday,0) = 0
				AND ShiftCode in ('D','E','N','M')
				AND isnull(IsOnDutyRota,0) = 0
				AND isnull(IsDILdayWorker,0) = 0
				AND a.empno = @EmpNo
				AND ISNULL(RemarkCode,'') <> 'A' 
				and isnull(AbsenceReasonCode,'') = ''
				and isnull(LeaveType,'') = ''
				and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
					inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
					where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_USD,0) = a.AutoID)
				AND a.DT >= tas.ConvertFromJulian(ISNULL(c.YADST, 0))	
					
			ORDER BY Remark ASC, EntitlementDate DESC
		END
END

ELSE IF @LoadType = 4 BEGIN
	--Absences
	SELECT DISTINCT TOP 100
		a.autoid as AID, 
		ProcessID,
		EmpNo, 
		dt as EntitlementDate, 
		dtIN,
		dtOUT,
		Duration_Required,
		Duration_Worked,
		Duration_Worked_Cumulative,
		RemarkCode,
		GradeCode,
		a.ShiftPatCode,
		'' as SpendDate,
		'Absent' as Remark 
	FROM tas.tran_timesheet a
		INNER JOIN tas.master_ShiftPatternTitles b ON a.ShiftPatCode = b.ShiftPatCode
	WHERE 
		ISNULL(RemarkCode,'') = 'A' 
		AND GradeCode >= 9 
		AND b.IsDayShift = 1 
		AND isnull(IsLastRow,0) = 1
		and isnull(AbsenceReasonCode,'') = ''
		and isnull(LeaveType,'') = ''
		--AND Duration_Worked_Cumulative = 0
		AND a.empno = @EmpNo
		
	UNION
		--Absences that has been removed bu t exists in Tran_DIL_Consumption
		SELECT 
			a.XID_TS_DIL_USD as AID, 
			b.ProcessID,
			b.EmpNo, 
			a.AppliedDate as EntitlementDate, 
			b.dtIN,
			b.dtOUT,
			b.Duration_Required,
			b.Duration_Worked,
			b.Duration_Worked_Cumulative,
			b.RemarkCode,
			b.GradeCode,
			b.ShiftPatCode,
			'' as SpendDate,
			'Absent' as Remark 
		FROM tas.Tran_DIL_Consumption a
			inner join tas.Tran_TimeSheet b on a.XID_TS_DIL_USD = b.AutoID 
		WHERE 
			RequisitionNo in (select AutoID from tas.Tran_Absence_DIL where EmpNo = @EmpNo and isnull(StatusCode,'') not in ('101','110')
				and DILRequestType = 1 and isnull(IsApproved,0) = 1)

	UNION
		--Incomplete work days 
		SELECT TOP 100
			a.autoid as AID, 
			ProcessID,
			EmpNo, 
			dt as EntitlementDate, 
			dtIN,
			dtOUT,
			Duration_Required,
			Duration_Worked,
			Duration_Worked_Cumulative,
			RemarkCode,
			GradeCode,
			a.ShiftPatCode,
			'' as SpendDate,
			'Incomplete work day (<i>worked less than 2 hours</i>)' as Remark
		FROM tas.tran_timesheet a
			INNER JOIN tas.master_ShiftPatternTitles b ON a.ShiftPatCode = b.ShiftPatCode
		WHERE 
			GradeCode >= 9
			--AND b.IsDayShift = 1 
			AND isnull(IsLastRow,0) = 1
			AND (Duration_Required > Duration_Worked_Cumulative AND Duration_Worked_Cumulative > 0 AND Duration_Worked_Cumulative <= 120)
			AND isnull(IsPublicHoliday,0) = 0
			AND ShiftCode in ('D','E','N','M')
			AND isnull(IsOnDutyRota,0) = 0
			AND isnull(IsDILdayWorker,0) = 0
			AND ISNULL(RemarkCode,'') <> 'A' 
			and isnull(AbsenceReasonCode,'') = ''
			and isnull(LeaveType,'') = ''
			AND a.empno = @EmpNo
		ORDER BY Remark, EntitlementDate DESC
END

ELSE IF @LoadType = 5 BEGIN  -- Load Not Yet Approved DIL
	IF @StartDate <> '' And @StartDate <> @NullDate And @EndDate <> '' And @EndDate <> @NullDate BEGIN
		select  
			AID, 	
			tas.fmtdate(EntitlementDate) as EntitlementDate,
			tas.fmtdate(SpendDate) as SpendDate,
			Remark,
			empno,
			DILcode,
			XID_TS_DIL_ENT,
			dt
		from
		( 
			select 	top 100 
				T.AutoID AID, 
				T.empno , 
				dt , 
				dt EntitlementDate , 
				AB.EffectiveDate SpendDate ,
				DIL_entitlement  DILcode ,
				replace(Remark , ' ' , char(160)) Remark ,
				AB.XID_TS_DIL_ENT
			from  	tas.Tran_Timesheet T 
				left join (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') UDC on t.DIL_entitlement = udc.code  
				left join (select * from tas.tran_absence where empno = @EmpNo) AB on AB.XID_TS_DIL_ENT = T.autoid
				inner join tas.System_Values S on 1=1
			where 	DIL_entitlement is not null  
				and 	len(DIL_entitlement)>0
				and 	( rtrim(ltrim(DIL_entitlement))='ES' or rtrim(ltrim(DIL_entitlement))='EA' )
				and 	t.empno = @EmpNo  
				and 	(
				dt >= DateAdd( M ,-1  * S.Months_DILexpiry   , getdate())
				and
				dt >= S.DIL_switch_date
				)
			order by DT
		) A 
		where
			convert(datetime,convert(varchar(10),EntitlementDate,101)) between convert(datetime,convert(varchar(10), @StartDate,101)) and convert(datetime,convert(varchar(10), @EndDate,101))	
			and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
				inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
				where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_ENT,0) = A.AID)
			and not exists(select AutoID from tas.Tran_Entitlement_DIL where AutoID = A.AID)
			and not exists(select AutoID from tas.Tran_Absence_DIL where EmpNo = @EmpNo and DILRequestType = 2 and isnull(IsApproved,0) = 1
				and convert(datetime,convert(varchar(10),AppliedDate,101)) = convert(datetime,convert(varchar(10),A.dt,101)))
		order by AID DESC
	END
	ELSE BEGIN
		select  
			AID, 	
			tas.fmtdate(EntitlementDate) as EntitlementDate,
			tas.fmtdate(SpendDate) as SpendDate,
			Remark,
			empno,
			DILcode,
			XID_TS_DIL_ENT,
			'HasApprovalRequest' = case when exists(select AutoID from tas.Tran_Absence_DIL 
													where isnull(DILRequestType,0) = 2 
													and isnull(StatusCode,'') not in ('101','110')
													and isnull(IsDraft,0) = 0
													and convert(datetime,convert(varchar(10),AppliedDate,101)) = convert(datetime,convert(varchar(10),EntitlementDate,101))
													and EmpNo = A.EmpNo)
									then 1 else 0 end,
			dt													
		from
		( 
			select 	top 100 
				T.AutoID AID, 
				T.empno , 
				dt , 
				dt EntitlementDate , 
				AB.EffectiveDate SpendDate ,
				DIL_entitlement  DILcode ,
				replace(Remark , ' ' , char(160)) Remark ,
				AB.XID_TS_DIL_ENT
			from  	tas.Tran_Timesheet T 
				left join (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') UDC on t.DIL_entitlement = udc.code  
				left join (select * from tas.tran_absence where empno = @EmpNo) AB on AB.XID_TS_DIL_ENT = T.autoid
				inner join tas.System_Values S on 1=1
			where 	DIL_entitlement is not null  
			and 	len(DIL_entitlement)>0
			and 	( rtrim(ltrim(DIL_entitlement))='ES' or rtrim(ltrim(DIL_entitlement))='EA' )
			and 	t.empno = @EmpNo  
			and 	(
				dt >= DateAdd( M ,-1  * S.Months_DILexpiry   , getdate())
				and
				dt >= S.DIL_switch_date
				)
			and isnull(IsLastRow,0) = 1
			order by DT
		) A 
		where
			not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
				inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
				where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_ENT,0) = A.AID)
			and	not exists(select AutoID from tas.Tran_Entitlement_DIL where AutoID = A.AID)
			and not exists(select AutoID from tas.Tran_Absence_DIL where EmpNo = @EmpNo and DILRequestType = 2 and isnull(IsApproved,0) = 1
				and convert(datetime,convert(varchar(10),AppliedDate,101)) = convert(datetime,convert(varchar(10),A.dt,101)))
		order by AID DESC
	END
END

ELSE IF @LoadType = 6 BEGIN  -- Load Finalized and Approved DIL
	SELECT 	
		a.AutoID AS AID, 	
		tas.fmtdate(DT) as EntitlementDate,
		null as SpendDate,
		--b.[DESCRIPTION] as Remark,
		'Approved Entitled System' as Remark,
		empno,
		DIL_Entitlement AS DILcode,
		NULL as XID_TS_DIL_ENT
	FROM tas.Tran_Entitlement_DIL a
		left join tas.master_udcvalues_jde b on rtrim(a.DIL_Entitlement) = rtrim(b.CODE)
		inner join tas.System_Values S on 1=1
	WHERE
		EmpNo = @EmpNo and rtrim(udckey) = '55  -1'
		and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
					   inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
					   where isnull(StatusCode,'') not in ('101','110') 
					   and isnull(tbl2.XID_TS_DIL_ENT,0) = a.AutoID)

		AND CONVERT(VARCHAR, a.DT, 12) >= CONVERT(VARCHAR, DateAdd(M, -1  * S.Months_DILexpiry, GETDATE()), 12) 
		--and convert(datetime,convert(varchar(10),a.DT,101)) >= convert(datetime,convert(varchar(10),DateAdd( M ,-1  * S.Months_DILexpiry, getdate()),101)) 

		AND CONVERT(VARCHAR, DT, 12) >= CONVERT(VARCHAR, S.DIL_switch_date, 12) 
		--and convert(datetime,convert(varchar(10),a.DT,101)) >= convert(datetime,convert(varchar(10),S.DIL_switch_date,101))

		and not exists(select AutoID from tas.Tran_TimeSheet where AutoID = a.AutoID and rtrim(DIL_Entitlement) in ('RE','PE'))
		
	UNION
	
	SELECT 	
		a.AutoID AS AID, 
		tas.fmtdate(DT) as EntitlementDate,
		null as SpendDate,
		'Approved Entitled System' as Remark,
		empno,
		DIL_Entitlement AS DILcode,
		NULL as XID_TS_DIL_ENT
	FROM tas.Tran_Entitlement_DIL a
		left join tas.master_udcvalues_jde b on rtrim(a.DIL_Entitlement) = rtrim(b.CODE)
		inner join tas.System_Values S on 1=1
	WHERE
		EmpNo = @EmpNo --and rtrim(udckey) = '55  -1'
		and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
					   inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
					   where isnull(StatusCode,'') not in ('101','110') 
					   and isnull(tbl2.XID_TS_DIL_ENT,0) = a.AutoID)

		AND CONVERT(VARCHAR, a.DT, 12) >= CONVERT(VARCHAR, S.DIL_switch_date, 12) 
		--and convert(datetime,convert(varchar(10),a.DT,101)) >= convert(datetime,convert(varchar(10),S.DIL_switch_date,101))

		and not exists(select AutoID from tas.Tran_TimeSheet where AutoID = a.AutoID and rtrim(DIL_Entitlement) in ('RE','PE'))
		and upper(rtrim(isnull(ApproverEmpName,''))) = 'SYSTEM'

		AND CONVERT(VARCHAR, GETDATE(), 12) <= CONVERT(VARCHAR, ApprovedDate, 12) 
		--and convert(datetime,convert(varchar(10),getdate(),101)) <= convert(datetime,convert(varchar(10),ApprovedDate,101)) 
			
	UNION
	
	SELECT DISTINCT 
		T.AutoID AID,
		dt EntitlementDate , 
		AB.EffectiveDate SpendDate,
		replace(Remark , ' ' , char(160)) Remark ,
		T.empno , 
		DIL_entitlement  DILcode ,
		AB.XID_TS_DIL_ENT
	FROM tas.Tran_Timesheet T 
		left join (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') UDC on t.DIL_entitlement = udc.code  
		left join (select * from tas.tran_absence where empno = @EmpNo) AB on AB.XID_TS_DIL_ENT = T.autoid
		inner join tas.System_Values S on 1=1
	WHERE 	
		DIL_entitlement is not null  and len(DIL_entitlement) > 0
		and (rtrim(ltrim(DIL_entitlement))='AD')
		and t.empno = @EmpNo  
		and(
			dt >= DateAdd( M ,-1  * S.Months_DILexpiry   , getdate())
			and
			dt >= S.DIL_switch_date
			)
		and not exists(select AutoID from tas.Tran_Entitlement_DIL where AutoID = T.AutoID)
		and not exists
			(
				select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
				inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
				where isnull(StatusCode,'') not in ('101','110') 
					and tbl1.DILRequestType = 1
					and (isnull(tbl2.XID_TS_DIL_ENT,0) = T.AutoID 
					and tbl1.AutoID not in (select AutoID from  tas.Tran_Absence_DIL where DILRequestType = 4 and XID_TS_DIL_ENT = T.AutoID))
					--and not exists (select AutoID from  tas.Tran_Absence_DIL where DILRequestType = 4 and XID_TS_DIL_ENT = T.AutoID))
			)		
		and not exists
			(
				SELECT AutoID FROM tas.Tran_Absence_DIL
				WHERE isnull(AbsencesAutoID,'') <> ''
					and isnull(DILRequestType,0) = 6
					and isnull(IsDraft,0) = 0
					and isnull(StatusCode,'') not in ('101','110','112')
					and rtrim(AbsencesAutoID) like '%' + CAST(T.AutoID AS VARCHAR(15)) + '%'
			)
		and isnull(IsLastRow,0) = 1
	
	ORDER BY AID DESC
END

ELSE IF @LoadType = 7 BEGIN  -- Load Approved and For Encashment DIL
	SELECT 	
		a.AutoID AS AID, 	
		tas.fmtdate(DT) as EntitlementDate,
		null as SpendDate,
		'Approved Entitled System' as Remark,
		empno,
		DIL_Entitlement AS DILcode,
		NULL as XID_TS_DIL_ENT
	FROM tas.Tran_Entitlement_DIL a
		left join tas.master_udcvalues_jde b on rtrim(a.DIL_Entitlement) = rtrim(b.CODE)
		inner join tas.System_Values S on 1=1
	WHERE
		EmpNo = @EmpNo and rtrim(udckey) = '55  -1'
		and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
					   inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
					   where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_ENT,0) = a.AutoID)
		and convert(datetime,convert(varchar(10),a.DT,101)) >= convert(datetime,convert(varchar(10),DateAdd( M ,-1  * S.Months_DILexpiry, getdate()),101)) 
		and convert(datetime,convert(varchar(10),a.DT,101)) >= convert(datetime,convert(varchar(10),S.DIL_switch_date,101))
		and not exists(select AutoID from tas.Tran_TimeSheet where AutoID = a.AutoID and rtrim(DIL_Entitlement) = 'PE')
		
	UNION
	
	SELECT 	
		a.AutoID AS AID, 
		tas.fmtdate(DT) as EntitlementDate,
		null as SpendDate,
		'Approved Entitled System' as Remark,
		empno,
		DIL_Entitlement AS DILcode,
		NULL as XID_TS_DIL_ENT
	FROM tas.Tran_Entitlement_DIL a
		left join tas.master_udcvalues_jde b on rtrim(a.DIL_Entitlement) = rtrim(b.CODE)
		inner join tas.System_Values S on 1=1
	WHERE
		EmpNo = @EmpNo --and rtrim(udckey) = '55  -1'
		and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
					   inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
					   where isnull(StatusCode,'') not in ('101','110') 
					   and isnull(tbl2.XID_TS_DIL_ENT,0) = a.AutoID)
		--and convert(datetime,convert(varchar(10),a.DT,101)) <= convert(datetime,convert(varchar(10),DateAdd( M ,-1  * S.Months_DILexpiry, getdate()),101)) 
		and convert(datetime,convert(varchar(10),a.DT,101)) >= convert(datetime,convert(varchar(10),S.DIL_switch_date,101))
		and not exists(select AutoID from tas.Tran_TimeSheet where AutoID = a.AutoID and rtrim(DIL_Entitlement) = 'PE')
		and upper(rtrim(isnull(ApproverEmpName,''))) = 'SYSTEM'
		and convert(datetime,convert(varchar(10),getdate(),101)) <= convert(datetime,convert(varchar(10),ApprovedDate,101)) 
		
	UNION
	
	SELECT TOP 100 
		T.AutoID AID,
		dt EntitlementDate , 
		AB.EffectiveDate SpendDate,
		replace(Remark , ' ' , char(160)) Remark ,
		T.empno , 
		DIL_entitlement  DILcode ,
		AB.XID_TS_DIL_ENT
	FROM tas.Tran_Timesheet T 
		left join (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') UDC on t.DIL_entitlement = udc.code  
		left join (select * from tas.tran_absence where empno = @EmpNo) AB on AB.XID_TS_DIL_ENT = T.autoid
		inner join tas.System_Values S on 1=1
	WHERE 	
		DIL_entitlement is not null  and len(DIL_entitlement) > 0
		and (rtrim(ltrim(DIL_entitlement)) in ('AD','RE'))
		and t.empno = @EmpNo  
		and(
			dt >= DateAdd( M ,-1  * S.Months_DILexpiry   , getdate())
			and
			dt >= S.DIL_switch_date
			)
		and not exists(select AutoID from tas.Tran_Entitlement_DIL where AutoID = T.AutoID)
		and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
		   inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
		   where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_ENT,0) = T.AutoID)
		--and exists(select * from tas.Tran_Absence_DIL where EmpNo = @EmpNo and DILRequestType in (2,4) 
		--	and isnull(IsApproved,0) = 1 and isnull(StatusCode,'') not in ('101','110')
		--	and convert(datetime,convert(varchar(10),T.dt,101)) between convert(datetime,convert(varchar(10),DILStartDate,101)) and convert(datetime,convert(varchar(10),DILResumeDate,101))) 
		and isnull(IsLastRow,0) = 1
	ORDER BY AID DESC
END

ELSE IF @LoadType = 8 BEGIN  -- Load Approved, For Encashment, and Paid DIL
	SELECT 	
		a.AutoID AS AID, 	
		tas.fmtdate(DT) as EntitlementDate,
		null as SpendDate,
		'Approved Entitled System' as Remark,
		empno,
		DIL_Entitlement AS DILcode,
		NULL as XID_TS_DIL_ENT
	FROM tas.Tran_Entitlement_DIL a
		left join tas.master_udcvalues_jde b on rtrim(a.DIL_Entitlement) = rtrim(b.CODE)
		inner join tas.System_Values S on 1=1
	WHERE
		EmpNo = @EmpNo and rtrim(udckey) = '55  -1'
		and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
					   inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
					   where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_ENT,0) = a.AutoID)
		and convert(datetime,convert(varchar(10),a.DT,101)) >= convert(datetime,convert(varchar(10),DateAdd( M ,-1  * S.Months_DILexpiry, getdate()),101)) 
		and convert(datetime,convert(varchar(10),a.DT,101)) >= convert(datetime,convert(varchar(10),S.DIL_switch_date,101))
		
	UNION
	
	SELECT 	
		a.AutoID AS AID, 
		tas.fmtdate(DT) as EntitlementDate,
		null as SpendDate,
		'Approved Entitled System' as Remark,
		empno,
		DIL_Entitlement AS DILcode,
		NULL as XID_TS_DIL_ENT
	FROM tas.Tran_Entitlement_DIL a
		left join tas.master_udcvalues_jde b on rtrim(a.DIL_Entitlement) = rtrim(b.CODE)
		inner join tas.System_Values S on 1=1
	WHERE
		EmpNo = @EmpNo --and rtrim(udckey) = '55  -1'
		and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
					   inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
					   where isnull(StatusCode,'') not in ('101','110') 
					   and isnull(tbl2.XID_TS_DIL_ENT,0) = a.AutoID)
		--and convert(datetime,convert(varchar(10),a.DT,101)) <= convert(datetime,convert(varchar(10),DateAdd( M ,-1  * S.Months_DILexpiry, getdate()),101)) 
		and convert(datetime,convert(varchar(10),a.DT,101)) >= convert(datetime,convert(varchar(10),S.DIL_switch_date,101))
		and upper(rtrim(isnull(ApproverEmpName,''))) = 'SYSTEM'
		and convert(datetime,convert(varchar(10),getdate(),101)) <= convert(datetime,convert(varchar(10),ApprovedDate,101)) 

	UNION
	
	SELECT TOP 100 
		T.AutoID AID,
		dt EntitlementDate , 
		AB.EffectiveDate SpendDate,
		replace(Remark , ' ' , char(160)) Remark ,
		T.empno , 
		DIL_entitlement  DILcode ,
		AB.XID_TS_DIL_ENT
	FROM tas.Tran_Timesheet T 
		left join (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') UDC on t.DIL_entitlement = udc.code  
		left join (select * from tas.tran_absence where empno = @EmpNo) AB on AB.XID_TS_DIL_ENT = T.autoid
		inner join tas.System_Values S on 1=1
	WHERE 	
		DIL_entitlement is not null  and len(DIL_entitlement) > 0
		and (rtrim(ltrim(DIL_entitlement)) in ('AD','RE','PE'))
		and t.empno = @EmpNo  
		and(
			dt >= DateAdd( M ,-1  * S.Months_DILexpiry   , getdate())
			and
			dt >= S.DIL_switch_date
			)
		and not exists(select AutoID from tas.Tran_Entitlement_DIL where AutoID = T.AutoID)
		and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
		   inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
		   where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_ENT,0) = T.AutoID)
		--and exists(select AutoID from tas.Tran_Absence_DIL where EmpNo = @EmpNo and DILRequestType in (2,4) 
		--	and isnull(IsApproved,0) = 1 and isnull(StatusCode,'') not in ('101','110')
		--	and convert(datetime,convert(varchar(10),T.dt,101)) between convert(datetime,convert(varchar(10),DILStartDate,101)) and convert(datetime,convert(varchar(10),DILResumeDate,101))) 
		and isnull(IsLastRow,0) = 1
	ORDER BY AID DESC
END

ELSE IF @LoadType = 9 BEGIN  -- Load For Encashment and Paid DIL
	SELECT 	
		a.AutoID AS AID, 	
		tas.fmtdate(a.DT) as EntitlementDate,
		null as SpendDate,
		replace(d.[Description], ' ' , char(160)) Remark ,
		a.EmpNo,
		c.DIL_Entitlement AS DILcode,
		NULL as XID_TS_DIL_ENT
	FROM tas.Tran_Entitlement_DIL a
		inner join tas.System_Values S on 1=1
		left join tas.Tran_TimeSheet c on a.AutoID = c.AutoID
		left join tas.master_udcvalues_jde d on rtrim(c.DIL_Entitlement) = rtrim(d.CODE)
	WHERE
		a.EmpNo = @EmpNo --and rtrim(udckey) = '55  -1'
		and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
					   inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
					   where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_ENT,0) = a.AutoID)
		and convert(datetime,convert(varchar(10),a.DT,101)) >= convert(datetime,convert(varchar(10),DateAdd( M ,-1  * S.Months_DILexpiry, getdate()),101)) 
		and convert(datetime,convert(varchar(10),a.DT,101)) >= convert(datetime,convert(varchar(10),S.DIL_switch_date,101))
		and exists(select AutoID from tas.Tran_TimeSheet where AutoID = a.AutoID and rtrim(DIL_Entitlement) in ('RE','PE'))
		
	UNION
	
	SELECT 	
		a.AutoID AS AID, 
		tas.fmtdate(DT) as EntitlementDate,
		null as SpendDate,
		'Approved Entitled System' as Remark,
		empno,
		DIL_Entitlement AS DILcode,
		NULL as XID_TS_DIL_ENT
	FROM tas.Tran_Entitlement_DIL a
		left join tas.master_udcvalues_jde b on rtrim(a.DIL_Entitlement) = rtrim(b.CODE)
		inner join tas.System_Values S on 1=1
	WHERE
		EmpNo = @EmpNo --and rtrim(udckey) = '55  -1'
		and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
					   inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
					   where isnull(StatusCode,'') not in ('101','110') 
					   and isnull(tbl2.XID_TS_DIL_ENT,0) = a.AutoID)
		--and convert(datetime,convert(varchar(10),a.DT,101)) <= convert(datetime,convert(varchar(10),DateAdd( M ,-1  * S.Months_DILexpiry, getdate()),101)) 
		and convert(datetime,convert(varchar(10),a.DT,101)) >= convert(datetime,convert(varchar(10),S.DIL_switch_date,101))
		and exists(select AutoID from tas.Tran_TimeSheet where AutoID = a.AutoID and rtrim(DIL_Entitlement) in ('RE','PE'))
		and upper(rtrim(isnull(ApproverEmpName,''))) = 'SYSTEM'
		and convert(datetime,convert(varchar(10),getdate(),101)) <= convert(datetime,convert(varchar(10),ApprovedDate,101)) 

	UNION
	
	SELECT TOP 100 
		T.AutoID AID,
		dt EntitlementDate , 
		AB.EffectiveDate SpendDate,
		replace(Remark , ' ' , char(160)) Remark ,
		T.empno , 
		DIL_entitlement  DILcode ,
		AB.XID_TS_DIL_ENT
	FROM tas.Tran_Timesheet T 
		left join (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') UDC on upper(ltrim(rtrim(t.DIL_entitlement))) = upper(ltrim(rtrim(udc.code)))  
		left join (select * from tas.tran_absence where empno = @EmpNo) AB on AB.XID_TS_DIL_ENT = T.autoid
		inner join tas.System_Values S on 1=1
	WHERE 	
		DIL_entitlement is not null  and len(DIL_entitlement) > 0
		and (rtrim(ltrim(DIL_entitlement)) in ('RE','PE'))
		and t.empno = @EmpNo  
		and(
			dt >= DateAdd( M ,-1  * S.Months_DILexpiry   , getdate())
			and
			dt >= S.DIL_switch_date
			)
		and not exists(select AutoID from tas.Tran_Entitlement_DIL where AutoID = T.AutoID)
		and not exists(select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
		   inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
		   where isnull(StatusCode,'') not in ('101','110') and isnull(tbl2.XID_TS_DIL_ENT,0) = T.AutoID)
		--and exists(select AutoID from tas.Tran_Absence_DIL where EmpNo = @EmpNo and DILRequestType in (2,4) 
		--	and isnull(IsApproved,0) = 1 and isnull(StatusCode,'') not in ('101','110')
		--	and convert(datetime,convert(varchar(10),T.dt,101)) between convert(datetime,convert(varchar(10),DILStartDate,101)) and convert(datetime,convert(varchar(10),DILResumeDate,101))) 
		and isnull(IsLastRow,0) = 1
	ORDER BY AID DESC
END

