USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_GetOvertimeByPeriod]    Script Date: 18/03/2018 09:05:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_GetOvertimeByPeriod
*	Description: Retrieve the employee overtime records
*
*	Date			Author		Rev. #		Comments:
*	24/07/2017		Ervin		1.0			Created
*	15/08/2017		Ervin		1.1			Added "CreatedDate" and "CreatedByEmail" fields
*	06/09/2017		Ervin		1.2			Added extra logic in fetching the Approval Level description that fecth data using the "fnGetCurrentApprovalLevel" function
*	10/09/2017		Ervin		1.3			Added a call to fnCheckIfArrivedEarly function to check if the employee arrived to work earlier than the shaving time allowance
*	18/09/2017		Ervin		1.4			Refactored the logic in identifying the Shift Code to use
*	07/11/2017		Ervin		1.5			Commented all occurences that checks if IsLastRow = 1
*	14/11/2017		Ervin		1.6			Set the "RequiredWorkDuration" field value to zero if ShiftCode = 'O'
*	15/11/2017		Ervin		1.7			Modified the logic in fetching the value on the following fields: "TotalWorkDuration", "dtIN"
*	26/11/2017		Ervin		1.8			Modified the logic in fetching Unprocessed Overtime to exclude records where a.DT <> GETDATE()
*	03/12/2017		Ervin		1.9			Commented the code that filters the OT Type
*	10/12/2017		Ervin		2.0			Modified the logic in fetching Unprocessed Overtime to exclude records where a.DT equals to yesterday date
*	11/12/2017		Ervin		2.1			Added "IsPublicHoliday" in the returned data
*	19/12/2017		Ervin		2.2			Exclude unprocessed OT where date equals to yesterday's date and current time is less than 10:00 AM
*	28/12/2017		Ervin		2.3			Added "dtIN_LastRow" that will be mapped to the "Time In" field in the grid
*	03/01/2018		Ervin		2.4			Set the value of the "OTDurationHour" field equal to the total work duration during public holidays
*	28/01/2018		Ervin		2.5			Added restrictions to filter the attendance records not less than to 3 months starting from today's date backwards
*	31/01/2018		Ervin		2.6			Modified the logic in fetching the unprocessed overtime get the employee cost center from "Master_Employee_JDE_View_V2" isntead of "Tran_Timesheet"
*	21/02/2018		Ervin		2.7			Uncommented the filter condition that checks if IsLastRow = 1 for fetching the unprocessed overtime
************************************************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_GetOvertimeByPeriod]
(   
	@currentUserEmpNo	INT, 
	@dataFilterID		TINYINT,
	@startDate			DATETIME = NULL,
	@endDate			DATETIME = NULL,
	@costCenter			VARCHAR(12) = '',
	@empNo				INT = 0,
	@otRequestNo		BIGINT = 0,
	@pageNumber			INT = 1,
	@pageSize			INT = 10
)
AS

	DECLARE	@minutes_MinOT_NSS			INT,
			@code_OTType_Regular		VARCHAR(10),	--OT Code for regular working day
			@CMDMaster					NVARCHAR(MAX), 
			@CMDMaster2					NVARCHAR(MAX), 
			@CMD						VARCHAR(MAX), 
			@CMDTotalRecords			VARCHAR(MAX),
			@WHERE						VARCHAR(MAX),		
			@ORDERBY					VARCHAR(MAX),	
			@chrQuote					CHAR(1),
			@startIndex					INT,
			@endIndex					INT,
			@totalRecords				INT,
			@recordCount				INT,
			@userCostCenter				VARCHAR(12)

	DECLARE	@tempTable TABLE (totalRows INT)

	--Initialize variables
	SELECT	@WHERE						= '',
			@ORDERBY					= ' ORDER BY DT DESC, BusinessUnit, EmpNo',
			@chrQuote					= '''',
			@CMDMaster2					= '',
			@totalRecords				= 0,
			@recordCount				= 0 

	-- Set the starting and ending index
	SELECT	@startIndex	= (@pageNumber * @pageSize) - @pageSize + 1,
			@endIndex	= (@startIndex + @pageSize) - 1, 
			@recordCount = @pageNumber * @pageSize

	--Get the minimum OT allowed
	SELECT	@minutes_MinOT_NSS		= Minutes_MinOT_NSS,
			@code_OTType_Regular	= RTRIM(Code_OTtype_Regular)
	FROM tas.System_Values

	--Validate parameters
	IF ISNULL(@startDate, '') = '' OR CONVERT(DATETIME, '') = @startDate
		SET @startDate = NULL

	IF ISNULL(@endDate, '') = '' OR CONVERT(DATETIME, '') = @endDate
		SET @endDate = NULL

	IF ISNULL(@costCenter, '') = ''
		SET @costCenter = NULL

	IF ISNULL(@empNo, 0) = 0
		SET @empNo = NULL

	IF @otRequestNo > 0
	BEGIN

		SELECT	DISTINCT 
				a.DT,
				a.CostCenter AS BusinessUnit,
				f.BusinessUnitName,
				a.EmpNo,
				e.EmpName,
				e.Position,
				e.GradeCode,
				c.ShiftPatCode,
				c.ShiftCode,
				c.Actual_ShiftCode,

				CASE WHEN tas.fnCheckIfMutipleGateEntry(c.EmpNo, c.DT) = 1
					THEN tas.fnGetFirstTimeIn(c.EmpNo, c.DT)
					ELSE c.dtIN
				END AS dtIN,
				c.dtOUT,

				d.OTStartTime,
				d.OTEndTime,
				d.OTType,
				CASE WHEN a.OTApproved = 'N' THEN 0 ELSE DATEDIFF(n, d.OTStartTime, d.OTEndTime) END AS OTDurationMinute,
				CASE WHEN a.OTApproved = 'N' THEN 0 ELSE tas.fmtMIN_HHmm(DATEDIFF(n, d.OTStartTime, d.OTEndTime)) END AS OTDurationHour,
				tas.fmtMIN_HHmm(DATEDIFF(n, d.OTStartTime, d.OTEndTime)) AS OTDurationHourOrig,
				
				--tas.fmtMIN_HHmm(DATEDIFF(n, c.dtIN, c.dtOUT)) AS TotalWorkDuration,
				tas.fmtMIN_HHmm(c.Duration_Worked_Cumulative) AS TotalWorkDuration,

				CASE
					WHEN RTRIM(c.ShiftCode) = 'O' THEN 0	--Rev. #1.6 
					WHEN DATEDIFF(n, k.ArrivalTo, k.DepartFrom) < 0 THEN tas.fmtMIN_HHmm(DATEDIFF(n, k.ArrivalTo, k.DepartFrom) + 1440)
					ELSE tas.fmtMIN_HHmm(DATEDIFF(n, k.ArrivalTo, k.DepartFrom))
				END AS RequiredWorkDuration,
				CASE WHEN RTRIM(a.OTApproved) = 'N' 
					THEN '0' 
					ELSE tas.fmtMIN_HHmm(DATEDIFF(n, d.OTStartTime, d.OTEndTime) + ISNULL(DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)), 0)) 	
				END AS OTShavedTimeDuration,
				CASE WHEN RTRIM(c.ShiftCode) = 'O' OR c.IsPublicHoliday = 1
					THEN 0
					ELSE 
						CASE WHEN DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)) > 0
							THEN DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)) 
							ELSE 0
						END 
				END AS ExcessWorkDuration,	
				d.Approved,
				a.MealVoucherEligibility,
				RTRIM(a.OTComment) AS Comment,
				a.OTApproved,
				RTRIM(a.OTReason) AS OTReasonCode,
				g.[DESCRIPTION] AS OTReason,				
				c.AutoID,
				d.XID_AutoID,
				c.Processed,
				a.OTRequestNo,
				a.StatusCode,
				a.StatusDesc,
				a.StatusHandlingCode,
				a.CurrentlyAssignedEmpNo,
				a.CurrentlyAssignedEmpName,
				a.CurrentlyAssignedEmpEmail,
				a.ServiceProviderTypeCode,
				a.DistListCode,
				CASE WHEN ISNULL(a.DistListCode, '') <> '' 
					THEN b.ActivityDesc2
					ELSE tas.fnGetCurrentApprovalLevel(a.OTRequestNo)	--Rev. #1.2
				END AS DistListDesc,
				CASE WHEN ISNULL(a.CurrentlyAssignedEmpNo, 0) = 0 AND RTRIM(a.StatusHandlingCode) = 'Open'
					THEN tas.fnOTDistributionGroupMembers(a.OTRequestNo, b.WorkflowTransactionID)
					ELSE NULL
				END AS DistListMembers,
				a.LastUpdateEmpNo,
				a.LastUpdateEmpName, 
				a.LastUpdateUserID, 
				a.LastUpdateTime, 
				a.CreatedByEmpNo,
				a.CreatedByEmpName,
				a.CreatedByEmail,
				a.CreatedDate,
				a.SubmittedDate AS RequestSubmissionDate,
				tas.fnIsOTDueToShiftSpan(a.EmpNo, a.DT) AS IsOTDueToShiftSpan,
				tas.fnCheckIfArrivedEarly(a.EmpNo, a.DT) AS IsArrivedEarly,
				CONVERT(VARCHAR, CONVERT(TIME, k.ArrivalFrom), 108) + ' - ' + CONVERT(VARCHAR, CONVERT(TIME, k.ArrivalTo), 108) AS ArrivalSchedule,
				CASE WHEN DATEDIFF(MINUTE, a.OTStartTime, a.OTEndTime) > DATEDIFF(MINUTE, a.OTStartTime_Orig, a.OTEndTime_Orig) AND RTRIM(a.CorrectionCode) NOT IN ('CAL', 'CBD', 'CDF', 'CSR', 'COMS', 'COEW') 
					THEN 1 
					ELSE 0 
				END AS IsOTExceedOrig,
				c.IsPublicHoliday				
		From tas.OvertimeRequest a 
			INNER JOIN tas.OvertimeWFTransactionActivity b ON a.OTRequestNo = b.OTRequestNo AND a.TS_AutoID = b.TS_AutoID AND (RTRIM(a.DistListCode) = RTRIM(b.ActionMemberCode) OR ISNULL(a.DistListCode, '') = '')
			INNER JOIN tas.Tran_Timesheet c ON a.EmpNo = c.EmpNo AND a.DT = c.DT AND a.TS_AutoID = c.AutoID --AND c.IsLastRow = 1
			INNER JOIN tas.Tran_Timesheet_Extra d ON c.AutoID = d.XID_AutoID	
			LEFT JOIN tas.Master_Employee_JDE_View_V2 e on a.EmpNo = e.EmpNo
			LEFT JOIN tas.Master_BusinessUnit_JDE f ON RTRIM(a.CostCenter) = RTRIM(f.BusinessUnit)
			LEFT JOIN tas.Master_OTReasons_JDE g ON RTRIM(d.OTReason) = RTRIM(g.CODE)
			LEFT JOIN tas.Master_Employee_JDE_View h ON a.CurrentlyAssignedEmpNo = h.EmpNo AND a.CurrentlyAssignedEmpNo > 0
			LEFT JOIN tas.OvertimeDistributionMember i ON a.OTRequestNo = i.OTRequestNo AND b.WorkflowTransactionID = i.WorkflowTransactionID
			LEFT JOIN tas.Master_ShiftTimes j ON RTRIM(c.ShiftPatCode) = RTRIM(j.ShiftPatCode) AND RTRIM(c.ShiftCode) = RTRIM(j.ShiftCode)	--Based on the scheduled shift
			LEFT JOIN tas.Master_ShiftTimes k ON RTRIM(c.ShiftPatCode) = RTRIM(k.ShiftPatCode) 
				AND 
				(
					CASE WHEN (DATEDIFF(MINUTE, CONVERT(TIME, c.dtIN), CONVERT(TIME, j.ArrivalTo)) > c.Duration_Required / 2) OR (c.Duration_Worked_Cumulative >= (c.Duration_Required + (c.Duration_Required / 2)))  
						THEN RTRIM(c.Actual_ShiftCode)
						ELSE RTRIM(c.ShiftCode)
					END
				) = RTRIM(k.ShiftCode)
		WHERE a.OTRequestNo = @otRequestNo
	END 

	ELSE BEGIN

		IF @dataFilterID = 1		--Show unprocessed overtime
		BEGIN
    
			--Get the cost center of the current user
			SELECT @userCostCenter = RTRIM(a.BusinessUnit) 
			FROM tas.Master_Employee_JDE_View_V2 a
			WHERE a.EmpNo = @currentUserEmpNo

			SET @CMDTotalRecords = '
										SELECT COUNT(*) 
										From tas.Tran_Timesheet a
											INNER JOIN tas.Tran_Timesheet_Extra b ON a.AutoID = b.XID_AutoID	
											INNER JOIN tas.Master_Employee_JDE_View_V2 c on a.EmpNo = c.EmpNo
											LEFT JOIN tas.Master_BusinessUnit_JDE d ON RTRIM(c.BusinessUnit) = RTRIM(d.BusinessUnit)
											LEFT JOIN tas.Master_OTReasons_JDE e ON RTRIM(b.OTReason) = RTRIM(e.CODE)
										WHERE 					
												b.OTstartTime IS NOT NULL
												AND b.OTendTime IS NOT NULL
												AND a.IsLastRow = 1
												AND b.OTApproved NOT IN (''Y'', ''N'')
												AND 
												(
													(
														DATEDIFF(n, b.OTstartTime, b.OTendTime) > ' + CAST(@minutes_MinOT_NSS AS VARCHAR(10)) + '
													)
												)
												AND RTRIM(c.BusinessUnit) IN
												(
													SELECT RTRIM(LTRIM(MCMCU)) 
													FROM tas.syJDE_F0006
													WHERE   
														(MCSTYL IN (''*'', '' '', ''BP'', ''DA'')) AND (MCCO IN (''00000'', ''00100'', ''00600''))
														AND ISNUMERIC(MCMCU) = 1
														AND (MCMCU BETWEEN 2110 AND 7910 OR MCMCU BETWEEN 6002000 AND 6007800)
														AND UPPER(RTRIM(ISNULL(MCRP06,''''))) = ''Y''
												)
												AND RTRIM(c.BusinessUnit) IN 
												(
													SELECT RTRIM(PermitCostCenter) 
													FROM tas.syJDE_PermitCostCenter a
														INNER JOIN tas.syJDE_UserDefinedCode b on a.PermitAppID = b.UDCID
													WHERE RTRIM(b.UDCCode) = ''TAS3''
														AND PermitEmpNo = ' + CAST(@currentUserEmpNo AS VARCHAR(10)) + 
												') 
												AND a.DT <> CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 12))	--Rev. #1.8
												AND a.AutoID NOT IN		--Rev. #2.2
												(
													SELECT AutoID FROM tas.Tran_Timesheet
													WHERE DT = CONVERT(VARCHAR, DATEADD(DAY, -1, GETDATE()), 12)
														AND CONVERT(TIME, GETDATE()) < CONVERT(TIME, ''10:00:00'')
												)
										'

			SET @CMD = 
			'
				SELECT	a.DT,
						c.BusinessUnit,
						d.BusinessUnitName,
						a.EmpNo,
						c.EmpName,
						c.Position,
						c.GradeCode,
						a.ShiftPatCode,
						a.ShiftCode,
						a.Actual_ShiftCode,
						CASE WHEN tas.fnCheckIfMutipleGateEntry(a.EmpNo, a.DT) = 1
							THEN tas.fnGetFirstTimeIn(a.EmpNo, a.DT)
							ELSE a.dtIN
						END AS dtIN,
						a.dtIN AS dtIN_LastRow,		--Rev. #2.3
						a.dtOUT,
						b.OTstartTime,
						b.OTendTime,
						b.OTtype,
						CASE WHEN b.Approved = 1
							THEN DATEDIFF(n, a.OTStartTime, a.OTEndTime)
							ELSE 
								CASE WHEN RTRIM(b.OTApproved) = ''N'' THEN 0 ELSE DATEDIFF(n, b.OTStartTime, b.OTEndTime) END	
						END AS OTDurationMinute,

						CASE WHEN b.Approved = 1 
							THEN tas.fmtMIN_HHmm(DATEDIFF(n, a.OTStartTime, a.OTEndTime)) 
							ELSE 
								CASE WHEN RTRIM(b.OTApproved) = ''N'' 
									THEN '''' 
									ELSE --tas.fmtMIN_HHmm(DATEDIFF(n, b.OTStartTime, b.OTEndTime)) 
										CASE WHEN a.IsPublicHoliday = 1		--Rev. #2.4
											THEN tas.fmtMIN_HHmm(a.Duration_Worked_Cumulative)
											ELSE tas.fmtMIN_HHmm(DATEDIFF(n, b.OTStartTime, b.OTEndTime)) 
										END 
								END	
						END AS OTDurationHour,

						CASE WHEN b.Approved = 1 
							THEN tas.fmtMIN_HHmm(DATEDIFF(n, a.OTStartTime, a.OTEndTime)) 
							ELSE 
								CASE WHEN RTRIM(b.OTApproved) = ''N'' THEN '''' ELSE tas.fmtMIN_HHmm(DATEDIFF(n, b.OTStartTime, b.OTEndTime)) END	
						END AS OTDurationHourOrig,
						tas.fmtMIN_HHmm(a.Duration_Worked_Cumulative) AS TotalWorkDuration,
						CASE
							WHEN RTRIM(a.ShiftCode) = ''O'' THEN 0 
							WHEN DATEDIFF(n, g.ArrivalTo, g.DepartFrom) < 0 THEN tas.fmtMIN_HHmm(DATEDIFF(n, g.ArrivalTo, g.DepartFrom) + 1440)
							ELSE tas.fmtMIN_HHmm(DATEDIFF(n, g.ArrivalTo, g.DepartFrom))
						END AS RequiredWorkDuration,

						CASE WHEN b.Approved = 1 
							THEN tas.fmtMIN_HHmm(DATEDIFF(n, a.OTStartTime, a.OTEndTime)) 
							ELSE 
								CASE WHEN RTRIM(b.OTApproved) = ''N'' THEN '''' ELSE tas.fmtMIN_HHmm(DATEDIFF(n, b.OTStartTime, b.OTEndTime) + ISNULL(DATEDIFF(n, CONVERT(TIME, a.dtIN), CONVERT(TIME, g.ArrivalTo)), 0)) END	
						END AS OTShavedTimeDuration,
						CASE WHEN RTRIM(a.ShiftCode) = ''O'' OR a.IsPublicHoliday = 1
							THEN 0
							ELSE 
								CASE WHEN DATEDIFF(n, CONVERT(TIME, a.dtIN), CONVERT(TIME, g.ArrivalTo)) > 0
									THEN DATEDIFF(n, CONVERT(TIME, a.dtIN), CONVERT(TIME, g.ArrivalTo)) 
									ELSE 0
								END 
						END AS ExcessWorkDuration,
						b.Approved,
						CASE WHEN b.OTApproved = ''0''
							THEN NULL
							ELSE a.MealVoucherEligibility
						END AS MealVoucherEligibility, 
						b.Comment,
						b.OTApproved,
						b.OTReason AS OTReasonCode,
						e.[DESCRIPTION] AS OTReason,				
						a.AutoID,
						b.XID_AutoID,
						a.Processed,
						a.LastUpdateUser AS LastUpdateEmpName,
						a.LastUpdateUser AS LastUpdateUserID,
						a.LastUpdateTime,
						NULL AS OTRequestNo,
						NULL AS StatusCode,
						NULL AS StatusDesc,
						NULL AS StatusHandlingCode,
						NULL AS CurrentlyAssignedEmpNo,
						NULL AS CurrentlyAssignedEmpName,
						NULL AS CurrentlyAssignedEmpEmail,
						NULL AS ServiceProviderTypeCode,
						NULL AS DistListCode,
						NULL AS DistListDesc,
						NULL AS DistListMembers,
						NULL AS LastUpdateEmpNo,
						NULL AS CreatedByEmpNo,
						NULL AS CreatedByEmpName,
						NULL AS CreatedByEmail,
						NULL AS CreatedDate,
						NULL AS RequestSubmissionDate,
						tas.fnIsOTDueToShiftSpan(a.EmpNo, a.DT) AS IsOTDueToShiftSpan,
						tas.fnCheckIfArrivedEarly(a.EmpNo, a.DT) AS IsArrivedEarly,
						CONVERT(VARCHAR, CONVERT(TIME, f.ArrivalFrom), 108) + '' - '' + CONVERT(VARCHAR, CONVERT(TIME, g.ArrivalTo), 108) AS ArrivalSchedule,
						0 AS IsOTExceedOrig,
						a.IsPublicHoliday						
				From tas.Tran_Timesheet a
					INNER JOIN tas.Tran_Timesheet_Extra b ON a.AutoID = b.XID_AutoID	
					INNER JOIN tas.Master_Employee_JDE_View_V2 c on a.EmpNo = c.EmpNo
					LEFT JOIN tas.Master_BusinessUnit_JDE d ON RTRIM(c.BusinessUnit) = RTRIM(d.BusinessUnit)
					LEFT JOIN tas.Master_OTReasons_JDE e ON RTRIM(b.OTReason) = RTRIM(e.CODE)
					LEFT JOIN tas.Master_ShiftTimes f ON RTRIM(a.ShiftPatCode) = RTRIM(f.ShiftPatCode) AND RTRIM(a.ShiftCode) = RTRIM(f.ShiftCode)	--Based on the scheduled shift
					LEFT JOIN tas.Master_ShiftTimes g ON RTRIM(a.ShiftPatCode) = RTRIM(g.ShiftPatCode)	--Rev. #1.4 
						AND 
						(
							CASE WHEN (DATEDIFF(MINUTE, CONVERT(TIME, a.dtIN), CONVERT(TIME, f.ArrivalTo)) > a.Duration_Required / 2) OR (a.Duration_Worked_Cumulative >= (a.Duration_Required + (a.Duration_Required / 2)))  
								THEN RTRIM(a.Actual_ShiftCode)
								ELSE RTRIM(a.ShiftCode)
							END
						) = RTRIM(g.ShiftCode)
				WHERE 					
					b.OTstartTime IS NOT NULL
					AND b.OTendTime IS NOT NULL
					AND a.IsLastRow = 1
					AND b.OTApproved NOT IN (''Y'', ''N'')
					AND 
					(
						(
							DATEDIFF(n, b.OTstartTime, b.OTendTime) > ' + CAST(@minutes_MinOT_NSS AS VARCHAR(10)) + ' 
						)
					)
					AND RTRIM(c.BusinessUnit) IN	--Rev. #2.6
					(
						SELECT RTRIM(LTRIM(MCMCU)) 
						FROM tas.syJDE_F0006
						WHERE   
							(MCSTYL IN (''*'', '' '', ''BP'', ''DA'')) AND (MCCO IN (''00000'', ''00100'', ''00600''))
							AND ISNUMERIC(MCMCU) = 1
							AND (MCMCU BETWEEN 2110 AND 7910 OR MCMCU BETWEEN 6002000 AND 6007800)
							AND UPPER(RTRIM(ISNULL(MCRP06,''''))) = ''Y''
					)
					AND RTRIM(c.BusinessUnit) IN 
					(
						SELECT RTRIM(PermitCostCenter) 
						FROM tas.syJDE_PermitCostCenter a
							INNER JOIN tas.syJDE_UserDefinedCode b on a.PermitAppID = b.UDCID
						WHERE RTRIM(b.UDCCode) = ''TAS3''
							AND PermitEmpNo = ' + CAST(@currentUserEmpNo AS VARCHAR(10)) + 
					') 
					AND a.DT <> CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 12))	--Rev. #1.8
					AND a.AutoID NOT IN		--Rev. #2.2
					(
						SELECT AutoID FROM tas.Tran_Timesheet
						WHERE DT = CONVERT(VARCHAR, DATEADD(DAY, -1, GETDATE()), 12)
							AND CONVERT(TIME, GETDATE()) < CONVERT(TIME, ''10:00:00'')
					)
			'

			--Add date range filter
			IF	@startDate IS NOT NULL AND @endDate IS NOT NULL
				SELECT @WHERE =  @WHERE + CASE WHEN (@WHERE <> 'WHERE') THEN ' AND ' ELSE ' ' END + ' CONVERT(VARCHAR, a.DT, 12) BETWEEN ' + @chrQuote + CONVERT(varchar, @startDate, 12) + @chrQuote + ' AND ' + @chrQuote + CONVERT(varchar, @endDate, 12) + @chrQuote 
	
			ELSE IF @startDate IS NOT NULL AND @endDate IS NULL
				SELECT @WHERE =  @WHERE + CASE WHEN (@WHERE <> 'WHERE') THEN ' AND ' ELSE ' ' END + ' CONVERT(VARCHAR, a.DT, 12) = ' + @chrQuote + CONVERT(varchar, @startDate, 12) + @chrQuote 

			--Add Cost Center filter
			IF @costCenter IS NOT NULL	
				SELECT @WHERE = @WHERE + CASE WHEN (@WHERE <> 'WHERE') THEN ' AND ' ELSE ' ' END + ' RTRIM(a.BusinessUnit) = ' + RTRIM(@costCenter) 

			--Add Employee No. filter
			IF @empNo IS NOT NULL
				SELECT @WHERE = @WHERE + CASE WHEN (@WHERE <> 'WHERE') THEN ' AND ' ELSE ' ' END + ' a.EmpNo = ' + RTRIM(CAST(@empNo AS VARCHAR(10))) 

			--Rev. #2.5
			IF @userCostCenter <> '7500' AND @currentUserEmpNo <> 10003632
				SELECT @WHERE =  @WHERE + CASE WHEN (@WHERE <> 'WHERE') THEN ' AND ' ELSE ' ' END + ' CONVERT(VARCHAR, a.DT, 12) >= ' + @chrQuote + CONVERT(VARCHAR, DATEADD(MONTH, -3, GETDATE()), 12) + @chrQuote 

			--Get the total records
			SELECT @CMDMaster2 = @CMDTotalRecords + CASE WHEN @WHERE = 'WHERE' THEN '' ELSE @WHERE END	

			INSERT INTO @tempTable
			EXEC sp_executesql @CMDMaster2 
			SELECT @totalRecords = totalRows FROM @tempTable

			--Build the final query
			SELECT @CMDMaster = 
				'SELECT * FROM 
				(
					SELECT *, ' + CONVERT(VARCHAR(10), @totalRecords) + 
					' AS TotalRecords, ROW_NUMBER() OVER (ORDER BY DT DESC, BusinessUnit, EmpNo) as RowNumber 
					FROM (' + @CMD + CASE WHEN @WHERE = 'WHERE' THEN '' ELSE @WHERE END + ') as innerTable 
				) as outerTable WHERE RowNumber BETWEEN ' + CONVERT(VARCHAR(10), @startIndex) + ' AND ' + CONVERT(VARCHAR(10), @endIndex)		
				+ @ORDERBY

			--PRINT @CMDMaster
			EXEC sp_executesql @CMDMaster
		END 

		ELSE IF @dataFilterID = 2	--Show submitted overtime requisitions
		BEGIN
    
			SELECT	DISTINCT 
					a.DT,
					a.CostCenter AS BusinessUnit,
					f.BusinessUnitName,
					a.EmpNo,
					e.EmpName,
					e.Position,
					e.GradeCode,
					c.ShiftPatCode,
					c.ShiftCode,
					c.Actual_ShiftCode,
					CASE WHEN tas.fnCheckIfMutipleGateEntry(c.EmpNo, c.DT) = 1
						THEN tas.fnGetFirstTimeIn(c.EmpNo, c.DT)
						ELSE c.dtIN
					END AS dtIN,
					c.dtIN AS dtIN_LastRow,		--Rev. #2.3
					c.dtOUT,
					d.OTStartTime,
					d.OTEndTime,
					d.OTType,
					CASE WHEN a.OTApproved = 'N' 
						THEN 0 
						ELSE DATEDIFF(n, d.OTStartTime, d.OTEndTime) 
					END AS OTDurationMinute,
					DATEDIFF(n, d.OTStartTime, d.OTEndTime) AS OTDurationMinuteOrig,
					CASE WHEN a.OTApproved = 'N' 
						THEN 0 
						ELSE tas.fmtMIN_HHmm(DATEDIFF(n, d.OTStartTime, d.OTEndTime)) 
					END AS OTDurationHour,					
					tas.fmtMIN_HHmm(DATEDIFF(n, d.OTStartTime, d.OTEndTime)) AS OTDurationHourOrig,
					
					--tas.fmtMIN_HHmm(DATEDIFF(n, c.dtIN, c.dtOUT)) AS TotalWorkDuration,
					tas.fmtMIN_HHmm(c.Duration_Worked_Cumulative) AS TotalWorkDuration,

					CASE
						WHEN RTRIM(c.ShiftCode) = 'O' THEN 0	--Rev. #1.6
						WHEN DATEDIFF(n, k.ArrivalTo, k.DepartFrom) < 0 THEN tas.fmtMIN_HHmm(DATEDIFF(n, k.ArrivalTo, k.DepartFrom) + 1440)
						ELSE tas.fmtMIN_HHmm(DATEDIFF(n, k.ArrivalTo, k.DepartFrom))
					END AS RequiredWorkDuration,
					CASE WHEN RTRIM(a.OTApproved) = 'N' 
						THEN '0' 
						ELSE tas.fmtMIN_HHmm(DATEDIFF(n, d.OTStartTime, d.OTEndTime) + ISNULL(DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)), 0)) 	
					END AS OTShavedTimeDuration,
					CASE WHEN RTRIM(c.ShiftCode) = 'O' OR c.IsPublicHoliday = 1
						THEN 0
						ELSE 
							CASE WHEN DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)) > 0
								THEN DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)) 
								ELSE 0
							END 
					END AS ExcessWorkDuration,
					d.Approved,
					a.MealVoucherEligibility,
					RTRIM(a.OTComment) AS Comment,
					a.OTApproved,
					RTRIM(a.OTReason) AS OTReasonCode,
					g.[DESCRIPTION] AS OTReason,				
					c.AutoID,
					d.XID_AutoID,
					c.Processed,
					a.OTRequestNo,
					a.StatusCode,
					a.StatusDesc,
					a.StatusHandlingCode,
					a.CurrentlyAssignedEmpNo,
					a.CurrentlyAssignedEmpName,
					a.CurrentlyAssignedEmpEmail,
					a.ServiceProviderTypeCode,					
					a.DistListCode,
					CASE WHEN ISNULL(a.DistListCode, '') <> '' 
						THEN RTRIM(b.ActivityDesc2)
						ELSE tas.fnGetCurrentApprovalLevel(a.OTRequestNo)	--Rev. #1.2
					END AS DistListDesc,

					CASE WHEN ISNULL(a.CurrentlyAssignedEmpNo, 0) = 0 AND RTRIM(a.StatusHandlingCode) = 'Open'
						THEN tas.fnOTDistributionGroupMembers(a.OTRequestNo, b.WorkflowTransactionID)
						ELSE NULL
					END AS DistListMembers,
					a.LastUpdateEmpNo,
					a.LastUpdateEmpName, 
					a.LastUpdateUserID, 
					a.LastUpdateTime, 
					a.CreatedByEmpNo,
					a.CreatedByEmpName,
					a.CreatedByEmail,
					a.CreatedDate,
					a.SubmittedDate AS RequestSubmissionDate,
					tas.fnIsOTDueToShiftSpan(a.EmpNo, a.DT) AS IsOTDueToShiftSpan,
					tas.fnCheckIfArrivedEarly(a.EmpNo, a.DT) AS IsArrivedEarly,
					CONVERT(VARCHAR, CONVERT(TIME, k.ArrivalFrom), 108) + ' - ' + CONVERT(VARCHAR, CONVERT(TIME, k.ArrivalTo), 108) AS ArrivalSchedule,					
					CASE WHEN DATEDIFF(MINUTE, a.OTStartTime, a.OTEndTime) > DATEDIFF(MINUTE, a.OTStartTime_Orig, a.OTEndTime_Orig) AND RTRIM(a.CorrectionCode) NOT IN ('CAL', 'CBD', 'CDF', 'CSR', 'COMS', 'COEW') 
						THEN 1 
						ELSE 0 
					END AS IsOTExceedOrig,
					c.IsPublicHoliday
			From tas.OvertimeRequest a 
				INNER JOIN tas.OvertimeWFTransactionActivity b ON a.OTRequestNo = b.OTRequestNo AND a.TS_AutoID = b.TS_AutoID AND (RTRIM(a.DistListCode) = RTRIM(b.ActionMemberCode) OR ISNULL(a.DistListCode, '') = '')
				INNER JOIN tas.Tran_Timesheet c ON a.EmpNo = c.EmpNo AND a.DT = c.DT AND a.TS_AutoID = c.AutoID --AND c.IsLastRow = 1
				INNER JOIN tas.Tran_Timesheet_Extra d ON c.AutoID = d.XID_AutoID	
				LEFT JOIN tas.Master_Employee_JDE_View_V2 e on a.EmpNo = e.EmpNo
				LEFT JOIN tas.Master_BusinessUnit_JDE f ON RTRIM(a.CostCenter) = RTRIM(f.BusinessUnit)
				LEFT JOIN tas.Master_OTReasons_JDE g ON RTRIM(d.OTReason) = RTRIM(g.CODE)
				LEFT JOIN tas.Master_Employee_JDE_View h ON a.CurrentlyAssignedEmpNo = h.EmpNo AND a.CurrentlyAssignedEmpNo > 0
				LEFT JOIN tas.OvertimeDistributionMember i ON a.OTRequestNo = i.OTRequestNo AND b.WorkflowTransactionID = i.WorkflowTransactionID
				LEFT JOIN tas.Master_ShiftTimes j ON RTRIM(c.ShiftPatCode) = RTRIM(j.ShiftPatCode) AND RTRIM(c.ShiftCode) = RTRIM(j.ShiftCode)	--Based on the scheduled shift
				LEFT JOIN tas.Master_ShiftTimes k ON RTRIM(c.ShiftPatCode) = RTRIM(k.ShiftPatCode) 
					AND 
					(
						CASE WHEN (DATEDIFF(MINUTE, CONVERT(TIME, c.dtIN), CONVERT(TIME, j.ArrivalTo)) > c.Duration_Required / 2) OR (c.Duration_Worked_Cumulative >= (c.Duration_Required + (c.Duration_Required / 2)))  
							THEN RTRIM(c.Actual_ShiftCode)
							ELSE RTRIM(c.ShiftCode)
						END
					) = RTRIM(k.ShiftCode)
			WHERE
				RTRIM(a.StatusHandlingCode) = 'Open'
				AND 
				(
					(
						a.DT BETWEEN @startDate AND @endDate 
						AND (@startDate IS NOT NULL AND @endDate IS NOT NULL)
						AND @startDate < @endDate
					)
					OR
					(
						a.DT = @startDate 
						AND (@endDate IS NULL OR @endDate = @startDate)
					)
					OR (@startDate IS NULL AND @endDate IS NULL)
				)
				AND 
				(
					(RTRIM(a.CostCenter) = RTRIM(@costCenter) OR @costCenter IS NULL)
					AND RTRIM(a.CostCenter) IN 
					(
						SELECT RTRIM(PermitCostCenter) 
						FROM tas.syJDE_PermitCostCenter a
							INNER JOIN tas.syJDE_UserDefinedCode b on a.PermitAppID = b.UDCID
						WHERE RTRIM(b.UDCCode) = 'TAS3'
							AND PermitEmpNo = @currentUserEmpNo
					)
				)
				AND (a.EmpNo = @empNo OR @empNo IS NULL)	
			ORDER BY a.OTRequestNo DESC	
		END 

		ELSE IF @dataFilterID = 3	--Show approved overtime 
		BEGIN
    
			SELECT	a.DT,
					a.CostCenter AS BusinessUnit,
					f.BusinessUnitName,
					a.EmpNo,
					e.EmpName,
					e.Position,
					e.GradeCode,
					c.ShiftPatCode,
					c.ShiftCode,
					c.Actual_ShiftCode,
					CASE WHEN tas.fnCheckIfMutipleGateEntry(c.EmpNo, c.DT) = 1
						THEN tas.fnGetFirstTimeIn(c.EmpNo, c.DT)
						ELSE c.dtIN
					END AS dtIN,
					c.dtIN AS dtIN_LastRow,		--Rev. #2.3
					c.dtOUT,
					d.OTStartTime,
					d.OTEndTime,
					d.OTType,
					CASE WHEN a.OTApproved = 'N' THEN 0 ELSE DATEDIFF(n, d.OTStartTime, d.OTEndTime) END AS OTDurationMinute,
					CASE WHEN a.OTApproved = 'N' THEN 0 ELSE tas.fmtMIN_HHmm(DATEDIFF(n, d.OTStartTime, d.OTEndTime)) END AS OTDurationHour,
					tas.fmtMIN_HHmm(DATEDIFF(n, d.OTStartTime, d.OTEndTime)) AS OTDurationHourOrig,
					
					--tas.fmtMIN_HHmm(DATEDIFF(n, c.dtIN, c.dtOUT)) AS TotalWorkDuration,
					tas.fmtMIN_HHmm(c.Duration_Worked_Cumulative) AS TotalWorkDuration,

					CASE
						WHEN RTRIM(c.ShiftCode) = 'O' THEN 0	--Rev. #1.6
						WHEN DATEDIFF(n, k.ArrivalTo, k.DepartFrom) < 0 THEN tas.fmtMIN_HHmm(DATEDIFF(n, k.ArrivalTo, k.DepartFrom) + 1440)
						ELSE tas.fmtMIN_HHmm(DATEDIFF(n, k.ArrivalTo, k.DepartFrom))
					END AS RequiredWorkDuration,					
					CASE WHEN RTRIM(a.OTApproved) = 'N' 
						THEN '0' 
						ELSE tas.fmtMIN_HHmm(DATEDIFF(n, d.OTStartTime, d.OTEndTime) + ISNULL(DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)), 0)) 	
					END AS OTShavedTimeDuration,
					CASE WHEN RTRIM(c.ShiftCode) = 'O' OR c.IsPublicHoliday = 1
						THEN 0
						ELSE 
							CASE WHEN DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)) > 0
								THEN DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)) 
								ELSE 0
							END 
					END AS ExcessWorkDuration,										
					d.Approved,
					a.MealVoucherEligibility,
					RTRIM(a.OTComment) AS Comment,
					a.OTApproved,
					RTRIM(a.OTReason) AS OTReasonCode,
					g.[DESCRIPTION] AS OTReason,				
					c.AutoID,
					d.XID_AutoID,
					c.Processed,
					a.OTRequestNo,
					a.StatusCode,
					a.StatusDesc,
					a.StatusHandlingCode,
					a.CurrentlyAssignedEmpNo,
					a.CurrentlyAssignedEmpName,
					a.CurrentlyAssignedEmpEmail,
					a.ServiceProviderTypeCode,
					a.DistListCode,
					NULL AS DistListDesc,
					NULL AS DistListMembers,

					--CASE WHEN ISNULL(a.DistListCode, '') <> '' 
					--	THEN b.ActivityDesc2
					--	ELSE NULL
					--END AS DistListDesc,
					--CASE WHEN ISNULL(a.CurrentlyAssignedEmpNo, 0) = 0 AND RTRIM(a.StatusHandlingCode) = 'Open'
					--	THEN tas.fnOTDistributionGroupMembers(a.OTRequestNo, b.WorkflowTransactionID)
					--	ELSE NULL
					--END AS DistListMembers,
					a.LastUpdateEmpNo,
					a.LastUpdateEmpName, 
					a.LastUpdateUserID, 
					a.LastUpdateTime, 
					a.CreatedByEmpNo,
					a.CreatedByEmpName,
					a.CreatedByEmail,
					a.CreatedDate,
					a.SubmittedDate AS RequestSubmissionDate,
					tas.fnIsOTDueToShiftSpan(a.EmpNo, a.DT) AS IsOTDueToShiftSpan,
					tas.fnCheckIfArrivedEarly(a.EmpNo, a.DT) AS IsArrivedEarly,
					CONVERT(VARCHAR, CONVERT(TIME, k.ArrivalFrom), 108) + ' - ' + CONVERT(VARCHAR, CONVERT(TIME, k.ArrivalTo), 108) AS ArrivalSchedule,
					CASE WHEN DATEDIFF(MINUTE, a.OTStartTime, a.OTEndTime) > DATEDIFF(MINUTE, a.OTStartTime_Orig, a.OTEndTime_Orig) AND RTRIM(a.CorrectionCode) NOT IN ('CAL', 'CBD', 'CDF', 'CSR', 'COMS', 'COEW') 
						THEN 1 
						ELSE 0 
					END AS IsOTExceedOrig,
					c.IsPublicHoliday					
			From tas.OvertimeRequest a 
				--INNER JOIN tas.OvertimeWFTransactionActivity b ON a.OTRequestNo = b.OTRequestNo AND a.TS_AutoID = b.TS_AutoID AND (RTRIM(a.DistListCode) = RTRIM(b.ActionMemberCode) OR ISNULL(a.DistListCode, '') = '')
				INNER JOIN tas.Tran_Timesheet c ON a.EmpNo = c.EmpNo AND a.DT = c.DT AND a.TS_AutoID = c.AutoID --AND c.IsLastRow = 1
				INNER JOIN tas.Tran_Timesheet_Extra d ON c.AutoID = d.XID_AutoID	
				LEFT JOIN tas.Master_Employee_JDE_View_V2 e on a.EmpNo = e.EmpNo
				LEFT JOIN tas.Master_BusinessUnit_JDE f ON RTRIM(a.CostCenter) = RTRIM(f.BusinessUnit)
				LEFT JOIN tas.Master_OTReasons_JDE g ON RTRIM(d.OTReason) = RTRIM(g.CODE)
				LEFT JOIN tas.Master_Employee_JDE_View h ON a.CurrentlyAssignedEmpNo = h.EmpNo AND a.CurrentlyAssignedEmpNo > 0
				--LEFT JOIN tas.OvertimeDistributionMember i ON a.OTRequestNo = i.OTRequestNo AND b.WorkflowTransactionID = i.WorkflowTransactionID
				LEFT JOIN tas.Master_ShiftTimes j ON RTRIM(c.ShiftPatCode) = RTRIM(j.ShiftPatCode) AND RTRIM(c.ShiftCode) = RTRIM(j.ShiftCode)	--Based on the scheduled shift
				LEFT JOIN tas.Master_ShiftTimes k ON RTRIM(c.ShiftPatCode) = RTRIM(k.ShiftPatCode) 
					AND 
					(
						CASE WHEN (DATEDIFF(MINUTE, CONVERT(TIME, c.dtIN), CONVERT(TIME, j.ArrivalTo)) > c.Duration_Required / 2) OR (c.Duration_Worked_Cumulative >= (c.Duration_Required + (c.Duration_Required / 2)))  
							THEN RTRIM(c.Actual_ShiftCode)
							ELSE RTRIM(c.ShiftCode)
						END
					) = RTRIM(k.ShiftCode)
			WHERE
				RTRIM(a.StatusHandlingCode) IN ('Approved', 'Closed')
				AND 
				(
					(
						a.DT BETWEEN @startDate AND @endDate 
						AND (@startDate IS NOT NULL AND @endDate IS NOT NULL)
						AND @startDate < @endDate
					)
					OR
					(
						a.DT = @startDate 
						AND (@endDate IS NULL OR @endDate = @startDate)
					)
					OR (@startDate IS NULL AND @endDate IS NULL)
				)
				AND 
				(
					(RTRIM(a.CostCenter) = RTRIM(@costCenter) OR @costCenter IS NULL)
					AND RTRIM(a.CostCenter) IN 
					(
						SELECT RTRIM(PermitCostCenter) 
						FROM tas.syJDE_PermitCostCenter a
							INNER JOIN tas.syJDE_UserDefinedCode b on a.PermitAppID = b.UDCID
						WHERE RTRIM(b.UDCCode) = 'TAS3'
							AND PermitEmpNo = @currentUserEmpNo
					)
				)
				AND (a.EmpNo = @empNo OR @empNo IS NULL)	
			ORDER BY a.OTRequestNo DESC	
		END 

		ELSE IF @dataFilterID = 4	--Show rejected overtime 
		BEGIN
    
			SELECT	a.DT,
					a.CostCenter AS BusinessUnit,
					f.BusinessUnitName,
					a.EmpNo,
					e.EmpName,
					e.Position,
					e.GradeCode,
					c.ShiftPatCode,
					c.ShiftCode,
					c.Actual_ShiftCode,
					CASE WHEN tas.fnCheckIfMutipleGateEntry(c.EmpNo, c.DT) = 1
						THEN tas.fnGetFirstTimeIn(c.EmpNo, c.DT)
						ELSE c.dtIN
					END AS dtIN,
					c.dtIN AS dtIN_LastRow,		--Rev. #2.3
					c.dtOUT,
					CASE WHEN a.OTApproved = 'N' 
						THEN d.OTStartTime
						ELSE a.OTStartTime
					END AS OTStartTime,
					CASE WHEN a.OTApproved = 'N' 
						THEN d.OTEndTime
						ELSE a.OTEndTime
					END AS OTEndTime,
					a.OTType,
					CASE WHEN a.OTApproved = 'N' THEN 0 ELSE DATEDIFF(n, a.OTStartTime, a.OTEndTime) END AS OTDurationMinute,
					CASE WHEN a.OTApproved = 'N' THEN 0 ELSE tas.fmtMIN_HHmm(DATEDIFF(n, a.OTStartTime, a.OTEndTime)) END AS OTDurationHour,
					tas.fmtMIN_HHmm(DATEDIFF(n, a.OTStartTime, a.OTEndTime)) AS OTDurationHourOrig,
					
					--tas.fmtMIN_HHmm(DATEDIFF(n, c.dtIN, c.dtOUT)) AS TotalWorkDuration,
					tas.fmtMIN_HHmm(c.Duration_Worked_Cumulative) AS TotalWorkDuration,

					CASE
						WHEN RTRIM(c.ShiftCode) = 'O' THEN 0	--Rev. #1.6
						WHEN DATEDIFF(n, k.ArrivalTo, k.DepartFrom) < 0 THEN tas.fmtMIN_HHmm(DATEDIFF(n, k.ArrivalTo, k.DepartFrom) + 1440)
						ELSE tas.fmtMIN_HHmm(DATEDIFF(n, k.ArrivalTo, k.DepartFrom))
					END AS RequiredWorkDuration,
					CASE WHEN RTRIM(a.OTApproved) = 'N' 
						THEN '0' 
						ELSE tas.fmtMIN_HHmm(DATEDIFF(n, a.OTStartTime, a.OTEndTime) + ISNULL(DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)), 0)) 	
					END AS OTShavedTimeDuration,
					CASE WHEN RTRIM(c.ShiftCode) = 'O' OR c.IsPublicHoliday = 1
						THEN 0
						ELSE 
							CASE WHEN DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)) > 0
								THEN DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)) 
								ELSE 0
							END 
					END AS ExcessWorkDuration,	
					d.Approved,
					a.MealVoucherEligibility,
					RTRIM(a.OTComment) AS Comment,
					a.OTApproved,
					RTRIM(a.OTReason) AS OTReasonCode,
					g.[DESCRIPTION] AS OTReason,				
					c.AutoID,
					d.XID_AutoID,
					c.Processed,
					a.OTRequestNo,
					a.StatusCode,
					a.StatusDesc,
					a.StatusHandlingCode,
					a.CurrentlyAssignedEmpNo,
					a.CurrentlyAssignedEmpName,
					a.CurrentlyAssignedEmpEmail,
					a.ServiceProviderTypeCode,
					a.DistListCode,
					NULL AS DistListDesc,
					NULL AS DistListMembers,

					--CASE WHEN ISNULL(a.DistListCode, '') <> '' 
					--	THEN b.ActivityDesc2
					--	ELSE NULL
					--END AS DistListDesc,
					--CASE WHEN ISNULL(a.CurrentlyAssignedEmpNo, 0) = 0 AND RTRIM(a.StatusHandlingCode) = 'Open'
					--	THEN tas.fnOTDistributionGroupMembers(a.OTRequestNo, b.WorkflowTransactionID)
					--	ELSE NULL
					--END AS DistListMembers,
					a.LastUpdateEmpNo,
					a.LastUpdateEmpName, 
					a.LastUpdateUserID, 
					a.LastUpdateTime, 
					a.CreatedByEmpNo,
					a.CreatedByEmpName,
					a.CreatedByEmail,
					a.CreatedDate,
					a.SubmittedDate AS RequestSubmissionDate,
					tas.fnIsOTDueToShiftSpan(a.EmpNo, a.DT) AS IsOTDueToShiftSpan,
					tas.fnCheckIfArrivedEarly(a.EmpNo, a.DT) AS IsArrivedEarly,
					CONVERT(VARCHAR, CONVERT(TIME, k.ArrivalFrom), 108) + ' - ' + CONVERT(VARCHAR, CONVERT(TIME, k.ArrivalTo), 108) AS ArrivalSchedule,
					CASE WHEN DATEDIFF(MINUTE, a.OTStartTime, a.OTEndTime) > DATEDIFF(MINUTE, a.OTStartTime_Orig, a.OTEndTime_Orig) AND RTRIM(a.CorrectionCode) NOT IN ('CAL', 'CBD', 'CDF', 'CSR', 'COMS', 'COEW') 
						THEN 1 
						ELSE 0 
					END AS IsOTExceedOrig,
					c.IsPublicHoliday
			From tas.OvertimeRequest a 
				--INNER JOIN tas.OvertimeWFTransactionActivity b ON a.OTRequestNo = b.OTRequestNo AND a.TS_AutoID = b.TS_AutoID AND (RTRIM(a.DistListCode) = RTRIM(b.ActionMemberCode) OR ISNULL(a.DistListCode, '') = '')
				INNER JOIN tas.Tran_Timesheet c ON a.EmpNo = c.EmpNo AND a.DT = c.DT AND a.TS_AutoID = c.AutoID --AND c.IsLastRow = 1
				INNER JOIN tas.Tran_Timesheet_Extra d ON c.AutoID = d.XID_AutoID	
				LEFT JOIN tas.Master_Employee_JDE_View_V2 e on a.EmpNo = e.EmpNo
				LEFT JOIN tas.Master_BusinessUnit_JDE f ON RTRIM(a.CostCenter) = RTRIM(f.BusinessUnit)
				LEFT JOIN tas.Master_OTReasons_JDE g ON RTRIM(d.OTReason) = RTRIM(g.CODE)
				LEFT JOIN tas.Master_Employee_JDE_View h ON a.CurrentlyAssignedEmpNo = h.EmpNo AND a.CurrentlyAssignedEmpNo > 0
				--LEFT JOIN tas.OvertimeDistributionMember i ON a.OTRequestNo = i.OTRequestNo AND b.WorkflowTransactionID = i.WorkflowTransactionID
				LEFT JOIN tas.Master_ShiftTimes j ON RTRIM(c.ShiftPatCode) = RTRIM(j.ShiftPatCode) AND RTRIM(c.ShiftCode) = RTRIM(j.ShiftCode)	--Based on the scheduled shift
				LEFT JOIN tas.Master_ShiftTimes k ON RTRIM(c.ShiftPatCode) = RTRIM(k.ShiftPatCode) 
					AND 
					(
						CASE WHEN (DATEDIFF(MINUTE, CONVERT(TIME, c.dtIN), CONVERT(TIME, j.ArrivalTo)) > c.Duration_Required / 2) OR (c.Duration_Worked_Cumulative >= (c.Duration_Required + (c.Duration_Required / 2)))  
							THEN RTRIM(c.Actual_ShiftCode)
							ELSE RTRIM(c.ShiftCode)
						END
					) = RTRIM(k.ShiftCode)
			WHERE
				RTRIM(a.StatusHandlingCode) = 'Rejected'
				AND 
				(
					(
						a.DT BETWEEN @startDate AND @endDate 
						AND (@startDate IS NOT NULL AND @endDate IS NOT NULL)
						AND @startDate < @endDate
					)
					OR
					(
						a.DT = @startDate 
						AND (@endDate IS NULL OR @endDate = @startDate)
					)
					OR (@startDate IS NULL AND @endDate IS NULL)
				)
				AND 
				(
					(RTRIM(a.CostCenter) = RTRIM(@costCenter) OR @costCenter IS NULL)
					AND RTRIM(a.CostCenter) IN 
					(
						SELECT RTRIM(PermitCostCenter) 
						FROM tas.syJDE_PermitCostCenter a
							INNER JOIN tas.syJDE_UserDefinedCode b on a.PermitAppID = b.UDCID
						WHERE RTRIM(b.UDCCode) = 'TAS3'
							AND PermitEmpNo = @currentUserEmpNo
					)
				)
				AND (a.EmpNo = @empNo OR @empNo IS NULL)	
			ORDER BY a.OTRequestNo DESC	
		END 

		ELSE IF @dataFilterID = 5	--Show cancelled overtime
		BEGIN
    
			SELECT	a.DT,
					a.CostCenter AS BusinessUnit,
					f.BusinessUnitName,
					a.EmpNo,
					e.EmpName,
					e.Position,
					e.GradeCode,
					c.ShiftPatCode,
					c.ShiftCode,
					c.Actual_ShiftCode,
					CASE WHEN tas.fnCheckIfMutipleGateEntry(c.EmpNo, c.DT) = 1
						THEN tas.fnGetFirstTimeIn(c.EmpNo, c.DT)
						ELSE c.dtIN
					END AS dtIN,
					c.dtIN AS dtIN_LastRow,		--Rev. #2.3
					c.dtOUT,
					CASE WHEN a.OTApproved = 'N' 
						THEN d.OTStartTime
						ELSE a.OTStartTime
					END AS OTStartTime,
					CASE WHEN a.OTApproved = 'N' 
						THEN d.OTEndTime
						ELSE a.OTEndTime
					END AS OTEndTime,
					a.OTType,
					CASE WHEN a.OTApproved = 'N' THEN 0 ELSE DATEDIFF(n, a.OTStartTime, a.OTEndTime) END AS OTDurationMinute,
					CASE WHEN a.OTApproved = 'N' THEN 0 ELSE tas.fmtMIN_HHmm(DATEDIFF(n, a.OTStartTime, a.OTEndTime)) END AS OTDurationHour,
					tas.fmtMIN_HHmm(DATEDIFF(n, a.OTStartTime, a.OTEndTime)) AS OTDurationHourOrig,
					
					--tas.fmtMIN_HHmm(DATEDIFF(n, c.dtIN, c.dtOUT)) AS TotalWorkDuration,
					tas.fmtMIN_HHmm(c.Duration_Worked_Cumulative) AS TotalWorkDuration,

					CASE
						WHEN RTRIM(c.ShiftCode) = 'O' THEN 0	--Rev. #1.6
						WHEN DATEDIFF(n, k.ArrivalTo, k.DepartFrom) < 0 THEN tas.fmtMIN_HHmm(DATEDIFF(n, k.ArrivalTo, k.DepartFrom) + 1440)
						ELSE tas.fmtMIN_HHmm(DATEDIFF(n, k.ArrivalTo, k.DepartFrom))
					END AS RequiredWorkDuration,					
					CASE WHEN RTRIM(a.OTApproved) = 'N' 
						THEN '0' 
						ELSE tas.fmtMIN_HHmm(DATEDIFF(n, a.OTStartTime, a.OTEndTime) + ISNULL(DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)), 0)) 	
					END AS OTShavedTimeDuration,
					CASE WHEN RTRIM(c.ShiftCode) = 'O' OR c.IsPublicHoliday = 1
						THEN 0
						ELSE 
							CASE WHEN DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)) > 0
								THEN DATEDIFF(n, CONVERT(TIME, c.dtIN), CONVERT(TIME, k.ArrivalTo)) 
								ELSE 0
							END 
					END AS ExcessWorkDuration,	
					d.Approved,
					a.MealVoucherEligibility,
					RTRIM(a.OTComment) AS Comment,
					a.OTApproved,
					RTRIM(a.OTReason) AS OTReasonCode,
					g.[DESCRIPTION] AS OTReason,				
					c.AutoID,
					d.XID_AutoID,
					c.Processed,
					a.OTRequestNo,
					a.StatusCode,
					a.StatusDesc,
					a.StatusHandlingCode,
					a.CurrentlyAssignedEmpNo,
					a.CurrentlyAssignedEmpName,
					a.CurrentlyAssignedEmpEmail,
					a.ServiceProviderTypeCode,
					a.DistListCode,
					NULL AS DistListDesc,
					NULL AS DistListMembers,

					--CASE WHEN ISNULL(a.DistListCode, '') <> '' 
					--	THEN b.ActivityDesc2
					--	ELSE NULL
					--END AS DistListDesc,
					--CASE WHEN ISNULL(a.CurrentlyAssignedEmpNo, 0) = 0 AND RTRIM(a.StatusHandlingCode) = 'Open'
					--	THEN tas.fnOTDistributionGroupMembers(a.OTRequestNo, b.WorkflowTransactionID)
					--	ELSE NULL
					--END AS DistListMembers,
					a.LastUpdateEmpNo,
					a.LastUpdateEmpName, 
					a.LastUpdateUserID, 
					a.LastUpdateTime, 
					a.CreatedByEmpNo,
					a.CreatedByEmpName,
					a.CreatedByEmail,
					a.CreatedDate,
					a.SubmittedDate AS RequestSubmissionDate,
					tas.fnIsOTDueToShiftSpan(a.EmpNo, a.DT) AS IsOTDueToShiftSpan,
					tas.fnCheckIfArrivedEarly(a.EmpNo, a.DT) AS IsArrivedEarly,
					CONVERT(VARCHAR, CONVERT(TIME, k.ArrivalFrom), 108) + ' - ' + CONVERT(VARCHAR, CONVERT(TIME, k.ArrivalTo), 108) AS ArrivalSchedule,
					CASE WHEN DATEDIFF(MINUTE, a.OTStartTime, a.OTEndTime) > DATEDIFF(MINUTE, a.OTStartTime_Orig, a.OTEndTime_Orig) AND RTRIM(a.CorrectionCode) NOT IN ('CAL', 'CBD', 'CDF', 'CSR', 'COMS', 'COEW') 
						THEN 1 
						ELSE 0 
					END AS IsOTExceedOrig,
					c.IsPublicHoliday
			From tas.OvertimeRequest a 
				--INNER JOIN tas.OvertimeWFTransactionActivity b ON a.OTRequestNo = b.OTRequestNo AND a.TS_AutoID = b.TS_AutoID AND (RTRIM(a.DistListCode) = RTRIM(b.ActionMemberCode) OR ISNULL(a.DistListCode, '') = '')
				INNER JOIN tas.Tran_Timesheet c ON a.EmpNo = c.EmpNo AND a.DT = c.DT AND a.TS_AutoID = c.AutoID --AND c.IsLastRow = 1
				INNER JOIN tas.Tran_Timesheet_Extra d ON c.AutoID = d.XID_AutoID	
				LEFT JOIN tas.Master_Employee_JDE_View_V2 e on a.EmpNo = e.EmpNo
				LEFT JOIN tas.Master_BusinessUnit_JDE f ON RTRIM(a.CostCenter) = RTRIM(f.BusinessUnit)
				LEFT JOIN tas.Master_OTReasons_JDE g ON RTRIM(d.OTReason) = RTRIM(g.CODE)
				LEFT JOIN tas.Master_Employee_JDE_View h ON a.CurrentlyAssignedEmpNo = h.EmpNo AND a.CurrentlyAssignedEmpNo > 0
				--LEFT JOIN tas.OvertimeDistributionMember i ON a.OTRequestNo = i.OTRequestNo AND b.WorkflowTransactionID = i.WorkflowTransactionID
				LEFT JOIN tas.Master_ShiftTimes j ON RTRIM(c.ShiftPatCode) = RTRIM(j.ShiftPatCode) AND RTRIM(c.ShiftCode) = RTRIM(j.ShiftCode)	--Based on the scheduled shift
				LEFT JOIN tas.Master_ShiftTimes k ON RTRIM(c.ShiftPatCode) = RTRIM(k.ShiftPatCode) 
					AND 
					(
						CASE WHEN (DATEDIFF(MINUTE, CONVERT(TIME, c.dtIN), CONVERT(TIME, j.ArrivalTo)) > c.Duration_Required / 2) OR (c.Duration_Worked_Cumulative >= (c.Duration_Required + (c.Duration_Required / 2)))  
							THEN RTRIM(c.Actual_ShiftCode)
							ELSE RTRIM(c.ShiftCode)
						END
					) = RTRIM(k.ShiftCode)
			WHERE
				RTRIM(a.StatusHandlingCode) = 'Cancelled'
				AND 
				(
					(
						a.DT BETWEEN @startDate AND @endDate 
						AND (@startDate IS NOT NULL AND @endDate IS NOT NULL)
						AND @startDate < @endDate
					)
					OR
					(
						a.DT = @startDate 
						AND (@endDate IS NULL OR @endDate = @startDate)
					)
					OR (@startDate IS NULL AND @endDate IS NULL)
				)
				AND 
				(
					(RTRIM(a.CostCenter) = RTRIM(@costCenter) OR @costCenter IS NULL)
					AND RTRIM(a.CostCenter) IN 
					(
						SELECT RTRIM(PermitCostCenter) 
						FROM tas.syJDE_PermitCostCenter a
							INNER JOIN tas.syJDE_UserDefinedCode b on a.PermitAppID = b.UDCID
						WHERE RTRIM(b.UDCCode) = 'TAS3'
							AND PermitEmpNo = @currentUserEmpNo
					)
				)
				AND (a.EmpNo = @empNo OR @empNo IS NULL)	
			ORDER BY a.OTRequestNo DESC	
		END 

		ELSE IF @dataFilterID = 6	--Show all
		BEGIN
    
			SELECT	a.DT,
					a.BusinessUnit,
					d.BusinessUnitName,
					a.EmpNo,
					c.EmpName,
					c.Position,
					c.GradeCode,
					a.ShiftPatCode,
					a.ShiftCode,
					a.Actual_ShiftCode,
					CASE WHEN tas.fnCheckIfMutipleGateEntry(a.EmpNo, a.DT) = 1
						THEN tas.fnGetFirstTimeIn(a.EmpNo, a.DT)
						ELSE a.dtIN
					END AS dtIN,
					a.dtIN AS dtIN_LastRow,		--Rev. #2.3
					a.dtOUT,
					b.OTStartTime,
					b.OTEndTime,
					b.OTType,
					CASE WHEN b.OTApproved = 'N' THEN 0 ELSE DATEDIFF(n, b.OTStartTime, b.OTEndTime) END AS OTDurationMinute,
					CASE WHEN b.OTApproved = 'N' THEN 0 ELSE tas.fmtMIN_HHmm(DATEDIFF(n, b.OTStartTime, b.OTEndTime)) END AS OTDurationHour,
					tas.fmtMIN_HHmm(DATEDIFF(n, b.OTStartTime, b.OTEndTime)) AS OTDurationHourOrig,
					
					--tas.fmtMIN_HHmm(DATEDIFF(n, a.dtIN, a.dtOUT)) AS TotalWorkDuration,
					tas.fmtMIN_HHmm(a.Duration_Worked_Cumulative) AS TotalWorkDuration,

					CASE
						WHEN RTRIM(a.ShiftCode) = 'O' THEN 0	--Rev. #1.6
						WHEN DATEDIFF(n, j.ArrivalTo, j.DepartFrom) < 0 THEN tas.fmtMIN_HHmm(DATEDIFF(n, j.ArrivalTo, j.DepartFrom) + 1440)
						ELSE tas.fmtMIN_HHmm(DATEDIFF(n, j.ArrivalTo, j.DepartFrom))
					END AS RequiredWorkDuration,
					CASE WHEN RTRIM(b.OTApproved) = 'N' 
						THEN '0' 
						ELSE tas.fmtMIN_HHmm(DATEDIFF(n, b.OTStartTime, b.OTEndTime) + ISNULL(DATEDIFF(n, CONVERT(TIME, a.dtIN), CONVERT(TIME, j.ArrivalTo)), 0)) 	
					END AS OTShavedTimeDuration,
					CASE WHEN RTRIM(a.ShiftCode) = 'O' OR a.IsPublicHoliday = 1
						THEN 0
						ELSE 
							CASE WHEN DATEDIFF(n, CONVERT(TIME, a.dtIN), CONVERT(TIME, j.ArrivalTo)) > 0
								THEN DATEDIFF(n, CONVERT(TIME, a.dtIN), CONVERT(TIME, j.ArrivalTo)) 
								ELSE 0
							END 
					END AS ExcessWorkDuration,	
					b.Approved,
					f.MealVoucherEligibility,
					b.Comment,
					b.OTApproved,
					b.OTReason AS OTReasonCode,
					e.[DESCRIPTION] AS OTReason,				
					a.AutoID,
					b.XID_AutoID,
					a.Processed,
					f.OTRequestNo,
					f.StatusCode,
					f.StatusDesc,
					f.StatusHandlingCode,
					f.CurrentlyAssignedEmpNo,
					f.CurrentlyAssignedEmpName,
					f.CurrentlyAssignedEmpEmail,
					f.ServiceProviderTypeCode,
					f.DistListCode,
					CASE WHEN ISNULL(f.DistListCode, '') <> '' 
						THEN RTRIM(h.ActivityDesc2)
						ELSE tas.fnGetCurrentApprovalLevel(f.OTRequestNo)	--Rev. #1.2
					END AS DistListDesc,
					CASE WHEN ISNULL(f.CurrentlyAssignedEmpNo, 0) = 0 
						THEN tas.fnOTDistributionGroupMembers(f.OTRequestNo, h.WorkflowTransactionID)
						ELSE NULL
					END AS DistListMembers,
					CASE WHEN f.OTRequestNo > 0
						THEN ISNULL(f.LastUpdateEmpNo, f.CreatedByEmpNo) 
						ELSE 0
					END AS LastUpdateEmpNo,
					CASE WHEN f.OTRequestNo > 0
						THEN ISNULL(f.LastUpdateEmpName, f.CreatedByEmpName) 
						ELSE a.LastUpdateUser
					END AS LastUpdateEmpName,
					CASE WHEN f.OTRequestNo > 0
						THEN ISNULL(f.LastUpdateUserID, f.CreatedByUserID) 
						ELSE a.LastUpdateUser
					END AS LastUpdateUserID,
					CASE WHEN f.OTRequestNo > 0
						THEN ISNULL(f.LastUpdateTime, f.CreatedDate) 
						ELSE a.LastUpdateTime
					END AS LastUpdateTime,
					f.CreatedByEmpNo,
					f.CreatedByEmpName,
					f.CreatedByEmail,
					f.CreatedDate,
					g.RequestSubmissionDate,
					tas.fnIsOTDueToShiftSpan(a.EmpNo, a.DT) AS IsOTDueToShiftSpan,
					tas.fnCheckIfArrivedEarly(a.EmpNo, a.DT) AS IsArrivedEarly,
					CONVERT(VARCHAR, CONVERT(TIME, i.ArrivalFrom), 108) + ' - ' + CONVERT(VARCHAR, CONVERT(TIME, j.ArrivalTo), 108) AS ArrivalSchedule,
					CASE WHEN DATEDIFF(MINUTE, f.OTStartTime, f.OTEndTime) > DATEDIFF(MINUTE, f.OTStartTime_Orig, f.OTEndTime_Orig) AND RTRIM(f.CorrectionCode) NOT IN ('CAL', 'CBD', 'CDF', 'CSR', 'COMS', 'COEW') 
						THEN 1 
						ELSE 0 
					END AS IsOTExceedOrig,
					a.IsPublicHoliday
			From tas.Tran_Timesheet a
				INNER JOIN tas.Tran_Timesheet_Extra b ON a.AutoID = b.XID_AutoID	
				INNER JOIN tas.Master_Employee_JDE_View_V2 c on a.EmpNo = c.EmpNo
				LEFT JOIN tas.Master_BusinessUnit_JDE d ON RTRIM(a.BusinessUnit) = RTRIM(d.BusinessUnit)
				LEFT JOIN tas.Master_OTReasons_JDE e ON RTRIM(b.OTReason) = RTRIM(e.CODE)
				LEFT JOIN tas.OvertimeRequest f ON a.EmpNo = f.EmpNo AND a.DT = f.DT AND b.XID_AutoID = f.TS_AutoID
				OUTER APPLY
				(
					SELECT TOP 1 RequestSubmissionDate FROM tas.OvertimeWFTransactionActivity
					WHERE OTRequestNo = f.OTRequestNo 
						AND TS_AutoID = f.TS_AutoID 
					ORDER BY a.AutoID DESC
				) g
				LEFT JOIN tas.OvertimeWFTransactionActivity h ON f.OTRequestNo = h.OTRequestNo AND f.TS_AutoID = h.TS_AutoID AND RTRIM(f.DistListCode) = RTRIM(h.ActionMemberCode) --AND h.IsCurrent = 1
				LEFT JOIN tas.Master_ShiftTimes i ON RTRIM(a.ShiftPatCode) = RTRIM(i.ShiftPatCode) AND RTRIM(a.ShiftCode) = RTRIM(i.ShiftCode)	--Based on the scheduled shift
				LEFT JOIN tas.Master_ShiftTimes j ON RTRIM(a.ShiftPatCode) = RTRIM(j.ShiftPatCode) 
					AND 
					(
						CASE WHEN (DATEDIFF(MINUTE, CONVERT(TIME, a.dtIN), CONVERT(TIME, i.ArrivalTo)) > a.Duration_Required / 2) OR (a.Duration_Worked_Cumulative >= (a.Duration_Required + (a.Duration_Required / 2)))  
							THEN RTRIM(a.Actual_ShiftCode)
							ELSE RTRIM(a.ShiftCode)
						END
					) = RTRIM(j.ShiftCode)
			WHERE 		
				b.OTstartTime IS NOT NULL
				AND b.OTendTime IS NOT NULL
				--AND a.IsLastRow = 1
				AND 
				(
					(
						DATEDIFF(n, b.OTstartTime, b.OTendTime) > @minutes_MinOT_NSS 				
						--AND RTRIM(b.OTType) IN ('R', 'O', 'D')	--(Note: R - Regular OT; O - Dayoff OT; D - DIL OT)
					)
				)
				AND 
				(
					(
						a.DT BETWEEN @startDate AND @endDate 
						AND (@startDate IS NOT NULL AND @endDate IS NOT NULL)
						AND @startDate < @endDate
					)
					OR
					(
						a.DT = @startDate 
						AND (@endDate IS NULL OR @endDate = @startDate)
					)
					OR (@startDate IS NULL AND @endDate IS NULL)
				)
				AND 
				(
					(RTRIM(a.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)
					AND 
					RTRIM(a.BusinessUnit) IN 
					(
						SELECT RTRIM(PermitCostCenter) 
						FROM tas.syJDE_PermitCostCenter a
							INNER JOIN tas.syJDE_UserDefinedCode b on a.PermitAppID = b.UDCID
						WHERE RTRIM(b.UDCCode) = 'TAS3'
							AND PermitEmpNo = @currentUserEmpNo
					)
				)
				AND (a.EmpNo = @empNo OR @empNo IS NULL)			
			ORDER BY a.DT DESC, a.BusinessUnit, a.EmpNo
		END 
	END 
