USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_GetAttendanceDashboard]    Script Date: 08/04/2022 15:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_GetAttendanceDashboard
*	Description: Retrieves employee attendance data to be shown in the Employee Attendance Dashboardpage
*
*	Date			Author		Revision No.	Comments:
*	24/10/2016		Ervin		1.0				Created
*	23/11/2017		Ervin		1.1				Removed the old employee no. of Fatima in the Dashboard page
*	25/08/2018		Ervin		1.2				Refactored the code to enhance data retrieval performance by adding WITH (NOLOCK) clause in al joint tables
*	11/11/2018		Ervin		1.3				Added entry for Sayed Israk. Refactored code to enhance data retrieval performance
*	13/11/2018		Ervin		1.4				Added code to show Sayed Israk in the ICT attendance dashboard
*	27/11/2019		Ervin		1.5				Implemented the logic for half day leave
*	26/06/2020		Ervin		1.6				Removed all contractors in ICT
******************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_GetAttendanceDashboard]
(   
	@empName			VARCHAR(100) = '',           
    @costCenter			VARCHAR(12) = '',
    @attendanceDate		DATETIME = NULL
)
As

	--Tell SQL Engine not to return the row-count information
	SET NOCOUNT ON 

	--Get and insert all emplouee attance details for today
	EXEC tas.prInsertUpdateCurrentAttendance_V2 'Insert', @attendanceDate

	DECLARE @shiftCode            VARCHAR(20),
			@InOutStatus          CHAR(1),
			@Remark               VARCHAR(500),
			@empno                INT,
			@ExtensionNo          VARCHAR(20)

	CREATE TABLE #EmpAttendance
	(
		  EmpName               VARCHAR(100),
		  EmpNo                 VARCHAR(10),
		  InquiryDate           DATETIME,
		  InOutStatus           VARCHAR(2),
		  ExtensionNo           VARCHAR(20),
		  Remark                VARCHAR(100),
		  EmployeeStatus		VARCHAR(5),
		  CostCenter			VARCHAR(12),
		  FirstTimeIn			DATETIME,
		  LastTimeOut			DATETIME,
		  RequiredTimeOut		DATETIME,
		  SupervisorEmpNo		INT
	)

	SET @empName = RTRIM(LTRIM(@empName))

	IF ISNULL(@attendanceDate,'') = '' OR CONVERT(DATETIME, '') = @attendanceDate
		SET @attendanceDate = GETDATE()

	--Get employee attance details
	IF ISNULL(@empName, '') = ''
	BEGIN

		INSERT INTO #EmpAttendance 
		(
				EmpName, 
				EmpNo, 
				InquiryDate, 
				InOutStatus, 
				ExtensionNo, 
				Remark, 
				EmployeeStatus, 
				CostCenter,
				SupervisorEmpNo
		)
		SELECT	EmpName, 
				EmpNo, 
				GETDATE(), 
				'', 
				Extension, 
				'', 
				EmployeeStatus,
				BusinessUnit,
				SupervisorEmpNo 
		FROM
		(
			SELECT DISTINCT 
				a.EmpName, a.EmpNo, isnull(convert(varchar(20),d.WPPH1),'') as Extension,
				CASE WHEN c.YAPAST IN ('R', 'T', 'E', 'X') AND GETDATE() < tas.ConvertFromJulian(c.YADT) 
					THEN '0' 
					ELSE c.YAPAST 
				END AS EmployeeStatus,
				a.BusinessUnit,
				CAST(c.YAANPA AS INT) AS SupervisorEmpNo
			FROM tas.Master_Employee_JDE_View a WITH (NOLOCK)
				INNER JOIN tas.master_Businessunit_JDE b WITH (NOLOCK) on rtrim(a.businessunit) = rtrim(b.businessunit) 
				INNER JOIN tas.syJDE_F060116 c WITH (NOLOCK) on a.EmpNo = c.YAAN8
				LEFT JOIN tas.syJDE_F0115 d WITH (NOLOCK) on a.EmpNo = d.WPAN8 and upper(ltrim(rtrim(d.WPPHTP))) = 'EXT'
			WHERE 
				--a.PayStatus in ('0','1','2','3','4','5','6','7','8','9','i')
				--and c.DateResigned IS NULL and 
				RTRIM(a.BusinessUnit) = RTRIM(@costCenter)
				AND a.EmpNo NOT IN (10003669, 10003668, 10002191, 10002133, 10001253, 10002136, 10002163)
		) tblMain
		WHERE 
			(
				ISNUMERIC(EmployeeStatus) = 1 
				AND CONVERT(INT, EmployeeStatus) BETWEEN 0 AND 9
			) 
			OR EmployeeStatus = 'I'			
		ORDER BY EmpName
	END

	ELSE 
	BEGIN

		INSERT INTO #EmpAttendance 
		(
				EmpName, 
				EmpNo, 
				InquiryDate, 
				InOutStatus, 
				ExtensionNo, 
				Remark, 
				EmployeeStatus,
				CostCenter
		)
		SELECT	EmpName, 
				EmpNo, 
				GETDATE(),
				'', 
				Extension, 
				'', 
				EmployeeStatus,
				BusinessUnit 
		FROM
		(
			SELECT DISTINCT 
				a.EmpName + ' - ' + b.businessunitname as EmpName, a.EmpNo, isnull(convert(varchar(20),d.WPPH1),'') as Extension,
				'EmployeeStatus' = CASE WHEN c.YAPAST IN ('R', 'T', 'E', 'X') and GETDATE() < tas.ConvertFromJulian(c.YADT) THEN '0' ELSE c.YAPAST END,
				a.BusinessUnit
			FROM tas.Master_Employee_JDE_View a WITH (NOLOCK)
				INNER JOIN tas.master_Businessunit_JDE b WITH (NOLOCK) on a.businessunit=b.businessunit 
				INNER JOIN tas.syJDE_F060116 c WITH (NOLOCK) on a.EmpNo = c.YAAN8
				LEFT JOIN tas.syJDE_F0115 d WITH (NOLOCK) on a.EmpNo = d.WPAN8 and upper(ltrim(rtrim(d.WPPHTP))) = 'EXT'
			WHERE 
				--a.PayStatus in ('0','1','2','3','4','5','6','7','8','9','i')
				--and a.DateResigned IS NULL and 
				UPPER(RTRIM(a.EmpName)) LIKE '%'+ UPPER(RTRIM(@empName)) +'%'
		) tblMain
		WHERE ISNUMERIC(EmployeeStatus) = 1 
			AND CONVERT(int, EmployeeStatus) BETWEEN 0 AND 9
	END

	--Update attendance details
	Update #EmpAttendance
	SET InOutStatus = tas.fnGetAttendanceStatusEx_V2(a.EmpNo, @attendanceDate),
		Remark = tas.fnGetAttendanceStatusRemark_V2(a.EmpNo, tas.fnGetAttendanceStatus(a.EmpNo), @attendanceDate) 
	FROM #EmpAttendance a	
	
	--Ensure correct status for Early Leaving
	Update #EmpAttendance
	SET InOutStatus = 'e'	
	WHERE RTRIM(Remark) = 'Early leaving' 

	Update #EmpAttendance
	SET Remark = 'Early leaving'	
	WHERE UPPER(RTRIM(InOutStatus)) = 'E' 

	Update #EmpAttendance
	SET Remark = 'Contractor'	
	WHERE /*UPPER(RTRIM(InOutStatus)) = 'X' 
		AND*/ EmployeeStatus = 'I'

	--Get the first swipe-in
	Update #EmpAttendance
	SET FirstTimeIn = tas.fnGetFirstSwipeIn(a.EmpNo)
	FROM #EmpAttendance a	
	
	--Get the last swipe-out
	Update #EmpAttendance
	SET LastTimeOut = tas.fnGetLastSwipeOut(a.EmpNo)
	FROM #EmpAttendance a	

	--Get the required Time-out
	Update #EmpAttendance
	SET RequiredTimeOut = tas.fnGetRequiredTimeOut(a.EmpNo, @attendanceDate)
	FROM #EmpAttendance a

	--Start of Rev. #1.1
	ALTER TABLE #EmpAttendance
	ALTER COLUMN EmpName
	VARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS

	Update #EmpAttendance
	SET #EmpAttendance.EmpNo = CASE WHEN ISNULL(b.EmpNo, 0) > 0 THEN b.EmpNo ELSE a.EmpNo END 
	FROM #EmpAttendance a
		OUTER APPLY
		(
			SELECT TOP 1 * FROM tas.Vw_MainGateSwipeRawData WITH (NOLOCK) 
			WHERE 
				(
					LTRIM(RTRIM(LName)) = LTRIM(RTRIM(a.EmpName)) 
					OR EmpNo IN --Rev. #1.3		
					(
						'2165'	--SHARIKA NARAPACHI VEETTIL               
					)
				)
				AND SwipeDate = @attendanceDate
		) b
	WHERE RTRIM(a.Remark) = 'Contractor' 
		AND a.CostCenter = '7600'
	--End of Rev. #1.1

	--Rev. #1.4
	Update #EmpAttendance
	SET EmpNo = 59960	
	FROM #EmpAttendance a	
	WHERE a.EmpNo = 10002207

	--Start of Rev. #1.2
	Update #EmpAttendance
	SET InOutStatus = tas.fnGetAttendanceStatusEx_V2(a.EmpNo, @attendanceDate)
	FROM #EmpAttendance a	
	WHERE RTRIM(a.Remark) = 'Contractor' 
		AND a.CostCenter = '7600'
	--End of Rev. #1.2

	Update #EmpAttendance
	SET Remark = 'Late'		
	FROM #EmpAttendance a	
	WHERE UPPER(RTRIM(InOutStatus)) = 'L' 

	--Rev. #1.5 - Get the half day leave details if applicable (Note: Bold font in the description means the employee is either late or left early)
	Update #EmpAttendance
	SET Remark = CASE WHEN ISNULL(tas.fnGetHalfDayLeaveDetail(a.EmpNo, @attendanceDate), '') <> ''
					THEN tas.fnGetHalfDayLeaveDetail(a.EmpNo, @attendanceDate)
						--CASE WHEN ISNULL(Remark, '') <> '' THEN '(' + RTRIM(Remark) + ') ' + tas.fnGetHalfDayLeaveDetail(a.EmpNo, @attendanceDate) 							
						--	ELSE tas.fnGetHalfDayLeaveDetail(a.EmpNo, @attendanceDate) 		
						--END 					
					ELSE Remark
				END 
	FROM #EmpAttendance a	

	--Start of Rev. #1.1
	DELETE FROM #EmpAttendance
	WHERE EmpNo IN (10002169)
		AND UPPER(RTRIM(InOutStatus)) = 'X'
	--End of Rev. #1.1

	--Select all records
	SELECT	*, 
			CONVERT(DATETIME, CONVERT(VARCHAR, InquiryDate, 12)) AS SwipeDate,
			@attendanceDate AS AttendanceDate 
	FROM #EmpAttendance a
	WHERE 
		RTRIM(a.Remark) <> 'Contractor'	
		/* Rev. #1.6 - Remove all contractors in ICT
		OR 
		(
			RTRIM(a.Remark) = 'Contractor' 
			AND a.CostCenter = '7600'
			AND 
			(
				a.EmpNo IN (56836, 10002165, 10002169, 10002148, 59960, 59960)	
				OR
				(a.EmpNo IN (55763, 10002003) AND CONVERT(DATETIME, CONVERT(VARCHAR, a.InquiryDate, 12)) <= '08/09/2016')
			)
		)
		*/	
	
	--Drop the temporary table
	Drop Table #EmpAttendance
	
	--Drop the attendance temporary data
	EXEC tas.prInsertUpdateCurrentAttendance_V2 'Delete'


/*	Debugging:

PARAMETERS:	@empName			VARCHAR(100) = '',           
    @costCenter			VARCHAR(12) = '',
    @attendanceDate		DATETIME = NULL

	exec tas.Pr_GetAttendanceDashboard '', '7600', '03/31/2016'
	exec tas.Pr_GetAttendanceDashboard '', '7600', '11/27/2019'
                        
*/

