USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[RPT_punctuality]    Script Date: 4/6/2016 12:00:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER procedure [tas].[RPT_punctuality] (@dtFROM datetime , @dtTO datetime , @BU varchar(1000) , @L1 varchar(5) , @L2 varchar(5) , @ShowOffs int = 0 , @ShowPCT int = 0 ) as
-- RPT_punctuality '1-nov-2004' , '30-nov-2004' , '7600' , '07:00' , '08:01' , 0  , 1
begin
	declare @max varchar(5)
	set @max = '23:55'


	select 	autoid , 
		empno , 
		tas.fmtDate(dt)  + ' (' + tas.fmtDate_getDayOfWeek(dt ,1) + ')' dt ,
		tas.fmttime(dtin)  dtin ,
		tas.fmttime(dtout) dtout ,
		tas.fmttime((case when dtin is null then @max else dtin end )) dtin2 ,
		tas.fmttime((case when dtin is null then @max else tas.fmtTime_Round (dtin , 5) end )) dtin3 ,
		(case when RemarkCode='Absent' then 1 else 0 end) A , 
		BusinessUnit BU,
		ShiftCode

	into #tmp1
	from tran_timesheet
	where gradecode>=9 
		and dt between @dtFrom and @dtTO 
		and shiftpatcode = 'D' 
		and rtrim(BusinessUnit) in ( select value from tas.fn_split(@BU , ',')  )
		--AND EmpNo = 10003694
	order by dt , bu , empno 

	if (@ShowOffs = 0)
	begin
		delete from #tmp1 
		where dt in 
			(select tas.fmtDate(HolidayDate)  + ' (' + tas.fmtDate_getDayOfWeek(HolidayDate ,1) + ')' 
			 from Master_Calendar 
			 where HolidayType<>'R')

		delete from #tmp1 --where ShiftCode ='O'
		where substring(dt , 14,3)  in ('THU' , 'FRI')
	end
	
	--group lower limit into 1 record
	update #tmp1 set dtin3 = '< ' + @L1 where dtin3 < @L1

	--group upper limit into 1 record
	update #tmp1 set dtin3 =  tas.addMinutes(@L2,5)  + ' >' where dtin3 > @L2 and dtin3 <> @max

	--group by dt,emp to get the first swipe of the day.  except absents
	select empno , dt , min(dtin3) min_dtin , sum(A) A 
	into #Tmp2
	from #tmp1
	where A=0
	group by empno , dt
	
	--count swipes within groups
	select dt , min_dtin , count(*) * 1.0 cnt
	into #tmp3
	from #tmp2
	group by dt , min_dtin
	order by dt,min_dtin

	--count Absences
	select dt , sum(A) Sum_A
	into #Tmp4
	from #Tmp1
	group by dt

	--count reasoned absences
	select dt , count(*) Valid_A
	into #Tmp5
	from #Tmp1
	where dtin is null and dtout is null and A=0
	group by dt

	insert into #tmp3 	
	select dt , 'Absent' ,   Sum_A from #tmp4

	update #tmp3 set min_dtin = 'Absent' where min_dtin = @max

	update #tmp3 
	set min_dtin = min_dtin + '-' + tas.AddMinutes( min_dtin ,5) 
	from #tmp3
	where len(min_dtin) = 5

	drop table TBL_punctuality_tmp
	drop table TBL_punctuality_pct
	drop table TBL_punctuality
	--drop table TBL_punctuality_1
	--drop table TBL_punctuality_2
	--drop table TBL_punctuality_3
	--drop table TBL_punctuality_4
	--drop table TBL_punctuality_5
	--select * into TBL_punctuality_1 from #tmp1
	--select * into TBL_punctuality_2 from #tmp2
	--select * into TBL_punctuality_3 from #tmp3
	--select * into TBL_punctuality_4 from #tmp4
	--select * into TBL_punctuality_5 from #tmp5

	select * 
	into TBL_punctuality_tmp
	from #tmp3
	order by 1,2

	--------------------------------------------------
	select A.dt , A.min_dtin , cnt * 100/sumx cnt 
	into TBL_punctuality_pct
	from 
	
	(select * from TBL_punctuality_tmp) A
	,
	(SELECT dt ,sum(cnt) sumX
	FROM TBL_punctuality_tmp
	group by dt
	) B
	where a.dt = b.dt
	
	--------------------------------------------------

	if (@ShowPCT=1 )
	--select dt,min_dtin, CAST(cnt AS varchar(4)) + '%' [cnt] into TBL_punctuality from TBL_punctuality_pct
		begin
			update TBL_punctuality_pct set cnt = tas.TruncateNum(cnt , 2)
			select *  into TBL_punctuality from TBL_punctuality_pct
		end
	else
		select * into TBL_punctuality from TBL_punctuality_tmp

	SELECT * FROM TBL_punctuality
	ORDER BY DT DESC 
end



