USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_GetDILEntitlement]    Script Date: 09/05/2017 14:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*********************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_GetDILEntitlement
*	Description: Get the employee's DIL entitlements
*
*	Date:			Author:		Rev.#:		Comments:
*	06/06/2016		Ervin		1.0			Created
**********************************************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_GetDILEntitlement]
(
	@loadType		TINYINT,
	@empNo			INT,
	@startDate		DATETIME,
	@endDate		DATETIME	
)
AS

	--Validate parameters
	IF ISNULL(@startDate, '') = CONVERT(DATETIME, '')
		SET @startDate = NULL

	IF ISNULL(@endDate, '') = CONVERT(DATETIME, '')
		SET @endDate = NULL

	IF @loadType = 1	--Load Not Yet Approved DIL
	BEGIN  

		SELECT	A.AutoID, 	
				A.EntitlementDate,
				A.SpendDate,
				A.Remark,
				A.EmpNo,
				A.DILcode,
				A.XID_TS_DIL_ENT
		FROM 
		( 
			SELECT TOP 100 
				a.AutoID, 
				a.EmpNo, 
				a.DT AS EntitlementDate, 
				c.EffectiveDate AS SpendDate ,
				a.DIL_Entitlement AS DILcode ,
				REPLACE(Remark, ' ', char(160)) AS Remark,
				c.XID_TS_DIL_ENT
			FROM tas.Tran_Timesheet a 
				LEFT JOIN (SELECT Code, [Description] AS Remark FROM tas.master_udcvalues_jde WHERE udckey = '55  -1 ') b on a.DIL_entitlement = b.code  
				LEFT JOIN (select * from tas.tran_absence where empno = @empNo) c on c.XID_TS_DIL_ENT = a.autoid
				INNER JOIN tas.System_Values S on 1=1
			WHERE a.DIL_entitlement is not null  
				AND len(DIL_entitlement) > 0
				AND (rtrim(ltrim(DIL_entitlement))='ES' or rtrim(ltrim(DIL_entitlement))='EA')
				AND a.empno = @empNo  
				AND
				(
					dt >= DateAdd(M, -1 * S.Months_DILexpiry, getdate())
					AND
					dt >= S.DIL_switch_date
				)
				AND	ISNULL(IsLastRow, 0) = 1
			ORDER BY a.DT
		) A 
		WHERE 
			NOT EXISTS
			(
				SELECT tbl1.AutoID 
				FROM tas.Tran_Absence_DIL tbl1 
					INNER JOIN tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
				WHERE isnull(StatusCode,'') NOT IN ('101','110') 
					AND isnull(tbl2.XID_TS_DIL_ENT,0) = A.AutoID
			)
			AND	NOT EXISTS
			(
				SELECT AutoID FROM tas.Tran_Entitlement_DIL WHERE AutoID = A.AutoID
			)
			AND NOT EXISTS
			(
				SELECT AutoID FROM tas.Tran_Absence_DIL 
				WHERE EmpNo = @empNo 
					AND DILRequestType = 2 
					AND isnull(IsApproved,0) = 1
					AND CONVERT(DATETIME, CONVERT(VARCHAR, AppliedDate, 12)) = CONVERT(DATETIME, CONVERT(VARCHAR, A.EntitlementDate, 12))
			)
			AND 
			(
				A.EntitlementDate BETWEEN @startDate AND @endDate
				OR
                (@startDate IS NULL AND @endDate IS NULL)
			)
		ORDER BY A.AutoID DESC
	END

	ELSE IF @loadType = 2		--Load Finalized and Approved DIL
	BEGIN  

		SELECT	a.AutoID, 	
				a.DT AS EntitlementDate,
				NULL AS SpendDate,
				'Approved Entitled System' as Remark,
				a.EmpNo,
				a.DIL_Entitlement AS DILcode,
				NULL as XID_TS_DIL_ENT
		FROM tas.Tran_Entitlement_DIL a
			LEFT JOIN tas.master_udcvalues_jde b on rtrim(a.DIL_Entitlement) = rtrim(b.CODE)
			INNER JOIN tas.System_Values S on 1=1
		WHERE a.EmpNo = @empNo 
			AND RTRIM(udckey) = '55  -1'
			AND NOT EXISTS
			(
				SELECT tbl1.AutoID 
				FROM tas.Tran_Absence_DIL tbl1 
					INNER JOIN tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
				WHERE ISNULL(StatusCode,'') not in ('101','110') 
					AND ISNULL(tbl2.XID_TS_DIL_ENT,0) = a.AutoID
			)
			AND CONVERT(VARCHAR, a.DT, 12) >= CONVERT(VARCHAR, DateAdd(M, -1  * S.Months_DILexpiry, GETDATE()), 12) 
			AND CONVERT(VARCHAR, DT, 12) >= CONVERT(VARCHAR, S.DIL_switch_date, 12) 
			AND NOT EXISTS
			(
				SELECT AutoID FROM tas.Tran_TimeSheet 
				WHERE AutoID = a.AutoID 
					AND RTRIM(DIL_Entitlement) IN ('RE','PE')
			)
		
		UNION
	
		SELECT	a.AutoID, 
				a.DT as EntitlementDate,
				NULL as SpendDate,
				'Approved Entitled System' as Remark,
				a.EmpNo,
				a.DIL_Entitlement AS DILcode,
				NULL as XID_TS_DIL_ENT
		FROM tas.Tran_Entitlement_DIL a
			LEFT JOIN tas.master_udcvalues_jde b on rtrim(a.DIL_Entitlement) = rtrim(b.CODE)
			INNER JOIN tas.System_Values S on 1=1
		WHERE a.EmpNo = @empNo --and rtrim(udckey) = '55  -1'
			AND NOT EXISTS
			(
				SELECT tbl1.AutoID 
				FROM tas.Tran_Absence_DIL tbl1 
					INNER JOIN tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
				WHERE isnull(StatusCode,'') not in ('101','110') 
					AND isnull(tbl2.XID_TS_DIL_ENT,0) = a.AutoID
			)
			AND CONVERT(VARCHAR, a.DT, 12) >= CONVERT(VARCHAR, S.DIL_switch_date, 12) 
			AND	NOT	EXISTS
			(
				SELECT AutoID FROM tas.Tran_TimeSheet 
				WHERE AutoID = a.AutoID 
					AND rtrim(DIL_Entitlement) in ('RE','PE')
			)
			AND	UPPER(rtrim(isnull(ApproverEmpName,''))) = 'SYSTEM'
			AND CONVERT(VARCHAR, GETDATE(), 12) <= CONVERT(VARCHAR, ApprovedDate, 12) 
			
		UNION
	
		SELECT	DISTINCT 
				a.AutoID,
				a.DT AS EntitlementDate, 
				c.EffectiveDate AS SpendDate,
				replace(Remark , ' ' , char(160)) AS Remark,
				a.EmpNo, 
				a.DIL_entitlement AS DILcode ,
				c.XID_TS_DIL_ENT
		FROM tas.Tran_Timesheet a 
			LEFT JOIN (select code,Description Remark from tas.master_udcvalues_jde where udckey = '55  -1 ') b on a.DIL_entitlement = b.code  
			LEFT JOIN (select * from tas.tran_absence where empno = @empNo) c on c.XID_TS_DIL_ENT = a.autoid
			INNER JOIN tas.System_Values S on 1=1
		WHERE DIL_entitlement is not null  
			AND len(DIL_entitlement) > 0
			and (rtrim(ltrim(DIL_entitlement))='AD')
			and a.empno = @empNo  
			and(
				dt >= DateAdd( M ,-1  * S.Months_DILexpiry   , getdate())
				and
				dt >= S.DIL_switch_date
				)
			and not exists(select AutoID from tas.Tran_Entitlement_DIL where AutoID = a.AutoID)
			and not exists
				(
					select tbl1.AutoID from tas.Tran_Absence_DIL tbl1 
					inner join tas.Tran_DIL_Consumption tbl2 on tbl2.RequisitionNo = tbl1.AutoID
					where isnull(StatusCode,'') not in ('101','110') 
						and tbl1.DILRequestType = 1
						and (isnull(tbl2.XID_TS_DIL_ENT,0) = a.AutoID 
						and tbl1.AutoID not in (select AutoID from  tas.Tran_Absence_DIL where DILRequestType = 4 and XID_TS_DIL_ENT = a.AutoID))
						--and not exists (select AutoID from  tas.Tran_Absence_DIL where DILRequestType = 4 and XID_TS_DIL_ENT = a.AutoID))
				)		
			and not exists
				(
					SELECT AutoID FROM tas.Tran_Absence_DIL
					WHERE isnull(AbsencesAutoID,'') <> ''
						and isnull(DILRequestType,0) = 6
						and isnull(IsDraft,0) = 0
						and isnull(StatusCode,'') not in ('101','110','112')
						and rtrim(AbsencesAutoID) like '%' + CAST(a.AutoID AS VARCHAR(15)) + '%'
				)
			AND isnull(IsLastRow, 0) = 1
			AND 
			(
				a.DT BETWEEN @startDate AND @endDate
				OR
                (@startDate IS NULL AND @endDate IS NULL)
			)
		ORDER BY a.AutoID DESC
	END

/*	Debugging:

	EXEC tas.Pr_GetDILEntitlement 1, 10003620, NULL, NULL	--Inactive DIL
	EXEC tas.Pr_GetDILEntitlement 1, 10003620, '01/01/2016', '31/12/2016'

	EXEC tas.Pr_GetDILEntitlement 2, 10003620, NULL, NULL	--Approved DIL
	EXEC tas.Pr_GetDILEntitlement 2, 10003620, '01/01/2016', '31/12/2016'


*/

	
