USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_GetOTReason]    Script Date: 20/05/2018 11:41:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_GetOTReason
*	Description: Get the list of overtime reasons
*
*	Date			Author		Revision No.	Comments:
*	30/09/2016		Ervin		1.0				Created
******************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_GetOTReason]
(
	@loadType	TINYINT = 0
)
AS

	IF @loadType = 1
	BEGIN
    
		--Get overtime reasons for approval
		SELECT Code, [Description] 
		FROM tas.Master_OTReasons_JDE
		WHERE CODE IN 
		(
			'AL',
			'BD',
			'EW',
			'MS',
			'PD',
			'PH',
			'PM',
			'SD',
			'SR',
			'TR',
			'DF',
			'CAL',
			'CBD',
			'CSR',
			'CDF',
			'COMS',
			'COEW',
			'ACS',
			'CCS',
			'MA'
		) 
		ORDER BY [Description]
	END 

	ELSE IF @loadType = 2
	BEGIN
    
		--Get overtime reasons for rejection
		SELECT	Code, [Description] 
		FROM tas.Master_OTReasons_JDE a
		WHERE SUBSTRING(LTRIM(RTRIM(a.CODE)), 1, 2) IN ('RO')
		ORDER BY a.[Description]
	END 

	ELSE 
	BEGIN

		--Get all overtime reasons
		SELECT Code, [Description] 
		FROM tas.Master_OTReasons_JDE a
		ORDER BY a.[Description]
	END 

