USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_UpdateOvertimeRequestByHR]    Script Date: 31/01/2021 17:02:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_UpdateOvertimeRequestByHR
*	Description: This stored procedure is used to update overtime requisition as a result of validation by HR
*
*	Date			Author		Revision No.	Comments:
*	19/08/2017		Ervin		1.0				Created
*	18/09/2017		Ervin		1.1				Refactored the logic in calculating the OT start and end times
******************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_UpdateOvertimeRequestByHR]
(	
	@otRequestNo				BIGINT,
	@otReason					VARCHAR(10),	
	@comment					VARCHAR(1000),
	@userEmpNo					INT,
	@userEmpName				VARCHAR(100), 
	@userID						VARCHAR(50), 
	@otApproved					VARCHAR(1) = '0', 
	@mealVoucherEligibilityCode	VARCHAR(10) = NULL,
	@otDuration					INT = 0
	
)
AS	
	--Define constants
	DECLARE @CONST_RETURN_OK		INT,
			@CONST_RETURN_ERROR		INT

	--Define other variables
	DECLARE @hasError							BIT,
			@retError							INT,
			@retErrorDesc						VARCHAR(200),
			@overtimeRequestRowsAffected		INT,
			@overtimeDetailRowsAffected			INT,
			@otDifference						INT,
			@isOTApproved						BIT,
			@otStartTime						DATETIME,
			@otEndTime							DATETIME,
			@otType								VARCHAR(10),
			@correctionCode						VARCHAR(10),
			@totalWorkDuration					INT,
			@dtIN								DATETIME, 
			@dtOUT								DATETIME,
			@otStartTime_Orig					DATETIME,
			@otEndTime_Orig						DATETIME,
			@otDuration_Orig					INT

	--Initialize constants
	SELECT	@CONST_RETURN_OK		= 0,
			@CONST_RETURN_ERROR		= -1

	--Initialize other variables
	SELECT	@hasError						= 0,
			@retError						= @CONST_RETURN_OK,
			@retErrorDesc					= '',
			@overtimeRequestRowsAffected	= 0,
			@overtimeDetailRowsAffected		= 0,
			@otDifference					= 0,
			@isOTApproved					= 0,
			@otStartTime					= NULL,
			@otEndTime						= NULL,
			@otType							= NULL,
			@correctionCode					= NULL,
			@totalWorkDuration				= 0,
			@dtIN							= NULL, 
			@dtOUT							= NULL,
			@otStartTime_Orig				= NULL,
			@otEndTime_Orig					= NULL,
			@otDuration_Orig				= 0

	--Start a transaction
	--BEGIN TRAN T1

	BEGIN TRY

		--Check for OT approval
		IF @otApproved = 'Y'
			SET @isOTApproved = 1
		ELSE 
			SET @isOTApproved = 0

		--Get the original overtime values before any data changes
		SELECT	@otStartTime_Orig = a.OTStartTime_Orig,
				@otEndTime_Orig = a.OTEndTime_Orig,
				@otDuration_Orig = DATEDIFF(MINUTE, a.OTStartTime_Orig, a.OTEndTime_Orig)
		FROM tas.OvertimeRequest a
		WHERE a.OTRequestNo = @otRequestNo

		IF @isOTApproved = 1	--HR granted overtime
		BEGIN

			--Get the Timesheet information
			SELECT	@totalWorkDuration = DATEDIFF(MINUTE, a.dtIN, a.dtOUT),
					@dtIN = a.dtIN,
					@dtOUT = a.dtOUT
			FROM tas.Tran_Timesheet a
				INNER JOIN tas.OvertimeRequest b ON a.AutoID = b.TS_AutoID
			WHERE b.OTRequestNo = @otRequestNo

			--Calculate the overtime difference
			SELECT @otDifference = DateDiff(n, a.OTstartTime, a.OTendTime) 
			FROM tas.OvertimeRequest a
			WHERE a.OTRequestNo = @otRequestNo		
			
			IF @otDuration > 0 
			BEGIN
            
				IF @otReason IN ('CAL', 'CBD', 'CDF', 'CSR', 'COMS', 'COEW')
				BEGIN

					SELECT	@otStartTime = DATEADD(n, @otDuration * -1, a.OTEndTime_Orig),
							@otEndTime = a.OTEndTime_Orig,
							@otType = a.OTtype,
							@correctionCode = @otReason
					FROM tas.OvertimeRequest a
					WHERE a.OTRequestNo = @otRequestNo	
				END

				ELSE
				BEGIN

					--Start of Rev. #1.1
					IF	@otDuration > @otDuration_Orig		--Check if the specifed overtime duration is greater than the original duration					
					BEGIN

						IF @otDuration = @totalWorkDuration
						BEGIN 

							--OT duration is equal to the total work duration
							--Therefore, set OTStartTime = dtIN and OTEndTime = dtOUT
							SELECT	@otStartTime = @dtIN,
									@otEndTime = @dtOUT,
									@otType = a.OTtype,
									@correctionCode = @otReason
							FROM tas.OvertimeRequest a
							WHERE a.OTRequestNo = @otRequestNo
						END 

						ELSE 
						BEGIN 
							
							--OT duration is greater than the original but less than the total work duration
							--Therefore, calculate OT Start Time backwards based on the OT End Time
							SELECT	@otStartTime = DATEADD(n, @otDuration * -1, a.OTEndTime_Orig),
									@otEndTime = a.OTEndTime_Orig,
									@otType = a.OTtype,
									@correctionCode = @otReason
							FROM tas.OvertimeRequest a
							WHERE a.OTRequestNo = @otRequestNo
						END 
					END
					--End of Rev. #1.1

					ELSE
					BEGIN

						SELECT	@otStartTime = a.OTstartTime,
								@otEndTime = DATEADD(n, @otDuration, a.OTstartTime),
								@otType = a.OTtype,
								@correctionCode = @otReason
						FROM tas.OvertimeRequest a
						WHERE a.OTRequestNo = @otRequestNo
					END 
				END
			END

            ELSE
            BEGIN

				SELECT	@correctionCode = RTRIM(a.OTReason)
				FROM tas.OvertimeRequest a
				WHERE a.OTRequestNo = @otRequestNo
            END 
		END

		ELSE IF @isOTApproved = 0	--HR does not give overtime
		BEGIN

			SELECT	@otStartTime = NULL,
					@otEndTime = NULL,
					@otType = NULL,
					@correctionCode = @otReason
			FROM tas.OvertimeRequest a
			WHERE a.OTRequestNo = @otRequestNo
		END

		--Update the overtime request record
		UPDATE tas.OvertimeRequest
		SET MealVoucherEligibility = @mealVoucherEligibilityCode,
			OTApproved = @otApproved,
			OTStartTime = @otStartTime,
			OTEndTime = @otEndTime,	
			OTType = @otType,					
			OTReason = @otReason,
			CorrectionCode = @otReason,
			OTComment = @comment,
			IsModifiedByHR = 1,
			LastUpdateEmpNo = @userEmpNo,
			LastUpdateEmpName = @userEmpName,
			LastUpdateUserID = @userID,
			LastUpdateTime = GETDATE()
		WHERE OTRequestNo = @otRequestNo

		--Get the number of affected overtime records
		SELECT @overtimeRequestRowsAffected = @@rowcount

		--Checks for error
		IF @@ERROR <> @CONST_RETURN_OK
		BEGIN
				
			SELECT	@retError = @CONST_RETURN_ERROR,
					@hasError = 1
		END

		--Checks if there's no error
		IF @retError = @CONST_RETURN_OK
		BEGIN

			--Update the overtime record
			UPDATE tas.Tran_Timesheet_Extra 
			SET	OTApproved = a.OTApproved,
				OTstartTime = a.OTStartTime,
				OTendTime = a.OTEndTime,
				OTtype = a.OTType,
				OTReason = a.OTReason,
				Comment = a.OTComment,
				LastUpdateUser = @userID, 
				LastUpdateTime = GETDATE()
			FROM tas.OvertimeRequest a
			WHERE  	
				Tran_Timesheet_Extra.XID_AutoID = a.TS_AutoID
				AND a.OTRequestNo = @otRequestNo

			--Get the number of updated Overtime Details records 
			SELECT @overtimeDetailRowsAffected = @@ROWCOUNT
		END 
	END TRY

	BEGIN CATCH

		--Capture the error
		SELECT	@retError = CASE WHEN ERROR_NUMBER() > 0 THEN ERROR_NUMBER() ELSE @CONST_RETURN_ERROR END,
				@retErrorDesc = ERROR_MESSAGE(),
				@hasError = 1

	END CATCH

	--IF @retError = @CONST_RETURN_OK
	--BEGIN

	--	IF @@TRANCOUNT > 0
	--		COMMIT TRANSACTION		
	--END
	--ELSE
	--BEGIN

	--	IF @@TRANCOUNT > 0
	--		ROLLBACK TRANSACTION
	--END

	--Return error information to the caller
	SELECT	@hasError AS HasError, 
			@retError AS ErrorCode, 
			@retErrorDesc AS ErrorDescription,
			@overtimeRequestRowsAffected AS OvertimeRequestRowsAffected,
			@overtimeDetailRowsAffected AS OvertimeDetailRowsAffected,
			@otStartTime AS OTStartTime,
			@otEndTime AS OTEndTime,
			@otType AS OTType


/*	Debugging:

PARAMETERS:
	@autoID						INT, 	
	@otReason					VARCHAR(10),	
	@comment					VARCHAR(1000),
	@userID						VARCHAR(30), 
	@userEmpNo					INT,
	@otApproved					VARCHAR(1) = '0', 
	@mealVoucherEligibilityCode	VARCHAR(10) = NULL,
	@otDuration					INT = 0

	EXEC tas.Pr_UpdateOvertimeRequestByHR

*/

/*	Checking:

	SELECT * FROM tas.OvertimeRequest a

	SELECT	b.*, 
		a.EmpNo,
		a.BusinessUnit,
		a.DT,
		a.dtIN,
		a.dtOUT,
		a.OTStartTime,
		a.OTEndTime,
		a.OTType,
		a.MealVoucherEligibility,
		a.* 
	FROM tas.Tran_Timesheet a 
		INNER JOIN tas.Tran_Timesheet_Extra b ON a.AutoID = b.XID_AutoID
	WHERE a.EmpNo = 10002160
		AND a.IsLastRow = 1
		AND a.DT IN ('11/01/2016', '10/27/2016')

	
	BEGIN TRAN T1

	UPDATE tas.OvertimeRequest
	SET StatusID = 113,
		StatusCode = '02',
		StatusDesc = 'Request Sent',
		StatusHandlingCode = 'Open',
		IsSubmittedForApproval = 1,
		SubmittedByEmpNo = 10003632,
		SubmittedDate = GETDATE()
	WHERE OTRequestNo = 1

	UPDATE tas.Tran_Timesheet_Extra
	SET	Approved = 0,
		LastUpdateUser = NULL,
		LastUpdateTime = NULL,
		OTApproved = 0,
		OTReason = ''
	WHERE XID_AutoID = 4832477

	UPDATE tas.Tran_Timesheet
	SET	OTStartTime =NULL,
		OTEndTime = NULL,
		OTType = NULL,
		LastUpdateUser = NULL,
		LastUpdateTime = NULL
	WHERE AutoID = 4832477

	COMMIT TRAN T1
	ROLLBACK TRAN T1

*/
