USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[prGetEmployeeAttendance_V2]    Script Date: 24/10/2016 08:08:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.prGetEmployeeAttendance_V2
*	Description: Used to fetch attendance dashboard data based on selected cost center
*
*	Date			Author		Revision No.	Comments:
*	03/04/2016		Ervin		1.0				Created
*	18/04/2016		Ervin		1.1				Change the employee no. to Contractor ID for all Contractors under 7600 cost center 
*	21/04/2016		Ervin		1.2				Update "InOutStatus" field for ICT Contractors
*	03/08/2016		Ervin		1.3				Added condition to change the employee no. of exceptional contractors
*	07/08/2016		Ervin		1.4				Remove the Contractor remarks if employee is late or left early
*	09/08/2016		Ervin		1.5				Added condition to exclude Sreejith employee card no. that is causing duplicate record
*	09/08/2016		Ervin		1.6				Added logic to process Sreejith attendance using his new card 
******************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[prGetEmployeeAttendance_V2]
(   
	@EmpName     varchar(100) = '',           
    @CostCenter  varchar(12) = '',
    @Date        Datetime = ''  
)
As

	--Get and insert all emplouee attance details for today
	EXEC tas.prInsertUpdateCurrentAttendance_V2 'Insert', @Date

	DECLARE @shiftCode            VARCHAR(20),
			@InOutStatus          CHAR(1),
			@Remark               VARCHAR(500),
			@empno                INT,
			@ExtensionNo          VARCHAR(20)

	CREATE TABLE #EmpAttendance
	(
		  EmpName               VARCHAR(100),
		  EmpNo                 VARCHAR(10),
		  InquiryDate           DATETIME,
		  InOutStatus           VARCHAR(2),
		  ExtensionNo           VARCHAR(20),
		  Remark                VARCHAR(100),
		  EmployeeStatus		VARCHAR(5),
		  CostCenter			VARCHAR(12),
		  FirstTimeIn			DATETIME,
		  LastTimeOut			DATETIME,
		  RequiredTimeOut		DATETIME
	)

	SET @EmpName = rtrim(ltrim(@EmpName))

	IF ISNULL(@Date,'') = '' OR CONVERT(DATETIME, '') = @Date
		SET @Date = GETDATE()

	--Get employee attance details
	IF ISNULL(@EmpName, '') = ''
	BEGIN

		INSERT INTO #EmpAttendance 
		(
				EmpName, 
				EmpNo, 
				InquiryDate, 
				InOutStatus, 
				ExtensionNo, 
				Remark, 
				EmployeeStatus, 
				CostCenter
		)
		SELECT	EmpName, 
				EmpNo, 
				GETDATE(), 
				'', 
				Extension, 
				'', 
				EmployeeStatus,
				BusinessUnit 
		FROM
		(
			SELECT DISTINCT 
				a.EmpName, a.EmpNo, isnull(convert(varchar(20),d.WPPH1),'') as Extension,
				'EmployeeStatus' = CASE WHEN c.YAPAST IN ('R', 'T', 'E', 'X') and GETDATE() < tas.ConvertFromJulian(c.YADT) THEN '0' ELSE c.YAPAST END,
				a.BusinessUnit
			FROM tas.Master_Employee_JDE_View a
				INNER JOIN tas.master_Businessunit_JDE b on rtrim(a.businessunit) = rtrim(b.businessunit) 
				INNER JOIN tas.syJDE_F060116 c on a.EmpNo = c.YAAN8
				LEFT JOIN tas.syJDE_F0115 d on a.EmpNo = d.WPAN8 and upper(ltrim(rtrim(d.WPPHTP))) = 'EXT'
			WHERE 
				--a.PayStatus in ('0','1','2','3','4','5','6','7','8','9','i')
				--and c.DateResigned IS NULL and 
				RTRIM(a.BusinessUnit) = RTRIM(@CostCenter)
				AND a.EmpNo NOT IN (10003669, 10003668, 10002191, 10002133, 10001253, 10002136, 10002163)
		) tblMain
		WHERE (isnumeric(EmployeeStatus) = 1 and convert(int,EmployeeStatus) between 0 and 9) or EmployeeStatus = 'I'			
		ORDER BY EmpName
	END

	ELSE 
	BEGIN

		INSERT INTO #EmpAttendance 
		(
				EmpName, 
				EmpNo, 
				InquiryDate, 
				InOutStatus, 
				ExtensionNo, 
				Remark, 
				EmployeeStatus,
				CostCenter
		)
		SELECT	EmpName, 
				EmpNo, 
				GETDATE(),
				'', 
				Extension, 
				'', 
				EmployeeStatus,
				BusinessUnit 
		FROM
		(
			SELECT DISTINCT 
				a.EmpName + ' - ' + b.businessunitname as EmpName, a.EmpNo, isnull(convert(varchar(20),d.WPPH1),'') as Extension,
				'EmployeeStatus' = CASE WHEN c.YAPAST IN ('R', 'T', 'E', 'X') and GETDATE() < tas.ConvertFromJulian(c.YADT) THEN '0' ELSE c.YAPAST END,
				a.BusinessUnit
			FROM tas.Master_Employee_JDE_View a
				INNER JOIN tas.master_Businessunit_JDE b on a.businessunit=b.businessunit 
				INNER JOIN tas.syJDE_F060116 c on a.EmpNo = c.YAAN8
				LEFT JOIN tas.syJDE_F0115 d on a.EmpNo = d.WPAN8 and upper(ltrim(rtrim(d.WPPHTP))) = 'EXT'
			WHERE 
				--a.PayStatus in ('0','1','2','3','4','5','6','7','8','9','i')
				--and a.DateResigned IS NULL and 
				UPPER(RTRIM(a.EmpName)) LIKE '%'+ UPPER(RTRIM(@EmpName)) +'%'
		) tblMain
		WHERE ISNUMERIC(EmployeeStatus) = 1 
			AND CONVERT(int, EmployeeStatus) BETWEEN 0 AND 9
	END

	--Update attendance details
	Update #EmpAttendance
	SET InOutStatus = tas.fnGetAttendanceStatusEx_V2(a.EmpNo, @Date),
		Remark = tas.fnGetAttendanceStatusRemark_V2(a.EmpNo, tas.fnGetAttendanceStatus(a.EmpNo), @Date) 
	FROM #EmpAttendance a	
	
	--Ensure correct status for Early Leaving
	Update #EmpAttendance
	SET InOutStatus = 'e'	
	WHERE RTRIM(Remark) = 'Early leaving' 

	Update #EmpAttendance
	SET Remark = 'Early leaving'	
	WHERE UPPER(RTRIM(InOutStatus)) = 'E' 

	Update #EmpAttendance
	SET Remark = 'Contractor'	
	WHERE UPPER(RTRIM(InOutStatus)) = 'X' 
		AND EmployeeStatus = 'I'

	--Get the first swipe-in
	Update #EmpAttendance
	SET FirstTimeIn = tas.fnGetFirstSwipeIn(a.EmpNo)
	FROM #EmpAttendance a	
	
	--Get the last swipe-out
	Update #EmpAttendance
	SET LastTimeOut = tas.fnGetLastSwipeOut(a.EmpNo)
	FROM #EmpAttendance a	

	--Get the required Time-out
	Update #EmpAttendance
	SET RequiredTimeOut = tas.fnGetRequiredTimeOut(a.EmpNo, @Date)
	FROM #EmpAttendance a

	--Start of Rev. #1.1
	ALTER TABLE #EmpAttendance
	ALTER COLUMN EmpName
	VARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS

	Update #EmpAttendance
	SET #EmpAttendance.EmpNo = CASE WHEN ISNULL(b.EmpNo, 0) > 0 THEN b.EmpNo ELSE a.EmpNo END 
	FROM #EmpAttendance a
		OUTER APPLY
		(
			SELECT TOP 1 * FROM tas.Vw_MainGateSwipeRawData 
			WHERE 
				(
					LTRIM(RTRIM(LName)) = LTRIM(RTRIM(a.EmpName)) 
					OR EmpNo IN --Rev. #1.3		
					(
						'2165'	--SHARIKA NARAPACHI VEETTIL               
					)
				)
				AND SwipeDate = @Date
		) b
	WHERE RTRIM(a.Remark) = 'Contractor' 
		AND a.CostCenter = '7600'
	--End of Rev. #1.1

	--Start of Rev. #1.2
	Update #EmpAttendance
	SET InOutStatus = tas.fnGetAttendanceStatusEx_V2(a.EmpNo, @Date)
	FROM #EmpAttendance a	
	WHERE RTRIM(a.Remark) = 'Contractor' 
		AND a.CostCenter = '7600'
	--End of Rev. #1.2

	--Start of Rev. #1.4
	Update #EmpAttendance
	SET Remark = 'Late'		
	FROM #EmpAttendance a	
	WHERE UPPER(RTRIM(InOutStatus)) = 'L' 
	--End of Rev. #1.4

	--Update #EmpAttendance
	--SET Remark = '',
	--	InOutStatus = 'i'		
	--FROM #EmpAttendance a	
	--WHERE EmpNo = 10003583

	--Start of Rev. #1.6
	DELETE FROM #EmpAttendance
	WHERE EmpNo = 10003726
		AND UPPER(RTRIM(InOutStatus)) = 'X'
	--End of Rev. #1.6

	--Select all records
	SELECT *, CONVERT(DATETIME, CONVERT(VARCHAR, InquiryDate, 12)) AS SwipeDate From #EmpAttendance a
	WHERE RTRIM(a.Remark) <> 'Contractor'	
		OR 
		(
			RTRIM(a.Remark) = 'Contractor' 
			AND a.CostCenter = '7600'
			AND 
			(
				a.EmpNo IN (56836, 10002165)	--Rev. #1.5
				OR
				(a.EmpNo IN (55763, 10002003) AND CONVERT(DATETIME, CONVERT(VARCHAR, a.InquiryDate, 12)) <= '08/09/2016')
			)
		)	
	
	--Drop the temporary table
	Drop Table #EmpAttendance
	
	--Drop the attendance temporary data
	EXEC tas.prInsertUpdateCurrentAttendance_V2 'Delete'


/*	Debugging:

	select * from tas.Master_Employee_JDE_View  where BusinessUnit = '7600' order by empno
	
	exec tas.prGetEmployeeAttendance_V2 '', '7600', '08/10/2016'
	exec tas.prGetEmployeeAttendance_V2 '', '7600', '08/08/2016'
	exec tas.prGetEmployeeAttendance_V2 '', '7600', '08/04/2016'
                        
*/

