USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetProcessedTimesheetData]    Script Date: 05/09/2022 12:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetProcessedTimesheetData
*	Description: This table-view function returns the processed Timesheet data based on the valid swipes at the workplace readers
*
*	Date:			Author:		Rev.#:		Comments:
*	04/09/2015		Ervin		1.0			Created
*	16/10/2015		Ervin		1.1			If ShiftCode = 'O' then set ShiftCode = Actual_ShiftCode
*	05/02/2016		Ervin		1.2			Refactored calculation of Overtime and NPH based on @shiftCodeSched
*	19/04/2016		Ervin		1.3			Check if overtime is auto approved for certain cost center in the "OTApprovalSetting" table
*	16/03/2017		Ervin		1.4			Added condition that set NoPayHour to zero if "LeaveType" is not null
*	21/03/2017		Ervin		1.5			Added condition to set NoPayHours = Duration_Required if Duration_Worked_Cumulative is equal to zero
*	05/01/2021		Ervin		1.6			Refactored code to enhance performance
*	07/02/2021		Ervin		1.7			Modified the logic in indentifying the correct shift code to use
**************************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetProcessedTimesheetData]
(
	@autoID				INT,
	@otType				VARCHAR(10),
	@timeInWP			DATETIME,
	@timeOutWP			DATETIME
)
RETURNS @rtnTable 
TABLE 
(
	EmpNo INT,
	DT DATETIME,
	CostCenter VARCHAR(12),
	OTStartTime DATETIME,
	OTEndTime DATETIME,
	OTDuration INT,
	NoPayHours INT,
	Duration_Worked_Cumulative INT,
	NetMinutes INT
)
AS
BEGIN

	DECLARE @myTable TABLE 
	(
		EmpNo INT,
		DT DATETIME,
		CostCenter VARCHAR(12),
		OTStartTime DATETIME,
		OTEndTime DATETIME,
		OTDuration INT,
		NoPayHours INT,
		Duration_Worked_Cumulative INT,
		NetMinutes INT
	)

	--Declare constants
	DECLARE	@FLAG_Minutes_MinOT_SS_Ramadan	INT,
			@FLAG_Minutes_MinOT_SS			INT,
			@FLAG_Minutes_MinOT_NSS			INT

	--Initialize flags
	SELECT	@FLAG_Minutes_MinOT_NSS			= Minutes_MinOT_NSS,
			@FLAG_Minutes_MinOT_SS			= Minutes_MinOT_SS,
			@FLAG_Minutes_MinOT_SS_Ramadan	= Minutes_MinOT_SS_Ramadan
	FROM tas.System_Values

	--Declare field variables
	DECLARE	@empNo INT,
			@DT DATETIME,
			@costCenter VARCHAR(12),
			@otStartTime DATETIME,
			@otEndTime DATETIME,
			@otDuration INT,
			@noPayHours INT,
			@duration_Worked_Cumulative INT,
			@netMinutes INT			

	--Initialize field variables
	SELECT	@empNo						= 0,
			@DT							= NULL,
			@costCenter					= '',
			@otStartTime				= NULL,
			@otEndTime					= NULL,
			@otDuration					= 0,
			@noPayHours					= 0,
			@duration_Worked_Cumulative	= 0,
			@netMinutes					= 0			

	--Declare variables
	DECLARE	@result							DATETIME,			
			@shiftPatCode					VARCHAR(2),	
			@shiftCode						VARCHAR(10),
			@shiftCodeSched					VARCHAR(10),	--Refers to the employee's scheduled Shift Code
			@isDILdayWorker					BIT,
			@isPublicHoliday				BIT,
			@isSalStaff						BIT,
			@isRamadan						BIT,	
			@isMuslim						BIT,
			@isDayWorker_OR_Shifter			BIT,	
			@isDriver						BIT,	
			@isLiasonOfficer				BIT,
			@duration_Required				INT,
			@dtIN							DATETIME, 
			@dtOUT							DATETIME,
			@shaved_IN						DATETIME,
			@shaved_OUT						DATETIME,
			@autoApprovedOTByCostCenter		BIT,
			@leaveType	VARCHAR(10) 

	--Initialize variables
	SELECT	@result							= NULL,
			@shiftPatCode					= '',	
			@shiftCode						= '',
			@shiftCodeSched					= '',
			@isDILdayWorker					= 0,
			@isPublicHoliday				= 0,
			@isSalStaff						= 0,
			@isRamadan						= 0,
			@isMuslim						= 0,
			@isDayWorker_OR_Shifter			= 0,
			@isDriver						= 0,	
			@isLiasonOfficer				= 0,
			@duration_Required				= 0,	
			@dtIN							= NULL,
			@dtOUT							= NULL,
			@shaved_IN						= NULL,
			@shaved_OUT						= NULL,
			@autoApprovedOTByCostCenter		= 0,
			@leaveType						= ''

	--Get Timesheet details
	SELECT	@empNo = a.EmpNo,
			@DT = a.DT,
			@dtIN = a.dtIN,
			@dtOUT = a.dtOUT,
			@costCenter = RTRIM(a.BusinessUnit),
			@shiftPatCode = RTRIM(ISNULL(a.ShiftPatCode, '')),

			--@shiftCodeSched = RTRIM(a.ShiftCode),		--Rev. #1.2
			--@shiftCode =	CASE WHEN ISNULL(ShiftCode, '') = 'O' 
			--					THEN RTRIM(Actual_ShiftCode) 
			--					ELSE ISNULL(Actual_ShiftCode, ShiftCode) 
			--				END,
			@shiftCodeSched = RTRIM(b.Effective_ShiftCode),		--Rev. #1.7
			@shiftCode = CASE WHEN RTRIM(b.Effective_ShiftCode) <> 'O' THEN RTRIM(b.Effective_ShiftCode) ELSE RTRIM(a.Actual_ShiftCode) END,	--Rev. #1.7

			@isDILdayWorker = ISNULL(a.IsDILdayWorker, 0),
			@isPublicHoliday = ISNULL(a.IsPublicHoliday, 0),
			@isSalStaff = ISNULL(a.IsSalStaff, 0),
			@isRamadan = ISNULL(a.IsRamadan, 0),
			@isMuslim = ISNULL(a.isMuslim, 0),
			@isDayWorker_OR_Shifter = ISNULL(a.IsDayWorker_OR_Shifter, 0),
			@isDriver = ISNULL(a.IsDriver, 0),
			@isLiasonOfficer = ISNULL(a.IsLiasonOfficer, 0),
			@duration_Required = ISNULL(a.Duration_Required, 0),
			@leaveType = a.LeaveType
	FROM tas.Tran_Timesheet a WITH (NOLOCK)
		INNER JOIN tas.Tran_ShiftPatternUpdates b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.DT = b.DateX		--Rev. #2.8
	WHERE a.AutoID = @autoID

	/**********************************************************************************
		Calculate Net Minutes based on the workplace swipes
	***********************************************************************************/
	IF @timeInWP IS NOT NULL AND @timeOutWP IS NOT NULL
		SET @netMinutes = DATEDIFF(n, @timeInWP, @timeOutWP)

	/***********************************************************************
		Calculate Shaving Time
	************************************************************************/
	--Shaved_IN
	IF @timeInWP IS NOT NULL
		SET @shaved_IN = tas.fnGetShavingTime(0, @timeInWP, @shiftPatCode, @shiftCode)

	--Shaved_OUT
	IF @timeOutWP IS NOT NULL
		SET @shaved_OUT = tas.fnGetShavingTime(1, @timeOutWP, @shiftPatCode, @shiftCode)


	/***********************************************************************
		Calculate Overtime
	************************************************************************/
	IF @shaved_IN IS NOT NULL AND @shaved_OUT IS NOT NULL
	BEGIN

		--Start of Rev. #1.3
		IF EXISTS
		(
			SELECT SettingID FROM tas.OTApprovalSetting a WITH (NOLOCK)
			WHERE RTRIM(a.CostCenter) = @costCenter
				AND @costCenter BETWEEN a.EffectiveStartDate AND a.EffectiveEndDate
				AND a.IsActive = 1
		)
		BEGIN
    
			SET @autoApprovedOTByCostCenter = 1
		END 
		--End of Rev. #1.3

		--Calculate Total Work Duration
		IF ISNULL(@shaved_IN, '') <> '' AND ISNULL(@shaved_OUT, '') <> ''
			SET @duration_Worked_Cumulative = DATEDIFF(n, @shaved_IN, @shaved_OUT)
	
		--Calculate OT Start Time and End Time
		IF	@isPublicHoliday = 1			--Public holiday 
			--OR @shiftCode = 'O'			--Day-off
			OR RTRIM(@shiftCodeSched) = 'O'	--Day-off	--Rev. #1.2
			OR @isDILdayWorker = 1 			--Day-in-liue
		BEGIN

			--Full working day overtime
			SELECT	@otStartTime = @shaved_IN,
					@otEndTime = @shaved_OUT
		END

		ELSE
		BEGIN

			--Regular day overtime - extra working hours
			IF @duration_Worked_Cumulative > @duration_Required
			BEGIN

				DECLARE @otMinutes int
				SET @otMinutes = @duration_Worked_Cumulative - @duration_Required
			
				SELECT	--@otStartTime = DATEADD(n, @otMinutes, @shaved_IN),	
						@otStartTime = DATEADD(n, @otMinutes * -1, @shaved_OUT),	
						@otEndTime = @shaved_OUT
			
				IF @otStartTime < @shaved_IN
					SET @otStartTime = @shaved_IN
			END
		END

		--Calculate OT duration in minutes
		IF @otStartTime IS NOT NULL AND @otEndTime IS NOT NULL
			SET @otDuration = ISNULL(DATEDIFF(n, @otStartTime, @otEndTime), 0)
	
		/*****************************************************************************************************
			Perform additional overtime checking - 	Remove regular OT if less than parameter
		******************************************************************************************************/
		--30 minutes for Non-Salary Staff
		IF 
		(
			DATEDIFF(n, @dtIN, @dtOUT) < @FLAG_Minutes_MinOT_NSS
			OR @otDuration < @FLAG_Minutes_MinOT_NSS
		)
		AND @isSalStaff = 0
		AND @otType = 'R'
		BEGIN

			SELECT	@otStartTime = NULL,
					@otEndTime = NULL,
					@otDuration = 0
		END

		--360 minutes for Salary Staff during Non-Ramadan
		ELSE IF 
		(
			DATEDIFF(n, @dtIN, @dtOUT) < @FLAG_Minutes_MinOT_SS
			OR @otDuration < @FLAG_Minutes_MinOT_SS
		)
		AND @isSalStaff = 1
		AND @otType = 'R'
		AND @isRamadan = 0
		BEGIN

			SELECT	@otStartTime = NULL,
					@otEndTime = NULL,
					@otDuration = 0
		END

		--360 minutes for Salary Staff during Ramadan for Non-Muslims
		ELSE IF 
		(
			DATEDIFF(n, @dtIN, @dtOUT) < @FLAG_Minutes_MinOT_SS
			OR @otDuration < @FLAG_Minutes_MinOT_SS
		)
		AND @isSalStaff = 1
		AND @otType = 'R'
		AND @isRamadan = 1
		AND @isMuslim = 0
		BEGIN

			SELECT	@otStartTime = NULL,
					@otEndTime = NULL,
					@otDuration = 0
		END

		--120 minutes for Salary Staff during Ramadan for Muslim
		ELSE IF 
		(
			DATEDIFF(n, @dtIN, @dtOUT) < @FLAG_Minutes_MinOT_SS_Ramadan
			OR @otDuration < @FLAG_Minutes_MinOT_SS_Ramadan
		)
		AND @isSalStaff = 1
		AND @otType = 'R'
		AND @isRamadan = 1
		AND @isMuslim = 1
		BEGIN

			SELECT	@otStartTime = NULL,
					@otEndTime = NULL,
					@otDuration = 0
		END
	END
	/************************************ End of Overtime Calucation ***************************************************************/


	/***************************************************************************************
		Calculate No-Pay-Hour 
		
		Note: No NPH computation if:
        1. Driver/Liaison officer
        2. Calendar equal to holiday
        3. Scheduled shift code is day off
        4. Grade equal to salary staff
        5. If on Training  and training hours is specified ?
        6. Calendar equal to Day in Lieu, employee is a Day worker
		7. "LeaveType" is not equal to null
	****************************************************************************************/
	IF	@isSalStaff = 1 
		OR (@isDILdayWorker = 1 AND @isDayWorker_OR_Shifter = 1)
		OR (@isSalStaff = 0 AND @isDayWorker_OR_Shifter = 1)
		OR @isDriver = 1 
		OR @isLiasonOfficer = 1 
		OR @isPublicHoliday = 1		
		OR RTRIM(@shiftCodeSched) = 'O'	--Rev. #1.2
		OR ISNULL(@leaveType, '') <> ''	--Rev. #1.4
	BEGIN

		--Set No Pay Hour to zero 
		SET @noPayHours = 0
	END

	ELSE
	BEGIN

		--Calculate No-Pay-Hour for shifter employees and non-salaried staff
		IF @duration_Required > 0 AND @duration_Worked_Cumulative > 0
		BEGIN
			
			SET @noPayHours = @duration_Required - @duration_Worked_Cumulative
			IF @noPayHours < 0
				SET @noPayHours = 0
		END

		ELSE IF @duration_Required > 0 AND @duration_Worked_Cumulative = 0	--Rev. #1.5
		BEGIN

			SET @noPayHours = @duration_Required
		END 

		ELSE
			SET @noPayHours = 0
	END
	/************************************ End of No-Pay-Hour Calculation ***************************************************************/

	--Populate data to the table
	INSERT INTO @myTable  
	SELECT	@empNo,
			@DT,
			@costCenter,
			@otStartTime,
			@otEndTime,
			@otDuration,
			@noPayHours,
			@duration_Worked_Cumulative,
			@netMinutes
	
	INSERT INTO @rtnTable 
	SELECT * FROM @mytable 

	RETURN 

END


/*	Testing:

PARAMETERS:
	@autoID				INT,
	@otType				VARCHAR(10),
	@shaved_IN			DATETIME,
	@shaved_OUT			DATETIME

	SELECT * FROM tas.fnGetProcessedTimesheetData(4557707, 'R', '2016-02-03 23:00:00.000', '2016-02-04 06:04:02.000')

*/
