USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_GetMainGateSwipe]    Script Date: 15/08/2021 08:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_GetMainGateSwipe
*	Description: Retrieve the the swipe time in/out based on specific date
*
*	Date			Author		Rev. #		Comments:
*	23/10/2016		Ervin		1.0			Created
*	02/07/2020		Ervin		1.1			Modified the filter condition to return data for the curren date only
*	08/08/2020		Ervin		1.2			Implemented logic for Car Park #5 reader nos. 11 (IN) and 12 (OUT)
*************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_GetMainGateSwipe]
(     
	@empNo	INT,           
    @date	DATETIME = NULL   
)
As

	--Tell SQL Engine not to return the row-count information
	SET NOCOUNT ON 

    DECLARE	@fromDate	DATETIME,
			@toDate     DATETIME,
			@shiftCode  VARCHAR(10)

	--Initialize variables
	SELECT	@fromDate = CONVERT(DATETIME, CONVERT(VARCHAR, @date, 12)),
			@toDate = CONVERT(DATETIME, CONVERT(VARCHAR, DATEADD(DAY, 1, @date)))
      
	--Get the shift pattern information
    SELECT @shiftCode = RTRIM(a.Effective_ShiftCode)
    FROM tas.Tran_ShiftPatternUpdates a WITH (NOLOCK)
    WHERE a.EmpNo = @empNo
		AND a.DateX = @fromDate

    IF @shiftCode = 'N'
		SET @fromDate = DATEADD(DAY, -1, @fromDate)

    SELECT  a.DT,
            CASE WHEN a.LocationCode IN (-1, 1) AND a.ReaderNo IN (-1, 4, 6, 8, 11) THEN 'IN'		--Rev. #1.2
				WHEN a.LocationCode IN (-1, 1) AND a.ReaderNo IN (-2, 5, 7, 9, 12) THEN 'OUT'		--Rev. #1.2
				WHEN a.LocationCode = 2 AND a.ReaderNo IN (0, 3) THEN 'IN' 
				WHEN locationcode = 2 AND a.ReaderNo IN (1, 2) THEN 'OUT' 
				ELSE '' 
			END AS SwipeType,
            CASE WHEN a.LocationCode = 1 THEN 'GARMCO' 
					--CASE WHEN a.ReaderNo IN (11, 12) THEN 'Car Park #5' ELSE 'GARMCO' END 	
				WHEN a.LocationCode = 2 THEN 'FOILMIL' 
				ELSE '' 
			END AS SwipeLocation
    FROM tas.vuEmployeeAttendance a WITH (NOLOCK)
    WHERE a.EmpNo = @empNo
		AND a.LocationCode IN (1, 2)
		AND CONVERT(DATETIME, CONVERT(VARCHAR, a.DT, 12)) = @date
    ORDER BY a.DT
      

/*	Debugging:

	exec tas.Pr_GetMainGateSwipe 10003589, '08/07/2020'
	exec tas.Pr_GetMainGateSwipe 10003726, '06/29/2020'
	exec tas.Pr_GetMainGateSwipe 10003726, '06/30/2020'
	exec tas.Pr_GetMainGateSwipe 10003726, '07/01/2020'

*/