USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_UpdateTimeSheetGrantDIL]    Script Date: 11/08/2020 12:16:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [tas].[Pr_UpdateTimeSheetGrantDIL]
(
	@AutoID			int,
	@EmpNo			int,
	@DT				datetime	
)
AS
	UPDATE [tas].[Tran_Timesheet]
	SET [DIL_Entitlement] = 'ES'
	WHERE
		AutoID = @AutoID
		and EmpNo = @EmpNo
		and DT = @DT


