USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetDayOffToFlagAbsent]    Script Date: 25/04/2019 10:16:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetDayOffToFlagAbsent
*	Description: This functions gets all the day-off dates during the entire absences period 
*
*	Date:			Author:		Rev.#:		Comments:
*	24/03/2019		Ervin		1.0			Created
*	10/04/2019		Ervin		1.1			Added filter condition to return day-off dates wherein the previous day is flagged as absent
**************************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetDayOffToFlagAbsent]
(
	@empNo			INT,
	@startDate		DATETIME,
	@endDate		DATETIME
)
RETURNS  @rtnTable TABLE  
(     
	IsDayOffBeforeStartDate		BIT,
	IsDayOffAfterEndDate		BIT,
	DayOffArray					VARCHAR(200)
) 
AS
BEGIN

--DECLARE @empNo			INT = 10006032,
--		@startDate		DATETIME = '02/24/2019',
--		@endDate		DATETIME = '03/07/2019'

	DECLARE @isDayOffBeforeStartDate	BIT,
			@isDayOffAfterEndDate		BIT,
			@dayOffArray				VARCHAR(200)

	SELECT	@isDayOffBeforeStartDate	= 0,
			@isDayOffAfterEndDate		= 0,
			@dayOffArray				= ''

	--Check if the day prior to the start date of the absent period is a day-off
	IF 
	(
		SELECT RTRIM(a.ShiftCode) 
		FROM tas.Tran_Timesheet a WITH (NOLOCK)
		WHERE a.EmpNo = @empNo
			AND a.DT = DATEADD(DAY, -1, @startDate)
			AND a.IsLastRow = 1
	) = 'O'
	SET @isDayOffBeforeStartDate = 1

	--Check if the day after the end date of the absent period is a day-off
	IF 
	(
		SELECT RTRIM(a.ShiftCode) 
		FROM tas.Tran_Timesheet a WITH (NOLOCK)
		WHERE a.EmpNo = @empNo
			AND a.DT = DATEADD(DAY, 1, @endDate)
			AND a.IsLastRow = 1
	) = 'O'
	SET @isDayOffAfterEndDate = 1    	
		
	IF @isDayOffBeforeStartDate = 1
	BEGIN

		--Get all the day-off between start and end date
		DECLARE	@dayOffDate	DATETIME = NULL,
				@counter	INT = 0

		DECLARE AttendanceCursor CURSOR READ_ONLY FOR
		SELECT a.DT 
		FROM tas.Tran_Timesheet a WITH	(NOLOCK)
		WHERE a.EmpNo = @empNo
			AND RTRIM(a.ShiftCode) = 'O'
			AND ISNULL(a.RemarkCode, '') <> 'A'
			AND a.IsLastRow = 1
			AND a.DT BETWEEN @startDate AND @endDate
			AND EXISTS	--Rev. #1.1
			(
				SELECT 1 FROM tas.Tran_Timesheet
				WHERE EmpNo = @empNo
					AND DT = DATEADD(DAY, -1, a.DT) 
					AND RTRIM(RemarkCode) = 'A'
			)	

		OPEN AttendanceCursor
		FETCH NEXT FROM AttendanceCursor
		INTO @dayOffDate

		WHILE @@FETCH_STATUS = 0
		BEGIN
	
			IF @counter = 0
				SELECT @dayOffArray = CONVERT(VARCHAR, @dayOffDate, 12)
			ELSE
				SELECT @dayOffArray = @dayOffArray + ',' + CONVERT(VARCHAR, @dayOffDate, 12)

			--Increment the counter
			SET @counter = @counter + 1

			-- Retrieve next record
			FETCH NEXT FROM AttendanceCursor
			INTO @dayOffDate
		END

		-- Close and deallocate
		CLOSE AttendanceCursor
		DEALLOCATE AttendanceCursor
    END 

	IF	@isDayOffBeforeStartDate = 1
		AND @isDayOffAfterEndDate = 1
	BEGIN

		--Get all the day-off after the end date
		DECLARE	@firstDutyDate	DATETIME

		SELECT	TOP 1 @firstDutyDate = DT
		FROM tas.Tran_Timesheet a WITH (NOLOCK)
		WHERE a.EmpNo = @empNo
			AND a.DT > @endDate
			AND ISNULL(a.ShiftCode, '') <> 'O'
		ORDER BY a.DT

		IF @firstDutyDate IS NOT NULL
		BEGIN

			--Reset counter
			SET @counter = 0

			DECLARE AttendanceCursor CURSOR READ_ONLY FOR
			SELECT a.DT 
			FROM tas.Tran_Timesheet a WITH	(NOLOCK)
			WHERE a.EmpNo = @empNo
				AND RTRIM(a.ShiftCode) = 'O'
				AND ISNULL(a.RemarkCode, '') <> 'A'
				AND a.IsLastRow = 1
				AND a.DT BETWEEN @endDate AND @firstDutyDate

			OPEN AttendanceCursor
			FETCH NEXT FROM AttendanceCursor
			INTO @dayOffDate

			WHILE @@FETCH_STATUS = 0
			BEGIN
	
				IF LEN(@dayOffArray) = 0
					SELECT @dayOffArray = CONVERT(VARCHAR, @dayOffDate, 12)
				ELSE
					SELECT @dayOffArray = @dayOffArray + ',' + CONVERT(VARCHAR, @dayOffDate, 12)

				--Increment the counter
				SET @counter = @counter + 1

				-- Retrieve next record
				FETCH NEXT FROM AttendanceCursor
				INTO @dayOffDate
			END

			-- Close and deallocate
			CLOSE AttendanceCursor
			DEALLOCATE AttendanceCursor
        END 
    END 


	INSERT INTO @rtnTable 
	SELECT	@isDayOffBeforeStartDate AS IsDayOffBeforeStartDate,
			@isDayOffAfterEndDate AS IsDayOffAfterEndDate,
			@dayOffArray AS DayOffArray


	RETURN 

END


/*	Debugging:
	
PARAMETERS:
	@empNo			INT,
	@startDate		DATETIME,
	@endDate		DATETIME

	SELECT * FROM tas.fnGetDayOffToFlagAbsent(10001802, '03/18/2019', '04/09/2019')

*/
