USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_ManhourHistory_CRUD]    Script Date: 8/2/2016 11:57:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_Tran_WorkplaceSwipe_CRUD
*	Description: Performs insert, update, and delete operations in "tas.ManhourHistory" table
*
*	Date:			Author:		Rev.#:		Comments:
*	16/06/2016		Ervin		1.0			Created
**************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_ManhourHistory_CRUD]
(
	@actionType				TINYINT,	
	@startDate				DATETIME,
	@endDate				DATETIME,	
	@userEmpNo				INT,
	@userID					VARCHAR(50)	
)
AS	
	--Define constants
	DECLARE @CONST_RETURN_OK		int,
			@CONST_RETURN_ERROR		int

	--Initialize constants
	SELECT	@CONST_RETURN_OK		= 0,
			@CONST_RETURN_ERROR		= -1

	--Define variables
	DECLARE @hasError				BIT,
			@retError				INT,
			@retErrorDesc			VARCHAR(200),
			@newID				INT,
			@rowsAffected		INT,
			@currentTotalHour	FLOAT,
			@previousTotalHour	FLOAT

	--Initialize variables
	SELECT	@hasError			= 0,
			@retError			= @CONST_RETURN_OK,
			@retErrorDesc		= '',
			@newID				= 0,
			@rowsAffected		= 0,
			@currentTotalHour	= 0,
			@previousTotalHour	= 0

	IF ISNULL(@startDate, '') = ''
		SET @startDate = NULL

	IF ISNULL(@endDate, '') = ''
		SET @endDate = NULL

	IF @actionType = 0			--Check existing record
	BEGIN

		SELECT * FROM tas.ManhourHistory a
		WHERE 
		(
			(a.StartDate = @startDate AND a.EndDate = @endDate)
			OR
            (@startDate IS NULL AND @endDate IS NULL)
		)
		ORDER BY a.LogID DESC 
	END

	ELSE IF @actionType = 1		--Insert new record
	BEGIN
		
		--Start a transaction
		BEGIN TRAN T1

		BEGIN TRY

			--Get the total man-hour by period
			SELECT @currentTotalHour = tas.fnGetTotalManhour(@startDate, @endDate)

			--Calculate @previousTotalHour
			IF (SELECT COUNT(*) FROM tas.ManhourHistory) > 0
			BEGIN
    
				SELECT TOP 1 @previousTotalHour = CurrentTotalHour + PreviousTotalHour
				FROM tas.ManhourHistory a
				ORDER BY LogID DESC
			END 

			INSERT INTO tas.ManhourHistory
			(
				StartDate,
				EndDate,
				CurrentTotalHour,
				PreviousTotalHour,
				IsProcessed,
				CreatedDate,
				CreatedByEmpNo,
				CreatedByUser
			)
			VALUES
			(
				@startDate,
				@endDate,
				@currentTotalHour,
				@previousTotalHour,
				0,
				GETDATE(),
				@userEmpNo,
				@userID
			)
		
			--Get the new identity ID
			SELECT @newID = @@identity
		END TRY

		BEGIN CATCH

			--Capture the error
			SELECT	@retError = CASE WHEN ERROR_NUMBER() > 0 THEN ERROR_NUMBER() ELSE @CONST_RETURN_ERROR END,
					@retErrorDesc = ERROR_MESSAGE(),
					@hasError = 1

		END CATCH

		IF @retError = @CONST_RETURN_OK
			COMMIT TRANSACTION T1		
		ELSE
			ROLLBACK TRANSACTION T1

		--Return error information to the caller
		SELECT	@hasError AS HasError, 
				@retError AS ErrorCode, 
				@retErrorDesc AS ErrorDescription,
				@newID AS NewIdentityID,
				1 AS RowsAffected,
				@currentTotalHour AS TotalHourByPeriod,
				@currentTotalHour + @previousTotalHour AS GrandTotalHour
	END

	ELSE IF @actionType = 2  --Update existing record
	BEGIN

		--Start a transaction
		BEGIN TRAN T1

		BEGIN TRY

			--Get the total man-hour by period
			SELECT @currentTotalHour = tas.fnGetTotalManhour(@startDate, @endDate)

			--Calculate @previousTotalHour
			SELECT TOP 1 @previousTotalHour = CurrentTotalHour + PreviousTotalHour
			FROM tas.ManhourHistory a
			WHERE a.LogID < (SELECT LogID FROM tas.ManhourHistory WHERE StartDate = @startDate AND EndDate = @endDate)
			ORDER BY a.LogID DESC	 

			UPDATE tas.ManhourHistory
			SET CurrentTotalHour = @currentTotalHour,
				PreviousTotalHour = @previousTotalHour,
				LastUpdateTime = GETDATE(),
				LastUpdateEmpNo = @userEmpNo,
				LastUpdateUser = @userID
			WHERE StartDate = @startDate
				AND EndDate = @endDate

			SELECT @rowsAffected = @@rowcount 

		END TRY

		BEGIN CATCH

			--Capture the error
			SELECT	@retError = CASE WHEN ERROR_NUMBER() > 0 THEN ERROR_NUMBER() ELSE @CONST_RETURN_ERROR END,
					@retErrorDesc = ERROR_MESSAGE(),
					@hasError = 1

		END CATCH

		IF @retError = @CONST_RETURN_OK
			COMMIT TRANSACTION T1		
		ELSE
			ROLLBACK TRANSACTION T1

		--Return error information to the caller
		SELECT	@hasError AS HasError, 
				@retError AS ErrorCode, 
				@retErrorDesc AS ErrorDescription, 
				0 AS NewIdentityID,
				@rowsAffected AS RowsAffected,
				@currentTotalHour AS TotalHourByPeriod,
				@currentTotalHour + @previousTotalHour AS GrandTotalHour
	END

	ELSE IF (@actionType = 3)  --Delete existing record 
	BEGIN

		--Start a transaction
		BEGIN TRAN T1

		BEGIN TRY

			DELETE FROM tas.ManhourHistory
			WHERE StartDate = @startDate
				AND EndDate = @endDate

			SELECT @rowsAffected = @@rowcount

		END TRY

		BEGIN CATCH

			--Capture the error
			SELECT	@retError = CASE WHEN ERROR_NUMBER() > 0 THEN ERROR_NUMBER() ELSE @CONST_RETURN_ERROR END,
					@retErrorDesc = ERROR_MESSAGE(),
					@hasError = 1

		END CATCH

		IF @retError = @CONST_RETURN_OK
			COMMIT TRANSACTION T1		
		ELSE
			ROLLBACK TRANSACTION T1

		--Return error information to the caller
		SELECT	@hasError AS HasError, 
				@retError AS ErrorCode, 
				@retErrorDesc AS ErrorDescription, 
				0 AS NewIdentityID,
				@rowsAffected AS RowsAffected,
				0 AS TotalHourByPeriod,
				0 AS GrandTotalHour
	END

