USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_AutoTimesheetCorrection]    Script Date: 31/10/2017 13:54:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_AutoTimesheetCorrection
*	Description: This stored procedure is used to perform various background jobs to rectify Timesheet records 
*
*	Date			Author		Revision No.	Comments:
*	11/10/2017		Ervin		1.0				Created
**************************************************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_AutoTimesheetCorrection]
(	
	@actionType				TINYINT,		--(Note: 1 = Perform Timesheet data corrections)
	@startDate				DATETIME,
	@endDate				DATETIME,
	@costCenter				VARCHAR(12) = NULL,
	@empNo					INT = 0
)
AS	
	--Define constants
	DECLARE @CONST_RETURN_OK		INT,
			@CONST_RETURN_ERROR		INT

	--Define other variables
	DECLARE @hasError				BIT,
			@retError				INT,
			@retErrorDesc			VARCHAR(200),
			@rowsAffected_TS		INT			

	--Initialize constants
	SELECT	@CONST_RETURN_OK		= 0,
			@CONST_RETURN_ERROR		= -1

	--Initialize other variables
	SELECT	@hasError				= 0,
			@retError				= @CONST_RETURN_OK,
			@retErrorDesc			= '',
			@rowsAffected_TS		= 0

	--Start a transaction
	--BEGIN TRAN T1

	BEGIN TRY

		--Validate parameters
		IF ISNULL(@startDate, '') = '' OR CONVERT(DATETIME, '') = @startDate
			SET @startDate = NULL

		IF ISNULL(@endDate, '') = '' OR CONVERT(DATETIME, '') = @endDate
			SET @endDate = NULL

		IF ISNULL(@costCenter, '') = '' OR ISNULL(@costCenter, '') = '0'
			SET @costCenter = NULL

		IF ISNULL(@empNo, 0) = 0
			SET @empNo = NULL

		IF @actionType = 1		--Perform series of database jobs to modify Timesheet records
		BEGIN
		
			/***********************************************************************************************************************
				Recover Reason of Absences that have been removed when an employee comes to work
			***********************************************************************************************************************/
			IF EXISTS
			(
				SELECT a.AutoID
				FROM tas.Tran_Absence a
					INNER JOIN tas.Tran_Timesheet b ON a.EmpNo = b.EmpNo AND b.DT BETWEEN a.EffectiveDate AND a.EndingDate
					CROSS APPLY
					(
						SELECT * FROM tas.syJDE_F0005 
						WHERE LTRIM(RTRIM(DRSY)) + '-' + LTRIM(RTRIM(DRRT)) = '55-RA'
							AND LTRIM(RTRIM(DRKY)) = RTRIM(a.AbsenceReasonCode)
					) c
				WHERE 
					(b.dtIN IS NOT NULL)					
					AND ISNULL(b.IsPublicHoliday, 0) = 0
					AND ISNULL(b.CorrectionCode, '') = ''					
					AND 
					(
						ISNULL(b.AbsenceReasonColumn, '') = '' 
						OR RTRIM(b.AbsenceReasonColumn) = 'Day Off'
					)
					AND 
					(
						ISNULL(b.AbsenceReasonCode, '') = ''
						OR ISNULL(b.LeaveType, '') = ''
					)
					AND a.EffectiveDate >= @startDate
					AND a.EndingDate <= @endDate
					AND (RTRIM(b.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)
					AND (a.EmpNo = @empNo OR @empNo IS NULL)
			)
            BEGIN
			
				UPDATE tas.Tran_Timesheet
				SET tas.Tran_Timesheet.AbsenceReasonColumn = CASE WHEN RTRIM(b.AbsenceReasonColumn) = 'Day Off' THEN b.AbsenceReasonColumn ELSE 'ROA' END,
					tas.Tran_Timesheet.AbsenceReasonCode = RTRIM(a.AbsenceReasonCode),
					tas.Tran_Timesheet.LeaveType = RTRIM(a.AbsenceReasonCode),
					tas.Tran_Timesheet.LastUpdateUser = 'System Admin',
					tas.Tran_Timesheet.LastUpdateTime = GETDATE()
				FROM tas.Tran_Absence a
					INNER JOIN tas.Tran_Timesheet b ON a.EmpNo = b.EmpNo AND b.DT BETWEEN a.EffectiveDate AND a.EndingDate
					CROSS APPLY
					(
						SELECT * FROM tas.syJDE_F0005 
						WHERE LTRIM(RTRIM(DRSY)) + '-' + LTRIM(RTRIM(DRRT)) = '55-RA'
							AND LTRIM(RTRIM(DRKY)) = RTRIM(a.AbsenceReasonCode)
					) c
				WHERE 
					(b.dtIN IS NOT NULL)
					AND ISNULL(b.IsPublicHoliday, 0) = 0
					AND ISNULL(b.CorrectionCode, '') = ''					
					AND 
					(
						ISNULL(b.AbsenceReasonColumn, '') = '' 
						OR RTRIM(b.AbsenceReasonColumn) = 'Day Off'
					)
					AND 
					(
						ISNULL(b.AbsenceReasonCode, '') = ''
						OR ISNULL(b.LeaveType, '') = ''
					)
					AND a.EffectiveDate >= @startDate
					AND a.EndingDate <= @endDate
					AND (RTRIM(b.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)
					AND (a.EmpNo = @empNo OR @empNo IS NULL)

				--Get the number of affected records in the "Tran_Timesheet" table
				SELECT @rowsAffected_TS = @@rowcount

				--Checks for error
				IF @@ERROR <> @CONST_RETURN_OK
				BEGIN
				
					SELECT	@retError = @CONST_RETURN_ERROR,
							@hasError = 1
				END
            END 
		END 

	END TRY

	BEGIN CATCH

		--Capture the error
		SELECT	@retError = CASE WHEN ERROR_NUMBER() > 0 THEN ERROR_NUMBER() ELSE @CONST_RETURN_ERROR END,
				@retErrorDesc = ERROR_MESSAGE(),
				@hasError = 1

	END CATCH

	--IF @retError = @CONST_RETURN_OK
	--BEGIN

	--	IF @@TRANCOUNT > 0
	--		COMMIT TRANSACTION		
	--END

	--ELSE
	--BEGIN

	--	IF @@TRANCOUNT > 0
	--		ROLLBACK TRANSACTION
	--END

	--Return error information to the caller
	SELECT	@hasError AS HasError, 
			@retError AS ErrorCode, 
			@retErrorDesc AS ErrorDescription,
			@rowsAffected_TS AS TimesheetRowsAffected


/*	Debugging:

PARAMETERS:
	@actionType				TINYINT,		--(Note: 1 = Recover Reason of Absence)
	@startDate				DATETIME,
	@endDate				DATETIME,
	@costCenter				VARCHAR(12) = NULL,
	@empNo					INT = 0

	--Recover Reason of Absences that have been removed due coming to workplace
	EXEC tas.Pr_AutoTimesheetCorrection 1, '16/02/2016', '15/03/2016', '3320'

*/

