USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_GetDailyAttendanceSalaryStaff]    Script Date: 13/04/2017 12:09:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_GetDailyAttendanceSalaryStaff
*	Description: Get data for "Daily Attendance for Salary Staff Report"
*
*	Date			Author		Rev. #		Comments:
*	15/01/2017		Ervin		1.0			Created
******************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_GetDailyAttendanceSalaryStaff]
(   
	@startDate			DATETIME,
	@endDate			DATETIME,
	@costCenterList		VARCHAR(500) = ''
)
AS

	--Validate parameters
	IF ISNULL(@endDate, '') = '' OR @endDate = CONVERT(DATETIME, '')
		SET @endDate = @startDate

	DECLARE	@CONST_MIN_SHIFT_ALLOWANCE INT
    SELECT	@CONST_MIN_SHIFT_ALLOWANCE = a.Minutes_MinShiftAllowance
	FROM tas.System_Values a

	--Validate parameters
	IF ISNULL(@costCenterList, '') = ''
		SET @costCenterList = NULL

	SELECT	a.BusinessUnit,
			c.BUname AS BusinessUnitName,
			a.EmpNo,
			b.EmpName,
			b.Position,
			a.DT,
			a.dtIN,
			a.dtOUT,
			a.NetMinutes,
			a.ShiftPatCode,
			a.ShiftCode,
			a.Actual_ShiftCode,
			a.OTStartTime,
			a.OTEndTime,
			a.OTType,
			a.NoPayHours,
			a.ShiftAllowance,
			CASE 
				WHEN a.Duration_ShiftAllowance_Evening  >= @CONST_MIN_SHIFT_ALLOWANCE AND a.Duration_ShiftAllowance_Night >= @CONST_MIN_SHIFT_ALLOWANCE THEN 'Eve/Night' 
				WHEN a.Duration_ShiftAllowance_Night >= @CONST_MIN_SHIFT_ALLOWANCE THEN 'Night'
				WHEN a.Duration_ShiftAllowance_Evening >=@CONST_MIN_SHIFT_ALLOWANCE THEN 'Evening'
				ELSE ''
			END AS ShiftAllowanceDesc,
			a.Duration_ShiftAllowance_Evening,
			a.Duration_ShiftAllowance_Night,				
			a.IsSalStaff,
			d.LVDesc + d.RMdesc + d.RAdesc + d.TxDesc + d.TxtShiftSpan + d.DayOff + d.Resigned + d.OtherRemarks +  d.ShiftCodeDifference + d.CustomRemarks AS Remark,
			CONVERT(VARCHAR(8), e.ArrivalTo, 108) + ' - ' + CONVERT(VARCHAR(8), e.DepartFrom, 108) AS ShiftTiming,
			a.GradeCode,
			a.IsDayWorker_OR_Shifter
	FROM tas.Tran_Timesheet a
		INNER JOIN tas.Master_Employee_JDE_View_V2 b ON a.EmpNo = b.EmpNo
		LEFT JOIN tas.Master_BusinessUnit_JDE_view c ON RTRIM(a.BusinessUnit) = RTRIM(c.BU)
		LEFT JOIN tas.GetRemark02 d ON a.AutoId = d.AutoId
		LEFT JOIN tas.Master_ShiftTimes e ON RTRIM(a.ShiftPatCode) = RTRIM(e.ShiftPatCode) AND RTRIM(ISNULL(a.Actual_ShiftCode, a.ShiftCode)) = RTRIM(e.ShiftCode)
	WHERE 
		a.IsSalStaff = 1
		AND ISNUMERIC(b.PayStatus) = 1
		AND 
		(
			(
				a.DT BETWEEN @startDate AND @endDate 
				AND @startDate < @endDate
			)
			OR
            (
				a.DT = @startDate
				AND @startDate = @endDate
			)
		)
		AND 
		(
			RTRIM(a.BusinessUnit) IN (SELECT GenericNo FROM tas.fnParseStringArrayToInt(@costCenterList, ','))
			OR
			@costCenterList IS NULL
		)			
	ORDER BY a.BusinessUnit, a.EmpNo, a.dtIN

