USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_GetDILReport]    Script Date: 16/07/2020 11:48:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_GetDILReport
*	Description: This stored procedure is used to fetch data for the DIL Report
*
*	Date			Author		Rev. #		Comments:
*	22/11/2016		Ervin		1.0			Created
*	30/11/2016		Ervin		1.1			Modified the ORDER BY clause
*	09/05/2017		Ervin		1.2			Refactored the code to implement the customization in the DIL expiry date
*	23/05/2017		Ervin		1.3			Commented the filter condition that checks if employee is already resigned in the company
*	24/05/2017		Ervin		1.4			Added filter to check if the DIL entitlement has matching record in the Tran_Abesence_DIL table
*	21/04/2019		Ervin		1.5			Refactored the code to enhance data retrieval performance
******************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_GetDILReport]
(   	
	@empNo			INT = 0,
	@costCenter		VARCHAR(12) = '',
	@startDate		DATETIME = NULL,
	@endDate		DATETIME = NULL
)
AS

	--Tell SQL Engine not to return the row-count information
	SET NOCOUNT ON 

	--Validate parameters
	IF ISNULL(@startDate, '') = '' OR @startDate = CONVERT(DATETIME, '')  
		SET @startDate = NULL

	IF ISNULL(@endDate, '') = '' OR @endDate = CONVERT(DATETIME, '')  
		SET @endDate = NULL

	IF ISNULL(@costCenter, '') = ''
		SET @costCenter = NULL

	IF ISNULL(@empNo, 0) = 0
		SET @empNo = NULL	
		
	SELECT * FROM
	(	
		SELECT	a.AutoID,
				a.BusinessUnit,
				RTRIM(e.BUname) AS BusinessUnitName,
				a.EmpNo,
				d.EmpName,				
				a.DT,

				CASE WHEN b.EffectiveDate IS NOT NULL
					THEN 'UD' 
					ELSE a.DIL_Entitlement
				END AS DIL_Entitlement,
				CASE WHEN b.EffectiveDate IS NOT NULL
					THEN 'Used Department' 
					ELSE c.[DESCRIPTION] 
				END AS DIL_Desc,
				
				a.AbsenceReasonCode,
				b.EffectiveDate AS DateUsed,
				CASE 
					WHEN 
						(
							(
								CONVERT(VARCHAR, a.DT, 12) >= CONVERT(VARCHAR, DateAdd(M, -1  * f.Months_DILexpiry, GETDATE()), 12) 
								OR a.DT BETWEEN g.StartDate AND g.EndDate
							)
							AND RTRIM(a.DIL_Entitlement) IN ('ES', 'EA', 'AD')
						)
						THEN 
							CASE WHEN RTRIM(a.DIL_Entitlement) IN ('EA', 'AD') 
							THEN 'Approved DIL'					
							ELSE 'Entitled to DIL (Inactive)'	
							END  
					WHEN 
						(
							(
								CONVERT(VARCHAR, a.DT, 12) < CONVERT(VARCHAR, DateAdd(M, -1  * f.Months_DILexpiry, GETDATE()), 12) 
								--AND 
								--(
								--	g.SettingID IS NULL OR a.DT BETWEEN g.StartDate AND g.EndDate
								--)
							)
							AND RTRIM(a.DIL_Entitlement) IN ('ES', 'EA', 'AD')
						)
						THEN 'Expired DIL' 					
					ELSE 'Used'									
				END AS Remarks
		FROM tas.Tran_Timesheet a WITH (NOLOCK)
			INNER JOIN tas.Tran_Absence b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.AutoID = b.XID_TS_DIL_ENT
			LEFT JOIN tas.Master_UDCValues_JDE c WITH (NOLOCK) ON RTRIM(a.DIL_Entitlement) = LTRIM(RTRIM(c.CODE)) AND RTRIM(c.UDCKey) = '55  -1'
			INNER JOIN tas.Master_Employee_JDE d WITH (NOLOCK) ON a.EmpNo = d.EmpNo
			LEFT JOIN tas.Master_BusinessUnit_JDE_view e WITH (NOLOCK) ON RTRIM(a.BusinessUnit) = RTRIM(e.BU)
			LEFT JOIN tas.DILExtensionSetting g WITH (NOLOCK) ON (RTRIM(a.BusinessUnit) = RTRIM(g.CostCenter) OR a.EmpNo = g.EmpNo) AND g.IsActive = 1,	--Rev. #1.2
			tas.System_Values f WITH (NOLOCK)
		WHERE 
			a.DT <> CONVERT(DATETIME, CONVERT(VARCHAR, '140919', 12))	--(Notes: Exclude Attendance Date equal to 19/09/2014)
			AND ISNULL(a.DIL_Entitlement, '') <> ''
			--AND d.DateResigned IS NULL	--Rev. #1.3

		UNION
    
		SELECT	a.AutoID,
				a.BusinessUnit,
				RTRIM(e.BUname) AS BusinessUnitName,
				a.EmpNo,
				d.EmpName,
				a.DT,
				a.DIL_Entitlement,
				c.[DESCRIPTION] AS DIL_Desc,		
				a.AbsenceReasonCode,
				NULL AS DateUsed,
				CASE 
					WHEN 
						(
							(
								CONVERT(VARCHAR, a.DT, 12) >= CONVERT(VARCHAR, DateAdd(M, -1  * f.Months_DILexpiry, GETDATE()), 12) 
								OR a.DT BETWEEN g.StartDate AND g.EndDate
							)
							AND RTRIM(a.DIL_Entitlement) IN ('ES', 'EA', 'AD')
						)
						THEN 
							CASE WHEN RTRIM(a.DIL_Entitlement) IN ('EA', 'AD') 
							THEN 'Approved DIL'					
							ELSE 'Entitled to DIL (Inactive)'	
							END  
					WHEN 
						(
							(
								CONVERT(VARCHAR, a.DT, 12) < CONVERT(VARCHAR, DateAdd(M, -1  * f.Months_DILexpiry, GETDATE()), 12) 
								--AND 
								--(
								--	g.SettingID IS NULL OR a.DT BETWEEN g.StartDate AND g.EndDate
								--)
							)
							AND RTRIM(a.DIL_Entitlement) IN ('ES', 'EA', 'AD')
						)
						THEN 'Expired DIL' 					
					ELSE 'Used'									
				END AS Remarks
		FROM tas.Tran_Timesheet a WITH (NOLOCK)
			--INNER JOIN tas.Tran_Absence b ON a.EmpNo = b.EmpNo AND a.AutoID = b.XID_TS_DIL_ENT
			LEFT JOIN tas.Master_UDCValues_JDE c WITH (NOLOCK) ON RTRIM(a.DIL_Entitlement) = LTRIM(RTRIM(c.CODE)) AND RTRIM(c.UDCKey) = '55  -1'
			INNER JOIN tas.Master_Employee_JDE d WITH (NOLOCK) ON a.EmpNo = d.EmpNo
			LEFT JOIN tas.Master_BusinessUnit_JDE_view e WITH (NOLOCK) ON LTRIM(RTRIM(a.BusinessUnit)) = LTRIM(RTRIM(e.BU))
			LEFT JOIN tas.DILExtensionSetting g WITH (NOLOCK) ON (RTRIM(a.BusinessUnit) = RTRIM(g.CostCenter) OR a.EmpNo = g.EmpNo) AND g.IsActive = 1,  --Rev. #1.2
			tas.System_Values f
		WHERE 
			a.IsLastRow = 1
			AND a.DT <> CONVERT(DATETIME, CONVERT(VARCHAR, '140919', 12))	--(Notes: Exclude Attendance Date equal to 19/09/2014)
			AND ISNULL(a.DIL_Entitlement, '') <> ''
			AND RTRIM(a.DIL_Entitlement) NOT IN ('UA', 'UD', 'PE','RE')
			--AND d.DateResigned IS NULL	--Rev. #1.3
			AND a.AutoID NOT IN (SELECT XID_TS_DIL_ENT FROM tas.Tran_Absence WITH (NOLOCK) WHERE XID_TS_DIL_ENT IS NOT NULL) 
			AND NOT EXISTS	--Rev. #1.4
			(
				SELECT tbl1.AutoID 
				FROM tas.Tran_Absence_DIL tbl1 WITH (NOLOCK) 
					INNER join tas.Tran_DIL_Consumption tbl2 WITH (NOLOCK) on tbl2.RequisitionNo = tbl1.AutoID
				WHERE RTRIM(ISNULL(StatusCode, '')) NOT IN ('101','110') 
					AND ISNULL(tbl2.XID_TS_DIL_ENT, 0) = a.AutoID
			)
	) A
	WHERE 	
		--(A.EmpNo = @empNo OR @empNo IS NULL)
		--AND (LTRIM(RTRIM(A.BusinessUnit)) = RTRIM(@costCenter) OR @costCenter IS NULL)
		--AND 
		(
			(A.DT BETWEEN @startDate AND @endDate AND @startDate IS NOT NULL AND @endDate IS NOT NULL)
			OR
            (@startDate IS NULL AND @endDate IS null)
		)
	ORDER BY A.EmpNo, LTRIM(RTRIM(A.Remarks)), A.DT DESC 

