USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_Approval_Workflow]    Script Date: 13/12/2020 15:44:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*********************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_Approval_Workflow
*	Description: This stored procedure handles the workflow of all types of DIL request
*
*	Date:			Author:		Rev.#:		Comments:
*	11/28/2011		Ervin		1.0			Created
*	03/07/2012		Ervin		1.1			Set DIL_Entitlement to 'AD' upon approval
*	23/07/2013		Ervin		1.2			Added "fnGetApproverEmpNo_WithSubstitute" that is use to fetch the substitute for CC Manager in the Common Admin System
*	05/09/2013		Ervin		1.3			Fixed bug related to date which is saved in the History table. 
*	04/09/2014		Ervin		1.4			Refactored the code
*	23/11/2014		Ervin		1.5			Modified the approval process for Managers. Assigned the request to CEO for final approval as per HD No. 27143
*	23/08/2015		Ervin		1.6			Set ApprovalTypeDesc to 'CEO' if ApprovalType = 4
*	07/10/2015		Ervin		1.7			Added condition that check if next approver is same as the originator. If true, then get the supervisor of the next approver.
*	27/10/2015		Ervin		1.8			Added 10 seconds to the current system date and time when inserting transaction history record
*	30/04/2017		Ervin		1.9			Refactored the code to implement the customization in the DIL expiry date
*	24/06/2018		Ervin		2.0			As per Helpdesk No. 87038 added a condition to bypass the Cost Center Manager approval for the ff. employee no.: 10003694, 10003725
*	13/11/2019		Ervin		2.1			Added condition to place "HEADADMIN" distribution code to "HEADHRACT" Acting Head of HR
*	14/01/2020		Ervin		2.2			Added the employee no. in the transaction history
***********************************************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_Approval_Workflow]
(
	@AutoID					INT,
	@StatusCode				VARCHAR(10),
	@StatusDesc				VARCHAR(50),
	@StatusHandlingCode		VARCHAR(50),
	@LastUpdateUser			VARCHAR(50),		
	@LastUpdateTime			DATETIME,		
	@LastUpdateEmpNo		INT,
	@LastUpdateEmpName		VARCHAR(50),
	@LastUpdateUserEmail	VARCHAR(50),
	@ApproverRemarks		VARCHAR(max),
	@IsFinalApprover		BIT,
	@DistListCode			VARCHAR(10)
)
AS	

	--Tell SQL Engine not to return the row-count information
	SET NOCOUNT ON 

	DECLARE	@REQUEST_TYPE_DIL int, 
			@AppActID int, 
			@AppRoutineSeq int, 
			@EmpNo int,
			@ApproverEmpNo int, 
			@ApprovalType int,
			@NewApproverEmpNo int,
			@DILType int,
			@RowsAffected int,
			@ApproverEmpName varchar(50),
			@NewApproverEmpName varchar(50),
			@BusinessUnit varchar(12),
			@DT datetime,
			@CurrentDate datetime, 
			@MaxHistoryDate datetime,
			@ApproverSeqNo int,
			@AppliedDate datetime,
			@HasDILMatch bit,
			@XID_TS_DIL_ENT int,
			@SupervisorEmpNo int,
			@CEOEmpNo int,
			@IsClosedbyApprover bit,
			@DILStartDate datetime,
			@DILResumeDate datetime,
			@payGrade int

	SELECT	@REQUEST_TYPE_DIL = 14,
			@NewApproverEmpNo = 0,
			@RowsAffected = 0,
			@NewApproverEmpName = '',
			@CurrentDate = DATEADD(MINUTE, 1, GETDATE()),
			@MaxHistoryDate = DATEADD(MINUTE, 1, GETDATE()),
			@HasDILMatch = 0,
			@SupervisorEmpNo = 0,
			@CEOEmpNo = 0,
			@IsClosedbyApprover = 0, 
			@payGrade = 0

	SELECT	@AppActID = isnull(CurrentDistMemRefID,0), 
			@AppRoutineSeq = isnull(CurrentDistMemRoutineSeq,0)
	FROM tas.CurrentDistributionMember WITH (NOLOCK) 
	WHERE CurrentDistMemReqType = @REQUEST_TYPE_DIL 
		AND CurrentDistMemReqTypeNo = @AutoID
		AND CurrentDistMemEmpNo = @LastUpdateEmpNo

	--Get other details from Tran_Absence_DIL table
	SELECT	@ApprovalType = isnull(a.ApprovalType,0),
			@DILType = ISNULL(a.DILRequestType,0),
			@ApproverEmpNo = a.ApproverEmpNo,
			@ApproverEmpName = a.ApproverEmpName,
			@EmpNo = a.EmpNo,
			@BusinessUnit = a.BusinessUnit,
			@DT = a.DT,
			@AppliedDate = AppliedDate,
			@SupervisorEmpNo = SupervisorNo,
			@DILStartDate = DILStartDate,
			@DILResumeDate = DILResumeDate
	FROM tas.Tran_Absence_DIL a WITH (NOLOCK)
	WHERE a.AutoID = @AutoID

	--Get the employee's Pay Grade
	SELECT @payGrade = GradeCode
	FROM tas.Master_Employee_JDE_View
	WHERE EmpNo = @EmpNo

	--Initialize @ApproverSeqNo
	SET @ApproverSeqNo = @ApprovalType

	--Get CEO EmpNo
	SET @CEOEmpNo = tas.fnGetApproverEmpNo_WithSubstitute('CEO', '', 0)

	IF	@IsFinalApprover = 0 AND 
		ISNULL(@DistListCode, '') <> ''	 
	BEGIN 
	
		--Rev. #2.1 - Replace distribution code with Acting Head of HR
		IF RTRIM(@DistListCode) = 'HEADADMIN'
			SET @DistListCode = 'HEADHRACT'		

		--Get the next approver 
		SELECT @NewApproverEmpNo = tas.fnGetApproverEmpNo_WithSubstitute(@DistListCode, @BusinessUnit, @EmpNo)

		--Check if the next approver is the same as the originator	(Rev. #1.17)
		IF	@NewApproverEmpNo > 0 AND 
			@NewApproverEmpNo = @EmpNo
		BEGIN

			--Get the Supervisor of the next approver
			SELECT @NewApproverEmpNo = tas.fnGetApproverEmpNo_WithSubstitute('SUPERVISOR', @BusinessUnit, @NewApproverEmpNo)
		END
			
		IF ISNULL(@NewApproverEmpNo, 0) > 0
		BEGIN

			--Get Next Approver EmpName
			SELECT @NewApproverEmpName = RTRIM(EmpName)
			FROM tas.Master_Employee_JDE_View WITH (NOLOCK) 
			WHERE EmpNo = @NewApproverEmpNo 
		END
	
		IF	@NewApproverEmpNo > 0 AND 
			ISNULL(@NewApproverEmpName, '') <> '' 
		BEGIN

			--Increment the @ApproverSeqNo
			SET @ApproverSeqNo = @ApproverSeqNo + 1
		
			IF	@SupervisorEmpNo IS NOT NULL 
				AND @CEOEmpNo IS NOT NULL 
				AND @SupervisorEmpNo = @CEOEmpNo
			BEGIN

				--Current approver is the CEO, so close the request
				SELECT	@IsFinalApprover = 1, 
						@IsClosedbyApprover = 1
			
				--Get the Close status
				SELECT	@StatusCode = UDCCode, 
						@StatusDesc = UDCDesc1,
						@StatusHandlingCode = UDCSpecialHandlingCode
				FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
				WHERE RTRIM(UDCCode) = '123'
			
				UPDATE tas.Tran_Absence_DIL
				SET	StatusCode = @StatusCode,
					StatusDesc = @StatusDesc,
					StatusHandlingCode = @StatusHandlingCode,
					LastUpdateUser = @LastUpdateUser,		
					LastUpdateTime = @LastUpdateTime,		
					LastUpdateEmpNo = @LastUpdateEmpNo,
					LastUpdateEmpName = @LastUpdateEmpName,
					LastUpdateUserEmail = @LastUpdateUserEmail,
					ApprovalType = 4,
					ApprovalTypeDesc = 'CEO',
					IsApproved = 1,
					ApprovedDate = GETDATE()
				WHERE AutoID = @AutoID
			END

			ELSE IF @SupervisorEmpNo = @NewApproverEmpNo 
			BEGIN

				--Current approver is equal to the Cost Center Manager 
				IF ISNULL(@payGrade, 0) < 12 
				BEGIN
					
					--Close the request if employee's pay grade < 12
					SELECT	@IsFinalApprover = 1, 
							@IsClosedbyApprover = 1
			
					--Get the Close status
					SELECT	@StatusCode = UDCCode, 
							@StatusDesc = UDCDesc1,
							@StatusHandlingCode = UDCSpecialHandlingCode
					FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
					WHERE RTRIM(UDCCode) = '123'
				
					UPDATE tas.Tran_Absence_DIL
					SET StatusCode = @StatusCode,
						StatusDesc = @StatusDesc,
						StatusHandlingCode = @StatusHandlingCode,
						LastUpdateUser = @LastUpdateUser,		
						LastUpdateTime = @LastUpdateTime,		
						LastUpdateEmpNo = @LastUpdateEmpNo,
						LastUpdateEmpName = @LastUpdateEmpName,
						LastUpdateUserEmail = @LastUpdateUserEmail,
						ApprovalType = 2,
						ApprovalTypeDesc = 'CCAPPROVER',
						IsApproved = 1,
						ApprovedDate = GETDATE()
					WHERE AutoID = @AutoID
				END

				ELSE 
				BEGIN

					--Assigned the request to the CEO for final approval (Emloyee pay grade >= 12)
					IF ISNULL(@CEOEmpNo, 0) > 0
					BEGIN

						SET @NewApproverEmpNo = @CEOEmpNo
					
						--Get the CEO EmpName
						SELECT @NewApproverEmpName = RTRIM(EmpName)
						FROM tas.Master_Employee_JDE_View WITH (NOLOCK) 
						WHERE EmpNo = @CEOEmpNo 
					END

					--Set the current status
					SELECT	@StatusCode = UDCCode, 
							@StatusDesc = UDCDesc1,
							@StatusHandlingCode = UDCSpecialHandlingCode
					FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
					WHERE RTRIM(UDCCode) = '121'
			
					UPDATE tas.Tran_Absence_DIL
					SET
						StatusCode = @StatusCode,
						StatusDesc = @StatusDesc,
						StatusHandlingCode = @StatusHandlingCode,
						LastUpdateUser = @LastUpdateUser,		
						LastUpdateTime = @LastUpdateTime,		
						LastUpdateEmpNo = @LastUpdateEmpNo,
						LastUpdateEmpName = @LastUpdateEmpName,
						LastUpdateUserEmail = @LastUpdateUserEmail,
						ApproverEmpNo = @NewApproverEmpNo,
						ApproverEmpName = @NewApproverEmpName,
						ApprovalType = 4,	--(Note: Set to current approval order to CEO)
						ApprovalTypeDesc = CASE WHEN RTRIM(ISNULL(@DistListCode, '')) <> 'CEO' THEN 'CEO' ELSE RTRIM(@DistListCode) END	--Rev. #1.6
					WHERE AutoID = @AutoID
				END
			END		

			ELSE 
			BEGIN					

				IF @DILType IN (1, 2) --(Note: 1 = DIL Utilization Request; 2 = DIL Entitlement Approval Request)
				BEGIN
					
					IF	@ApproverSeqNo = 3 AND 
						RTRIM(@DistListCode) = 'CEO'
					BEGIN

						--Originator employee is Grade 12 and above, and the request is currently for CEO's final approval
						SET @ApproverSeqNo = 4
					END										
				END

				--Start of Rev. #2.0
				IF	@ApproverSeqNo = 2 
					AND @EmpNo IN (10003694, 10003725)
				BEGIN

					--Bypass the Cost Center Manager approval and close the request if the originator employee is either Abdulla or Farah
					SELECT	@IsFinalApprover = 1, 
							@IsClosedbyApprover = 1
			
					--Get the Close status
					SELECT	@StatusCode = UDCCode, 
							@StatusDesc = UDCDesc1,
							@StatusHandlingCode = UDCSpecialHandlingCode
					FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
					WHERE RTRIM(UDCCode) = '123'
			
					UPDATE tas.Tran_Absence_DIL
					SET	StatusCode = @StatusCode,
						StatusDesc = @StatusDesc,
						StatusHandlingCode = @StatusHandlingCode,
						LastUpdateUser = @LastUpdateUser,		
						LastUpdateTime = @LastUpdateTime,		
						LastUpdateEmpNo = @LastUpdateEmpNo,
						LastUpdateEmpName = @LastUpdateEmpName,
						LastUpdateUserEmail = @LastUpdateUserEmail,
						IsApproved = 1,
						ApprovedDate = GETDATE()
					WHERE AutoID = @AutoID
					--End of Rev. #2.0
                END

				ELSE
                BEGIN
                
					--Update the status
					SELECT	@StatusCode = UDCCode, 
							@StatusDesc = UDCDesc1,
							@StatusHandlingCode = UDCSpecialHandlingCode
					FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
					WHERE RTRIM(UDCCode) = '121'
			
					UPDATE tas.Tran_Absence_DIL
					SET	StatusCode = @StatusCode,
						StatusDesc = @StatusDesc,
						StatusHandlingCode = @StatusHandlingCode,
						LastUpdateUser = @LastUpdateUser,		
						LastUpdateTime = @LastUpdateTime,		
						LastUpdateEmpNo = @LastUpdateEmpNo,
						LastUpdateEmpName = @LastUpdateEmpName,
						LastUpdateUserEmail = @LastUpdateUserEmail,
						ApproverEmpNo = @NewApproverEmpNo,
						ApproverEmpName = @NewApproverEmpName,
						ApprovalType = @ApproverSeqNo,
						ApprovalTypeDesc = @DistListCode
					WHERE AutoID = @AutoID
				END 
			END
		
			SELECT @RowsAffected = @@rowcount
		END
	END

	ELSE IF @IsFinalApprover = 1 
	BEGIN

		--Close the request
		SET @IsClosedbyApprover = 1
	
		--Get the Close status
		SELECT	@StatusCode = UDCCode, 
				@StatusDesc = UDCDesc1,
				@StatusHandlingCode = UDCSpecialHandlingCode
		FROM tas.syJDE_UserDefinedCode WITH (NOLOCK)	
		WHERE RTRIM(UDCCode) = '123'
	
		UPDATE tas.Tran_Absence_DIL
		SET	StatusCode = @StatusCode,
			StatusDesc = @StatusDesc,
			StatusHandlingCode = @StatusHandlingCode,
			LastUpdateUser = @LastUpdateUser,		
			LastUpdateTime = @LastUpdateTime,		
			LastUpdateEmpNo = @LastUpdateEmpNo,
			LastUpdateEmpName = @LastUpdateEmpName,
			LastUpdateUserEmail = @LastUpdateUserEmail,
			IsApproved = 1,
			ApprovedDate = GETDATE()
		WHERE AutoID = @AutoID
		
		SELECT @RowsAffected = @@rowcount
	
		--Find if @AppliedDate has matching DIL entitlement date pending for approval
		--IF (@DILType = 2) BEGIN
		--	SELECT @HasDILMatch = tas.fnGetDILMatch(@EmpNo, @AppliedDate)
		
		--	IF (@HasDILMatch = 1) BEGIN
		--		SELECT 
		--			@XID_TS_DIL_ENT = AutoID,
		--			@DT = DT,
		--			@DIL_Entitlement = DIL_Entitlement,
		--			@BusinessUnit = BusinessUnit
		--		FROM tas.Tran_Timesheet 
		--		WHERE 
		--			convert(datetime,convert(varchar(10),DT,101)) = convert(datetime,convert(varchar(10),@AppliedDate,101))
		--			and EmpNo = @EmpNo and isnull(IsLastRow,0) = 1 and DIL_Entitlement is not null and RTRIM(DIL_Entitlement) in ('EA','ES')
		--			and not exists(select * from tas.Tran_Entitlement_DIL where convert(datetime,convert(varchar(10),DT,101)) = convert(datetime,convert(varchar(10),@AppliedDate,101)) and EmpNo = @EmpNo) 
		--	END 
		--END
	END

	IF @RowsAffected > 0 
	BEGIN	

		--Update Approver Remarks
		IF @ApprovalType = 1	--Supervisor

			UPDATE tas.Tran_Absence_DIL
			SET SupervisorRemarks = @ApproverRemarks
			WHERE AutoID = @AutoID
		
		ELSE IF @ApprovalType = 2	--Cost Center Manager

			UPDATE tas.Tran_Absence_DIL
			SET ApproverRemarks = @ApproverRemarks
			WHERE AutoID = @AutoID
		
		ELSE IF @ApprovalType = 3	--Head of HR

			UPDATE tas.Tran_Absence_DIL
			SET HRApproverRemarks = @ApproverRemarks
			WHERE AutoID = @AutoID
		
		ELSE IF @ApprovalType = 4	--CEO

			UPDATE tas.Tran_Absence_DIL
			SET CEOApproverRemarks = @ApproverRemarks
			WHERE AutoID = @AutoID
		
	
		--Insert data to Approval table 
		INSERT INTO tas.Approval
		(
			[AppReqType]
		   ,[AppReqTypeNo]
		   ,[AppApproved]
		   ,[AppRemarks]
		   ,[AppActID]
		   ,[AppRoutineSeq]
		   ,[AppCreatedBy]
		   ,[AppCreatedName]
		   ,[AppCreatedDate]
		   ,[AppModifiedBy]
		   ,[AppModifiedName]
		   ,[AppModifiedDate]
		)
		VALUES
		(
			@REQUEST_TYPE_DIL,
			@AutoID,
			1,
			@ApproverRemarks,
			isnull(@AppActID, 0),
			@ApprovalType,
			@ApproverEmpNo,
			@ApproverEmpName,
			GETDATE(),
			@LastUpdateEmpNo,
			@LastUpdateEmpName,
			GETDATE()
		)
	   
		--Get the maximum HistCreatedDate
		--SELECT @MaxHistoryDate = max(HistCreatedDate) FROM tas.History 
		--WHERE HistReqNo = @AutoID
	
		IF @IsFinalApprover = 0 
		BEGIN 

			--Insert "Approved By Approver" record to History table 
			INSERT INTO tas.History
			(
				HistReqNo
			   ,[HistReqType]
			   ,[HistDesc]
			   ,[HistCreatedBy]
			   ,[HistCreatedName]
			   ,[HistCreatedDate]
			)
			VALUES
			(
				@AutoID,
				@REQUEST_TYPE_DIL,
				'Status Changed - Approved by Approver (' + RTRIM(CAST(@ApproverEmpNo AS VARCHAR(10))) + ' - ' + @ApproverEmpName + ')',
				@ApproverEmpNo,
				@ApproverEmpName,
				GETDATE()
			)
			
			IF @NewApproverEmpNo > 0 
			BEGIN

				--Insert "Assigned to Next Approver" record to History table 
				INSERT INTO tas.History
				(
					[HistReqNo],
					[HistReqType],
					[HistDesc],
					[HistCreatedBy],
					[HistCreatedName],
					[HistCreatedDate]
				)
				VALUES
				(
					@AutoID,
					@REQUEST_TYPE_DIL,
					'Status Changed - Assigned to Next Approver (' + RTRIM(CAST(@NewApproverEmpNo AS VARCHAR(10))) + ' - ' + @NewApproverEmpName + ')',
					@ApproverEmpNo, 
					@ApproverEmpName,
					DATEADD(s, 10, GETDATE())	--Rev. #1.8 - Add 10 seconds
				)	
			END
		END

		ELSE IF @IsFinalApprover = 1	--Current Approver is the final approver
		BEGIN 

			--Insert "Approved By Approver" record to History table 
			INSERT INTO tas.History
			(
				HistReqNo
			   ,[HistReqType]
			   ,[HistDesc]
			   ,[HistCreatedBy]
			   ,[HistCreatedName]
			   ,[HistCreatedDate]
			)
			VALUES
			(
				@AutoID,
				@REQUEST_TYPE_DIL,
				'Status Changed - Approved by Approver (' + RTRIM(CAST(@ApproverEmpNo AS VARCHAR(10))) + ' - ' + @ApproverEmpName + ')',				
				@ApproverEmpNo,
				@ApproverEmpName,
				GETDATE()
			)
			
			--Insert "Closed by Approver" record to History table only if CEO is the current approver		
			INSERT INTO tas.History
			(
				HistReqNo
			   ,[HistReqType]
			   ,[HistDesc]
			   ,[HistCreatedBy]
			   ,[HistCreatedName]
			   ,[HistCreatedDate]
			)
			VALUES
			(
				@AutoID,
				@REQUEST_TYPE_DIL,
				'Closed by Approver',
				@ApproverEmpNo,
				@ApproverEmpName,
				DATEADD(s, 10, GETDATE())	--Rev. #1.8 - Add 10 seconds
			)
		END
	END

	SELECT	@RowsAffected as RecordsAffected, 
			isnull(@NewApproverEmpNo,0) as NewApproverEmpNo,	
			isnull(@NewApproverEmpName,'') as NewApproverEmpName,
			@IsClosedbyApprover as IsClosedbyApprover
	
	IF	@RowsAffected > 0 AND 
		@DILType = 1 AND 
		@IsFinalApprover = 1 
	BEGIN
	
		--Update TimeSheet (DIL Utilization Request)
		EXEC tas.Pr_ApplyDIL_ToTimesheet @AutoID, @LastUpdateUser
	END

	ELSE IF @RowsAffected > 0 AND 
			@DILType = 2 AND 
			@IsFinalApprover = 1 
	BEGIN

		--Update TimeSheet (DIL Entitlement Approval Request)
		IF EXISTS 
		(
			SELECT AutoID FROM tas.Tran_TimeSheet WITH (NOLOCK) 
			WHERE EmpNo = @EmpNo 
				AND DIL_Entitlement IS NOT NULL 
				AND LTRIM(RTRIM(DIL_Entitlement)) = 'ES'
				AND CONVERT(VARCHAR, DT, 12) BETWEEN CONVERT(VARCHAR, @DILStartDate, 12) AND CONVERT(VARCHAR, @DILResumeDate, 12)
				AND dtIN IS NOT NULL 
				AND dtOut IS NOT NULL
		)
		BEGIN

			UPDATE tas.Tran_TimeSheet
			SET DIL_Entitlement = 'AD'	
			WHERE AutoID IN
			(
				SELECT AutoID FROM tas.Tran_TimeSheet WITH (NOLOCK) 
				WHERE EmpNo = @EmpNo 
					AND DIL_Entitlement IS NOT NULL 
					AND LTRIM(RTRIM(DIL_Entitlement)) = 'ES'
					AND CONVERT(VARCHAR, DT, 12) BETWEEN CONVERT(VARCHAR, @DILStartDate, 12) AND CONVERT(VARCHAR, @DILResumeDate, 12)
					AND dtIN IS NOT NULL 
					AND dtOut IS NOT NULL
			)
		END	
	END

