USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Payroll_Validation_ControlTotals_for_JDE]    Script Date: 23/03/2017 14:43:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Payroll_Validation_ControlTotals_for_JDE
*	Description: This is the stored procedure used in the "TAS and JDE Comparison Report"
*
*	Date:			Author:		Rev. #:		Comments:
*	23/06/2016		Ervin		1.1			Refactored the code
*	21/12/2016		Ervin		1.2			Modified the calculation added link to tas.syJDE_F0618 table
*************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Payroll_Validation_ControlTotals_for_JDE] 
AS

	DECLARE @Upload_ID int

	EXEC Payroll_Validation_ControlTotals_for_JDE_support

	if object_ID ('tas.tmp_CHK_JDE_TS')    	is not null drop table tas.tmp_CHK_JDE_TS
	if object_ID ('tmp_CHK_JDE_summry') 	is not null drop table tmp_CHK_JDE_summry
	if object_ID ('tmp_CHK_JDE_pdba010') 	is not null drop table tmp_CHK_JDE_pdba010
	if object_ID ('tmp_CHK_JDE_pdba020') 	is not null drop table tmp_CHK_JDE_pdba020
	if object_ID ('tmp_CHK_JDE_pdba030') 	is not null drop table tmp_CHK_JDE_pdba030
	if object_ID ('tmp_CHK_JDE_pdba095') 	is not null drop table tmp_CHK_JDE_pdba095
	if object_ID ('tmp_CHK_JDE_pdba100A') 	is not null drop table tmp_CHK_JDE_pdba100A
	if object_ID ('tmp_CHK_JDE_pdba100B') 	is not null drop table tmp_CHK_JDE_pdba100B
	if object_ID ('tmp_CHK_JDE_pdba505') 	is not null drop table tmp_CHK_JDE_pdba505
	if object_ID ('tmp_CHK_JDE_pdba506') 	is not null drop table tmp_CHK_JDE_pdba506
	if object_ID ('tmp_CHK_JDE_pdba510') 	is not null drop table tmp_CHK_JDE_pdba510
	if object_ID ('tmp_CHK_JDE_pdba511') 	is not null drop table tmp_CHK_JDE_pdba511
	if object_ID ('tmp_CHK_JDE_pdba105') 	is not null drop table tmp_CHK_JDE_pdba105
	if object_ID ('tmp_CHK_JDE_pdba106') 	is not null drop table tmp_CHK_JDE_pdba106

	select @Upload_ID = Upload_ID from System_Values 

	SELECT 	
		a.autoid,
		a.dt,
		a.empno,
		CAST(a.GradeCode AS INT) grd,
		a.otStarttime OT1, 
		a.otEndtime   OT2, 
		a.nopayhours nph, 	
		a.remarkcode rem, 
		a.duration_shiftallowance_evening E,
		a.duration_shiftallowance_night N,
		IsPublicHoliday Pub,
		IsDILdayWorker DILdw,
		IsDayWorker_OR_Shifter DW,
		shiftcode sh,
		a.BusinessUnit AS BU,
		Duration_Worked_cumulative MinsWorked,
		--YAP005,
		JobCode,
		IsLastRow
	INTO tas.tmp_CHK_JDE_TS
	FROM tas.Tran_Timesheet a
		INNER JOIN tas.Master_Employee_JDE_View b ON a.EmpNo = b.EmpNo AND b.PayStatus <>'2'
		LEFT JOIN tas.Master_Employee_JDE_view_Extra c ON c.EmpNo = a.EmpNo
	WHERE   
		b.DateResigned IS NULL
		AND a.Upload_ID = @Upload_ID
	ORDER BY a.DT, a.EmpNo, a.AutoID

	-------------------------------------------------------------------------------------
	select '010 OT       ' txt, autoid , tas.fmtdate(dt) dt ,empno , ot1,ot2 , datediff( n , ot1 , ot2 )/60.0  OT    
	into tmp_CHK_JDE_pdba010 from tas.tmp_CHK_JDE_TS 
	where ot1 is not null and tas.fmttime(ot1)<> tas.fmttime(ot2)
	---
	update tmp_CHK_JDE_pdba010
	set txt = '010 OT-      '
	where autoid in
	(
	select a.autoid 
	from	(select autoid , OT from tmp_CHK_JDE_pdba010 ) A ,
		(select autoid , sum(hoursWorkd) SumJdeOT from tran_timesheet_jde where paytype=10 group by autoid) B
	where 	a.autoid = b.autoid
	and   	a.OT = B.SumJdeOT
	)
	---
	insert into tmp_CHK_JDE_pdba010
	select '010 OT+       ' txt, autoid , tas.fmtdate(dt) dt ,empno , otstarttime ,otendtime , datediff( n , otstarttime , otendtime )/60.0  OT    
	from Tran_timesheet 
	where autoid in (select AutoID from TimeSheetUploaded_JDE where pdba=10 and Hrs<0)
	and   autoid not in (select autoid from tmp_CHK_JDE_pdba010)
	
	---Shift Allowance Night
	SELECT '020 Shift Allowance Night' txt, autoid, tas.fmtdate(dt) dt, empno 
	INTO tmp_CHK_JDE_pdba020 
	FROM tmp_CHK_JDE_TS a 
		INNER JOIN tas.syJDE_F060116 b ON a.empno = b.YAAN8
	WHERE a.N >= 240
		AND ISNUMERIC(CASE WHEN (b.YAPAST IN ('R', 'T', 'E', 'X') AND GETDATE() < tas.ConvertFromJulian(b.YADT)) THEN '0' ELSE b.YAPAST END) = 1
		AND a.autoid NOT IN
		(
			SELECT YTITM FROM tas.syJDE_F0618
		)
	
	---Shift Allowance Evening
	SELECT '030 Shift Allowance Evening' txt, autoid, tas.fmtdate(dt) dt, empno 
	INTO tmp_CHK_JDE_pdba030 
	FROM tmp_CHK_JDE_TS a 
		INNER JOIN tas.syJDE_F060116 b ON a.empno = b.YAAN8
	WHERE a.E >= 240
		AND ISNUMERIC(CASE WHEN (b.YAPAST IN ('R', 'T', 'E', 'X') AND GETDATE() < tas.ConvertFromJulian(b.YADT)) THEN '0' ELSE b.YAPAST END) = 1
		AND a.autoid NOT IN
		(
			SELECT YTITM FROM tas.syJDE_F0618
		)
	
	---Extra pay (Absences Removed)
	SELECT  '095 Extra pay (Absences Removed)' txt,  autoid, tas.fmtdate(dt) dt, empno
	INTO tmp_CHK_JDE_pdba095
	FROM
	(
		SELECT autoid, dt, empno
		FROM tmp_CHK_JDE_TS a 
			INNER JOIN tas.syJDE_F060116 b ON a.empno = b.YAAN8
		WHERE ISNULL(a.rem, '') = '' 
			AND a.autoid IN (SELECT AutoID FROM tas.Tran_Timesheet_JDE WHERE PayType = 510)
			AND ISNUMERIC(CASE WHEN (b.YAPAST IN ('R', 'T', 'E', 'X') AND GETDATE() < tas.ConvertFromJulian(b.YADT)) THEN '0' ELSE b.YAPAST END) = 1
			--AND a.autoid NOT IN
			--(
			--	SELECT YTITM FROM tas.syJDE_F0618
			--)
	) A
	
	---Extra pay (holiday)
	SELECT  '100(A) Extra pay (holiday)' txt, autoid, tas.fmtdate(dt) dt, empno
	INTO tmp_CHK_JDE_pdba100A
	FROM 
	(
		SELECT  autoid , tas.fmtdate(dt) dt , empno
		FROM tmp_CHK_JDE_TS a 
			INNER JOIN tas.syJDE_F060116 b ON a.empno = b.YAAN8
		WHERE  a.Pub = 1   
			AND RTRIM(a.sh) = 'O'
			AND ISNULL(a.dw, 0) = 0  
			AND a.islastrow = 1
			AND ISNUMERIC(CASE WHEN (b.YAPAST IN ('R', 'T', 'E', 'X') AND GETDATE() < tas.ConvertFromJulian(b.YADT)) THEN '0' ELSE b.YAPAST END) = 1
			AND a.autoid NOT IN
			(
				SELECT YTITM FROM tas.syJDE_F0618
			)
	) A
	
	---Extra pay
	SELECT  '100(B) Extra pay (nonsal DW DilDW Sh=O)' txt, autoid , tas.fmtdate(dt) dt ,empno
	INTO tmp_CHK_JDE_pdba100B
	FROM tmp_CHK_JDE_ts a 
		INNER JOIN tas.syJDE_F060116 b ON a.empno = b.YAAN8
	WHERE a.DILdw = 1 
		AND a.DW = 1 
		AND a.grd <= 8 
		AND RTRIM(a.sh) = 'o'
		AND a.islastrow = 1
		AND ISNUMERIC(CASE WHEN (b.YAPAST IN ('R', 'T', 'E', 'X') AND GETDATE() < tas.ConvertFromJulian(b.YADT)) THEN '0' ELSE b.YAPAST END) = 1
		AND a.autoid NOT IN
		(
			SELECT YTITM FROM tas.syJDE_F0618
		)
	
	---No Pay Hours
	SELECT '505 NoPay Hours' txt, autoid, tas.fmtdate(dt) dt, empno  
	INTO tmp_CHK_JDE_pdba505 
	FROM tmp_CHK_JDE_TS a 
		INNER JOIN tas.syJDE_F060116 b ON a.empno = b.YAAN8
	WHERE a.nph > 0
		AND ISNUMERIC(CASE WHEN (b.YAPAST IN ('R', 'T', 'E', 'X') AND GETDATE() < tas.ConvertFromJulian(b.YADT)) THEN '0' ELSE b.YAPAST END) = 1
		AND a.autoid NOT IN
		(
			SELECT YTITM FROM tas.syJDE_F0618
		)
	
	---NoPay Hours adjustment
	SELECT '506 NoPay Hours adjustment' txt, autoid, tas.fmtdate(dt) dt, empno
	INTO tmp_CHK_JDE_pdba506
	FROM tmp_CHK_JDE_TS a 
		INNER JOIN tas.syJDE_F060116 b ON a.empno = b.YAAN8
	WHERE a.nph = 0 
		AND autoid IN (SELECT AutoID FROM tas.Tran_Timesheet_JDE WHERE paytype = 505)
		AND ISNUMERIC(CASE WHEN (b.YAPAST IN ('R', 'T', 'E', 'X') AND GETDATE() < tas.ConvertFromJulian(b.YADT)) THEN '0' ELSE b.YAPAST END) = 1
		--AND a.autoid NOT IN
		--(
		--	SELECT YTITM FROM tas.syJDE_F0618
		--)
	
	---Absences
	SELECT '510 Absences' txt, a.autoid, tas.fmtdate(a.dt) dt, a.empno  
	INTO tmp_CHK_JDE_pdba510 
	FROM tmp_CHK_JDE_TS a 
		INNER JOIN tas.syJDE_F060116 b ON a.empno = b.YAAN8
	WHERE 
		(
			(UPPER(RTRIM(a.rem)) = 'A' AND a.grd <= 8 AND a.islastrow = 1)
			OR
			(UPPER(RTRIM(a.rem)) = 'A' AND a.grd >= 9 AND ISNULL(a.DW, 0) = 0 AND a.islastrow = 1)
		)
		AND ISNUMERIC(CASE WHEN (b.YAPAST IN ('R', 'T', 'E', 'X') AND GETDATE() < tas.ConvertFromJulian(b.YADT)) THEN '0' ELSE b.YAPAST END) = 1
		AND a.autoid NOT IN
		(
			SELECT YTITM FROM tas.syJDE_F0618
		)

	--Absences adjustment
	SELECT '511 Absences adjustment' txt, autoid, tas.fmtdate(dt) dt, empno
	INTO tmp_CHK_JDE_pdba511
	FROM tmp_CHK_JDE_TS a 
		INNER JOIN tas.syJDE_F060116 b ON a.empno = b.YAAN8
	WHERE 	
		(
			(a.grd <= 8 AND a.autoid IN (SELECT AutoID FROM tas.Tran_Timesheet_JDE WHERE paytype = 511))
			OR
			(grd >= 9 AND ISNULL(a.DW, 0) = 0 AND autoid IN (SELECT AutoID FROM tas.Tran_Timesheet_JDE WHERE paytype = 511))
		)
		AND ISNUMERIC(CASE WHEN (b.YAPAST IN ('R', 'T', 'E', 'X') AND GETDATE() < tas.ConvertFromJulian(b.YADT)) THEN '0' ELSE b.YAPAST END) = 1
		AND a.autoid NOT IN
		(
			SELECT YTITM FROM tas.syJDE_F0618
		)

	select '105 Work Condition Allowance' txt , autoid , tas.fmtdate(dt) dt , empno
	into tmp_CHK_JDE_pdba105
	from tas.tmp_CHK_JDE_TS A , External_JDE_F00092 B
	where A.BU = B.BU
	and   A.JobCode = B.JobCode
	and   MinsWorked>=60
	and   IsLastRow=1

	------------------------------------------------
	create Table tmp_CHK_JDE_summry (PDBA varchar(10) , PDBA_Name varchar(50) , TAS_cnt int , Diff_TAS int , JDE_cnt int , Diff_JDE int , Diff Int )
	insert into tmp_CHK_JDE_summry select '010'    , 'OT'   	                     , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba010 where txt <>'010 OT-'
	insert into tmp_CHK_JDE_summry select '020'    , 'Shift Allowance Night'             , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba020
	insert into tmp_CHK_JDE_summry select '030'    , 'Shift Allowance Evening'           , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba030
	insert into tmp_CHK_JDE_summry select '095'    , 'Extra pay (Absences Removed)'      , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba095
	insert into tmp_CHK_JDE_summry select '100(A)' , 'Extra pay (holiday) '              , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba100A
	insert into tmp_CHK_JDE_summry select '100(B)' , 'Extra pay (nonsal DW DilDW Sh=O)'  , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba100B
	insert into tmp_CHK_JDE_summry select '505'    , 'NoPay Hours'   	             , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba505
	insert into tmp_CHK_JDE_summry select '506'    , 'NoPay Hours adjustment'   	     , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba506
	insert into tmp_CHK_JDE_summry select '510'    , 'Absences'                          , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba510
	insert into tmp_CHK_JDE_summry select '511'    , 'Absences Adjustment'               , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba511
	-- Temporarily commented on 15-jan-2008
	-- Insert into tmp_CHK_JDE_summry select '105'    , 'Work Condition Allowance'          , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba105 
	insert into tmp_CHK_JDE_summry select '-1'     , 'OneWorld Batch No.'                , @Upload_ID  , null , null , null ,  0
	-------------------------------------------------

	update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=10)   A where PDBA='010'
	update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=20)   A where PDBA='020'
	update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=30)   A where PDBA='030'
	update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=95)   A where PDBA='095'
	update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=100)  A where PDBA='100(A)'
	update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select null cnt                                              )  A where PDBA='100(B)'
	update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=505)  A where PDBA='505'
	update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=506)  A where PDBA='506'
	update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=510)  A where PDBA='510'
	update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=511)  A where PDBA='511'
	update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=105)  A where PDBA='105'
	-------------------------------------------------

	update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_010  where empno is not null) A  where PDBA='010'
	update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_020  where empno is not null) A  where PDBA='020'
	update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_030  where empno is not null) A  where PDBA='030'
	update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_095  where empno is not null) A  where PDBA='095'
	update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_100A where empno is not null) A  where PDBA='100A'
	update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_100B where empno is not null) A  where PDBA='100B'
	update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_505  where empno is not null) A  where PDBA='505'
	update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_506  where empno is not null) A  where PDBA='506'
	update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_510  where empno is not null) A  where PDBA='510'
	update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_511  where empno is not null) A  where PDBA='511'
	update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_105  where empno is not null) A  where PDBA='105'
	-------------------------------------------------

	update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_010  where Jempno is not null) A   where PDBA='010'
	update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_020  where Jempno is not null) A   where PDBA='020'
	update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_030  where Jempno is not null) A   where PDBA='030'
	update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_095  where Jempno is not null) A   where PDBA='095'
	update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_100A where Jempno is not null) A   where PDBA='100A'
	update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_100B where Jempno is not null) A   where PDBA='100B'
	update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_505  where Jempno is not null) A   where PDBA='505'
	update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_506  where Jempno is not null) A   where PDBA='506'
	update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_510  where Jempno is not null) A   where PDBA='510'
	update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_511  where Jempno is not null) A   where PDBA='511'
	update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_105  where Jempno is not null) A   where PDBA='105'

	-------------------------------------------------
	update tmp_CHK_JDE_summry set Diff = JDE_cnt - TAS_cnt
	-------------------------------------------------

/*	Debug:

	exec tas.Payroll_Validation_ControlTotals_for_JDE 

*/

