USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_GrantDILSpecialHolidayByEmpNo]    Script Date: 16/07/2020 11:26:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_AutoApproveOvertime
*	Description: This stored procedure is use to give DIL to specific employees during special holiday
*
*	Date:			Author:		Rev. #:		Comments:
*	01/13/2020		Ervin		1.0			Created
*****************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_GrantDILSpecialHolidayByEmpNo]
(
	@actionType			INT,		--(Note: 1 => Grant DIL; 2 => Undo DIL activation)
	@holidayDate		DATETIME,
	@empNo				INT 
)
AS

	--Tell SQL Engine not to return the row-count information
	SET NOCOUNT ON 
	
	--Define constants
	DECLARE @CONST_RETURN_OK		INT = 0,
			@CONST_RETURN_ERROR		INT	= -1	

	--Define variables
	DECLARE @rowsAffected			INT = 0,
			@rowsAffectedDS			INT = 0,
			@rowsAffectedSW			INT = 0,
			@hasError				BIT = 0,
			@retError				INT = @CONST_RETURN_OK,
			@retErrorDesc			VARCHAR(200) = ''			


	BEGIN TRY

		IF @actionType = 1			--Grant DIL on special holiday
		BEGIN
    
			--Process DIL activation for Day Shift employees 
			IF EXISTS
			(
				SELECT 1
				FROM tas.Tran_Timesheet a WITH (NOLOCK)
					INNER JOIN tas.Master_Employee_JDE_View_V2 b WITH (NOLOCK) ON a.EmpNo = b.EmpNo
					INNER JOIN tas.Master_ShiftPatternTitles c WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(c.ShiftPatCode)
					LEFT JOIN tas.DILSpecialHolidayLog d WITH (NOLOCK) ON a.EmpNo = d.EmpNo AND a.DT = d.DT
				WHERE 
					ISNUMERIC(b.PayStatus) = 1
					AND a.DT = @holidayDate
					AND a.IsLastRow = 1
					AND c.IsDayShift = 1
					AND 
					(
						ISNULL(a.LeaveType, '') <> ''
						--AND RTRIM(a.LeaveType) NOT IN 
						--(
						--	'HD',	--Half day leave,
						--	'IF',	--In House TR/Full Time         
						--	'IP',	--IN House TR/Part Time,
						--	'LP'	--Local TR/Part Time                     
						--)
					)	
					AND ISNULL(a.DIL_Entitlement, '') <> 'AD'
					AND ISNULL(d.AutoID, 0) = 0	
					AND a.EmpNo = @empNo
			)
			BEGIN

				INSERT INTO tas.DILSpecialHolidayLog
				(
					EmpNo,
					DT,
					CostCenter,
					DIL_Entitlement,
					ShiftPatCode,
					ShiftCode,		
					CreatedDate,		
					CreatedByUserID
				)
				SELECT	a.EmpNo,
						a.DT,
						a.BusinessUnit,
						a.DIL_Entitlement,
						a.ShiftPatCode,
						a.ShiftCode,
						GETDATE(),
						'System Admin'
				FROM tas.Tran_Timesheet a WITH (NOLOCK)
					INNER JOIN tas.Master_Employee_JDE_View_V2 b WITH (NOLOCK) ON a.EmpNo = b.EmpNo
					INNER JOIN tas.Master_ShiftPatternTitles c WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(c.ShiftPatCode)
					LEFT JOIN tas.DILSpecialHolidayLog d WITH (NOLOCK) ON a.EmpNo = d.EmpNo AND a.DT = d.DT
				WHERE 
					ISNUMERIC(b.PayStatus) = 1
					AND a.DT = @holidayDate
					AND a.IsLastRow = 1
					AND c.IsDayShift = 1
					AND 
					(
						ISNULL(a.LeaveType, '') <> ''
						--AND RTRIM(a.LeaveType) NOT IN 
						--(
						--	'HD',	--Half day leave,
						--	'IF',	--In House TR/Full Time         
						--	'IP',	--IN House TR/Part Time,
						--	'LP'	--Local TR/Part Time                     
						--)
					)	
					AND ISNULL(a.DIL_Entitlement, '') <> 'AD'
					AND ISNULL(d.AutoID, 0) = 0	
					AND a.EmpNo = @empNo

				--Checks for error
				IF @@ERROR <> @CONST_RETURN_OK
				BEGIN
				
					SELECT	@retError = @CONST_RETURN_ERROR,
							@hasError = 1
				END

				--Checks if there's no error
				IF @retError = @CONST_RETURN_OK
				BEGIN

					--Grant DIL to all day shift employees who are on leave or has reason of absence
					UPDATE tas.Tran_Timesheet 
					SET tas.Tran_Timesheet.DIL_Entitlement = 'AD',
						tas.Tran_Timesheet.LastUpdateUser = 'System Admin',
						tas.Tran_Timesheet.LastUpdateTime = GETDATE()
					FROM tas.Tran_Timesheet a WITH (NOLOCK)
						INNER JOIN tas.Master_Employee_JDE_View_V2 b WITH (NOLOCK) ON a.EmpNo = b.EmpNo
						INNER JOIN tas.Master_ShiftPatternTitles c WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(c.ShiftPatCode)
						INNER JOIN tas.DILSpecialHolidayLog d WITH (NOLOCK) ON a.EmpNo = d.EmpNo AND a.DT = d.DT
					WHERE 
						ISNUMERIC(b.PayStatus) = 1
						AND a.DT = @holidayDate
						AND a.IsLastRow = 1
						AND c.IsDayShift = 1
						AND 
						(
							ISNULL(a.LeaveType, '') <> ''
							--AND RTRIM(a.LeaveType) NOT IN 
							--(
							--	'HD',	--Half day leave,
							--	'IF',	--In House TR/Full Time         
							--	'IP',	--IN House TR/Part Time,
							--	'LP'	--Local TR/Part Time                     
							--)
						)		
						AND ISNULL(a.DIL_Entitlement, '') <> 'AD'		
						AND a.EmpNo = @empNo

					--Get the number of updated records 
					SELECT @rowsAffectedDS = @@rowcount 
				END 
            END 

			--Process DIL activation for Shift Worker employees 
			IF EXISTS
			(
				SELECT 1
				FROM tas.Tran_Timesheet a WITH (NOLOCK)
					INNER JOIN tas.Master_Employee_JDE_View_V2 b WITH (NOLOCK) ON a.EmpNo = b.EmpNo
					INNER JOIN tas.Master_ShiftPatternTitles c WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(c.ShiftPatCode)
					LEFT JOIN tas.DILSpecialHolidayLog d WITH (NOLOCK) ON a.EmpNo = d.EmpNo AND a.DT = d.DT
				WHERE 
					ISNUMERIC(b.PayStatus) = 1
					AND a.DT = @holidayDate
					AND a.IsLastRow = 1
					AND ISNULL(c.IsDayShift, 0) = 0
					AND ISNULL(a.RemarkCode, '') <> 'A'
					AND ISNULL(a.DIL_Entitlement, '') <> 'AD'
					AND ISNULL(d.AutoID, 0) = 0	
					AND a.EmpNo = @empNo
			)
			BEGIN

				INSERT INTO tas.DILSpecialHolidayLog
				(
					EmpNo,
					DT,
					CostCenter,
					DIL_Entitlement,
					ShiftPatCode,
					ShiftCode,		
					CreatedDate,		
					CreatedByUserID
				)
				SELECT	a.EmpNo,
						a.DT,
						a.BusinessUnit,
						a.DIL_Entitlement,
						a.ShiftPatCode,
						a.ShiftCode,
						GETDATE(),
						'System Admin'
				FROM tas.Tran_Timesheet a WITH (NOLOCK)
					INNER JOIN tas.Master_Employee_JDE_View_V2 b WITH (NOLOCK) ON a.EmpNo = b.EmpNo
					INNER JOIN tas.Master_ShiftPatternTitles c WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(c.ShiftPatCode)
					LEFT JOIN tas.DILSpecialHolidayLog d WITH (NOLOCK) ON a.EmpNo = d.EmpNo AND a.DT = d.DT
				WHERE 
					ISNUMERIC(b.PayStatus) = 1
					AND a.DT = @holidayDate
					AND a.IsLastRow = 1
					AND ISNULL(c.IsDayShift, 0) = 0
					AND ISNULL(a.RemarkCode, '') <> 'A'
					AND ISNULL(a.DIL_Entitlement, '') <> 'AD'
					AND ISNULL(d.AutoID, 0) = 0	
					AND a.EmpNo = @empNo

				--Checks for error
				IF @@ERROR <> @CONST_RETURN_OK
				BEGIN
				
					SELECT	@retError = @CONST_RETURN_ERROR,
							@hasError = 1
				END

				--Checks if there's no error
				IF @retError = @CONST_RETURN_OK
				BEGIN

					--Grant DIL to all day shift employees who are on leave or has reason of absence
					UPDATE tas.Tran_Timesheet 
					SET tas.Tran_Timesheet.DIL_Entitlement = 'AD',
						tas.Tran_Timesheet.LastUpdateUser = 'System Admin',
						tas.Tran_Timesheet.LastUpdateTime = GETDATE()
					FROM tas.Tran_Timesheet a WITH (NOLOCK)
						INNER JOIN tas.Master_Employee_JDE_View_V2 b WITH (NOLOCK) ON a.EmpNo = b.EmpNo
						INNER JOIN tas.Master_ShiftPatternTitles c WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(c.ShiftPatCode)
						INNER JOIN tas.DILSpecialHolidayLog d WITH (NOLOCK) ON a.EmpNo = d.EmpNo AND a.DT = d.DT
					WHERE 
						ISNUMERIC(b.PayStatus) = 1
						AND a.DT = @holidayDate
						AND a.IsLastRow = 1
						AND ISNULL(c.IsDayShift, 0) = 0
						AND ISNULL(a.RemarkCode, '') <> 'A'
						AND ISNULL(a.DIL_Entitlement, '') <> 'AD'	
						AND a.EmpNo = @empNo

					--Get the number of updated records 
					SELECT @rowsAffectedSW = @@rowcount 

					--Checks for error
					IF @@ERROR <> @CONST_RETURN_OK
					BEGIN
				
						SELECT	@retError = @CONST_RETURN_ERROR,
								@hasError = 1
					END
				END 
            END 

			--Checks if there's no error
			IF @retError = @CONST_RETURN_OK
			BEGIN

				--Update the special holiday setup table to mark the associated record as completed
				UPDATE tas.DILSpecialHolidaySetup
				SET IsProcessed = 1,
					LastUpdateUserID = 'System Admin',
					LastUpdateDate = GETDATE()
				WHERE HolidayDate = @holidayDate

				--Checks for error
				IF @@ERROR <> @CONST_RETURN_OK
				BEGIN
				
					SELECT	@retError = @CONST_RETURN_ERROR,
							@hasError = 1
				END
			END 
		END 

		ELSE IF @actionType = 2		--Undo DIL activation
		BEGIN

			IF EXISTS
            (
				SELECT 1 FROM tas.DILSpecialHolidayLog a WITH (NOLOCK)
				WHERE a.DT = @holidayDate
			)
			BEGIN

				UPDATE tas.Tran_Timesheet 
				SET tas.Tran_Timesheet.DIL_Entitlement = b.DIL_Entitlement,
					tas.Tran_Timesheet.LastUpdateUser = 'System Admin',
					tas.Tran_Timesheet.LastUpdateTime = GETDATE()
				FROM tas.Tran_Timesheet a WITH (NOLOCK)
					INNER JOIN tas.DILSpecialHolidayLog b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.DT = b.DT
				WHERE b.DT = @holidayDate

				--Get the number of updated records 
				SELECT @rowsAffected = @@rowcount 

				--Checks for error
				IF @@ERROR <> @CONST_RETURN_OK
				BEGIN
				
					SELECT	@retError = @CONST_RETURN_ERROR,
							@hasError = 1
				END

				--Checks if there's no error
				IF @retError = @CONST_RETURN_OK
				BEGIN

					--Delete the log records
					DELETE FROM tas.DILSpecialHolidayLog 
					WHERE DT = @holidayDate
				END 
            END 

			--Update the special holiday setup table to mark the associated record as not processed
			UPDATE tas.DILSpecialHolidaySetup
			SET IsProcessed = 0,
				LastUpdateUserID = NULL,
				LastUpdateDate = NULL 
			WHERE HolidayDate = @holidayDate
        END 
	END TRY

	BEGIN CATCH

		--Capture the error
		SELECT	@retError = CASE WHEN ERROR_NUMBER() > 0 THEN ERROR_NUMBER() ELSE @CONST_RETURN_ERROR END,
				@retErrorDesc = ERROR_MESSAGE(),
				@hasError = 1

	END CATCH

	IF @actionType = 1
	BEGIN
    
		--Return error information to the caller
		SELECT	@hasError AS HasError, 
				@retError AS ErrorCode, 
				@retErrorDesc AS ErrorDescription,
				@rowsAffectedDS AS RowsAffectedDayShift,
				@rowsAffectedSW AS RowsAffectedShiftWorker
	END
    
	ELSE
    BEGIN
		
			--Return error information to the caller
		SELECT	@hasError AS HasError, 
				@retError AS ErrorCode, 
				@retErrorDesc AS ErrorDescription,
				@rowsAffected AS RowsAffected
	END 

