USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_AutoApproveOTByCostCenter]    Script Date: 16/04/2017 08:32:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_AutoApproveOTByCostCenter
*	Description: This stored procedure is used to auto approve OT records in the Timesheet by period and cost center
*
*	Date:			Author:		Rev.#:		Comments:
*	08/01/2015		Ervin		1.0			Created
*	07/06/2016		Ervin		1.1			Added join to "Master_Employee_JDE_View_V2" to get the actual cost center of Aspire employees
*	10/06/2016		Ervin		1.2			Added filter condition that checks if OT duration is greater than 30 minutes 
*******************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_AutoApproveOTByCostCenter]
(
	@processDate	datetime
)
AS
		
	--Define constants
	DECLARE @CONST_RETURN_OK		int,
			@CONST_RETURN_ERROR		int		

	--Initialize constants
	SELECT	@CONST_RETURN_OK		= 0,
			@CONST_RETURN_ERROR		= -1

	--Define variables
	DECLARE @rowsAffected			int,
			@hasError				bit,
			@retError				int,
			@retErrorDesc			varchar(200),
			@isProceed				bit

	--Initialize variables
	SELECT	@rowsAffected			= 0,
			@hasError				= 0,
			@retError				= @CONST_RETURN_OK,
			@retErrorDesc			= '',
			@isProceed				= 0
	
	BEGIN TRY

		--Start a transaction
		BEGIN TRANSACTION

		--Check if Process Date exist in the "OTApprovalSetting" table
		IF EXISTS 
		(
			SELECT SettingID FROM tas.OTApprovalSetting 
			WHERE CONVERT(DATETIME, CONVERT(VARCHAR, @processDate, 12)) BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveStartDate, 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveEndDate, 12)) 
				AND IsActive = 1
		)
		BEGIN

			--Set the flag to continue with the process of auto calculating the OT
			SET @isProceed = 1
		END

		IF @isProceed =  0
		BEGIN

			--Exit the process then throw error message to the calling application
				SELECT	@hasError = 1,
						@retError = @CONST_RETURN_ERROR,
						@retErrorDesc = 'Current Process Date has no matching record in the OTApprovalSetting table. Overtime auto approval cannot be implemented.'
				
				GOTO EXIT_POINT
		END
				
		IF EXISTS 
		(
			SELECT AutoID FROM tas.Tran_Timesheet_OTRemoved 
			WHERE OTDate = @processDate 
				AND RTRIM(CostCenter) IN 
					(
						SELECT RTRIM(CostCenter) FROM tas.OTApprovalSetting 
						WHERE CONVERT(DATETIME, CONVERT(VARCHAR, @processDate, 12)) BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveStartDate, 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveEndDate, 12)) 
							AND IsActive = 1
					)
		)
		BEGIN

			--Remove existing records in "Tran_Timesheet_OTRemoved" table 
			DELETE FROM tas.Tran_Timesheet_OTRemoved 
			WHERE OTDate = @processDate
				AND RTRIM(CostCenter) IN 
					(
						SELECT RTRIM(CostCenter) FROM tas.OTApprovalSetting 
						WHERE CONVERT(DATETIME, CONVERT(VARCHAR, @processDate, 12)) BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveStartDate, 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveEndDate, 12)) 
							AND IsActive = 1
					)
		END

		--Insert OT records to be removed in "Tran_Timesheet_OTRemoved" table
		INSERT INTO tas.Tran_Timesheet_OTRemoved
		(
			[TS_AutoID]
			,[XID_AutoID]
			,[EmpNo]
			,[OTDate]
			,[CostCenter]
			,[OTStartTime]
			,[OTEndTime]
			,[OTType]
			,[OTSourceID]
			,[OTSourceDesc]
			,[CreatedDate]
			,[CreatedByUserID]
		)
		SELECT 
			a.AutoID AS TS_AutoID, 
			b.XID_AutoID, 
			a.EmpNo,
			a.DT AS OTDate,		
			RTRIM(c.ActualCostCenter) AS CostCenter,	
			--a.BusinessUnit AS CostCenter, 
			b.OTStartTime,
			b.OTEndTime,
			b.OTType,
			2 AS OTSourceID,
			'Tran_Timesheet_Extra' AS OTSourceDesc,
			GETDATE() AS CreatedDate, 
			'TASAdmin' AS CreatedByUserID
		FROM tas.Tran_Timesheet a
			INNER JOIN tas.Tran_Timesheet_Extra b on a.AutoID = b.XID_AutoID
			INNER JOIN tas.Master_Employee_JDE_View_V2 c ON a.EmpNo = c.EmpNo	--Rev. #1.1
		WHERE a.EmpNo > 10000000 			
			AND a.IsLastRow = 1
			AND 
			(
				(b.OTstartTime IS NOT NULL AND b.OTendTime IS NOT NULL)
				AND
                (DATEDIFF(n, b.OTStartTime, b.OTEndTime) > (SELECT Minutes_MinOT_NSS FROM tas.System_Values))	--Rev. #1.2
			)
			AND a.DT = @processDate
			AND RTRIM(c.ActualCostCenter) IN 
				(
					SELECT RTRIM(CostCenter) FROM tas.OTApprovalSetting 
					WHERE CONVERT(DATETIME, CONVERT(VARCHAR, @processDate, 12)) BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveStartDate, 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveEndDate, 12)) 
						AND IsActive = 1
				)
		ORDER BY AutoID

		--Get the number of rows inserted 
		SET @rowsAffected = @@ROWCOUNT

		IF @rowsAffected > 0
		BEGIN

			--Set overtime records in "Tran_Timesheet" table to be auto approved
			UPDATE tas.Tran_Timesheet
			SET tas.Tran_Timesheet.OTStartTime = b.OTStartTime,
				tas.Tran_Timesheet.OTEndTime = b.OTEndTime,
				tas.Tran_Timesheet.OTType = b.OTType,
				--tas.Tran_Timesheet.AbsenceReasonColumn = 'CAL HOL',
				tas.Tran_Timesheet.LastUpdateUser = 'System Admin',
				tas.Tran_Timesheet.LastUpdateTime = GETDATE()
			FROM tas.Tran_Timesheet a
				INNER JOIN tas.Tran_Timesheet_Extra b ON a.AutoID = b.XID_AutoID
				INNER JOIN tas.Master_Employee_JDE_View_V2 c ON a.EmpNo = c.EmpNo	--Rev. #1.1
			WHERE 
				a.EmpNo > 10000000 				
				AND a.IsLastRow = 1
				AND 
				(
					(b.OTstartTime IS NOT NULL AND b.OTendTime IS NOT NULL)
					AND
					(DATEDIFF(n, b.OTStartTime, b.OTEndTime) > (SELECT Minutes_MinOT_NSS FROM tas.System_Values))	--Rev. #1.2
				)
				AND a.DT = @processDate
				AND RTRIM(c.ActualCostCenter) IN 
					(
						SELECT RTRIM(CostCenter) FROM tas.OTApprovalSetting 
						WHERE CONVERT(DATETIME, CONVERT(VARCHAR, @processDate, 12)) BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveStartDate, 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveEndDate, 12)) 
							AND IsActive = 1
					)

			--Get the number of rows updated
			SET @rowsAffected = @@ROWCOUNT

			IF @rowsAffected > 0
			BEGIN
			
				--Disable overtime records in "Tran_Timesheet_Extra" table
				UPDATE tas.Tran_Timesheet_Extra
				SET tas.Tran_Timesheet_Extra.OTStartTime = NULL,
					tas.Tran_Timesheet_Extra.OTEndTime = NULL,
					tas.Tran_Timesheet_Extra.OTType = NULL,
					tas.Tran_Timesheet_Extra.LastUpdateUser = 'TASAdmin',
					tas.Tran_Timesheet_Extra.LastUpdateTime = GETDATE()
				FROM tas.Tran_Timesheet_Extra a
					INNER JOIN tas.Tran_Timesheet b ON a.XID_AutoID = b.AutoID 
					INNER JOIN tas.Master_Employee_JDE_View_V2 c ON b.EmpNo = c.EmpNo	--Rev. #1.1
				WHERE 
					b.EmpNo > 10000000 					
					AND b.IsLastRow = 1
					AND
                    (
						(a.OTstartTime IS NOT NULL AND a.OTendTime IS NOT NULL)
						AND
						(DATEDIFF(n, a.OTStartTime, a.OTEndTime) > (SELECT Minutes_MinOT_NSS FROM tas.System_Values))	--Rev. #1.2
					)
					AND b.DT = @processDate
					AND RTRIM(c.ActualCostCenter) IN 
						(
							SELECT RTRIM(CostCenter) FROM tas.OTApprovalSetting 
							WHERE CONVERT(DATETIME, CONVERT(VARCHAR, @processDate, 12)) BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveStartDate, 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveEndDate, 12)) 
								AND IsActive = 1
						)
			END

			ELSE
			BEGIN

				--Exit the process then throw error message to the calling application
				SELECT	@hasError = 1,
						@retError = @CONST_RETURN_ERROR,
						@retErrorDesc = 'Overtime records were not updated in Tran_Timesheet table.'
				
				GOTO EXIT_POINT
			END
		END

		ELSE 
		BEGIN

			--Exit the process then throw error message to the calling application
			SELECT	@hasError = 1,
					@retError = @CONST_RETURN_ERROR,
					@retErrorDesc = 'No overtime records have been found by the system, hence could not proceed to the auto calculation process.'
				
			GOTO EXIT_POINT
		END

	END TRY

	BEGIN CATCH

		--Capture the error
		SELECT	@retError = CASE WHEN ERROR_NUMBER() > 0 THEN ERROR_NUMBER() ELSE @CONST_RETURN_ERROR END,
				@retErrorDesc = ERROR_MESSAGE(),
				@hasError = 1

	END CATCH

EXIT_POINT:

	IF @retError = @CONST_RETURN_OK
	BEGIN

		IF @@TRANCOUNT > 0
			COMMIT TRANSACTION;		
	END

	ELSE
	BEGIN

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION
	END

	IF ISNULL(@hasError, 0) = 0 
	BEGIN

		--Return overtime records
		SELECT	
			@hasError AS HasError, 
			@retError AS ErrorCode, 
			@retErrorDesc AS ErrorDescription,
			@rowsAffected AS RowsAffected,
			b.DT, 
			--b.BusinessUnit, 
			RTRIM(d.ActualCostCenter) AS BusinessUnit,
			e.BusinessUnitName,
			b.EmpNo, 
			d.EmpName,
			b.ShiftPatCode, 
			b.ShiftCode,
			b.dtIN,
			b.dtOUT,
			b.OTStartTime AS TS_OTStartTime,
			b.OTEndTime AS TS_OTEndTime,
			b.OTType AS TS_OTType,
			a.OTStartTime AS TE_OTStartTime,
			a.OTEndTime AS TE_OTEndTime,
			a.OTType AS TE_OTType,
			ROUND((CONVERT(FLOAT, (CASE WHEN b.OTStartTime IS NOT NULL AND b.OTEndTime IS NOT NULL THEN DATEDIFF(n,  b.OTStartTime, b.OTEndTime) ELSE DATEDIFF(n,  a.OTStartTime, a.OTEndTime) END)) / 60), 2) AS OTHours,
			(CASE WHEN b.OTStartTime IS NOT NULL AND b.OTEndTime IS NOT NULL THEN DATEDIFF(n,  b.OTStartTime, b.OTEndTime) ELSE DATEDIFF(n,  a.OTStartTime, a.OTEndTime) END) AS OTMins,
			b.AbsenceReasonColumn,
			b.LastUpdateUser AS TS_LastUpdateUser,
			b.LastUpdateTime AS TS_LastUpdateTime,
			a.LastUpdateUser AS TE_LastUpdateUser,
			a.LastUpdateTime AS TE_LastUpdateTime
		FROM tas.Tran_Timesheet_Extra a
			INNER JOIN tas.Tran_Timesheet b ON a.XID_AutoID = b.AutoID
			LEFT JOIN tas.Master_OTReasons_JDE c ON RTRIM(a.OTReason) = RTRIM(c.CODE)
			INNER JOIN tas.Master_Employee_JDE_View_V2 d ON b.EmpNo = d.EmpNo	--Rev. #1.1
			LEFT JOIN tas.Master_BusinessUnit_JDE e ON RTRIM(d.ActualCostCenter) = RTRIM(e.BusinessUnit)	
			--LEFT JOIN tas.Master_BusinessUnit_JDE e ON RTRIM(b.BusinessUnit) = RTRIM(e.BusinessUnit)	
		WHERE 
			b.EmpNo > 10000000 				
			AND b.IsLastRow = 1
			AND (b.OTStartTime IS NOT NULL AND b.OTEndTime IS NOT NULL)
			AND b.DT = @processDate
			AND RTRIM(d.ActualCostCenter) IN 
				(
					SELECT RTRIM(CostCenter) FROM tas.OTApprovalSetting 
					WHERE CONVERT(DATETIME, CONVERT(VARCHAR, @processDate, 12)) BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveStartDate, 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, EffectiveEndDate, 12)) 
						AND IsActive = 1
				)
		ORDER BY b.DT, b.BusinessUnit, b.EmpNo
	END

	ELSE 
	BEGIN
		
		--Return error information to the caller
		SELECT	@hasError AS HasError, 
				@retError AS ErrorCode, 
				@retErrorDesc AS ErrorDescription,
				@rowsAffected AS RowsAffected
	END
