USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[EmployeeHistoryTAS]    Script Date: 6/23/2016 1:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*********************************************************************************
*	Revision History
*
*	Name: tas.EmployeeHistoryTAS
*	Description: Returns records from 'Tran_TimeSheet' table
*
*	Date:			Author:		Ref#:		Comments:
*	09/07/2013		Ervin		N/A			Created
**********************************************************************************/
ALTER PROCEDURE [tas].[EmployeeHistoryTAS]
(
	@dtfrom as datetime,
    @dtTo as datetime,
	@empno as integer,
    @flgAbsence as bit,
 	@flgSickleave as bit,
	@flgNopay as bit, 
	@flgIl as bit,
	@flgDil as bit,
	@flgOt as bit,
	@UserID varchar(50)
)
AS	

	DECLARE	@EmployeeAllowed int
	
	SET @EmployeeAllowed = 0

	SELECT @EmployeeAllowed = count(*) 
	FROM System_Security_BusinessUnit
	WHERE 
		upper(rtrim(UserID)) = upper(rtrim(@UserID))
		and ltrim(rtrim(BusinessUnit)) in (select ltrim(rtrim(Businessunit)) from Master_Employee_JDE_View where empno = @Empno)

	Create table #ttt 
	(
		dt     datetime, 
		empno  int, 
		Reason varchar(20)
	)

	IF (@flgAbsence = 1)
	BEGIN
		INSERT INTO #ttt 
		SELECT dt, empno, 'Absent' 
		FROM tas.tran_timesheet 
		WHERE 
			upper(rtrim(remarkcode)) = 'A'
			and empno = @empno
			and dt between @dtfrom and @dtTo
	END
	-------------------------------------------------------
	IF (@flgSickleave = 1)
	BEGIN
		INSERT INTO #ttt 
		SELECT dt, empno, 'Sick Leave - ' + LeaveType 
		FROM tas.tran_timesheet 
		WHERE 
			upper(rtrim(leaveType)) in ('SLP','SLU') 
			and empno = @empno
			and dt between @dtfrom and @dtTo
	END
	-------------------------------------------------------
	IF (@flgIl = 1)	--Injury Leave
	BEGIN
		INSERT INTO #ttt 
		SELECT dt, empno,  'Injury Leave - ' + LeaveType 
		FROM tas.tran_timesheet 
		WHERE 
			upper(rtrim(leaveType)) in ('IL','ILU')
			and empno = @empno
			and dt between @dtfrom and @dtTo
	END
	---------------------------------------------------------
	IF (@flgNopay = 1)
	BEGIN
		INSERT INTO #ttt 
		SELECT dt, empno, 'NPH - ' + tas.cstr(nopayhours)  
		FROM tas.tran_timesheet 
		WHERE 
			nopayhours > 0
			and empno = @empno
			and dt between @dtfrom and @dtTo
	END
	------------------------------------------------------------
	IF (@flgDil = 1)
	BEGIN
		INSERT INTO #ttt 
		SELECT dt, empno, 'DIL' 
		FROM tas.tran_timesheet
		WHERE 
			upper(rtrim(AbsenceReasonCode)) in ('DD','UD','UA')
			and empno = @empno
			and dt between @dtfrom and @dtTo
	END
	-------------------------------------------------------------
	IF (@flgot = 1)
	BEGIN
		INSERT INTO #ttt 
		SELECT dt, empno, 'OT - ' + tas.cstr(sum(datediff( n , otstarttime , otendtime)))  
		FROM tas.tran_timesheet 
		WHERE 
			otstartTime is not null
			and otendTime is not null
			and tas.fmtTime(otstartTime) <> tas.fmtTime(otendTime)
			and empno = @empno
			and dt between @dtfrom and @dtTo
		GROUP BY empno, dt 
	End

	SELECT tas.fmtdate(dt) [Date], Reason FROM #ttt 
	WHERE @EmployeeAllowed > 0
	ORDER BY dt
	--------------------------------------------------------------


/*	Debugging:

	exec EmployeeHistoryTAS @dtfrom=N'2013-jan-01',@dtTo=N'2013-jul-08',@empno=N'10003584',@flgAbsence=1,@flgSickleave=1,@flgNopay=0,@flgIl=-1,@flgDil=0,@flgOt=0,@UserID=N'GARMCO\ervin'

	select empno , count(*)
	from tran_timesheet 
	where (otstarttime is not null or nopayhours is not null) and dt > '1-jan-2005' and empno > 10000000
	group by empno
	having count(*) > 3
	order by 2 desc

	select top 100 * from tran_timesheet where leavetype = 'il'

*/
