USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_GetMissingSwipeStatistics_V2]    Script Date: 10/04/2022 16:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_GetMissingSwipeStatistics_V2
*	Description: This stored procedure is used to fetch data that will be used in the Missing Swipes Statistics Report
*
*	Date:			Author:		Rev.#:		Comments:
*	28/01/2016		Ervin		1.0			Created
***************************************************************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_GetMissingSwipeStatistics_V2]
(
	@startDate			datetime,
	@endDate			datetime
)
AS	

	DECLARE	@totalSwipe					INT,
			@totalMorningShift			INT,
			@totalEveningShift			INT,
			@totalNightShift			INT

	SELECT	DISTINCT
			a.CostCenter,
			b.BusinessUnitName AS CostCenterName,
			h.TotalMorningShift,
			h.TotalEveningShift,
			h.TotalNightShift,
			h.TotalSwipe
	FROM (SELECT DISTINCT CostCenter FROM tas.WorkplaceReaderSetting WHERE IsActive = 1) a
		LEFT JOIN tas.Master_BusinessUnit_JDE b ON RTRIM(a.CostCenter) = RTRIM(b.BusinessUnit)
		OUTER APPLY tas.fnGetMissingSwipeStatistics(@startDate, @endDate, RTRIM(a.CostCenter)) h
	ORDER BY a.CostCenter

