USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Payroll_Validation_ControlTotals_for_JDE]    Script Date: 6/23/2016 11:17:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  procedure [tas].[Payroll_Validation_ControlTotals_for_JDE] as
-- Payroll_Validation_ControlTotals_for_JDE
declare @Upload_ID int
-- goto Endx

exec Payroll_Validation_ControlTotals_for_JDE_support


if object_ID ('tmp_CHK_JDE_TS')    	is not null drop table tmp_CHK_JDE_TS
if object_ID ('tmp_CHK_JDE_summry') 	is not null drop table tmp_CHK_JDE_summry
if object_ID ('tmp_CHK_JDE_pdba010') 	is not null drop table tmp_CHK_JDE_pdba010
if object_ID ('tmp_CHK_JDE_pdba020') 	is not null drop table tmp_CHK_JDE_pdba020
if object_ID ('tmp_CHK_JDE_pdba030') 	is not null drop table tmp_CHK_JDE_pdba030
if object_ID ('tmp_CHK_JDE_pdba095') 	is not null drop table tmp_CHK_JDE_pdba095
if object_ID ('tmp_CHK_JDE_pdba100A') 	is not null drop table tmp_CHK_JDE_pdba100A
if object_ID ('tmp_CHK_JDE_pdba100B') 	is not null drop table tmp_CHK_JDE_pdba100B
if object_ID ('tmp_CHK_JDE_pdba505') 	is not null drop table tmp_CHK_JDE_pdba505
if object_ID ('tmp_CHK_JDE_pdba506') 	is not null drop table tmp_CHK_JDE_pdba506
if object_ID ('tmp_CHK_JDE_pdba510') 	is not null drop table tmp_CHK_JDE_pdba510
if object_ID ('tmp_CHK_JDE_pdba511') 	is not null drop table tmp_CHK_JDE_pdba511
if object_ID ('tmp_CHK_JDE_pdba105') 	is not null drop table tmp_CHK_JDE_pdba105
if object_ID ('tmp_CHK_JDE_pdba106') 	is not null drop table tmp_CHK_JDE_pdba106

select @Upload_ID = Upload_ID from System_Values 

select 	T.autoid,
	T.dt,
	T.empno,
	cast(T.gradecode as int) grd,
	T.otStarttime OT1, 
	T.otEndtime   OT2, 
	T.nopayhours nph, 	
	T.remarkcode rem, 
	T.duration_shiftallowance_evening E,
	T.duration_shiftallowance_night N,
	IsPublicHoliday Pub,
	IsDILdayWorker DILdw,
	IsDayWorker_OR_Shifter DW,
	shiftcode sh,
	T.BusinessUnit as BU,
	Duration_Worked_cumulative MinsWorked,
	--YAP005,
	JobCode,
	IsLastRow
into 	tmp_CHK_JDE_TS
from  	TRAN_TIMESHEET T
	inner join Master_employee_jde_view  J      on T.empno = J.empno and J.PayStatus <>'2'
	left  join Master_Employee_JDE_view_Extra J2 on J2.EmpNo=T.EmpNo
where   DateResigned is null
and     T.Upload_ID=@Upload_ID
order by dt , T.empno , autoid

-------------------------------------------------------------------------------------
select '010 OT       ' txt, autoid , tas.fmtdate(dt) dt ,empno , ot1,ot2 , datediff( n , ot1 , ot2 )/60.0  OT    
into tmp_CHK_JDE_pdba010 from tmp_CHK_JDE_TS 
where ot1 is not null and tas.fmttime(ot1)<> tas.fmttime(ot2)
---
update tmp_CHK_JDE_pdba010
set txt = '010 OT-      '
where autoid in
(
select a.autoid 
from	(select autoid , OT from tmp_CHK_JDE_pdba010 ) A ,
	(select autoid , sum(hoursWorkd) SumJdeOT from tran_timesheet_jde where paytype=10 group by autoid) B
where 	a.autoid = b.autoid
and   	a.OT = B.SumJdeOT
)
---
insert into tmp_CHK_JDE_pdba010
select '010 OT+       ' txt, autoid , tas.fmtdate(dt) dt ,empno , otstarttime ,otendtime , datediff( n , otstarttime , otendtime )/60.0  OT    
from Tran_timesheet 
where autoid in (select AutoID from TimeSheetUploaded_JDE where pdba=10 and Hrs<0)
and   autoid not in (select autoid from tmp_CHK_JDE_pdba010)
---
select '020 Shift Allowance Night' txt,  autoid , tas.fmtdate(dt) dt ,empno into tmp_CHK_JDE_pdba020 from tmp_CHK_JDE_TS where N>=240
---
select '030 Shift Allowance Evening' txt, autoid , tas.fmtdate(dt) dt ,empno into tmp_CHK_JDE_pdba030 from tmp_CHK_JDE_TS where E>=240
---
select  '095 Extra pay (Absences Removed)' txt,  autoid ,  tas.fmtdate(dt) dt ,empno
into tmp_CHK_JDE_pdba095
from
(
	select autoid , dt , empno
	from tmp_CHK_JDE_TS
	where  (rem = '' or rem is null)
	--and grd<=8
	--and DW=0 
	and  autoid in (select autoid from tran_timesheet_jde where paytype = 510 )
) A
---
select  '100(A) Extra pay (holiday)' txt,  autoid , tas.fmtdate(dt) dt ,empno
into tmp_CHK_JDE_pdba100A
from 
(
select  autoid , tas.fmtdate(dt) dt , empno
from tmp_CHK_JDE_TS
where  Pub=1   
and sh = 'O'
and dw = 0  
and islastrow = 1
) A
---
select  '100(B) Extra pay (nonsal DW DilDW Sh=O)' txt, autoid , tas.fmtdate(dt) dt ,empno
into tmp_CHK_JDE_pdba100B
from tmp_CHK_JDE_ts
where 	DILdw = 1 
and 	DW = 1 
and 	grd <= 8 
and 	sh = 'o'
and 	islastrow = 1
---
select '505 NoPay Hours' txt, autoid , tas.fmtdate(dt) dt ,empno  into tmp_CHK_JDE_pdba505 from tmp_CHK_JDE_TS where nph > 0
---
select '506 NoPay Hours adjustment' txt , autoid , tas.fmtdate(dt) dt , empno
into tmp_CHK_JDE_pdba506
from tmp_CHK_JDE_TS
where nph=0 
and autoid in (select autoid from Tran_Timesheet_JDE where paytype = 505)
---
select '510 Absences' txt, autoid , tas.fmtdate(dt) dt , T.empno  
into tmp_CHK_JDE_pdba510 
from tmp_CHK_JDE_TS T 
where 
	(rem = 'A' and grd<=8          and islastrow=1 )
or
	(rem = 'A' and grd>=9 and DW=0 and islastrow=1 )
---
select '511 Absences adjustment' txt , autoid , tas.fmtdate(dt) dt , empno
into tmp_CHK_JDE_pdba511
from tmp_CHK_JDE_TS
where 	(grd<=8          and autoid in (select autoid from Tran_Timesheet_JDE where paytype = 511))
or
	(grd>=9 and DW=0 and autoid in (select autoid from Tran_Timesheet_JDE where paytype = 511))
---

select '105 Work Condition Allowance' txt , autoid , tas.fmtdate(dt) dt , empno
into tmp_CHK_JDE_pdba105
from tmp_CHK_JDE_TS A , External_JDE_F00092 B
where A.BU = B.BU
and   A.JobCode = B.JobCode
and   MinsWorked>=60
and   IsLastRow=1

------------------------------------------------
create Table tmp_CHK_JDE_summry (PDBA varchar(10) , PDBA_Name varchar(50) , TAS_cnt int , Diff_TAS int , JDE_cnt int , Diff_JDE int , Diff Int )
insert into tmp_CHK_JDE_summry select '010'    , 'OT'   	                     , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba010 where txt <>'010 OT-'
insert into tmp_CHK_JDE_summry select '020'    , 'Shift Allowance Night'             , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba020
insert into tmp_CHK_JDE_summry select '030'    , 'Shift Allowance Evening'           , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba030
insert into tmp_CHK_JDE_summry select '095'    , 'Extra pay (Absences Removed)'      , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba095
insert into tmp_CHK_JDE_summry select '100(A)' , 'Extra pay (holiday) '              , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba100A
insert into tmp_CHK_JDE_summry select '100(B)' , 'Extra pay (nonsal DW DilDW Sh=O)'  , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba100B
insert into tmp_CHK_JDE_summry select '505'    , 'NoPay Hours'   	             , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba505
insert into tmp_CHK_JDE_summry select '506'    , 'NoPay Hours adjustment'   	     , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba506
insert into tmp_CHK_JDE_summry select '510'    , 'Absences'                          , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba510
insert into tmp_CHK_JDE_summry select '511'    , 'Absences Adjustment'               , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba511
-- Temporarily commented on 15-jan-2008
-- Insert into tmp_CHK_JDE_summry select '105'    , 'Work Condition Allowance'          , count(*)    , null , null , null ,  0 from tmp_CHK_JDE_pdba105 
insert into tmp_CHK_JDE_summry select '-1'     , 'OneWorld Batch No.'                , @Upload_ID  , null , null , null ,  0
-------------------------------------------------

update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=10)   A where PDBA='010'
update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=20)   A where PDBA='020'
update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=30)   A where PDBA='030'
update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=95)   A where PDBA='095'
update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=100)  A where PDBA='100(A)'
update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select null cnt                                              )  A where PDBA='100(B)'
update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=505)  A where PDBA='505'
update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=506)  A where PDBA='506'
update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=510)  A where PDBA='510'
update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=511)  A where PDBA='511'
update tmp_CHK_JDE_summry set JDE_Cnt = cnt from (select count(*) cnt from TimeSheetUploaded_JDE where pdba=105)  A where PDBA='105'
-------------------------------------------------

update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_010  where empno is not null) A  where PDBA='010'
update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_020  where empno is not null) A  where PDBA='020'
update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_030  where empno is not null) A  where PDBA='030'
update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_095  where empno is not null) A  where PDBA='095'
update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_100A where empno is not null) A  where PDBA='100A'
update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_100B where empno is not null) A  where PDBA='100B'
update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_505  where empno is not null) A  where PDBA='505'
update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_506  where empno is not null) A  where PDBA='506'
update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_510  where empno is not null) A  where PDBA='510'
update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_511  where empno is not null) A  where PDBA='511'
update tmp_CHK_JDE_summry set Diff_TAS = cnt from (select count(*) cnt from vu_JDE_mismatch_105  where empno is not null) A  where PDBA='105'
-------------------------------------------------

update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_010  where Jempno is not null) A   where PDBA='010'
update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_020  where Jempno is not null) A   where PDBA='020'
update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_030  where Jempno is not null) A   where PDBA='030'
update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_095  where Jempno is not null) A   where PDBA='095'
update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_100A where Jempno is not null) A   where PDBA='100A'
update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_100B where Jempno is not null) A   where PDBA='100B'
update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_505  where Jempno is not null) A   where PDBA='505'
update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_506  where Jempno is not null) A   where PDBA='506'
update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_510  where Jempno is not null) A   where PDBA='510'
update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_511  where Jempno is not null) A   where PDBA='511'
update tmp_CHK_JDE_summry set Diff_JDE = cnt from (select count(*) cnt from vu_JDE_mismatch_105  where Jempno is not null) A   where PDBA='105'

-------------------------------------------------
update tmp_CHK_JDE_summry set Diff = JDE_cnt - TAS_cnt
-------------------------------------------------


