USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_CopyWorkplaceSwipeToStage]    Script Date: 14/04/2022 09:48:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/***************************************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_CopyWorkplaceSwipeToStage
*	Description: This stored procedure is used to populate workplace swipe data into the staging table
*
*	Date:			Author:		Rev.#:		Comments:
*	21/01/2021		Ervin		1.0			Created
***************************************************************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_CopyWorkplaceSwipeToStage]
(
	@startDate		DATETIME,
	@endDate		DATETIME
)
AS	
BEGIN 
    
	SET NOCOUNT ON

	--Define constants
	DECLARE @CONST_RETURN_OK			INT = 0,
			@CONST_RETURN_ERROR			INT = -1
		
	DECLARE @DTSwipeLastProcessed		DATETIME = NULL,	
			@DTSwipeNewProcess			DATETIME = NULL,
			@timesheetLastProcessed		DATETIME = NULL,
			@shiftPatLastUpdated		DATETIME = NULL,
			@hasError					BIT = 0,
			@retError					INT = 0,
			@retErrorDesc				VARCHAR(200) = '',
			@rowsInserted				INT = 0	

	--Get the start and end process dates from the "System_Values" table
	SELECT	@DTSwipeLastProcessed = a.DT_SwipeLastProcessed,	
			@DTSwipeNewProcess =  a.DT_SwipeNewProcess,
			@timesheetLastProcessed = CONVERT(DATETIME, CONVERT(VARCHAR, a.DT_SwipeLastProcessed, 12)),
			@shiftPatLastUpdated = a.DT_ShiftPatternLastUpdated	 
	FROM tas.System_Values a WITH (NOLOCK)

	IF @DTSwipeLastProcessed = @DTSwipeNewProcess
	BEGIN

		IF @timesheetLastProcessed = @shiftPatLastUpdated
		BEGIN
        
			--Timesheet Processing Service has been executed already, so subtract 1 day to @DTSwipeLastProcessed
			SELECT @DTSwipeLastProcessed = DATEADD(DAY, -1, @DTSwipeNewProcess) 
		END 
		ELSE
        BEGIN

			--Timesheet Processing Service has not been executed for the current day, so add 1 day for @DTSwipeNewProcess
			SELECT	@DTSwipeNewProcess = DATEADD(DAY, 1, @DTSwipeLastProcessed) 
        END 
    END 
	ELSE
    BEGIN 

		--Timesheet Processing Service has not been executed for the current day, so add 1 day for @DTSwipeNewProcess
		SELECT	@DTSwipeNewProcess = DATEADD(DAY, 1, @DTSwipeLastProcessed) 
	END 

	/* Old logic

	SELECT	@DTSwipeLastProcessed = DATEADD(HOUR, 9, CONVERT(DATETIME, CONVERT(VARCHAR, @startDate, 12))),
			@DTSwipeNewProcess = DATEADD(HOUR, 9, CONVERT(DATETIME, CONVERT(VARCHAR, @endDate, 12))) 

	SELECT	@DTSwipeLastProcessed = DATEADD(HOUR, 9, @startDate),
			@DTSwipeNewProcess = DATEADD(HOUR, 9, @endDate) 

	*/

	--BEGIN TRY
    
		IF EXISTS
        (
			SELECT 1
			FROM tas.Tran_SwipeData_dsx1 a WITH (NOLOCK)
				INNER JOIN tas.Master_AccessReaders b WITH (NOLOCK) ON a.LocationCode = b.LocationCode AND a.ReaderNo = b.ReaderNo
			WHERE a.LocationCode = b.LocationCode
				AND a.ReaderNo = b.ReaderNo
				AND b.UsedForTS = 'y'
				AND a.EventCode = 8
				AND a.DT > @DTSwipeLastProcessed
				AND a.DT <= @DTSwipeNewProcess
		)
		BEGIN

			--Delete existing records if found
			IF EXISTS
			(
				SELECT 1 FROM tas.Tran_TempSwipeData a WITH (NOLOCK)
				WHERE a.DTSwipeLastProcessed = @DTSwipeLastProcessed
					AND a.DTSwipeNewProcess = @DTSwipeNewProcess
			)
			BEGIN

				DELETE FROM tas.Tran_TempSwipeData 
				WHERE DTSwipeLastProcessed = @DTSwipeLastProcessed
					AND DTSwipeNewProcess = @DTSwipeNewProcess
			END 
        
			--Insert new records
			INSERT INTO tas.Tran_TempSwipeData 
			(
				EmpNo,
				DTSwipeLastProcessed,
				DTSwipeNewProcess,
				DT,
				LocationCode,
				ReaderNo,
				EventCode,
				Direction,
				SwipeSource,
				UseWorkplaceSwipe,
				HasWorkplaceSwipe,
				CreatedDate,
				CreatedByUser
			)
			SELECT	EmpNo, 
					@DTSwipeLastProcessed,
					@DTSwipeNewProcess,
					DT, 
					LocationCode, 
					ReaderNo, 
					EventCode, 
					Direction, 
					SwipeSource,
					UseWorkplaceSwipe,
					HasWorkplaceSwipe,
					GETDATE() AS CreatedDate,
					'System Admin' AS CreatedByUser 
			FROM tas.fnGetProcessedSwipeData(@DTSwipeLastProcessed, @DTSwipeNewProcess, 0, '') 	
			ORDER BY EmpNo, DT DESC, Direction DESC

			--Checks for error
			IF @@ERROR <> @CONST_RETURN_OK
			BEGIN
				
				SELECT	@retError = @CONST_RETURN_ERROR,
						@retErrorDesc = 'Error encountered while inserting new records to Tran_TempSwipeData table.',
						@hasError = 1
			END
			ELSE
			BEGIN 

				--Get the number of inserted records
				SELECT @rowsInserted = COUNT(*)
				FROM tas.Tran_TempSwipeData a WITH (NOLOCK)
				WHERE a.DTSwipeLastProcessed = @DTSwipeLastProcessed
					AND a.DTSwipeNewProcess = @DTSwipeNewProcess
			END 
		END 
	--END TRY

	--BEGIN CATCH

	--	--Capture the error
	--	SELECT	@retError = CASE WHEN ERROR_NUMBER() > 0 THEN ERROR_NUMBER() ELSE @CONST_RETURN_ERROR END,
	--			@retErrorDesc = ERROR_MESSAGE(),
	--			@hasError = 1

	--END CATCH

	--Return error information to the caller
	SELECT	@hasError AS HasError, 
			@retError AS ErrorCode, 
			@retErrorDesc AS ErrorDescription,
			@rowsInserted AS NoOfRecordsInserted

END 


/*	Debug:

PARAMETERS:
	@startDate		DATETIME,
	@endDate		DATETIME

	EXEC tas.Pr_CopyWorkplaceSwipeToStage '02/01/2021', '02/02/2021'		--Completes at around 30 mins

	SELECT * FROM tas.Tran_TempSwipeData a WITH (NOLOCK)
	WHERE a.DTSwipeLastProcessed = '2021-02-01 09:00:00.000'
		AND a.DTSwipeNewProcess = '2021-02-02 09:00:00.000'

	--Get the start and end process dates from the "System_Values" table
	SELECT	DT_SwipeLastProcessed, a.DT_SwipeNewProcess, a.DT_ShiftPatternLastUpdated, a.*
	FROM tas.System_Values a WITH (NOLOCK) 

*/
