/****************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.prInsertUpdateCurrentAttendance_V2
*	Description: Used to populate date in the attendance temporary table
*
*	Date			Author		Revision No.	Comments:
*	31/03/2016		Ervin		1.0				Created
*	07/04/2022		Ervin		1.1				Fetch the swipe data either from Main Gate or Workplace readers based on whether workplace swipe is enabled
*	10/04/2022		Ervin		1.2				Added union to "Vw_AdminBldgReaderSwipe" view
*	12/04/2022		Ervin		1.3				Fetch the Admin Bldg. reader swipe data from "frGetAdminReaderSwipe" function
****************************************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[prInsertUpdateCurrentAttendance_V2]  
(
	@action			VARCHAR(10),
	@processDate	DATETIME = NULL      	
)
AS                

	DECLARE @FromDAte	VARCHAR(50), 
			@ToDAte		VARCHAR(50) 

	IF UPPER(RTRIM(@action)) = 'INSERT'
	BEGIN 

		IF @processDate IS NULL
			SET @processDate = GETDATE()

		SELECT @FromDAte = tas.fmtDate_MinTimeOfDay_V2(@processDate)
		SELECT @ToDate = tas.fmtDate_MaxTimeOfDay_V2(@processDate)

		/****************************************** Start of Rev. #1.1  **************************************************************************/
		--Build the workplace swipe table whose data comes from the plant and Admin Building readers
		SELECT a.EmpNo, a.SwipeDate, a.SwipeDateTime AS DT, a.LocationCode, a.ReaderNo, a.EventCode, b.Effective_ShiftCode AS ShiftCode
		INTO #AttendaceTable
		FROM tas.Vw_WorkplaceReaderSwipe a WITH (NOLOCK)
			INNER JOIN tas.Tran_ShiftPatternUpdates b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.SwipeDate = b.DateX
		WHERE a.SwipeDate = @processDate
		GROUP BY a.EmpNo, a.SwipeDate, a.SwipeDateTime, a.LocationCode, a.ReaderNo, a.EventCode, b.Effective_ShiftCode

		--Start of Rev. #1.2
		UNION
        
		SELECT a.EmpNo, a.SwipeDate, a.SwipeDateTime AS DT, a.LocationCode, a.ReaderNo, a.EventCode, b.Effective_ShiftCode AS ShiftCode
		FROM tas.Vw_AdminBldgReaderSwipe a WITH (NOLOCK)
			INNER JOIN tas.Tran_ShiftPatternUpdates b WITH (NOLOCK) ON a.EmpNo = b.EmpNo AND a.SwipeDate = b.DateX
		WHERE a.SwipeDate = @processDate
		GROUP BY a.EmpNo, a.SwipeDate, a.SwipeDateTime, a.LocationCode, a.ReaderNo, a.EventCode, b.Effective_ShiftCode
		--End of Rev. #1.2

		SELECT a.EmpNo, a.SwipeDate, a.DT, a.LocationCode, a.ReaderNo, a.EventCode, 'A' AS 'Source',
			CASE WHEN a.ID%2 = 0 THEN 'OUT' 
				ELSE CASE WHEN a.SwipeCount = 1 AND RTRIM(a.ShiftCode) = 'N' THEN 'OUT' 
				ELSE CASE WHEN a.ID = a.SwipeCount AND a.SwipeCount > 1 THEN 'OUT' ELSE 'IN' END 
				END 
			END AS SwipeType,
			a.ShiftCode, a.ID, a.SwipeCount
		INTO #AttendaceTable2
		FROM
		(
			SELECT ROW_NUMBER() OVER (PARTITION BY EmpNo, SwipeDate ORDER BY DT) AS ID, 	
				COUNT(*) OVER (PARTITION BY EmpNo, SwipeDate) AS SwipeCount, 	
			* FROM #AttendaceTable	a	
			GROUP BY a.EmpNo, a.SwipeDate, a.DT,  a.LocationCode, a.ReaderNo, a.EventCode, a.ShiftCode
		) a
				
		SELECT a.EmpNo, a.SwipeDate, a.DT, a.LocationCode, a.ReaderNo, a.EventCode, a.[Source], a.SwipeType, a.ShiftCode, a.ID, a.SwipeCount   
		INTO #WorkplaceTable
		FROM #AttendaceTable2 a

		INSERT INTO tas.Master_EmployeeAttendance 
		(
			EmployeeNo, 
			AttendanceDate, 
			LocationCode, 
			ReaderNo, 
			EventCode, 
			[Source],
			SwipeType
		)
		SELECT * FROM
		(
			SELECT	DISTINCT 
					a.EmpNo, 
					CASE WHEN b.IsWorkplaceEnabled = 1 THEN c.DT ELSE a.DT END AS DT, 
					CASE WHEN b.IsWorkplaceEnabled = 1 THEN c.LocationCode ELSE a.LocationCode END AS LocationCode, 
					CASE WHEN b.IsWorkplaceEnabled = 1 THEN c.ReaderNo ELSE a.ReaderNo END AS ReaderNo, 
					CASE WHEN b.IsWorkplaceEnabled = 1 THEN c.EventCode ELSE a.EventCode END AS EventCode, 
					CASE WHEN b.IsWorkplaceEnabled = 1 THEN c.[Source] ELSE a.[Source] END AS 'Source',
					c.SwipeType
			FROM tas.Tran_SwipeData_dsx1 a
				CROSS APPLY
				(
					SELECT IsWorkplaceEnabled FROM tas.fnCheckWorkplaceEnabled(a.EmpNo)
				) b
				LEFT JOIN #WorkplaceTable c WITH (NOLOCK) ON a.EmpNo = c.EmpNo AND CONVERT(DATETIME, CONVERT(VARCHAR, a.DT, 12)) = c.SwipeDate
			WHERE a.DT BETWEEN @FromDAte AND @ToDate
		) a
		WHERE a.DT IS NOT NULL
		/*************************************************** End of Rev. #1.1 ******************************************************/
			
		UNION	 

		SELECT	EmpNo, 
				DATEADD(MINUTE, CONVERT(INT, SUBSTRING(timeIN, 3, 2)), DATEADD(hh, CONVERT(INT, SUBSTRING(timeIN, 1, 2)), dtIN)) AS 'DT', 
				-1 AS 'LocationCode', 
				-1 AS 'ReaderNo', 
				'' AS 'EventCode', 
				'' AS 'Source',
				'' AS SwipeType 
		FROM tas.Tran_ManualAttendance
		WHERE CONVERT(DATETIME, CONVERT(VARCHAR, DATEADD(MINUTE, CONVERT(INT, SUBSTRING(timeIN, 3, 2)), DATEADD(hh, CONVERT(INT, SUBSTRING(timeIN, 1, 2)), dtIN)), 12)) BETWEEN @FromDAte AND @ToDate
			
		UNION

		SELECT	EmpNo, 
				DATEADD(MINUTE, CONVERT(INT, SUBSTRING([timeOUT], 3, 2)), DATEADD(hh, CONVERT(INT, SUBSTRING([timeOUT], 1, 2)), dtOut)) AS 'DT', 
				-1 AS 'LocationCode', 
				-2 AS 'ReaderNo', 
				'' AS 'EventCode', 
				'' AS 'Source',
				'' AS SwipeType 
		FROM tas.Tran_ManualAttendance
		WHERE CONVERT(DATETIME, CONVERT(VARCHAR, DATEADD(MINUTE, CONVERT(INT, SUBSTRING([timeOUT], 3, 2)), DATEADD(hh, CONVERT(INT, SUBSTRING([timeOUT], 1, 2)), dtOut)), 12)) BETWEEN @FromDAte AND @ToDate

		-- Dropping temporary tables
		DROP TABLE #AttendaceTable
		DROP TABLE #AttendaceTable2
		DROP TABLE #WorkplaceTable
	END
	
	ELSE
	BEGIN
    
		DELETE FROM tas.Master_EmployeeAttendance
	END 


/*	Debugging:

	SELECT * FROM tas.Master_EmployeeAttendance

	exec tas.prInsertUpdateCurrentAttendance_V2 'insert', '04/09/2014'  
	exec tas.prInsertUpdateCurrentAttendance_V2 'delete'

*/
	