USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Pr_GetDutyROTAOnHoliday]    Script Date: 11/08/2020 12:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [tas].[Pr_GetDutyROTAOnHoliday]
(
	@LoadType	int,
	@StartDate	datetime,
	@EndDate	datetime
)

AS
	
	DECLARE @HolidayFrom datetime, @HolidayTo datetime
	SELECT	@HolidayFrom = CONVERT(datetime, '01/01/' + CONVERT(varchar(4), DATEPART(year,@StartDate))),
			@HolidayTo = CONVERT(datetime, '12/31/' + CONVERT(varchar(4), DATEPART(year,@StartDate)))

	IF (@LoadType = 0) --Based on @StartDate and @EndDate
	BEGIN 	
		SELECT * FROM
		(
			SELECT 
				a.AutoID,
				a.EmpNo,
				b.EmpName,
				f.[JobTitle],
				g.YAAN8 as SupervisorEmpNo,
				h.EmpName as SupervisorEmpName,
				a.businessunit as CostCenter,
				c.businessunitname as CostCenterName,
				DT,
				dtin,
				dtout,
				shiftpatcode,
				shiftcode,
				dil_entitlement,
				d.Effective_ShiftPatCode,
				d.Effective_ShiftPointer,
				d.Effective_ShiftCode,
				a.IsOnDutyRota,
				a.IsPublicHoliday,
				rtrim(e.HODESC) as HolidayDesc,
				a.Duration_Worked_Cumulative as DurationWorked,
				@HolidayFrom as HolidayFrom,
				@HolidayTo as HolidayTo,
				'DOW' = (select datename(dw, a.DT)),
				'DayOffType' = (select tas.fnCheckDayOff(datename(dw, a.DT), a.EmpNo, a.DT))
			FROM tas.tran_timesheet a
				INNER JOIN tas.master_Employee_JDE_VIew b on a.EmpNo = b.EmpNo 
				INNER JOIN tas.Master_BusinessUnit_JDE c on rtrim(a.BusinessUnit) = rtrim(c.BusinessUnit)
				INNER JOIN tas.tran_shiftpatternupdates d on a.EmpNo = d.EmpNo
				INNER JOIN 
				(
					select * from tas.syJDE_F55HOLID   
					where tas.ConvertFromJulian(HOHDT) between @HolidayFrom and @HolidayTo
					and rtrim(HOHLCD) in ('D','H')
				) e on a.dt = tas.ConvertFromJulian(e.HOHDT) 
				LEFT JOIN tas.Master_JobTitles_JDE f on a.EmpNo = f.EmpNo
				INNER JOIN [tas].[syJDE_F060116] g on a.EmpNo = g.YAAN8
				LEFT JOIN tas.master_Employee_JDE_VIew h on g.YAANPA = h.EmpNo 
			WHERE
				a.ShiftCode = 'O'
				and isnull(a.IsSalStaff,0) = 1
				and isnull(a.isdayworker_or_shifter,0) = 1
				and isnull(a.IsPublicHoliday,0) = 1
				and isnull(a.IsLastRow,0) = 1
				and isnull(a.IsOnDutyRota,0) = 1
				and a.DT = d.DateX
				and a.Duration_Worked_Cumulative >= 360
				and (isnull(a.DIL_Entitlement,'') = '' or isnull(a.DIL_Entitlement,'') = 'ES')
				and a.dt between @StartDate and @EndDate
		) tblMain
		WHERE 
			DayOffType in (1,2) --(Note: 1 => Friday/Saturday dayoff; 2 => Other dayoffs which is not Friday or Saturday)
		ORDER BY
			CostCenter, EmpNo, DT
	END
	ELSE BEGIN --Based on specific date
		SELECT * FROM
		(
			SELECT 
				a.AutoID,
				a.EmpNo,
				b.EmpName,
				f.[JobTitle],
				g.YAAN8 as SupervisorEmpNo,
				h.EmpName as SupervisorEmpName,
				a.businessunit as CostCenter,
				c.businessunitname as CostCenterName,
				dt,
				dtin,
				dtout,
				shiftpatcode,
				shiftcode,
				dil_entitlement,
				d.Effective_ShiftPatCode,
				d.Effective_ShiftPointer,
				d.Effective_ShiftCode,
				a.IsOnDutyRota,
				a.IsPublicHoliday,
				rtrim(e.HODESC) as HolidayDesc,
				DATEDIFF(mi,dtIn,dtOut) as DurationWorked,
				@HolidayFrom as HolidayFrom,
				@HolidayTo as HolidayTo,
				'DOW' = (select datename(dw, a.DT)),
				'DayOffType' = (select tas.fnCheckDayOff(datename(dw, a.DT), a.EmpNo, a.DT))
			FROM tas.tran_timesheet a
				INNER JOIN tas.master_Employee_JDE_VIew b on a.EmpNo = b.EmpNo 
				INNER JOIN tas.Master_BusinessUnit_JDE c on rtrim(a.BusinessUnit) = rtrim(c.BusinessUnit)
				INNER JOIN tas.tran_shiftpatternupdates d on a.EmpNo = d.EmpNo
				INNER JOIN 
				(
					select * from tas.syJDE_F55HOLID   
					where tas.ConvertFromJulian(HOHDT) between @HolidayFrom and @HolidayTo
					and rtrim(HOHLCD) in ('D','H')
				) e on a.dt = tas.ConvertFromJulian(e.HOHDT) 
				LEFT JOIN tas.Master_JobTitles_JDE f on a.EmpNo = f.EmpNo
				INNER JOIN [tas].[syJDE_F060116] g on a.EmpNo = g.YAAN8
				LEFT JOIN tas.master_Employee_JDE_VIew h on g.YAANPA = h.EmpNo 
			WHERE
				a.ShiftCode = 'O'
				and isnull(a.IsSalStaff,0) = 1
				and isnull(a.isdayworker_or_shifter,0) = 1
				and isnull(a.IsPublicHoliday,0) = 1
				and isnull(a.IsLastRow,0) = 1
				and isnull(a.IsOnDutyRota,0) = 1
				and a.DT = d.DateX
				and a.Duration_Worked_Cumulative >= 360
				and (isnull(a.DIL_Entitlement,'') = '' or isnull(a.DIL_Entitlement,'') = 'ES')
				and a.dt = @StartDate
		) tblMain
		WHERE 
			DayOffType in (1,2)	--(Note: 1 => Friday/Saturday dayoff; 2 => Other dayoffs which is not Friday or Saturday)
		ORDER BY
			CostCenter, EmpNo, DT
	END
