USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[prTimesheet_CopyWorkingData]    Script Date: 08/08/2020 18:25:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/********************************************************************************************************************************

Store Procedure Name			:	tas.prTimesheet_CopyWorkingData
Description						:	This stored procedure is used to copy data to temporary tables for proccesing
Created By						:	Zaharan Haleed
Date Created					:	12 December 2011

Revision History:
	1.0					Zaharan			2011.12.12 08:36
	Created

	1.1					Ervin			2015.07.14 11:46
	Implemented the logic in consolodating the swipe data at the main gate and workplace readers

	1.2					Ervin			2015.08.18 10:55
	Added code to save processed swipe records into "Tran_TempSwipeData" table

************************************************************************************************************************************/

ALTER PROCEDURE [tas].[prTimesheet_CopyWorkingData]	
AS
BEGIN

	--SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
	SET NOCOUNT ON;

	--Delete data from temporary Tran_Timesheet table
    DELETE FROM tas.tmp_Tran_Timesheet

	--Insert new data to temporary Tran_Timesheet table for processing
	INSERT INTO tas.tmp_Tran_Timesheet 
	(
		TS_AutoID,EmpNo, DT, dtIN, dtOUT, ShiftPatCode, ShiftCode, Actual_ShiftCode, ShiftAllowance, 
		OTType, OTStartTime, OTEndTime, NoPayHours, BusinessUnit, GradeCode, AbsenceReasonCode, LeaveType, RemarkCode, DIL_Entitlement, 
		AbsenceReasonColumn, CorrectionCode, Processed, OnCallOut, OnDuty, ShiftSpanDate, ShiftSpan, ProcessID, 
		LastUpdateUser, LastUpdateTime, XXXXXXXXXXXX_100, JobCategoryCode, isMuslim, isRamadan, IsPublicHoliday, IsDILdayWorker, 
		XXXXXXXXXXXX_200, In1, In2, Out1, Out2, Sch_A2, Sch_D1, Is_InOut_in_Shaving, XXXXXXXXXXXX_300, dtA1, dtA2, dtD1, dtD2, 
		XXXXXXXXXXXX_400, Shaved_IN, Shaved_OUT, XXXXXXXXXXXX_500,IsEmployee_OR_Contractor, IsResigned, IsSalStaff, IsDayWorker_OR_Shifter, 
		IsDriver, IsLiasonOfficer, IsHedger, IsOnDutyRota, ContractorGroupCode, XXXXXXXXXXXX_600, IsLastRow, Duration_SubID, Duration_Shift, 
		Duration_MaternityLeave, Duration_ROA, Duration_Required, Duration_Worked, Duration_Worked_Cumulative, XXXXXXXXXXXX_700, 
		SwipeSource, XXXXXXXXXXXX_800, Duration_ShiftAllowance_Evening, Duration_ShiftAllowance_Night, XXXXXXXXXXXX_900, ShiftSpan_XID, 
		ShiftSpan_HoursDay1, ShiftSpan_HoursDay2, ShiftSpan_AwardOT, ShiftSpan_2ndDayFullOT, XXXXXXXXXXXX_1000, NetMinutes, Upload_ID	
	) 
	SELECT * FROM tas.vuTran_Timesheet1_Read  
	ORDER BY EmpNo DESC, DT DESC 

	--Delete all data in the temporary swipe data table
	TRUNCATE TABLE tas.tmp_Tran_SwipeData_dsx


	/*******************************************************************************************
		Revision #1.1 - Process the swipe data at the workplace readers
	********************************************************************************************/

	DECLARE @DTSwipeLastProcessed datetime,	
			@DTSwipeNewProcess datetime

	SELECT	@DTSwipeLastProcessed = DT_SwipeLastProcessed,	
			@DTSwipeNewProcess = DT_SwipeNewProcess
	FROM tas.System_Values

	--Insert data into the temporary swipe data table
	INSERT INTO tas.tmp_Tran_SwipeData_dsx 

	--Old logic in fetching the swipe records
	SELECT * FROM tas.Tran_SwipeData_dsx4  
	ORDER BY EmpNo DESC, DT DESC, Direction DESC 

	--Get the processed swipe data from the TVF
	--SELECT EmpNo, DT, LocationCode, ReaderNo, EventCode, Direction, SwipeSource 
	--FROM tas.fnGetProcessedSwipeData(@DTSwipeLastProcessed, @DTSwipeNewProcess, 0, '') 
	--WHERE DT IS NOT NULL
	--ORDER BY EmpNo, DT DESC, Direction DESC
	/********************************* End of Rev. #1.1 ***************************************/


	/*******************************************************************************************
		Revision #1.2 - Insert processed swipe data into "Tran_TempSwipeData" table
	********************************************************************************************/	
	INSERT INTO tas.Tran_TempSwipeData 
	(
		EmpNo,
		DTSwipeLastProcessed,
		DTSwipeNewProcess,
        DT,
        LocationCode,
        ReaderNo,
        EventCode,
        Direction,
        SwipeSource,
        UseWorkplaceSwipe,
        HasWorkplaceSwipe,
		CreatedDate,
		CreatedByUser
	)
	SELECT	EmpNo, 
			@DTSwipeLastProcessed,
			@DTSwipeNewProcess,
			DT, 
			LocationCode, 
			ReaderNo, 
			EventCode, 
			Direction, 
			SwipeSource,
			UseWorkplaceSwipe,
			HasWorkplaceSwipe,
			GETDATE() AS CreatedDate,
			'System Admin' AS CreatedByUser 
	FROM tas.fnGetProcessedSwipeData(@DTSwipeLastProcessed, @DTSwipeNewProcess, 0, '') 	
	ORDER BY EmpNo, DT DESC, Direction DESC
	/********************************* End of Rev. #1.2 ***************************************/

	TRUNCATE TABLE tas.tmp_SA

END


