/*******************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_AutoApproveOvertime_V2
*	Description: This stored procedure is used to remove OT records in "Tran_Timesheet_Extra" table and then enable it on "Tran_Timesheet" table
*
*	Date:			Author:		Rev#:		Comments:
*	29/06/2016		Ervin		1.0			Created
*	08/05/2017		Ervin		1.1			Modified the filter condition in @actionType = 2
*******************************************************************************************************************************************************************/

ALTER PROCEDURE [tas].[Pr_AutoApproveOvertime_V2]
(
	@actionType		INT,	--(Note: 1 = Auto Approve OT in Timesheet; 2 = Restore OT for Approval; 3 = Disable auto approved OT in Timesheet)
	@startDate		DATETIME,
	@endDate		DATETIME,
	@empNo			INT = 0,
	@costCenter		VARCHAR(12) = ''
)
AS
		
	--Define constants
	DECLARE @CONST_RETURN_OK		int,
			@CONST_RETURN_ERROR		int		

	--Initialize constants
	SELECT	@CONST_RETURN_OK		= 0,
			@CONST_RETURN_ERROR		= -1

	--Define variables
	DECLARE @rowsAffected			int,
			@hasError				bit,
			@retError				int,
			@retErrorDesc			varchar(200)			

	--Initialize variables
	SELECT	@rowsAffected			= 0,
			@hasError				= 0,
			@retError				= @CONST_RETURN_OK,
			@retErrorDesc			= ''

	--Validate parameters
	IF ISNULL(@empNo, 0) = 0
		SET @empNo = NULL

	IF ISNULL(@costCenter, '') = ''
		SET @costCenter = NULL

	BEGIN TRY

		--Start a transaction
		BEGIN TRANSACTION

		IF @actionType = 1		--Auto approve OT (Remove OT in "Tran_Timesheet_Extra" table)
		BEGIN

			--Remove existing records in "Tran_Timesheet_OTRemoved" table 
			IF EXISTS 
			(
				SELECT a.AutoID 
				FROM tas.Tran_Timesheet_OTRemoved a
				WHERE a.OTDate BETWEEN @startDate AND @endDate
					AND (a.EmpNo = @empNo OR @empNo IS NULL)
					AND (RTRIM(a.CostCenter) = RTRIM(@costCenter) OR @costCenter IS NULL)
			)
			BEGIN

				DELETE FROM tas.Tran_Timesheet_OTRemoved 
				WHERE OTDate BETWEEN @startDate AND @endDate
					AND (EmpNo = @empNo OR @empNo IS NULL)
					AND (RTRIM(CostCenter) = RTRIM(@costCenter) OR @costCenter IS NULL)
			END

			--Insert OT records to be removed in "Tran_Timesheet_OTRemoved" table
			INSERT INTO tas.Tran_Timesheet_OTRemoved
			(
				[TS_AutoID]
				,[XID_AutoID]
				,[EmpNo]
				,[OTDate]
				,[CostCenter]
				,[OTStartTime]
				,[OTEndTime]
				,[OTType]
				,[OTSourceID]
				,[OTSourceDesc]
				,[CreatedDate]
				,[CreatedByUserID]
			)
			SELECT 
				a.AutoID AS TS_AutoID, 
				b.XID_AutoID, 
				a.EmpNo,
				a.DT AS OTDate,			
				a.BusinessUnit AS CostCenter, 
				b.OTStartTime,
				b.OTEndTime,
				b.OTType,
				2 AS OTSourceID,
				'Tran_Timesheet_Extra' AS OTSourceDesc,
				GETDATE() AS CreatedDate, 
				'TASAdmin' AS CreatedByUserID
			FROM tas.tran_timesheet a
				INNER JOIN tas.Tran_Timesheet_Extra b on a.AutoID = b.XID_AutoID
			WHERE 		
				a.EmpNo > 10000000 
				AND a.DT BETWEEN @startDate AND @endDate
				AND a.IsLastRow = 1
				AND (b.OTstartTime IS NOT NULL AND b.OTendTime IS NOT NULL)
				AND (a.EmpNo = @empNo OR @empNo IS NULL)
				AND (RTRIM(a.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)
			ORDER BY AutoID

			--Get the number of rows inserted 
			SET @rowsAffected = @@ROWCOUNT

			IF @rowsAffected > 0
			BEGIN

				--Set overtime records in "Tran_Timesheet" table to be auto approved
				UPDATE tas.Tran_Timesheet
				SET tas.Tran_Timesheet.OTStartTime = b.OTStartTime,
					tas.Tran_Timesheet.OTEndTime = b.OTEndTime,
					tas.Tran_Timesheet.OTType = b.OTType,
					tas.Tran_Timesheet.AbsenceReasonColumn = CASE WHEN b.OTType = 'P' THEN 'CAL HOL' ELSE NULL END,		--Rev. 1.2
					tas.Tran_Timesheet.LastUpdateUser = 'System Admin',
					tas.Tran_Timesheet.LastUpdateTime = GETDATE(),
					Processed = 0
				FROM tas.Tran_Timesheet a
					INNER JOIN tas.Tran_Timesheet_Extra b ON a.AutoID = b.XID_AutoID
				WHERE 
					a.EmpNo > 10000000 
					AND a.DT BETWEEN @startDate AND @endDate
					AND a.IsLastRow = 1
					AND (b.OTstartTime IS NOT NULL AND b.OTendTime IS NOT NULL)
					AND (a.EmpNo = @empNo OR @empNo IS NULL)
					AND (RTRIM(a.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)

				--Get the number of rows updated
				SET @rowsAffected = @@ROWCOUNT

				IF @rowsAffected > 0
				BEGIN
			
					--Disable overtime records in "Tran_Timesheet_Extra" table
					UPDATE tas.Tran_Timesheet_Extra
					SET tas.Tran_Timesheet_Extra.OTStartTime = NULL,
						tas.Tran_Timesheet_Extra.OTEndTime = NULL,
						tas.Tran_Timesheet_Extra.OTType = NULL,
						tas.Tran_Timesheet_Extra.LastUpdateUser = 'TASAdmin',
						tas.Tran_Timesheet_Extra.LastUpdateTime = GETDATE()
					FROM tas.Tran_Timesheet_Extra a
						INNER JOIN tas.Tran_Timesheet b ON a.XID_AutoID = b.AutoID 
					WHERE 
						b.EmpNo > 10000000 
						AND b.DT BETWEEN @startDate AND @endDate
						AND b.IsLastRow = 1
						AND (a.OTstartTime IS NOT NULL AND a.OTendTime IS NOT NULL)
						AND (b.EmpNo = @empNo OR @empNo IS NULL)
						AND (RTRIM(b.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)
				END

				ELSE
				BEGIN

					--Exit the process then throw error message to the calling application
					SELECT	@hasError = 1,
							@retError = @CONST_RETURN_ERROR,
							@retErrorDesc = 'Overtime records were not updated in Tran_Timesheet table.'
				
					GOTO EXIT_POINT
				END
			END

			ELSE 
			BEGIN

				--Exit the process then throw error message to the calling application
				SELECT	@hasError = 1,
						@retError = @CONST_RETURN_ERROR,
						@retErrorDesc = 'No record has been updated in the Tran_Timesheet_OTRemoved table.'
				
				GOTO EXIT_POINT
			END
		END
	
		ELSE IF @actionType = 2		--Restore OT to "Tran_Timesheet_Extra" for approval
		BEGIN

			IF EXISTS 
			(
				SELECT AutoID FROM tas.Tran_Timesheet_OTRemoved WHERE OTDate BETWEEN @startDate AND @endDate
			)
			BEGIN

				--Remove overtime records in "Tran_Timesheet" table 
				UPDATE tas.Tran_Timesheet
				SET tas.Tran_Timesheet.OTStartTime = NULL,
					tas.Tran_Timesheet.OTEndTime = NULL,
					tas.Tran_Timesheet.OTType = NULL,
					tas.Tran_Timesheet.AbsenceReasonColumn = NULL,
					tas.Tran_Timesheet.LastUpdateUser = 'System Admin',
					tas.Tran_Timesheet.LastUpdateTime = GETDATE(),
					tas.Tran_Timesheet.Processed = 0
				FROM tas.Tran_Timesheet a
					LEFT JOIN tas.Tran_Timesheet_OTRemoved b ON a.AutoID = b.TS_AutoID
				WHERE 
					a.EmpNo > 10000000 					
					AND a.IsLastRow = 1
					AND (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL)
					AND 
					(
						b.OTDate BETWEEN @startDate AND @endDate
						OR
                        a.DT BETWEEN @startDate AND @endDate	--Rev. #1.1
					)
					AND (a.EmpNo = @empNo OR @empNo IS NULL)
					AND (RTRIM(a.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)

				--Get the number of rows updated 
				SET @rowsAffected = @@ROWCOUNT

				IF @rowsAffected > 0
				BEGIN

					IF EXISTS
                    (
						SELECT a.XID_AutoID
						FROM tas.Tran_Timesheet_Extra a
							INNER JOIN tas.Tran_Timesheet_OTRemoved b ON a.XID_AutoID = b.XID_AutoID 
						WHERE 
							(b.OTStartTime IS NOT NULL AND b.OTEndTime IS NOT NULL)
							AND 
							(
								b.OTDate BETWEEN @startDate AND @endDate
							)
							AND (b.EmpNo = @empNo OR @empNo IS NULL)
							AND (RTRIM(b.CostCenter) = RTRIM(@costCenter) OR @costCenter IS NULL)
					)
					BEGIN
                    
						--Restore OT records in Tran_Timesheet_Extra
						UPDATE tas.Tran_Timesheet_Extra
						SET tas.Tran_Timesheet_Extra.OTStartTime = b.OTStartTime,
							tas.Tran_Timesheet_Extra.OTEndTime = b.OTEndTime,
							tas.Tran_Timesheet_Extra.OTType = b.OTType,
							tas.Tran_Timesheet_Extra.LastUpdateUser = 'TASAdmin',
							tas.Tran_Timesheet_Extra.LastUpdateTime = GETDATE()
						FROM tas.Tran_Timesheet_Extra a
							INNER JOIN tas.Tran_Timesheet_OTRemoved b ON a.XID_AutoID = b.XID_AutoID 
						WHERE 
							(b.OTStartTime IS NOT NULL AND b.OTEndTime IS NOT NULL)
							AND 
							(
								b.OTDate BETWEEN @startDate AND @endDate
							)
							AND (b.EmpNo = @empNo OR @empNo IS NULL)
							AND (RTRIM(b.CostCenter) = RTRIM(@costCenter) OR @costCenter IS NULL)

						--Get the number of rows updated 
						SET @rowsAffected = @@ROWCOUNT

						IF @rowsAffected > 0
						BEGIN

							--Remove records in "Tran_Timesheet_OTRemoved"
							DELETE FROM tas.Tran_Timesheet_OTRemoved 
							WHERE OTDate BETWEEN @startDate AND @endDate
								AND (EmpNo = @empNo OR @empNo IS NULL)
								AND (RTRIM(CostCenter) = RTRIM(@costCenter) OR @costCenter IS NULL)
						END

						ELSE
						BEGIN

							--Exit the process then throw error message to the calling application
							SELECT	@hasError = 1,
									@retError = @CONST_RETURN_ERROR,
									@retErrorDesc = 'Overtime records were not restored in Tran_Timesheet_Extra table. (inner)'
				
							GOTO EXIT_POINT
						END
					END 
				END

				ELSE
				BEGIN

					--Exit the process then throw error message to the calling application
					SELECT	@hasError = 1,
							@retError = @CONST_RETURN_ERROR,
							@retErrorDesc = 'Overtime records were not updated in Tran_Timesheet table. (outer)'
				
					GOTO EXIT_POINT
				END
			END
		END

		ELSE IF @actionType = 3	--Insert records to "Tran_Timesheet_OTRemoved" table (First step in removing auto approved OT in Timesheet) 
		BEGIN

			IF NOT EXISTS 
			(
				SELECT AutoID FROM tas.Tran_Timesheet_OTRemoved WHERE OTDate BETWEEN @startDate AND @endDate
			)
			BEGIN

				--Insert OT records to be removed in "Tran_Timesheet_OTRemoved" table
				INSERT INTO tas.Tran_Timesheet_OTRemoved
				(
					[TS_AutoID]
					,[XID_AutoID]
					,[EmpNo]
					,[OTDate]
					,[CostCenter]
					,[OTStartTime]
					,[OTEndTime]
					,[OTType]
					,[OTSourceID]
					,[OTSourceDesc]
					,[CreatedDate]
					,[CreatedByUserID]
				)
				SELECT 
					a.AutoID AS TS_AutoID, 
					NULL AS XID_AutoID, 
					a.EmpNo,
					a.DT AS OTDate,			
					a.BusinessUnit AS CostCenter, 
					a.OTStartTime,
					a.OTEndTime,
					a.OTType,
					1 AS OTSourceID,
					'Tran_Timesheet' AS OTSourceDesc,
					GETDATE() AS CreatedDate, 
					'TASAdmin' AS CreatedByUserID
				FROM tas.tran_timesheet a
				WHERE 		
					a.EmpNo > 10000000 
					AND a.DT BETWEEN @startDate AND @endDate
					AND a.IsLastRow = 1
					AND (a.OTstartTime IS NOT NULL AND a.OTendTime IS NOT NULL)
					AND (a.EmpNo = @empNo OR @empNo IS NULL)
					AND (RTRIM(a.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)
				ORDER BY AutoID
			END

			--Get the number of rows inserted 
			SET @rowsAffected = @@ROWCOUNT

			IF @rowsAffected > 0
			BEGIN

				IF NOT EXISTS 
				(
					SELECT XID_AutoID FROM tas.Tran_Timesheet_Extra 
					WHERE XID_AutoID IN
					(
						SELECT AutoID 
						FROM tas.Tran_Timesheet a
						WHERE a.DT BETWEEN @startDate AND @endDate
							AND a.IsLastRow = 1
							AND (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL)
							AND (a.EmpNo = @empNo OR @empNo IS NULL)
							AND (RTRIM(a.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)
					)
				)
				BEGIN

					--Insert OT records in "Tran_Timesheet_Extra" table
					INSERT INTO tas.Tran_Timesheet_Extra
					(
						[XID_AutoID]
						,[OTstartTime]
						,[OTendTime]
						,[OTtype]
						,[Approved]
						,[LastUpdateUser]
						,[LastUpdateTime]
						,[Comment]
						,[OTApproved]
						,[OTReason]
					)
					SELECT	a.AutoID,
							a.OTStartTime,
							a.OTEndTime,
							a.OTType,
							0 AS Approved,
							'System Admin' AS LastUpdateUser,
							GETDATE() AS LastUpdateTime,
							NULL AS Comment,
							0 AS OTApproved,
							NULL AS OTReason
					FROM tas.Tran_Timesheet a
					WHERE a.DT BETWEEN @startDate AND @endDate
						AND a.IsLastRow = 1
						AND (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL)
						AND (a.EmpNo = @empNo OR @empNo IS NULL)
						AND (RTRIM(a.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)

					--Get the number of rows updated
					SET @rowsAffected = @@ROWCOUNT

					IF @rowsAffected > 0
					BEGIN

						--Remove overtime records in "Tran_Timesheet" table 
						UPDATE tas.Tran_Timesheet
						SET OTStartTime = NULL,
							OTEndTime = NULL,
							tas.Tran_Timesheet.OTType = NULL,
							--AbsenceReasonColumn = NULL,
							LastUpdateUser = 'System Admin',
							LastUpdateTime = GETDATE(),
							Processed = 0
						FROM tas.Tran_Timesheet a
						WHERE 
							a.DT BETWEEN @startDate AND @endDate
							AND a.IsLastRow = 1
							AND (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL)
							AND (a.EmpNo = @empNo OR @empNo IS NULL)
							AND (RTRIM(a.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)

						--Get the number of rows updated 
						SET @rowsAffected = @@ROWCOUNT
					END

					ELSE
					BEGIN

						--Exit the process then throw error message to the calling application
						SELECT	@hasError = 1,
								@retError = @CONST_RETURN_ERROR,
								@retErrorDesc = 'Overtime records were not inserted to Tran_Timesheet_Extra table.'
				
						GOTO EXIT_POINT
					END
				END
			END

			ELSE 
			BEGIN

				--Exit the process then throw error message to the calling application
				SELECT	@hasError = 1,
						@retError = @CONST_RETURN_ERROR,
						@retErrorDesc = 'No record has been inserted in Tran_Timesheet_OTRemoved table.'
				
				GOTO EXIT_POINT
			END
		END

		ELSE IF @actionType = 4	--Disable auto approved OT in "Tran_Timesheet" then insert records to "Tran_Timesheet_Extra" for approval
		BEGIN

			IF EXISTS 
			(
				SELECT a.AutoID 
				FROM tas.Tran_Timesheet a
				WHERE a.DT BETWEEN @startDate AND @endDate
					AND a.IsLastRow = 1
					AND (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL)
					AND NOT EXISTS
					(
						SELECT XID_AutoID FROM tas.Tran_Timesheet_Extra
						WHERE XID_AutoID = a.AutoID
					)
					AND (a.EmpNo = @empNo OR @empNo IS NULL)
					AND (RTRIM(a.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)
			)
			BEGIN

				--Insert OT records to "Tran_Timesheet_Extra" table
				INSERT INTO tas.Tran_Timesheet_Extra
				(
					[XID_AutoID]
					,[OTstartTime]
					,[OTendTime]
					,[OTtype]
					,[Approved]
					,[LastUpdateUser]
					,[LastUpdateTime]
					,[Comment]
					,[OTApproved]
					,[OTReason]
				)
				SELECT	a.AutoID,
						a.OTStartTime,
						a.OTEndTime,
						a.OTType,
						0 AS Approved,
						'System Admin' AS LastUpdateUser,
						GETDATE() AS LastUpdateTime,
						NULL AS Comment,
						0 AS OTApproved,
						NULL AS OTReason
				FROM tas.Tran_Timesheet a
				WHERE 
					a.DT BETWEEN @startDate AND @endDate
					AND a.IsLastRow = 1
					AND (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL)
					AND NOT EXISTS
					(
						SELECT XID_AutoID FROM tas.Tran_Timesheet_Extra
						WHERE XID_AutoID = a.AutoID
					)
					AND (a.EmpNo = @empNo OR @empNo IS NULL)
					AND (RTRIM(a.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)

				--Get the number of rows inserted 
				SET @rowsAffected = @@ROWCOUNT												

				IF @rowsAffected > 0
				BEGIN

					--Remove overtime records in "Tran_Timesheet" table 
					UPDATE tas.Tran_Timesheet
					SET OTStartTime = NULL,
						OTEndTime = NULL,
						tas.Tran_Timesheet.OTType = NULL,
						--tas.Tran_Timesheet.AbsenceReasonColumn = NULL,
						LastUpdateUser = 'System Admin',
						LastUpdateTime = GETDATE(),
						Processed = 0
					FROM tas.Tran_Timesheet a
					WHERE 
						a.DT BETWEEN @startDate AND @endDate
						AND a.IsLastRow = 1
						AND (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL)
						AND NOT EXISTS
						(
							SELECT XID_AutoID FROM tas.Tran_Timesheet_Extra
							WHERE XID_AutoID = a.AutoID
						)
						AND (a.EmpNo = @empNo OR @empNo IS NULL)
						AND (RTRIM(a.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)

					--Get the number of rows updated 
					SET @rowsAffected = @@ROWCOUNT
				END

				ELSE
				BEGIN

					--Exit the process then throw error message to the calling application
					SELECT	@hasError = 1,
							@retError = @CONST_RETURN_ERROR,
							@retErrorDesc = 'Overtime records were not inserter to Tran_Timesheet_Extra table.'
				
					GOTO EXIT_POINT
				END
			END
		END

	END TRY

	BEGIN CATCH

		--Capture the error
		SELECT	@retError = CASE WHEN ERROR_NUMBER() > 0 THEN ERROR_NUMBER() ELSE @CONST_RETURN_ERROR END,
				@retErrorDesc = ERROR_MESSAGE(),
				@hasError = 1

	END CATCH

EXIT_POINT:

	IF @retError = @CONST_RETURN_OK
	BEGIN

		IF @@TRANCOUNT > 0
			COMMIT TRANSACTION;		
	END

	ELSE
	BEGIN

		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION
	END

	IF ISNULL(@hasError, 0) = 0 
	BEGIN

		--Return overtime records
		SELECT	
			@hasError AS HasError, 
			@retError AS ErrorCode, 
			@retErrorDesc AS ErrorDescription,
			@rowsAffected AS RowsAffected,
			b.DT, 
			b.BusinessUnit, 
			e.BusinessUnitName,
			b.EmpNo, 
			d.EmpName,
			b.ShiftPatCode, 
			b.ShiftCode,
			b.dtIN,
			b.dtOUT,
			b.OTStartTime AS TS_OTStartTime,
			b.OTEndTime AS TS_OTEndTime,
			b.OTType AS TS_OTType,
			a.OTStartTime AS TE_OTStartTime,
			a.OTEndTime AS TE_OTEndTime,
			a.OTType AS TE_OTType,
			ROUND((CONVERT(FLOAT, (CASE WHEN b.OTStartTime IS NOT NULL AND b.OTEndTime IS NOT NULL THEN DATEDIFF(n,  b.OTStartTime, b.OTEndTime) ELSE DATEDIFF(n,  a.OTStartTime, a.OTEndTime) END)) / 60), 2) AS OTHours,
			(CASE WHEN b.OTStartTime IS NOT NULL AND b.OTEndTime IS NOT NULL THEN DATEDIFF(n,  b.OTStartTime, b.OTEndTime) ELSE DATEDIFF(n,  a.OTStartTime, a.OTEndTime) END) AS OTMins,
			b.AbsenceReasonColumn,
			b.LastUpdateUser AS TS_LastUpdateUser,
			b.LastUpdateTime AS TS_LastUpdateTime,
			a.LastUpdateUser AS TE_LastUpdateUser,
			a.LastUpdateTime AS TE_LastUpdateTime
		FROM tas.Tran_Timesheet_Extra a
			INNER JOIN tas.Tran_Timesheet b ON a.XID_AutoID = b.AutoID
			LEFT JOIN tas.Master_OTReasons_JDE c ON RTRIM(a.OTReason) = RTRIM(c.CODE)
			LEFT JOIN tas.Master_Employee_JDE_View d ON b.EmpNo = d.EmpNo
			LEFT JOIN tas.Master_BusinessUnit_JDE e ON RTRIM(b.BusinessUnit) = RTRIM(e.BusinessUnit)		
		WHERE 
			b.DT BETWEEN @startDate AND @endDate
			AND b.IsLastRow = 1
			--AND (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL)
			AND (b.EmpNo = @empNo OR @empNo IS NULL)
			AND (RTRIM(b.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)
		ORDER BY b.DT, b.BusinessUnit, b.EmpNo
	END

	ELSE 
	BEGIN
		
		--Return error information to the caller
		SELECT	@hasError AS HasError, 
				@retError AS ErrorCode, 
				@retErrorDesc AS ErrorDescription,
				@rowsAffected AS RowsAffected
	END

