/***********************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_Get_Permitted_CostCenter_V2
*	Description: Retrieves the cost center permission given to a user
*
*	Date:			Author:		Rev. #:		Comments:
*	06/12/2015		Ervin		1.0			Created
*	11/12/2015		Ervin		1.1			Get the employee's cost center wherein he/she is the Superintendent or Dept. Manager
*	25/08/2016		Ervin		1.2			Commented code that return the employee's cost center

*************************************************************************************************************************************************/


ALTER PROCEDURE tas.Pr_Get_Permitted_CostCenter_V2
(
	@empNo		INT,
	@appCode	VARCHAR(10)
)
AS

	DECLARE	@userCostCenter VARCHAR(12)
	
	SELECT @userCostCenter = RTRIM(BusinessUnit)
	FROM tas.Master_Employee_JDE_View 
	WHERE EmpNo = @empNo

	SELECT DISTINCT PermitEmpNo, PermitCostCenter
	FROM
	(
		--Get the allowed cost center setup in Common Admin System
		SELECT	a.PermitEmpNo,
				a.PermitCostCenter 
		FROM tas.syJDE_PermitCostCenter a
			INNER JOIN tas.syJDE_UserDefinedCode b on a.PermitAppID = b.UDCID
		WHERE RTRIM(b.UDCCode) = @appCode
			AND PermitEmpNo = @empNo

		--Start Rev. #1.2
		/*
		UNION
		--Get the employee's cost center
		SELECT	@empNo AS PermitEmpNo,
				@userCostCenter AS PermitCostCenter
		*/
		--End Rev. #1.2

		UNION

		--Get all cost centers wherein the employee is either the Superintendent or Cost Center Manager
		SELECT	@empNo AS PermitEmpNo, 
				a.BusinessUnit AS PermitCostCenter
		FROM tas.Master_BusinessUnit_JDE a
		WHERE a.CostCenterManager = @empNo
			OR a.Superintendent = @empNo
	) a


/*	Debugging:

	exec tas.Pr_Get_Permitted_CostCenter_V2 10003653, 'TAS3'

*/

