USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[Payroll_Validation_ControlTotals_for_JDE_support]    Script Date: 23/03/2017 15:08:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
ALTER  procedure [tas].[Payroll_Validation_ControlTotals_for_JDE_support] as 
-- Payroll_Validation_ControlTotals_for_JDE_support
----------------------------------------------------------------------------------
if object_ID ('tmp_CHK_JDE_TS')    	is not null drop table tmp_CHK_JDE_TS
if object_ID ('tmp_CHK_JDE_summry') 	is not null drop table tmp_CHK_JDE_summry
if object_ID ('tmp_CHK_JDE_pdba010') 	is not null drop table tmp_CHK_JDE_pdba010
if object_ID ('tmp_CHK_JDE_pdba020') 	is not null drop table tmp_CHK_JDE_pdba020
if object_ID ('tmp_CHK_JDE_pdba030') 	is not null drop table tmp_CHK_JDE_pdba030
if object_ID ('tmp_CHK_JDE_pdba095') 	is not null drop table tmp_CHK_JDE_pdba095
if object_ID ('tmp_CHK_JDE_pdba100A') 	is not null drop table tmp_CHK_JDE_pdba100A
if object_ID ('tmp_CHK_JDE_pdba100B') 	is not null drop table tmp_CHK_JDE_pdba100B
if object_ID ('tmp_CHK_JDE_pdba505') 	is not null drop table tmp_CHK_JDE_pdba505
if object_ID ('tmp_CHK_JDE_pdba506') 	is not null drop table tmp_CHK_JDE_pdba506
if object_ID ('tmp_CHK_JDE_pdba510') 	is not null drop table tmp_CHK_JDE_pdba510
if object_ID ('tmp_CHK_JDE_pdba511') 	is not null drop table tmp_CHK_JDE_pdba511
if object_ID ('tmp_CHK_JDE_pdba105') 	is not null drop table tmp_CHK_JDE_pdba105
if object_ID ('tmp_CHK_JDE_pdba106') 	is not null drop table tmp_CHK_JDE_pdba106
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_pdba010] (
	[txt] [varchar] (13) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[autoid] [int] NULL ,
	[dt] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[empno] [int] NULL ,
	[ot1] [datetime] NULL ,
	[ot2] [datetime] NULL ,
	[OT] [numeric](17, 6) NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_pdba020] (
	[txt] [varchar] (25) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[autoid] [int] NOT NULL ,
	[dt] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[empno] [int] NOT NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_pdba030] (
	[txt] [varchar] (27) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[autoid] [int] NOT NULL ,
	[dt] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[empno] [int] NOT NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_pdba095] (
	[txt] [varchar] (32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[autoid] [int] NOT NULL ,
	[dt] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[empno] [int] NOT NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_pdba100A] (
	[txt] [varchar] (26) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[autoid] [int] NOT NULL ,
	[dt] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[empno] [int] NOT NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_pdba100B] (
	[txt] [varchar] (39) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[autoid] [int] NOT NULL ,
	[dt] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[empno] [int] NOT NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_pdba505] (
	[txt] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[autoid] [int] NOT NULL ,
	[dt] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[empno] [int] NOT NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_pdba506] (
	[txt] [varchar] (26) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[autoid] [int] NOT NULL ,
	[dt] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[empno] [int] NOT NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_pdba510] (
	[txt] [varchar] (12) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[autoid] [int] NOT NULL ,
	[dt] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[empno] [int] NOT NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_pdba511] (
	[txt] [varchar] (23) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[autoid] [int] NOT NULL ,
	[dt] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[empno] [int] NOT NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_pdba105] (
	[txt] [varchar] (23) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[autoid] [int] NOT NULL ,
	[dt] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[empno] [int] NOT NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_pdba106] (
	[txt] [varchar] (23) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[autoid] [int] NOT NULL ,
	[dt] [varchar] (11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[empno] [int] NOT NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_summry] (
	[PDBA] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PDBA_Name] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TAS_cnt] [int] NULL ,
	[Diff_TAS] [int] NULL ,
	[JDE_cnt] [int] NULL ,
	[Diff_JDE] [int] NULL ,
	[Diff] [int] NULL 
) ON [PRIMARY]
----------------------------------------------------------------------------------
CREATE TABLE [tmp_CHK_JDE_TS] (
	[autoid] [int] NOT NULL ,
	[dt] [datetime] NULL ,
	[empno] [int] NOT NULL ,
	[grd] [int] NULL ,
	[OT1] [datetime] NULL ,
	[OT2] [datetime] NULL ,
	[nph] [int] NULL ,
	[rem] [char] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[E] [int] NULL ,
	[N] [int] NULL ,
	[Pub] [bit] NULL ,
	[DILdw] [bit] NULL ,
	[DW] [bit] NULL ,
	[sh] [char] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BU] [char] (12) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[MinsWorked] [int] NULL ,
	[YAP005] [char] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[IsLastRow] [bit] NULL 
) ON [PRIMARY]
------------------------------END------------------------------

