USE [tas2]
GO
/****** Object:  StoredProcedure [tas].[prTimesheet_Refresh_Master_Employee_JDE]    Script Date: 14/12/2020 09:47:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Zaharan Haleed
-- Create date: 12/12/2011
-- Description:	Download master employee from JDE
-- =============================================
ALTER PROCEDURE [tas].[prTimesheet_Refresh_Master_Employee_JDE]
as
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
	SET NOCOUNT ON;
--copy data from remote view Master_Employee_JDE_view to Master_Employee_JDE

truncate table tas.Master_Employee_JDE

insert into tas.Master_Employee_JDE
SELECT [EmpNo], [EmpName], [ReligionCode], [JobCategoryCode], [SexCode], [BusinessUnit], [Company], [GradeCode], [DateJoined], [DateResigned] 
FROM tas.Master_Employee_JDE_view

update tas.Master_Employee_JDE 
set BusinessUnit = BusinessUnit_New
from tas.Master_BusinessUnit_Remap B
where tas.Master_Employee_JDE.BusinessUnit = B.BusinessUnit_Old


truncate table tas.REFRESH_Master_UDCValues_JDE
insert into tas.REFRESH_Master_UDCValues_JDE 
select * from tas.Master_UDCValues_JDE
	union select '55  -RA' , 'DD' , 'On DayInLieu (Entered by Dept)' , '' , ''
	union select '55  -RA' , 'DH' , 'On DayInLieu (Entered by HR)  ' , '' , ''

END

