/******************************************************************************************************************************************
*	Revision History
*
*	Name: tas.Pr_GetTimeSheetOT
*	Description: Retrieves the OT records to be removed in the Timesheet table
*
*	Date:			Author:		Rev.#:		Comments:
*	12/02/2013		Ervin		1.0			Created
*	28/09/2014		Ervin		1.1			Added filter condition to exclude '7920 - Aspire Project' cost center
*	19/04/2017		Ervin		1.2			Added extra condition in identifying the overtime start and end times
*****************************************************************************************************************************************/

ALTER PROCEDURE tas.Pr_GetTimeSheetOT
(
	@ProcessDate datetime
)
AS

	SELECT 
		AutoID, XID_AutoID, DT, EmpNo, EmpName, TS_CostCenter, CostCenter, CostCenterName, 
		OTStartTime, OTEndTime, OTType, OTSourceID, OTSourceDesc, IsPublicHoliday, OTReason
	FROM
	(
		SELECT 
			a.AutoID, 
			b.XID_AutoID, 
			a.DT,
			a.EmpNo, 
			rtrim(d.EmpName) as EmpName,
			rtrim(ltrim(a.BusinessUnit)) as TS_CostCenter,
			rtrim(ltrim(e.YAHMCU)) as CostCenter, 
			rtrim(c.BusinessUnitName) as CostCenterName,
			'OTStartTime' = case when isnull(a.IsPublicHoliday,0) = 1 OR (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL) then a.OTStartTime else b.OTStartTime end,	--Rev #1.2
			'OTEndTime'  = case when isnull(a.IsPublicHoliday,0) = 1 OR (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL) then a.OTEndTime else b.OTEndTime end, 
			'OTType'  = case when isnull(a.IsPublicHoliday,0) = 1 OR (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL) then a.OTType else b.OTType end, 			
			'OTSourceID'  = case when isnull(a.IsPublicHoliday,0) = 1 OR (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL) then 1 else 2 end, 
			'OTSourceDesc'  = case when isnull(a.IsPublicHoliday,0) = 1 OR (a.OTStartTime IS NOT NULL AND a.OTEndTime IS NOT NULL) then 'Tran_Timesheet' else 'Tran_Timesheet_Extra' end, 
			a.IsPublicHoliday,
			b.OTReason			
		FROM tas.tran_timesheet a
			LEFT JOIN [tas].[Tran_Timesheet_Extra] b on a.AutoID = b.XID_AutoID			
			LEFT JOIN tas.master_Employee_JDE_VIew d ON a.EmpNo = d.EmpNo
			LEFT JOIN [tas].[syJDE_F060116] e on a.EmpNo = e.YAAN8
			LEFT JOIN tas.Master_BusinessUnit_JDE c ON rtrim(ltrim(e.YAHMCU)) = rtrim(ltrim(c.BusinessUnit))
		WHERE 			a.EmpNo > 10000000 
			AND a.DT = CONVERT(DATETIME, CONVERT(VARCHAR(10), @ProcessDate, 101))
			--and isnull(a.IsLastRow,0) = 1
			--AND a.CorrectionCode IS NULL
	) tbl
	WHERE 
		isnull(OTStartTime,'') <> ''
		and isnull(OTEndTime,'') <> ''
		and CostCenter not in
		(
			SELECT rtrim(ltrim(MCMCU)) as CostCenter
			FROM [tas].[syJDE_F0006]
			WHERE   
				(MCSTYL IN ('*', ' ', 'BP', 'DA')) AND (MCCO IN ('00000', '00100', '00600'))
				and isnumeric(MCMCU) = 1
				and (MCMCU between 2110 and 7910 OR MCMCU between 6002000 and 6007800)
				and upper(rtrim(isnull(MCRP06,''))) = 'Y'
		)
		AND RTRIM(CostCenter) <> '7920'
	ORDER BY CostCenter, EmpNo


/*	Debugging:

	exec tas.Pr_GetTimeSheetOT '04/09/2017'

	--Get cost center where OT is allowed
	SELECT rtrim(ltrim(MCMCU)) as CostCenter
	FROM [tas].[syJDE_F0006]
	WHERE   
		(MCSTYL IN ('*', ' ', 'BP', 'DA')) AND (MCCO IN ('00000', '00100', '00600'))
		and isnumeric(MCMCU) = 1
		and (MCMCU between 2110 and 7910 OR MCMCU between 6002000 and 6007800)
		and upper(rtrim(isnull(MCRP06,''))) = 'Y'
	ORDER BY rtrim(ltrim(MCMCU))

	--Check overtime records
	SELECT b.BusinessUNit, b.DT, a.*, b.*  
	FROM tas.Tran_Timesheet_Extra a
		INNER JOIN tas.Tran_Timesheet b ON a.XID_AutoID = b.AutoID
	WHERE
		b.DT BETWEEN '9/25/2014' AND '9/27/2014'
		AND b.Businessunit = '2112'
	ORDER BY b.DT DESC, b.EmpNo

*/


