USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetDayOffToFlagLeave]    Script Date: 15/05/2019 14:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetDayOffToFlagLeave
*	Description: This functions gets all the day-off dates during the entire period of unplanned leave
*
*	Date:			Author:		Rev.#:		Comments:
*	28/04/2019		Ervin		1.0			Created
**************************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetDayOffToFlagLeave]
(
	@empNo			INT,
	@startDate		DATETIME,
	@endDate		DATETIME
)
RETURNS  @rtnTable TABLE  
(     
	IsDayOffBeforeStartDate		BIT,
	IsDayOffAfterEndDate		BIT,
	DayOffArray					VARCHAR(200),
	LeaveType					VARCHAR(10)
) 
AS
BEGIN

	DECLARE @isDayOffBeforeStartDate	BIT,
			@isDayOffAfterEndDate		BIT,
			@dayOffArray				VARCHAR(200),
			@leaveType					VARCHAR(10)

	SELECT	@isDayOffBeforeStartDate	= 0,
			@isDayOffAfterEndDate		= 0,
			@dayOffArray				= '',
			@leaveType					= ''

	--Get the leave type of the day prior to the start date
	SELECT @leaveType = a.LeaveType
	FROM tas.Tran_Timesheet a WITH (NOLOCK)
	WHERE a.EmpNo = @empNo
		AND a.DT = @startDate
		AND a.IsLastRow = 1

	--Check if the day prior to the start date of the absent period is a day-off
	IF 
	(
		SELECT RTRIM(a.ShiftCode) 
		FROM tas.Tran_Timesheet a WITH (NOLOCK)
		WHERE a.EmpNo = @empNo
			AND a.DT = DATEADD(DAY, -1, @startDate)
			AND a.IsLastRow = 1
	) = 'O'
	SET @isDayOffBeforeStartDate = 1

	--Check if the day after the end date of the absent period is a day-off
	IF 
	(
		SELECT RTRIM(a.ShiftCode) 
		FROM tas.Tran_Timesheet a WITH (NOLOCK)
		WHERE a.EmpNo = @empNo
			AND a.DT = DATEADD(DAY, 1, @endDate)
			AND a.IsLastRow = 1
	) = 'O'
	SET @isDayOffAfterEndDate = 1    			
		
	IF @isDayOffBeforeStartDate = 1
	BEGIN			

		--Get all the day-off between start and end date
		DECLARE	@dayOffDate	DATETIME = NULL,
				@counter	INT = 0

		DECLARE AttendanceCursor CURSOR READ_ONLY FOR
		SELECT a.DT 
		FROM tas.Tran_Timesheet a WITH (NOLOCK)
			INNER JOIN tas.Tran_ShiftPatternUpdates b ON a.EmpNo = b.EmpNo AND a.DT = b.DateX
		WHERE a.EmpNo = @empNo
			AND RTRIM(b.Effective_ShiftCode) = 'O'
			AND ISNULL(a.RemarkCode, '') <> 'A'
			AND ISNULL(a.LeaveType, '') = ''	
			AND a.IsLastRow = 1
			AND a.DT BETWEEN @startDate AND @endDate
			AND EXISTS	
			(
				SELECT 1 FROM tas.Tran_Timesheet
				WHERE EmpNo = @empNo
					AND DT = DATEADD(DAY, -1, a.DT) 
					AND RTRIM(LeaveType) IN ('UL', 'SLU', 'ILU')
			)	

		OPEN AttendanceCursor
		FETCH NEXT FROM AttendanceCursor
		INTO @dayOffDate

		WHILE @@FETCH_STATUS = 0
		BEGIN
	
			IF @counter = 0
				SELECT @dayOffArray = CONVERT(VARCHAR, @dayOffDate, 12)
			ELSE
				SELECT @dayOffArray = @dayOffArray + ',' + CONVERT(VARCHAR, @dayOffDate, 12)

			--Increment the counter
			SET @counter = @counter + 1

			-- Retrieve next record
			FETCH NEXT FROM AttendanceCursor
			INTO @dayOffDate
		END

		-- Close and deallocate
		CLOSE AttendanceCursor
		DEALLOCATE AttendanceCursor
    END 

	IF	@isDayOffBeforeStartDate = 1
		AND @isDayOffAfterEndDate = 1
	BEGIN

		--Get all the day-off after the end date
		DECLARE	@firstDutyDate	DATETIME

		SELECT	TOP 1 @firstDutyDate = DT
		FROM tas.Tran_Timesheet a WITH (NOLOCK)
		WHERE a.EmpNo = @empNo
			AND a.DT > @endDate
			AND ISNULL(a.ShiftCode, '') <> 'O'
		ORDER BY a.DT

		IF @firstDutyDate IS NOT NULL
		BEGIN

			--Reset counter
			SET @counter = 0

			DECLARE AttendanceCursor CURSOR READ_ONLY FOR
			SELECT a.DT 
			FROM tas.Tran_Timesheet a WITH	(NOLOCK)
				INNER JOIN tas.Tran_ShiftPatternUpdates b ON a.EmpNo = b.EmpNo AND a.DT = b.DateX
			WHERE a.EmpNo = @empNo
				AND RTRIM(b.Effective_ShiftCode) = 'O'
				AND ISNULL(a.RemarkCode, '') <> 'A'
				AND ISNULL(a.LeaveType, '') = ''	
				AND a.IsLastRow = 1
				AND a.DT BETWEEN @endDate AND @firstDutyDate

			OPEN AttendanceCursor
			FETCH NEXT FROM AttendanceCursor
			INTO @dayOffDate

			WHILE @@FETCH_STATUS = 0
			BEGIN
	
				IF LEN(@dayOffArray) = 0
					SELECT @dayOffArray = CONVERT(VARCHAR, @dayOffDate, 12)
				ELSE
					SELECT @dayOffArray = @dayOffArray + ',' + CONVERT(VARCHAR, @dayOffDate, 12)

				--Increment the counter
				SET @counter = @counter + 1

				-- Retrieve next record
				FETCH NEXT FROM AttendanceCursor
				INTO @dayOffDate
			END

			-- Close and deallocate
			CLOSE AttendanceCursor
			DEALLOCATE AttendanceCursor
        END 
    END 

	INSERT INTO @rtnTable 
	SELECT	@isDayOffBeforeStartDate AS IsDayOffBeforeStartDate,
			@isDayOffAfterEndDate AS IsDayOffAfterEndDate,
			@dayOffArray AS DayOffArray,
			@leaveType AS LeaveType

	RETURN 

END


/*	Debugging:
	
PARAMETERS:
	@empNo			INT,
	@startDate		DATETIME,
	@endDate		DATETIME

	SELECT * FROM tas.fnGetDayOffToFlagLeave(10006032, '02/21/2016', '03/01/2016')		--Unpaid Leave
	SELECT * FROM tas.fnGetDayOffToFlagLeave(10003584, '11/18/2015', '11/20/2015')		--Unpaid Injury Leave
	

*/
