USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetAttendanceStatusEx_V2]    Script Date: 31/08/2021 14:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetAttendanceStatusEx_V2
*	Description: Used to identify the initial attendance remarks
*
*	Date			Author		Rev. #		Comments:
*	31/03/2016		Ervin		1.0			Created
*	12/06/2016		Ervin		1.1			Refactored the logic in identifying the In and Out time
*	27/11/2019		Ervin		1.1			Refactored the code to enhance data retrieval performance
*	08/08/2020		Ervin		1.2			Implemented logic for Car Park #5 reader nos. 11 (IN) and 12 (OUT)
*	15/08/2021		Ervin		1.3			Implemented logic for the following new Foil Mill readers: 31 = Turntile In, 32 = Turnstile Out, 33 = Barrier In, 34 = Barrier Out
*****************************************************************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetAttendanceStatusEx_V2]
(
    @empNo			INT,
	@processDate	DATETIME         
)
RETURNS VARCHAR(2)
AS
BEGIN
      
	DECLARE	@locationcode	INT,
			@readerno       INT,
			@ret            VARCHAR(2),
			@lateOrEarly    VARCHAR(20),
			@FromDate       DATETIME,
			@toDate         DATETIME,
			@remarks		VARCHAR(20)

	--Validate parameters
	IF @processDate IS NULL OR @processDate = CONVERT(DATETIME, '') 
		SET @processDate = GETDATE()

	SET @ret = 'x'
	  
	--Location Code '-1' is for manual timesheets
	SELECT TOP 1
		@readerno = a.ReaderNo, 
		@locationcode = a.LocationCode 	
	FROM tas.Master_EmployeeAttendance a WITH (NOLOCK)
	WHERE --LocationCode IN (-1, 1, 2) 
		--Start of Rev. #1.2
		(
			(a.LocationCode = 1 AND a.ReaderNo IN (4, 5, 6, 7, 11, 12))		--(Main Mill: 4 = In Turnstile; 5 = Out Turnstile; 6 = Barrier In; 7 = Barrier Out; 11 = Car Park #5 Turnstile (In); 12 = Car Park #5 Turnstile (Out))
			OR
			(a.LocationCode = 2 AND a.ReaderNo IN (0, 1, 2, 3, 31, 32, 33, 34))		--(Foil Mill: 0 = Barrier In; 1 = Barrier Out; 2 = Turnstile Out; 3 = Turnstile In,  31 = Turntile In,  32 = Turntile Out, 33 = Barrier In, 34 = Barrier Out)
			OR
            (a.LocationCode = -1 AND a.ReaderNo IN (-1, -2))		--(Manual Timesheet: -1 = IN; -2 = OUT)
		)
		--End of Rev. #1.2
		AND a.EmployeeNo = @empNo
	ORDER BY a.AttendanceDate DESC

    --Check for the location codes  
    IF @locationcode = 1	--Main Mill
	BEGIN

		IF @readerno in (4, 6, 8, 11)	--(Note: 4 = Main Gate In Turnstile; 6 = Main Gate Barrier IN; 8 = Main Gate Test Reader; 11 = Car Park #5 Turnstile (In))
			SET @ret = 'i'
		ELSE 
			SET @ret = 'o'
	END

    ELSE IF @locationcode = 2	--Foil Mill
	BEGIN
		--Rev. #1.3
		IF @readerno in (0, 3, 33, 31)			--(Note: 0 = Barrier In; 3 = Turnstile In, 33 = Barrier In, 31 = Turntile In)
			SET @ret = 'i'
		ELSE IF @readerno in (1, 2, 34, 32)		--(Note: 1 = Barrier Out; 3 = Turnstile Out, 34 = Barrier Out, 32 = Turnstile Out)
			SET @ret = 'o'
	END             

    ELSE IF @locationcode = -1	-- Manual Timesheet
	BEGIN

		IF @readerno = -1
			SET @ret = 'im'
		ELSE IF @readerno = -2
			SET @ret = 'om'
	END 
		
	SELECT @remarks = tas.fnGetAttendanceTimeStatus_V2(@empNo, @ret, @processDate)		  
	                
    IF RTRIM(@remarks) = 'Late' 
		SET @ret = 'l'
    ELSE IF RTRIM(@remarks) = 'Early leaving' 
		SET @ret = 'e'
		
	--Return the in/out status
	RETURN @ret           
END

/*	Debugging:

	SELECT tas.fnGetAttendanceStatusEx_V2(10003589, '08/15/2021')

*/
