USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetAttendanceStatusRemark_V2]    Script Date: 08/08/2020 16:51:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetAttendanceStatusRemark_V2
*	Description: Get the attendance remarks
*
*	Date			Author		Rev. #		Comments:
*	31/03/2016		Ervin		1.0			Created
*	15/04/2016		Ervin		1.1			Called tas.fnCheckHalfDayLeaveStatus to check if the employee is on half day leave
*************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetAttendanceStatusRemark_V2] 
(
      @empNo		INT,
      @inOutStatus	VARCHAR(2),
	  @processDate	DATETIME
)
RETURNS varchar(100)
AS
BEGIN

	DECLARE @remarks		VARCHAR(100),
			@halfDayRemarks	VARCHAR(50)

	--Initialize variables
	SELECT	@remarks		= '',
			@halfDayRemarks	= ''

	--Validate parameters
	IF @processDate IS NULL OR @processDate = CONVERT(DATETIME, '') 
		SET @processDate = GETDATE()
    
	--Get the remarks
    SELECT @remarks = tas.fnGetEmployeeLeaveStatus_V2(@empno, @processDate)
    
    IF ISNULL(@remarks, '') = ''
    BEGIN 

        --Check if Employee having day off
        SET @remarks = tas.fnCurrentDayStatus_V2(@empno, RTRIM(@inOutStatus), @processDate)
          
          -- Check if Employee came late or left early
        IF RTRIM(@inOutStatus) <> 'x' AND ISNULL(@remarks, '') = ''
        BEGIN 

			SELECT @remarks = tas.fnGetAttendanceTimeStatus_V2(@empno, RTRIM(@inOutStatus), @processDate)
                
            IF RTRIM(@remarks) = 'Late' 
				SET @inOutStatus = 'l'
            ELSE IF @remarks = 'Early leaving' 
				SET @inOutStatus = 'e'

            --Check if Employee had multiple swipes 
            SELECT @remarks = @remarks + ISNULL(tas.fnMultipleSwipes_V2(@empno, @processDate), '')

			SELECT @halfDayRemarks = tas.fnCheckHalfDayLeaveStatus(@empNo, @inOutStatus, @processDate)
			IF ISNULL(@halfDayRemarks, '') <> 'NotHD'
				SET @remarks = @remarks
        END 
    END 

	RETURN @remarks

END


/*	Debugging:

	SELECT tas.fnGetAttendanceStatus(10003661)
	SELECT tas.fnGetAttendanceStatusRemark_V2 (10003632, 'i', '11/02/2016')
	SELECT tas.fnGetAttendanceStatusRemark_V2 (10003632, 'o', '11/02/2016')

	SELECT tas.fnCheckHalfDayLeaveStatus(10003632, 'i', '11/02/2016')

*/

