USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnSwipeRequisitionStatistics]    Script Date: 20/09/2022 10:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnSwipeRequisitionStatistics
*	Description: Retrieves the number of draft, open and closed requisitions
*
*	Date:			Author:		Rev. #:			Comments:
*	08/10/2015		Ervin		1.0				Created
***********************************************************************************************************************************************/

ALTER  FUNCTION [tas].[fnSwipeRequisitionStatistics]
(
	@empNo int
)
RETURNS  @rtnTable TABLE  
(     
	OpenCount int NULL,
	DraftCount int NULL,
	AssignedCount int NULL,
	PastWeekCount int NULL
) 
AS 
BEGIN 

	DECLARE @myTable table
	(
		OpenCount int, 
		DraftCount int,
		AssignedCount int,
		PastWeekCount int
	)  

	DECLARE @openCount int,
			@draftCount int,
			@assignedCount int,
			@pastWeekCount int

	SELECT 	@openCount		= 0, 
			@draftCount		= 0, 
			@assignedCount	= 0, 
			@pastWeekCount	= 0
	
	--Count Draft Requisitions
	--SELECT @draftCount = COUNT(Tran_WorkplaceSwipeNo) 
	--FROM tas.Tran_WorkplaceSwipe
	--WHERE StatusHandlingCode = 'Open'  
	--	AND IsDraft = 1
	--	AND CreatedByEmpNo = @empNo

	--Count Open Requisitions
	SELECT @openCount = COUNT(a.SwipeID) 
	FROM tas.Tran_WorkplaceSwipe a
		INNER JOIN tas.Tran_Timesheet b ON a.EmpNo = b.EmpNo AND a.SwipeDate = b.DT AND b.IsLastRow = 1
		INNER JOIN tas.WorkflowTransactionActivity c ON a.SwipeID = c.SwipeID AND b.AutoID = c.TS_AutoID AND a.SubmittedDate = c.RequestSubmissionDate
			AND c.IsCurrent = 1 AND ISNULL(c.IsCompleted, 0) = 0
	WHERE RTRIM(a.StatusHandlingCode) = 'Open' 
		AND a.SubmittedByEmpNo = @empNo	

	--Count Currently Assigned Requisitions
	SELECT DISTINCT @assignedCount = COUNT(a.SwipeID) 
	FROM tas.Tran_WorkplaceSwipe a
		INNER JOIN tas.Tran_Timesheet b ON a.EmpNo = b.EmpNo AND a.SwipeDate = b.DT AND b.IsLastRow = 1
		INNER JOIN tas.WorkflowTransactionActivity c ON a.SwipeID = c.SwipeID AND b.AutoID = c.TS_AutoID AND a.SubmittedDate = c.RequestSubmissionDate
			AND c.IsCurrent = 1 AND ISNULL(c.IsCompleted, 0) = 0
	WHERE a.StatusHandlingCode = 'Open'   
		AND a.CurrentlyAssignedEmpNo = @empNo

	--Count Closed Requisitions
	SELECT @pastWeekCount = COUNT(SwipeID) 
	FROM
	(
		SELECT DISTINCT a.SwipeID
		FROM tas.Tran_WorkplaceSwipe a
			INNER JOIN tas.Tran_Timesheet b ON a.EmpNo = b.EmpNo AND a.SwipeDate = b.DT AND b.IsLastRow = 1
			INNER JOIN tas.WorkflowApproval c ON a.SwipeID = c.SwipeID AND b.AutoID = c.TS_AutoID AND a.SubmittedDate = c.RequestSubmissionDate 
		WHERE RTRIM(a.StatusHandlingCode) IN ('Closed', 'Approved')
			AND CONVERT(VARCHAR, ClosedDate, 12) BETWEEN CONVERT(VARCHAR, DATEADD(DAY, -7, GETDATE()), 12) AND CONVERT(VARCHAR, GETDATE(), 12)
			AND 
			(
				a.SubmittedByEmpNo = @empNo	
				--OR c.AppCreatedBy = @empNo
			)
	) a

	--Insert data to temporary table
	INSERT INTO @myTable  
	SELECT @openCount, @draftCount, @assignedCount, @pastWeekCount

	INSERT INTO @rtnTable 
	SELECT * FROM @mytable  

	RETURN 
	
END
