USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetAttendanceTimeStatus_V2]    Script Date: 07/04/2022 16:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetAttendanceStatusEx_V2
*	Description: Used to identify the final attendance remarks
*
*	Date			Author		Rev. #		Comments:
*	31/03/2016		Ervin		1.0			Created
*	19/04/2016		Ervin		1.1			Added @CONST_FLEXITIME_EFFECTIVE_DATE that is used to check if flexitime should be implemented based on the process date 
*	06/06/2016		Ervin		1.2			Fixed bug in fetching the value for "@rArrival" where it gets data from "RArrivalFrom" instead of "RArrivalTo".
											Refactored the code in calculating the value for "@durationRequired"
*	07/08/2016		Ervin		1.3			Added extra logic that checks if an employee arrived late or left early based on Manual Attendance record
*	07/08/2016		Ervin		1.4			Get the shift pattern info of special contractor numbers
*	11/11/2018		Ervin		1.5			Added entry for Sayed Israk. Refactored code to enhance data retrieval performance
*	27/11/2019		Ervin		1.6			Refactored the code to enhance data retrieval performance
*	08/08/2020		Ervin		1.7			Implemented logic for Car Park #5 reader nos. 11 (IN) and 12 (OUT)
*	15/08/2021		Ervin		1.8			Implemented logic for the following new Foil Mill readers: 31 = Turntile In, 32 = Turnstile Out, 33 = Barrier In, 34 = Barrier Out
*	31/08/2021		Ervin		1.9			Implemented logic for the following new Mail Mill readers: 13 = Turntile In, 14 = Turnstile Out, 15 = Barrier In, 16 = Barrier Out
******************************************************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetAttendanceTimeStatus_V2] 
(
      @empNo		INT,
      @status		VARCHAR(2),
	  @processDate	DATETIME
)
RETURNS VARCHAR(100)
AS
BEGIN
	
	--Define constants
	DECLARE	@CONST_FLEXITIME_EFFECTIVE_DATE	DATETIME

	--Initialize constants
	SELECT	@CONST_FLEXITIME_EFFECTIVE_DATE	= '160420'	--(Note: This is the date announced by HR to implement Flexitime for all Day Shift Workers. Format used is yymmdd)

	DECLARE	@religionCode		VARCHAR(2),
			@holidayType		VARCHAR(10),
			@shiftCode			VARCHAR(10),
			@shiftPatCode		VARCHAR(2),	
			@currentDate		DATETIME,
			@empArrival			DATETIME,
			@empDepart			DATETIME,
			@nArrival			DATETIME,
			@nDepart			DATETIME,
			@rArrival			DATETIME,
			@rDepart			DATETIME,
			@remarks			VARCHAR(50),  
			@temp				VARCHAR(20),
			@durationRequired	INT,
			@durationWorked		INT,
			@flexiTimeEnabled	BIT  

	--Validate parameters
	IF @processDate IS NULL OR @processDate = CONVERT(DATETIME, '') 
		SET @processDate = GETDATE()

	--Get the minimum time
	SELECT @currentDate	= tas.fmtDate_MinTimeOfDay_V2(@processDate)	

	--Initialize variables
	SELECT	@religionCode		= '',
			@holidayType		= '',
			@shiftCode			= '',
			@shiftPatCode		= '',	
			@empArrival			= NULL,
			@empDepart			= NULL,
			@nArrival			= NULL,
			@nDepart			= NULL,
			@rArrival			= NULL,
			@rDepart			= NULL,
			@remarks			= '',  
			@temp				= '',
			@durationRequired	= 0,
			@durationWorked		= 0,
			@flexiTimeEnabled	= 0

	--Get the religion of the employee
	SELECT @religionCode = RTRIM(ReligionCode)
	FROM tas.Master_Employee_JDE a WITH (NOLOCK) 
	WHERE a.EmpNo = @empNo

	--Check if the date passed is a holiday
	SELECT @holidayType = RTRIM(HolidayType)
	FROM tas.Master_Calendar WITH (NOLOCK)
	WHERE HolidayDate = CONVERT(DATETIME, CONVERT(VARCHAR, @currentDate, 12))

	--Get the shift pattern information
	SELECT	@shiftPatCode = RTRIM(Effective_ShiftPatCode),
			@shiftCode = RTRIM(Effective_ShiftCode)
	FROM  tas.Tran_ShiftPatternUpdates a WITH (NOLOCK)
	WHERE a.DateX = CONVERT(DATETIME, CONVERT(VARCHAR, @currentDate, 12))
		AND a.EmpNo = @empNo

	--Start of Rev. #1.4
	IF	ISNULL(@shiftPatCode, '') = '' 
		AND ISNULL(@shiftCode, '') = ''		
	BEGIN

		IF @empNo = 56836
		BEGIN
        
			SELECT	@shiftPatCode = RTRIM(Effective_ShiftPatCode),
					@shiftCode = RTRIM(Effective_ShiftCode)
			FROM  tas.Tran_ShiftPatternUpdates a WITH (NOLOCK)
			WHERE a.DateX = CONVERT(DATETIME, CONVERT(VARCHAR, @currentDate, 12))
				AND a.EmpNo = 10002148
		END 

		ELSE IF @empNo = 55763
		BEGIN

			SELECT	@shiftPatCode = RTRIM(Effective_ShiftPatCode),
					@shiftCode = RTRIM(Effective_ShiftCode)
			FROM  tas.Tran_ShiftPatternUpdates a WITH (NOLOCK)
			WHERE a.DateX = CONVERT(DATETIME, CONVERT(VARCHAR, @currentDate, 12))
				AND a.EmpNo = 10002003
        END 

		ELSE IF @empNo = 59960
		BEGIN

			SELECT	@shiftPatCode = RTRIM(Effective_ShiftPatCode),
					@shiftCode = RTRIM(Effective_ShiftCode)
			FROM  tas.Tran_ShiftPatternUpdates a WITH (NOLOCK)
			WHERE a.DateX = CONVERT(DATETIME, CONVERT(VARCHAR, @currentDate, 12))
				AND a.EmpNo = 10002207
        END 
    END 
	--End of Rev. #1.4

	--Get the shift timing information
	IF ISNULL(@shiftPatCode, '') <> ''
		AND ISNULL(@shiftCode, '') <> ''
	BEGIN
    
		SELECT  @nArrival = CONVERT(TIME, a.ArrivalTo), 
				@nDepart = CONVERT(TIME, a.DepartFrom),
				@rArrival = CONVERT(TIME, a.RArrivalTo), 
				@rDepart = CONVERT(TIME, a.RDepartFrom),
				@durationRequired = CASE WHEN @holidayType = 'R' 
										THEN DATEDIFF(MINUTE, a.RArrivalTo, a.RDepartFrom)
										ELSE DATEDIFF(MINUTE, a.ArrivalTo, a.DepartFrom)
									END 
		FROM tas.Master_ShiftTimes a WITH (NOLOCK)
		WHERE RTRIM(ShiftPatCode) = @shiftPatCode 
			AND RTRIM(ShiftCode) = @shiftCode
	END 

	--Override @nArrival and @rArrival with the Flexi-timing if it is defined in the setup table
	IF EXISTS
	(
		SELECT SettingID 
		FROM tas.FlexiTimeSetting a WITH (NOLOCK)
		WHERE RTRIM(a.ShiftPatCode) = @shiftPatCode
			AND RTRIM(a.ShiftCode) = @shiftCode
			AND a.IsActive = 1
	)
	BEGIN

		SELECT	@nArrival = CASE WHEN a.NormalArrivalTo IS NOT NULL THEN a.NormalArrivalTo ELSE @nArrival END ,
				@rArrival = CASE WHEN a.RamadanArrivalTo IS NOT NULL THEN a.RamadanArrivalTo ELSE @rArrival END 
		FROM tas.FlexiTimeSetting a WITH (NOLOCK)
		WHERE RTRIM(a.ShiftPatCode) = @shiftPatCode
			AND RTRIM(a.ShiftCode) = @shiftCode
			AND a.IsActive = 1

		--Set the flag
		SET @flexiTimeEnabled = 1
    END 

	--Start of Rev. #1.1
	--Check if process date is less than the Flexitime effectivity date
	IF @flexiTimeEnabled = 1
	BEGIN

		IF @processDate < CONVERT(DATETIME, @CONST_FLEXITIME_EFFECTIVE_DATE)
		BEGIN

			--Get the original shift timing
			SELECT  @nArrival = CONVERT(TIME, a.ArrivalTo_Old), 
					@nDepart = CONVERT(TIME, a.DepartFrom_Old),
					@rArrival = CONVERT(TIME, a.RArrivalTo_Old), 
					@rDepart = CONVERT(TIME, a.RDepartFrom_Old),
					@durationRequired= DATEDIFF(MINUTE, a.ArrivalTo_Old, a.DepartFrom_Old)
			FROM tas.FlexiTimeSetting a WITH (NOLOCK)
			WHERE RTRIM(ShiftPatCode) = @shiftPatCode 
				AND RTRIM(ShiftCode) = @shiftCode
        END 
    END 
	--End of Rev. #1.1

	--------------- Night Shift -----------------------------------------------------
	IF @shiftCode = 'N'
	BEGIN

		SELECT @empArrival = CONVERT(TIME, MIN(a.AttendanceDate))  
		FROM tas.Master_EmployeeAttendance a WITH (NOLOCK)
		WHERE a.LocationCode IN (1, 2)
			AND a.ReaderNo IN (0, 3, 4, 6, 8, 11, 13, 15, 31, 33)	--Rev. #1.8
			AND a.EmployeeNo = @empNo

		SELECT	@empDepart = CONVERT(TIME, MAX(a.AttendanceDate))  
		FROM tas.Master_EmployeeAttendance a WITH (NOLOCK)
		WHERE a.LocationCode IN (1, 2)		
			AND a.ReaderNo IN (1, 2, 5, 7, 9, 12, 14, 16, 32, 34)	--Rev. #1.8
			AND a.EmployeeNo = @empNo
	END

	ELSE 
	BEGIN

		SELECT	@empArrival = CONVERT(TIME, MIN(a.AttendanceDate)) 
		FROM tas.Master_EmployeeAttendance a WITH (NOLOCK)
		WHERE a.LocationCode IN (1, 2)
			AND a.ReaderNo IN (0, 3, 4, 6, 8, 11, 13, 15, 31, 33)		--Rev. #1.8
			AND a.EmployeeNo = @empNo

		SELECT	@empDepart = CONVERT(TIME, MAX(a.AttendanceDate))	
		FROM tas.Master_EmployeeAttendance a WITH (NOLOCK)
		WHERE a.LocationCode IN (1, 2)
			AND a.ReaderNo IN (1, 2, 5, 7, 9, 12, 14, 16, 32, 34)		--Rev. #1.8
			AND a.EmployeeNo = @empNo
	END
	
	IF @empArrival IS NOT NULL 
		AND CONVERT(DATETIME, @empArrival) <> CONVERT(DATETIME, '') 
		AND UPPER(RTRIM(@status)) = 'I'
	BEGIN 
	
		--Identify the Time-in status
		IF @holidayType = 'R' AND @religionCode = 'M'
		BEGIN
        
			IF DATEDIFF(SECOND, @rArrival, @empArrival) > 60		--Give 1 minute grace time
			--IF @empArrival > @rArrival
				SET @remarks = 'Late'
		END 

		ELSE 
		BEGIN 

			IF DATEDIFF(SECOND, @nArrival, @empArrival) > 60		--Give 1 minute grace time
			--IF @empArrival > @nArrival
				SET @remarks = 'Late'
		END 
	END 

	ELSE IF @empDepart IS NOT NULL 
		AND CONVERT(DATETIME, @empDepart) <> CONVERT(DATETIME, '')  
		AND UPPER(RTRIM(@status)) = 'O'
	BEGIN
    
		--Identify the Time-out status
		IF @flexiTimeEnabled = 1 AND 
			@processDate >= CONVERT(DATETIME, @CONST_FLEXITIME_EFFECTIVE_DATE)
		BEGIN

			--Calculate the total work duration
			SET @durationWorked = DATEDIFF(MINUTE, @empArrival, @empDepart)
			
			IF @durationRequired > 0
			BEGIN

				IF @durationWorked < @durationRequired
					SET @remarks = 'Early leaving'
            END
        END
        
		ELSE
        BEGIN
        
			IF @holidayType = 'R' AND @religionCode = 'M'
			BEGIN 

				IF @empDepart < @rDepart
					SET @remarks = 'Early leaving'
			END 

			ELSE 
			BEGIN 
				IF @empDepart < @nDepart
					SET @remarks = 'Early leaving'
			END 
		END 
	END 

	ELSE IF UPPER(RTRIM(@status)) = 'IM'
	BEGIN
    
		--Start of Rev. #1.3
		--Get the time of entry from the Manual Attendance database
		SELECT @empArrival = CONVERT(TIME, CASE WHEN a.dtIN IS NOT NULL AND a.timeIN IS NOT NULL THEN a.dtIN + CONVERT(TIME, LEFT(a.timeIN, 2) + ':' + RIGHT(a.timeIN, 2) + ':00') ELSE NULL END) 
		FROM tas.Tran_ManualAttendance a WITH (NOLOCK)
		WHERE a.EmpNo = @empNo
			AND a.dtIN = @processDate

		--Identify the Time-in status
		IF @holidayType = 'R' AND @religionCode = 'M'
		BEGIN
        
			IF DATEDIFF(SECOND, @rArrival, @empArrival) > 60		--Give 1 minute grace time
				SET @remarks = 'Late'
			ELSE
				SET @remarks = 'In - Manual'
		END 

		ELSE 
		BEGIN 

			IF DATEDIFF(SECOND, @nArrival, @empArrival) > 60		--Give 1 minute grace time
				SET @remarks = 'Late'
			ELSE
				SET @remarks = 'In - Manual'
		END 
		--End of Rev. #1.3
	END 

	ELSE IF UPPER(RTRIM(@status)) = 'OM'
	BEGIN 

		--Initialize the attendance remarks
		SET @remarks = 'Out - Manual'

		--Start of Rev. #1.3
		--Get the time of entry and exit from the Manual Attendance database
		SELECT	@empArrival = CONVERT(TIME, CASE WHEN a.dtIN IS NOT NULL AND a.timeIN IS NOT NULL THEN a.dtIN + CONVERT(TIME, LEFT(a.timeIN, 2) + ':' + RIGHT(a.timeIN, 2) + ':00') ELSE NULL END),
				@empDepart = CONVERT(TIME, CASE WHEN a.dtOUT IS NOT NULL AND a.[timeOUT] IS NOT NULL THEN a.dtOUT + CONVERT(TIME, LEFT(a.[timeOUT], 2) + ':' + RIGHT(a.[timeOUT], 2) + ':00') ELSE NULL END)
		FROM tas.Tran_ManualAttendance a WITH (NOLOCK)
		WHERE a.EmpNo = @empNo
			AND a.dtIN = @processDate

		--Identify the Time-out status
		IF @flexiTimeEnabled = 1 AND 
			@processDate >= CONVERT(DATETIME, @CONST_FLEXITIME_EFFECTIVE_DATE)
		BEGIN

			--Calculate the total work duration
			SET @durationWorked = DATEDIFF(MINUTE, @empArrival, @empDepart)
			
			IF @durationRequired > 0
			BEGIN

				IF @durationWorked < @durationRequired
					SET @remarks = 'Early leaving'
				ELSE
					SET @remarks = 'Out - Manual'
            END
        END
        
		ELSE
        BEGIN
        
			IF @holidayType = 'R' AND @religionCode = 'M'
			BEGIN 

				IF @empDepart < @rDepart
					SET @remarks = 'Early leaving'
				ELSE
					SET @remarks = 'Out - Manual'
			END 

			ELSE 
			BEGIN 
				IF @empDepart < @nDepart
					SET @remarks = 'Early leaving'
				ELSE
					SET @remarks = 'Out - Manual'
			END 
		END 
		--End of Rev. #1.3
	END 		
	
	RETURN RTRIM(@remarks)
END


/*	Debugging:

	SELECT tas.fnGetAttendanceTimeStatus_V2(10003589, 'i', '08/15/2021') 
	SELECT tas.fnGetAttendanceTimeStatus_V2(10003589, 'o', '08/15/2021') 

*/
