USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetContractorSwipe]    Script Date: 24/11/2021 15:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetContractorSwipe
*	Description: This table-view function returns the contractor's swipe data
*
*	Date:			Author:		Rev.#:		Comments:
*	27/06/2021		Ervin		1.0			Created
******************************************************************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetContractorSwipe]
(
	@empNo				INT,
	@swipeDate			DATETIME,
	@swipeType			VARCHAR(3)
)
RETURNS @rtnTable 
TABLE 
(
	EmpNo				INT,
	SwipeDate			DATETIME,
	SwipeTime			DATETIME
)
AS
BEGIN

	DECLARE	@swipeTime			DATETIME = NULL

	SELECT @swipeTime = a.SwipeTime
	FROM tas.ContractorSwipeLog a WITH (NOLOCK)
	WHERE a.EmpNo = @empNo
		AND a.SwipeDate = @swipeDate
		AND UPPER(RTRIM(a.SwipeType)) = @swipeType

	/*
	SELECT	@swipeTime = x.SwipeTime
	FROM	
	(				
		SELECT 
			CASE WHEN ISNUMERIC(a.FName) = 1 
				THEN 
					CASE WHEN ((CONVERT(INT, a.FName) >= 10000 OR CONVERT(INT, a.FName) >= 50000) AND CONVERT(INT, a.FName) < 10000000)
					THEN 
						CONVERT(INT, a.FName)
					ELSE 
						CONVERT(INT, a.FName) + 10000000 
					END
				ELSE 0 
			END AS EmpNo,
			CONVERT(DATETIME, CONVERT(VARCHAR, a.TimeDate, 12)) AS SwipeDate,
			CONVERT(DATETIME, CONVERT(VARCHAR, a.TimeDate, 126)) AS SwipeTime,
			(
				CASE	WHEN UPPER(RTRIM(b.Direction)) = 'I' THEN 'IN' 
						WHEN UPPER(RTRIM(b.Direction)) = 'O' THEN 'OUT' 
						ELSE '' END
			) AS SwipeType
		FROM tas.sy_EvnLog a WITH (NOLOCK)
			INNER JOIN tas.Master_AccessReaders b WITH (NOLOCK) ON a.Loc = b.LocationCode AND a.Dev = b.ReaderNo
		WHERE 
			--a.[Event] = 8	--(Note: 8 means successful swipe)
			--AND 
			(
				(b.LocationCode = 1 AND b.ReaderNo IN (4, 5, 6, 7))
				OR
				(b.LocationCode = 2 AND b.ReaderNo IN (0, 1, 2, 3))
			)
			AND 
			(
				CASE WHEN ISNUMERIC(a.FName) = 1 
					THEN 
						CASE WHEN ((CONVERT(INT, a.FName) >= 10000 OR CONVERT(INT, a.FName) >= 50000) AND CONVERT(INT, a.FName) < 10000000)
						THEN 
							CONVERT(INT, a.FName)
						ELSE 
							CONVERT(INT, a.FName) + 10000000 
						END
					ELSE 0 
				END
			) < 10000000
			AND 
			(
				CASE WHEN ISNUMERIC(a.FName) = 1 
					THEN 
						CASE WHEN ((CONVERT(INT, a.FName) >= 10000 OR CONVERT(INT, a.FName) >= 50000) AND CONVERT(INT, a.FName) < 10000000)
						THEN 
							CONVERT(INT, a.FName)
						ELSE 
							CONVERT(INT, a.FName) + 10000000 
						END
					ELSE 0 
				END
			) > 50000
			AND CONVERT(DATETIME, CONVERT(VARCHAR, a.TimeDate, 12)) >= '10/10/2016'	--Refers to the date the new Contractor ID badge was implemented
	) x
	WHERE x.EmpNo = @empNo
		AND x.SwipeDate = @swipeDate
		AND UPPER(RTRIM(x.SwipeType)) = @swipeType
	*/


	--Populate data to the table
	INSERT INTO @rtnTable 
	SELECT @empNo, @swipeDate, @swipeTime--, @locationName, @readerName

	RETURN 

END


/*	Testing:

PARAMETERS:
	@empNo				INT,
	@swipeDate			DATETIME,
	@swipeType			VARCHAR(3)

	SELECT * FROM tas.fnGetContractorSwipe(61048, '06/27/2021', 'IN')
	SELECT * FROM tas.fnGetContractorSwipe(61048, '06/27/2021', 'OUT')

*/
