USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetOTRequisitionDashboard]    Script Date: 16/01/2020 12:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetOTRequisitionDashboard
*	Description: This table-view function is used to fetch the overtime requisition statistical data
*
*	Date:			Author:		Rev.#:		Comments:
*	07/09/2017		Ervin		1.0			Created
*	24/10/2018		Ervin		1.1			Refactored the code to enhance data retrieval performance
******************************************************************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetOTRequisitionDashboard]
(
	@empNo	INT 
)
RETURNS @rtnTable 
TABLE 
(
	RequestType			VARCHAR(30),
	DraftCount			INT,
	OpenCount			INT, 
	AssignedCount		INT,
	PastWeekCount		INT
)
AS
BEGIN
	
	--Define variables
	DECLARE	@draftCount		INT,
			@openCount		INT, 
			@assignedCount	INT,
			@pastWeekCount	INT

	--Initialize variables
	SELECT	@draftCount		= 0,
			@openCount		= 0, 
			@assignedCount	= 0,
			@pastWeekCount	= 0

	SELECT @openCount = COUNT(OTRequestNo) 
	FROM
	(	
		SELECT  DISTINCT
			'Overtime Online Approval System' AS RequestTypeName,
			a.CreatedByEmpNo, 
			b.CreatedByUserEmpName,
			a.OTRequestNo
		FROM tas2.tas.OvertimeRequest a WITH (NOLOCK)
			INNER JOIN tas2.tas.OvertimeWFTransactionActivity b WITH (NOLOCK) ON a.OTRequestNo = b.OTRequestNo AND a.TS_AutoID = b.TS_AutoID AND a.SubmittedDate = b.RequestSubmissionDate
		WHERE 
			RTRIM(a.StatusHandlingCode) = 'Open'
			AND b.IsCurrent = 1
			AND ISNULL(b.IsCompleted, 0) = 0	
	) a
	WHERE a.CreatedByEmpNo = @empNo

	SELECT @assignedCount = COUNT(OTRequestNo) 
	FROM
	(	
		SELECT  DISTINCT
			'Overtime Online Approval System' AS RequestTypeName,
			CASE WHEN ISNULL(a.CurrentlyAssignedEmpNo, 0) > 0
				THEN a.CurrentlyAssignedEmpNo
				ELSE c.EmpNo
			END AS AssigneeEmpNo, 
			CASE WHEN ISNULL(a.CurrentlyAssignedEmpNo, 0) > 0
				THEN RTRIM(a.CurrentlyAssignedEmpName) 
				ELSE RTRIM(c.EmpName)
			END AS AssigneeEmpName,
			a.OTRequestNo
		FROM tas2.tas.OvertimeRequest a WITH (NOLOCK)
			INNER JOIN tas2.tas.OvertimeWFTransactionActivity b WITH (NOLOCK) ON a.OTRequestNo = b.OTRequestNo AND a.TS_AutoID = b.TS_AutoID AND a.SubmittedDate = b.RequestSubmissionDate
			LEFT JOIN tas2.tas.OvertimeDistributionMember c WITH (NOLOCK) ON b.OTRequestNo = c.OTRequestNo AND b.WorkflowTransactionID = c.WorkflowTransactionID 
		WHERE 
			RTRIM(a.StatusHandlingCode) = 'Open'
			AND b.IsCurrent = 1
			AND ISNULL(b.IsCompleted, 0) = 0	
	) a
	WHERE a.AssigneeEmpNo = @empNo

	SELECT @pastWeekCount = COUNT(OTRequestNo) 
	FROM
	(	
		SELECT  DISTINCT
			'Overtime Online Approval System' AS RequestTypeName,
			a.CreatedByEmpNo, 
			b.CreatedByUserEmpName,
			a.OTRequestNo
		FROM tas2.tas.OvertimeRequest a WITH (NOLOCK)
			INNER JOIN tas2.tas.OvertimeWFTransactionActivity b WITH (NOLOCK) ON a.OTRequestNo = b.OTRequestNo AND a.TS_AutoID = b.TS_AutoID AND a.SubmittedDate = b.RequestSubmissionDate
		WHERE 
			RTRIM(a.StatusHandlingCode) = 'Closed'
			AND a.IsClosed = 1
			AND a.ClosedDate BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, DATEADD(DAY, -6, GETDATE()), 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 12))
	) a
	WHERE a.CreatedByEmpNo = @empNo

	--Populate data to the table
	INSERT INTO @rtnTable  
	SELECT	'Overtime Approval Request' AS RequestType,
			@draftCount AS DraftCount,
			@openCount AS OpenCount, 
			@assignedCount AS AssignedCount,
			@pastWeekCount AS PastWeekCount
	
	RETURN 
END


/*	Testing:

	SELECT * FROM tas.fnGetOTRequisitionDashboard(10003632)

*/