USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetContractorWorkDuration]    Script Date: 27/06/2021 10:12:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetContractorWorkDuration
*	Description: This table-view function returns attendance work duration of a contractor
*
*	Date:			Author:		Rev.#:		Comments:
*	07/09/2016		Ervin		1.0			Created
*	08/05/2019		Ervin		1.1				Refactored the code to enhance data retrieval performance
******************************************************************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetContractorWorkDuration]
(
	@empNo					INT,
	@swipeDate				DATETIME,
	@requiredWorkDuration	INT
)
RETURNS @rtnTable 
TABLE 
(
	SwipeDate			DATETIME,
	SwipeIn				DATETIME,
	SwipeOut			DATETIME,
	--Location			VARCHAR(40),
	--ReaderName			VARCHAR(40),
	NetMinutes			INT,
	Overtime			INT
	--HasMultipleSwipe	BIT  
)
AS
BEGIN

	DECLARE @myTable TABLE 
	(
		SwipeDate			DATETIME,
		SwipeIn				DATETIME,
		SwipeOut			DATETIME,
		--Location			VARCHAR(40),
		--ReaderName			VARCHAR(40),
		NetMinutes			INT,
		Overtime			INT
		--HasMultipleSwipe	BIT  
	)

	DECLARE	@swipeIn			DATETIME,
			@swipeOut			DATETIME,
			@location			VARCHAR(40),
			@readerName			VARCHAR(40),
			@netMinutes			INT,
			@overtime			INT
			--@hasMultipleSwipe	BIT 

	--Initialize variables
	SELECT	@swipeIn			= NULL,
			@swipeOut			= NULL,
			--@location			= '',
			--@readerName			= '',
			@netMinutes			= 0,
			@overtime			= 0
			--@hasMultipleSwipe	= 0

	--Get the first Swipe In time
	SELECT TOP 1 @swipeIn = a.SwipeTime
	FROM tas.Vw_ContractorSwipe a WITH (NOLOCK)
	WHERE a.EmpNo = @empNo
		AND a.SwipeDate = @swipeDate
		AND UPPER(RTRIM(a.SwipeType)) = 'IN'
	ORDER BY a.SwipeTime ASC

	--Get the last Swipe Out time
	SELECT TOP 1 @swipeOut = a.SwipeTime
	FROM tas.Vw_ContractorSwipe a WITH (NOLOCK)
	WHERE a.EmpNo = @empNo
		AND a.SwipeDate = @swipeDate
		AND UPPER(RTRIM(a.SwipeType)) = 'OUT'
	ORDER BY a.SwipeTime DESC
	
	--Get the location and reader name
	--SELECT TOP 1 
	--	@location = RTRIM(a.LocationName),
	--	@readerName = RTRIM(a.ReaderName)
	--FROM tas.Vw_ContractorSwipe a
	--WHERE a.EmpNo = @empNo
	--	AND a.SwipeDate = @swipeDate
	--ORDER BY a.SwipeTime

	--Determine if contractor has multiple swipes
	--IF 
	--(
	--	SELECT COUNT(*) FROM tas.Vw_ContractorSwipe a
	--	WHERE a.EmpNo = @empNo
	--		AND a.SwipeDate = @swipeDate
	--		AND UPPER(RTRIM(a.SwipeType)) = 'IN'
	--) > 1
	--OR
	--(
	--	SELECT COUNT(*) FROM tas.Vw_ContractorSwipe a
	--	WHERE a.EmpNo = @empNo
	--		AND a.SwipeDate = @swipeDate
	--		AND UPPER(RTRIM(a.SwipeType)) = 'OUT'
	--) > 1
	--BEGIN

	--	SET @hasMultipleSwipe = 1
 --   END 
    
	--Calculate the total work duration
	--IF @hasMultipleSwipe = 0
	--BEGIN

		SELECT @netMinutes = DATEDIFF(MINUTE, @swipeIn, @swipeOut)

		--Check if value is negative
		IF @netMinutes < 0
			SELECT @netMinutes = DATEDIFF(MINUTE, @swipeOut, @swipeIn)
    --END 

	--Calculate overtime
	IF @requiredWorkDuration > 0 AND @netMinutes > @requiredWorkDuration
	BEGIN

		SELECT @overtime = @netMinutes - @requiredWorkDuration
    END 

	--Populate data to the table
	INSERT INTO @myTable  
	SELECT	@swipeDate,
			@swipeIn,
			@swipeOut,
			--@location,
			--@readerName,
			@netMinutes,
			@overtime
			--@hasMultipleSwipe
	
	INSERT INTO @rtnTable 
	SELECT * FROM @mytable 

	RETURN 

END


/*	Testing:

PARAMETERS:
	@empNo					INT,
	@swipeDate				DATETIME,
	@requiredWorkDuration	INT

	SELECT * FROM tas.fnGetContractorWorkDuration(51318, '10/14/2016', 480)

*/
