USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetEmployeeSwipeRawData]    Script Date: 23/12/2020 11:18:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/********************************************************************************************************************************

User-defined Function Name		:	tas.fnGetEmployeeSwipeRawData
Description						:	This tabled-view function is used to fetch swipe raw data from the main gate readers
Created By						:	Ervin O. Brosas
Date Created					:	14 July 2015

Parameters
	@DT_SwipeLastProcessed		:	Refers to the begin date of the Timesheet process 
	@DT_SwipeNewProcess			:	Refers to the end date of the Timesheet process 
	@empNo						:	The Employee No. to filter the record

Revision History:
	1.0					EOB			2015.08.17 14:25
	Created

************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetEmployeeSwipeRawData]
(
	@DT_SwipeLastProcessed	datetime,	
	@DT_SwipeNewProcess		datetime,
	@empNo					int
)
RETURNS @rtnTable 
TABLE 
(
	EmpNo int NOT NULL,
	DT datetime,
	LocationCode int NOT NULL,
	ReaderNo smallint NOT NULL,
	EventCode smallint NOT NULL,
	Direction char(1) NULL,
	SwipeSource char(1) NULL
) 
AS 
BEGIN

	DECLARE @myTable TABLE 
	(
		EmpNo int NOT NULL,
		DT datetime,
		LocationCode int NOT NULL,
		ReaderNo smallint NOT NULL,
		EventCode smallint NOT NULL,
		Direction char(1) NULL,
		SwipeSource char(1) NULL
	) 

	IF ISNULL(@empNo, 0) = 0
		SET @empNo = NULL

	--Populate records into the table
	INSERT INTO @myTable  
	SELECT * FROM
	(
		select cast (T.EmpNo as int) EmpNo  ,
			DT, 
			T.LocationCode, 
			T.ReaderNo, 
			EventCode,
			A.Direction,
			Source

		from tas.Tran_SwipeData_dsx1 T,
			tas.Master_AccessReaders A,
			tas.System_Values V

		where T.LocationCode = A.LocationCode
		and   T.ReaderNo= A.ReaderNo
		and   A.UsedForTS='y'
		and   T.EventCode=8
		and   T.DT > @DT_SwipeLastProcessed
		and   T.DT <= @DT_SwipeNewProcess
		-----------------------------------------------------------
				union
		-----------------------------------------------------------
		select  cast (T.EmpNo as int) EmpNo  ,
			DT, 
			T.LocationCode, 
			T.ReaderNo, 
			EventCode,
			A.Direction,
			Source

		from tas.Tran_SwipeDataManuaL2_SwipeFormat T,
			tas.Master_AccessReaders A,
			tas.System_Values V
		where T.LocationCode = A.LocationCode
		and   T.ReaderNo= A.ReaderNo
		and   A.UsedForTS='y'
		and   T.EventCode=8
		and   cast(tas.fmtDate(T.DT) as datetime)+1 > @DT_SwipeLastProcessed
		and   cast(tas.fmtDate(T.DT) as datetime)+1 <= @DT_SwipeNewProcess
		-----------------------------------------------------------
				union
		-----------------------------------------------------------
		-- this is a read from table Tran_ManualDsxInsert
		-- all filters should be applied to data in the table, view Tran_SwipeData_dsx2 will read all data only filtered by date
		select
			cast (T.EmpNo as int) EmpNo ,
			DT,
			LocationCode,
			ReaderNo,
			EventCode,
			Direction,
			Source
		from tas.Tran_ManualDsxInsert1 T,
			tas.System_Values S
		where   1=1 
		and T.DT > @DT_SwipeLastProcessed
		and   T.DT <= @DT_SwipeNewProcess
	) a
	WHERE (EmpNo = @empNo OR @empNo IS NULL)
	ORDER BY EmpNo DESC, DT DESC, Direction DESC 

	INSERT INTO @rtnTable 
	SELECT * FROM @mytable 

	RETURN 

END

/*	Debugging:

Parameters:
	@DT_SwipeLastProcessed	datetime,	
	@DT_SwipeNewProcess		datetime,
	@empNo					int

	SELECT * FROM tas.fnGetEmployeeSwipeRawData('2014-31-08 09:00:00.000', '2014-01-09 09:00:00.000', 10003157) ORDER BY EmpNo DESC, DT DESC

*/