USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetSwipeCorrectionDashboard]    Script Date: 26/01/2023 11:25:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetSwipeCorrectionDashboard
*	Description: This table-view function returns the Plant Swipe Access System dashboard information
*
*	Date:			Author:		Rev.#:		Comments:
*	29/02/2016		Ervin		1.0			Created
*	06/03/2019		Ervin		1.1			Added WITH (NOLOCK) attributes to all join tables
******************************************************************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetSwipeCorrectionDashboard]
(
	@empNo	INT 
)
RETURNS @rtnTable 
TABLE 
(
	RequestType			VARCHAR(30),
	DraftCount			INT,
	OpenCount			INT, 
	AssignedCount		INT,
	PastWeekCount		INT
)
AS
BEGIN
	
	--Define variables
	DECLARE	@draftCount		INT,
			@openCount		INT, 
			@assignedCount	INT,
			@pastWeekCount	INT

	--Initialize variables
	SELECT	@draftCount		= 0,
			@openCount		= 0, 
			@assignedCount	= 0,
			@pastWeekCount	= 0

	SELECT @draftCount = COUNT(SwipeID)
	FROM
	(	
		SELECT  DISTINCT
			'Plant Swipe Access System' AS RequestTypeName,
			a.LastUpdateEmpNo, 
			RTRIM(b.EmpName) AS LastUpdateEmpName,
			a.SwipeID,
			b.PayStatus
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
			INNER JOIN tas.Master_Employee_JDE_View b WITH (NOLOCK) ON a.LastUpdateEmpNo = b.EmpNo
			LEFT JOIN tas.Tran_Timesheet d WITH (NOLOCK) ON a.EmpNo = d.EmpNo AND a.SwipeDate = d.DT 
			LEFT JOIN tas.SyncWorkplaceSwipeToTimesheetLog j WITH (NOLOCK) ON d.AutoID = j.AutoID AND d.EmpNo = j.EmpNo AND RTRIM(a.CostCenter) = RTRIM(j.CostCenter)
			LEFT JOIN tas.WorkplaceSwipeExclusion k WITH (NOLOCK) ON a.EmpNo = k.EmpNo AND RTRIM(a.CostCenter) = RTRIM(k.CostCenter)
		WHERE IsCorrected = 1 
			AND ISNULL(CorrectionType, 0) > 0
			AND RTRIM(a.CostCenter) IN (SELECT DISTINCT CostCenter FROM tas.WorkplaceReaderSetting WITH (NOLOCK) WHERE IsActive = 1)
			AND ISNULL(a.IsDayShift, 0) = 0
			AND 
			(
				(
					(
						ISNULL(d.CorrectionCode, '') = ''
						OR 
						(
							ISNULL(d.CorrectionCode, '') <> '' 
							AND 
							(d.dtIN IS NULL OR d.dtOUT IS NULL)
							AND
							j.LogID IS NOT NULL
						) 
					)
					AND d.IsLastRow = 1
				)
				OR d.AutoID IS NULL
			)
			AND 
			(
				ISNULL(a.IsSubmittedForApproval, 0) = 0		--Not yet submitted for approval
				OR (a.IsSubmittedForApproval = 1 AND a.IsClosed = 1 AND RTRIM(a.StatusCode) = '110')	--Rejected by approver		
			)
			AND 
			(
				(k.AutoID IS NOT NULL AND a.SwipeDate < k.EffectiveDate)
				OR k.AutoID IS NULL 
			)	
			AND 
			(
				(ISNULL(d.Processed, 0) = 0 AND d.AutoID IS NOT NULL) 
				OR d.AutoID IS NULL
			)
			AND ISNULL(a.IsMainGateSwipeRestored, 0) = 0		
	) A
	WHERE A.LastUpdateEmpNo = @empNo

	SELECT @openCount = COUNT(SwipeID)
	FROM
	(	
		SELECT  DISTINCT
			'Plant Swipe Access System' AS RequestTypeName,
			a.SubmittedByEmpNo, 
			RTRIM(b.EmpName) AS SubmittedByEmpName,
			a.SwipeID,
			b.PayStatus
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
			INNER JOIN tas.Master_Employee_JDE_View b WITH (NOLOCK) ON a.SubmittedByEmpNo = b.EmpNo
			LEFT JOIN tas.Tran_Timesheet c WITH (NOLOCK) ON a.EmpNo = c.EmpNo AND a.SwipeDate = c.DT AND c.IsLastRow = 1
			CROSS APPLY
			(
				SELECT TOP 1 * FROM tas.WorkflowHistory WITH (NOLOCK) 
				WHERE SwipeID = a.SwipeID AND TS_AutoID = c.AutoID 
				ORDER BY AutoID DESC
			) d
		WHERE 
			a.IsCorrected = 1 
			AND ISNULL(a.CorrectionType, 0) > 0
			AND RTRIM(a.CostCenter) IN (SELECT DISTINCT CostCenter FROM tas.WorkplaceReaderSetting WITH (NOLOCK) WHERE IsActive = 1)
			AND ISNULL(a.IsDayShift, 0) = 0
			AND RTRIM(a.StatusHandlingCode) = 'Open'
			AND 
			(
				ISNULL(a.IsSubmittedForApproval, 0) = 1		
				OR (ISNULL(a.IsSubmittedForApproval, 0) = 0 AND a.IsClosed = 1)	
			)
			AND ISNULL(a.IsMainGateSwipeRestored, 0) = 0	
	) A
	WHERE A.SubmittedByEmpNo = @empNo

	SELECT @assignedCount = COUNT(SwipeID)
	FROM
	(	
		SELECT  DISTINCT
			'Plant Swipe Access System' AS RequestTypeName,
			a.CurrentlyAssignedEmpNo, 
			a.CurrentlyAssignedEmpName,
			a.SwipeID,
			b.PayStatus
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
			INNER JOIN tas.Master_Employee_JDE_View b WITH (NOLOCK) ON a.EmpNo = b.EmpNo
			LEFT JOIN tas.Tran_Timesheet c WITH (NOLOCK) ON a.EmpNo = c.EmpNo AND a.SwipeDate = c.DT AND c.IsLastRow = 1
			CROSS APPLY
			(
				SELECT TOP 1 * FROM tas.WorkflowHistory WITH (NOLOCK)
				WHERE SwipeID = a.SwipeID AND TS_AutoID = c.AutoID 
				ORDER BY AutoID DESC
			) d
		WHERE 
			a.IsCorrected = 1 
			AND ISNULL(CorrectionType, 0) > 0
			AND RTRIM(a.CostCenter) IN (SELECT DISTINCT CostCenter FROM tas.WorkplaceReaderSetting WITH (NOLOCK) WHERE IsActive = 1)
			AND ISNULL(a.IsDayShift, 0) = 0
			AND RTRIM(a.StatusHandlingCode) = 'Open'
			AND 
			(
				ISNULL(a.IsSubmittedForApproval, 0) = 1		
				OR (ISNULL(a.IsSubmittedForApproval, 0) = 0 AND a.IsClosed = 1)	
			)
			AND ISNULL(a.IsMainGateSwipeRestored, 0) = 0	
	) A
	WHERE A.CurrentlyAssignedEmpNo = @empNo

	SELECT @pastWeekCount = COUNT(SwipeID)
	FROM
	(	
		SELECT  DISTINCT
			'Plant Swipe Access System' AS RequestTypeName,
			a.SubmittedByEmpNo, 
			RTRIM(b.EmpName) AS SubmittedByEmpName,
			a.SwipeID,
			b.PayStatus						
		FROM tas.Tran_WorkplaceSwipe a WITH (NOLOCK)
			INNER JOIN tas.Master_Employee_JDE_View b WITH (NOLOCK) ON a.SubmittedByEmpNo = b.EmpNo
			LEFT JOIN tas.Tran_Timesheet c WITH (NOLOCK) ON a.EmpNo = c.EmpNo AND a.SwipeDate = c.DT AND c.IsLastRow = 1
			CROSS APPLY
			(
				SELECT TOP 1 * FROM tas.WorkflowHistory WITH (NOLOCK)
				WHERE SwipeID = a.SwipeID AND TS_AutoID = c.AutoID 
				ORDER BY AutoID DESC
			) d
		WHERE 
			a.IsCorrected = 1 
			AND ISNULL(a.CorrectionType, 0) > 0
			AND RTRIM(a.CostCenter) IN (SELECT DISTINCT CostCenter FROM tas.WorkplaceReaderSetting WITH (NOLOCK) WHERE IsActive = 1)
			AND ISNULL(a.IsDayShift, 0) = 0
			AND RTRIM(a.StatusHandlingCode) = 'Closed'
			AND 
			(
				ISNULL(a.IsSubmittedForApproval, 0) = 1		
				OR (ISNULL(a.IsSubmittedForApproval, 0) = 0 AND a.IsClosed = 1)	
			)
			AND ISNULL(a.IsMainGateSwipeRestored, 0) = 0	
			AND a.ClosedDate BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, DATEADD(DAY, -6, GETDATE()), 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, GETDATE(), 12))
	) A
	WHERE A.SubmittedByEmpNo = @empNo

	--Populate data to the table
	INSERT INTO @rtnTable  
	SELECT	'Plant Swipe Correction Request' AS RequestType,
			@draftCount AS DraftCount,
			@openCount AS OpenCount, 
			@assignedCount AS AssignedCount,
			@pastWeekCount AS PastWeekCount
	
	RETURN 
END


/*	Testing:

	SELECT * FROM tas.fnGetSwipeCorrectionDashboard(10003632)

*/