USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetAttendanceStatusEx_V2]    Script Date: 6/12/2016 10:32:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***********************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetAttendanceStatusEx_V2
*	Description: Used to identify the initial attendance remarks
*
*	Date			Author		Rev. #		Comments:
*	31/03/2016		Ervin		1.0			Created
*************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetAttendanceStatusEx_V2]
(
    @empNo			INT,
	@processDate	DATETIME         
)
RETURNS VARCHAR(2)
AS
BEGIN
      
	DECLARE	@locationcode	INT,
			@readerno       INT,
			@ret            VARCHAR(2),
			@lateOrEarly    VARCHAR(20),
			@FromDate       DATETIME,
			@toDate         DATETIME,
			@remarks		VARCHAR(20)

	--Validate parameters
	IF @processDate IS NULL OR @processDate = CONVERT(DATETIME, '') 
		SET @processDate = GETDATE()

	SET @ret = 'x'
	  
	--Location Code '-1' is for manual timesheets
	SELECT TOP 1
		@readerno = ReaderNo, 
		@locationcode = LocationCode 	
	FROM tas.Master_EmployeeAttendance
	WHERE LocationCode IN (-1, 1, 2) 
		AND EmployeeNo = @empNo
	ORDER BY AttendanceDate DESC

    --Check for the location codes  
    IF @locationcode = 1
	BEGIN

		IF @readerno in (4,6,8)
			SET @ret = 'i'
		ELSE 
			SET @ret = 'o'
	END

    ELSE IF @locationcode = 2
	BEGIN

		IF @readerno in (0,3)
			SET @ret = 'i'
		ELSE IF @readerno in (1,2)
			SET @ret = 'o'
	END             

    ELSE IF @locationcode = -1	-- Manual Timesheet
	BEGIN

		IF @readerno = -1
			SET @ret = 'im'
		ELSE IF @readerno = -2
			SET @ret = 'om'
	END 
		
	SELECT @remarks = tas.fnGetAttendanceTimeStatus_V2(@empNo, @ret, @processDate)		  
	                
    IF RTRIM(@remarks) = 'Late' 
		SET @ret = 'l'
    ELSE IF RTRIM(@remarks) = 'Early leaving' 
		SET @ret = 'e'
		
	--Return the in/out status
	RETURN @ret           
END

/*	Debugging:

	SELECT tas.fnGetAttendanceStatusEx_V2(10003632, '04/09/2014')

*/
