USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetMobileNo]    Script Date: 06/02/2019 09:43:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/************************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetMobileNo
*	Description: Get the employee's mobile no.
*
*	Date:			Author:		Rev.#:		Comments:
*	06/02/2017		Ervin		1.0			Created
**************************************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetMobileNo]
(
	@empNo	INT
)
RETURNS VARCHAR(20)
AS
BEGIN

	DECLARE @mobileNo	VARCHAR(20)
	SET @mobileNo = ''

	SELECT TOP 1 @mobileNo = LTRIM(RTRIM(ISNULL(a.WPPH1, '')))
	FROM tas.syJDE_F0115 AS a
	WHERE a.WPAN8 = @empNo 
		AND UPPER(LTRIM(RTRIM(a.WPPHTP))) = 'MOBS'

	IF ISNULL(@mobileNo, '') = ''
	BEGIN
    
		SELECT TOP 1 @mobileNo = LTRIM(RTRIM(ISNULL(a.WPPH1, '')))
		FROM tas.syJDE_F0115 AS a
		WHERE a.WPAN8 = @empNo 
			AND UPPER(LTRIM(RTRIM(a.WPPHTP))) = 'MOBP'
	END 

	IF ISNULL(@mobileNo, '') = ''
	BEGIN
    
		SELECT TOP 1 @mobileNo = LTRIM(RTRIM(ISNULL(a.WPPH1, '')))
		FROM tas.syJDE_F0115 AS a
		WHERE a.WPAN8 = @empNo 
			AND UPPER(LTRIM(RTRIM(a.WPPHTP))) = 'MOB'
	END 
    
	IF ISNULL(@mobileNo, '')  <> ''
		SET @mobileNo = '+973' + @mobileNo

	RETURN @mobileNo

END

/*	Testing:

	SELECT tas.fnGetMobileNo(10003714)

*/
