USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetNotPuctualEmployeesAll]    Script Date: 02/02/2022 13:51:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnGetNotPuctualEmployeesAll
*	Description: Converts minute input value into hours with the following format: HH:mm
*
*	Date:			Author:		Rev.#:		Comments:
*	09/07/2020		Ervin		1.0			Created
*******************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetNotPuctualEmployeesAll]
(
	@startDate					DATETIME,
	@endDate					DATETIME,
	@costCenter					VARCHAR(12),
	@occurenceLimit				INT,
	@lateAttendanceThreshold	INT,
	@earlyLeavingThreshold		INT = 0 
)
RETURNS @rtnTable
TABLE	
(	
	CostCenter VARCHAR(12),
	EmpNo INT NOT NULL,
	Occurence INT  
)
AS
BEGIN

	DECLARE @myTable TABLE 
	(		
		CostCenter VARCHAR(12),
		EmpNo INT,
		Occurence INT 
	)

	--Validate parameters
	IF ISNULL(@costCenter, '') = ''
		SET @costCenter = NULL

	IF ISNULL(@occurenceLimit, 0) = 0			--(Note: The default occurence limit is 3)
		SET @occurenceLimit = 2			

	IF ISNULL(@lateAttendanceThreshold, 0) = 0	--(Note: Default value is 5 minutes)
		SET @lateAttendanceThreshold = 5	

	IF ISNULL(@earlyLeavingThreshold, 0) = 0	--(Note: Default value is 5 minutes)
		SET @earlyLeavingThreshold = 5	

	--Populate data to the table
	INSERT INTO @myTable  
	SELECT	x.CostCenter, x.EmpNo, COUNT(x.EmpNo) AS Occurence			
	FROM
    (
		--Get employees who are late
		SELECT DISTINCT 
			a.EmpNo,
			RTRIM(c.BusinessUnit) AS CostCenter,
			a.DT
		FROM tas.Tran_Timesheet a WITH (NOLOCK)
			CROSS APPLY
			(
				SELECT TOP 1 dtIN, dtOUT 
				FROM tas.Tran_Timesheet WITH (NOLOCK)
				WHERE DT = a.DT
					AND dtIN IS NOT NULL 
					AND dtOUT IS NOT NULL 
					AND EmpNo = a.EmpNo
			) b
			INNER JOIN tas.Master_Employee_JDE_View_V2 c WITH (NOLOCK) ON a.EmpNo = c.EmpNo
			LEFT JOIN tas.FlexiTimeSetting e WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(e.ShiftPatCode)
			LEFT JOIN tas.Master_ShiftPatternTitles f WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(f.ShiftPatCode)
			LEFT JOIN tas.Master_ShiftTimes g WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(g.ShiftPatCode) AND RTRIM(a.ShiftCode) = RTRIM(g.ShiftCode)	--Based on the scheduled shift
			LEFT JOIN tas.Master_ShiftTimes h WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(h.ShiftPatCode) 
				AND
				(
					CASE WHEN f.IsDayShift = 1 OR RTRIM(a.ShiftCode) = 'O'	--Rev. #1.1
						THEN a.ShiftCode
						ELSE 
							CASE 
								WHEN tas.fnCheckIfMutipleGateEntry(a.EmpNo, a.DT) = 1 AND a.IsLastRow = 1 
								THEN 
									CASE 
										WHEN a.Duration_Worked >= a.Duration_Required AND a.Duration_Worked < (a.Duration_Required + (a.Duration_Required / 2)) THEN RTRIM(a.ShiftCode)  
										WHEN a.Duration_Worked < (a.Duration_Required / 2) THEN RTRIM(a.ShiftCode) 
										ELSE RTRIM(a.Actual_ShiftCode) 
									END 
								WHEN 
								(
									ABS(DATEDIFF(MINUTE, CONVERT(TIME, a.dtIN), CONVERT(TIME, CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN g.RArrivalTo ELSE g.ArrivalTo END))) > a.Duration_Required / 2) 
									OR (a.Duration_Worked_Cumulative >= (a.Duration_Required + (a.Duration_Required / 2))
								)  
								THEN RTRIM(a.Actual_ShiftCode)
								ELSE RTRIM(a.ShiftCode)
							END
					END
				) = RTRIM(h.ShiftCode)
		WHERE 
			a.DT BETWEEN @startDate AND @endDate
			AND a.dtIN IS NOT NULL 
			AND a.dtOUT IS NOT NULL 
			AND ISNULL(a.LeaveType, '') = ''
			AND ISNULL(a.AbsenceReasonCode, '') = ''
			AND ISNULL(a.DIL_Entitlement, '') = ''
			AND ISNULL(a.IsPublicHoliday, 0) = 0
			AND NOT (a.IsDILdayWorker = 1 AND a.IsDayWorker_OR_Shifter = 1)		
			AND ISNULL(a.IsDriver, 0) = 0
			AND ISNULL(a.IsLiasonOfficer, 0) = 0
			AND ISNULL(a.IsHedger, 0) = 0
			AND ISNULL(a.ShiftSpan, 0) = 0	--Rev. #1.1
			AND 
			(
				CASE WHEN f.IsDayShift = 1 OR RTRIM(a.ShiftCode) = 'O' 
					THEN a.ShiftCode
					ELSE 
						CASE 
							WHEN tas.fnCheckIfMutipleGateEntry(a.EmpNo, a.DT) = 1 AND a.IsLastRow = 1 
							THEN 
								CASE 
									WHEN a.Duration_Worked >= a.Duration_Required AND a.Duration_Worked < (a.Duration_Required + (a.Duration_Required / 2)) THEN RTRIM(a.ShiftCode)  
									WHEN a.Duration_Worked < (a.Duration_Required / 2) THEN RTRIM(a.ShiftCode) 
									ELSE RTRIM(a.Actual_ShiftCode) 
								END 
							WHEN 
							(
								ABS(DATEDIFF(MINUTE, CONVERT(TIME, a.dtIN), CONVERT(TIME, CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RArrivalTo ELSE h.ArrivalTo END))) > a.Duration_Required / 2) 
								OR (a.Duration_Worked_Cumulative >= (a.Duration_Required + (a.Duration_Required / 2))
							)
							THEN RTRIM(a.Actual_ShiftCode)
							ELSE RTRIM(a.ShiftCode)
						END		--Rev. #1.3
				END <> 'O'
			)
			AND ISNUMERIC(c.PayStatus) = 1
			AND 
			(
				DATEDIFF
				(
					MINUTE, 
					CAST
					(
						CASE WHEN e.SettingID IS NOT NULL 
							THEN CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN e.RamadanArrivalTo ELSE e.NormalArrivalTo END
							ELSE CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RArrivalTo ELSE h.ArrivalTo END
						END AS TIME
					), 
					CAST(b.dtIN AS TIME)
				) > @lateAttendanceThreshold
				AND
                DATEDIFF
				(
					MINUTE, 
					CAST
					(
						CASE WHEN e.SettingID IS NOT NULL 
							THEN CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN e.RamadanArrivalTo ELSE e.NormalArrivalTo END
							ELSE CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RArrivalTo ELSE h.ArrivalTo END
						END AS TIME
					), 
					CAST(b.dtIN AS TIME)) <
					(
						CASE WHEN CAST(CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RDepartFrom ELSE h.DepartFrom END  AS TIME) > CAST(CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RArrivalTo ELSE h.ArrivalTo END AS TIME)
							THEN DATEDIFF(MINUTE, CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RArrivalTo ELSE h.ArrivalTo END, CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RDepartFrom ELSE h.DepartFrom END)
							ELSE 1440 + DATEDIFF(MINUTE, CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RArrivalTo ELSE h.ArrivalTo END, CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RDepartFrom ELSE h.DepartFrom END)
						END
					)
			)			
			AND (RTRIM(c.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)
			--AND c.GradeCode <= 11	

		UNION 	
        
		--Get employees who leave early from work
		SELECT	a.EmpNo,
				RTRIM(b.BusinessUnit) AS CostCenter,
				a.DT
		FROM tas.Tran_Timesheet a WITH (NOLOCK)
			INNER JOIN tas.Master_Employee_JDE_View_V2 b WITH (NOLOCK) ON a.EmpNo = b.EmpNo
			CROSS APPLY
			(
				SELECT TOP 1 dtIN
				FROM tas.Tran_Timesheet WITH (NOLOCK)
				WHERE DT = a.DT
					AND dtIN IS NOT NULL 
					AND dtOUT IS NOT NULL 
					AND EmpNo = a.EmpNo
			) c
			LEFT JOIN tas.Master_ShiftPatternTitles f WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(f.ShiftPatCode)
			LEFT JOIN tas.Master_ShiftTimes g WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(g.ShiftPatCode) AND RTRIM(a.ShiftCode) = RTRIM(g.ShiftCode)	--Based on the scheduled shift
			LEFT JOIN tas.Master_ShiftTimes h WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(h.ShiftPatCode) 
				AND 
				(
					CASE WHEN f.IsDayShift = 1 OR RTRIM(a.ShiftCode) = 'O' 	--Rev. #1.1
						THEN a.ShiftCode
						ELSE 
							CASE 
								WHEN tas.fnCheckIfMutipleGateEntry(a.EmpNo, a.DT) = 1 AND a.IsLastRow = 1 
								THEN 
									CASE 
										WHEN a.Duration_Worked >= a.Duration_Required AND a.Duration_Worked < (a.Duration_Required + (a.Duration_Required / 2)) THEN RTRIM(a.ShiftCode)  
										WHEN a.Duration_Worked < (a.Duration_Required / 2) THEN RTRIM(a.ShiftCode) 
										ELSE RTRIM(a.Actual_ShiftCode) 
									END 
								WHEN 
								(
									ABS(DATEDIFF(MINUTE, CONVERT(TIME, a.dtIN), CONVERT(TIME, CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN g.RArrivalTo ELSE g.ArrivalTo END))) > a.Duration_Required / 2) 
									OR (a.Duration_Worked_Cumulative >= (a.Duration_Required + (a.Duration_Required / 2))
								)
								THEN RTRIM(a.Actual_ShiftCode)
								ELSE RTRIM(a.ShiftCode)
							END		
					END
				) = RTRIM(h.ShiftCode)
			LEFT JOIN tas.FlexiTimeSetting e WITH (NOLOCK) ON RTRIM(a.ShiftPatCode) = RTRIM(e.ShiftPatCode)
		WHERE 
			a.dtIN IS NOT NULL 
			AND a.dtOUT IS NOT NULL 
			AND ISNULL(a.LeaveType, '') = ''
			AND ISNULL(a.AbsenceReasonCode, '') = ''
			AND ISNULL(a.DIL_Entitlement, '') = ''
			AND ISNULL(a.IsPublicHoliday, 0) = 0
			AND NOT (a.IsDILdayWorker = 1 AND a.IsDayWorker_OR_Shifter = 1)		--Rev. #1.3
			AND ISNULL(a.IsDriver, 0) = 0
			AND ISNULL(a.IsLiasonOfficer, 0) = 0
			AND ISNULL(a.IsHedger, 0) = 0
			AND 
			(
				CASE WHEN f.IsDayShift = 1 OR RTRIM(a.ShiftCode) = 'O' 
					THEN a.ShiftCode
					ELSE 
						CASE 
							WHEN tas.fnCheckIfMutipleGateEntry(a.EmpNo, a.DT) = 1 AND a.IsLastRow = 1 
							THEN 
								CASE 
									WHEN a.Duration_Worked >= a.Duration_Required AND a.Duration_Worked < (a.Duration_Required + (a.Duration_Required / 2)) THEN RTRIM(a.ShiftCode)  
									WHEN a.Duration_Worked < (a.Duration_Required / 2) THEN RTRIM(a.ShiftCode) 
									ELSE RTRIM(a.Actual_ShiftCode) 
								END 
							WHEN 
							(
								ABS(DATEDIFF(MINUTE, CONVERT(TIME, a.dtIN), CONVERT(TIME, CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RArrivalTo ELSE h.ArrivalTo END))) > a.Duration_Required / 2) 
								OR (a.Duration_Worked_Cumulative >= (a.Duration_Required + (a.Duration_Required / 2))
							)
							THEN RTRIM(a.Actual_ShiftCode)
							ELSE RTRIM(a.ShiftCode)
						END		--Rev. #1.3
				END <> 'O'
			)
			AND ISNUMERIC(b.PayStatus) = 1
			AND a.IsLastRow = 1
			AND ISNULL(a.ShiftSpan, 0) = 0	--Rev. #1.1
			AND DATEDIFF
				(
					MINUTE, 
					CONVERT(TIME, A.dtOUT), 
					CONVERT(TIME, CASE WHEN e.SettingID IS NOT NULL
										THEN DATEADD
											(
												MINUTE, 
												CASE WHEN CAST(CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RDepartFrom ELSE h.DepartFrom END AS TIME) > CAST(CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RArrivalTo ELSE h.ArrivalTo END AS TIME)
													THEN DATEDIFF(MINUTE, CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RArrivalTo ELSE h.ArrivalTo END, CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RDepartFrom ELSE h.DepartFrom END)
													ELSE 1440 + DATEDIFF(MINUTE, CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RArrivalTo ELSE h.ArrivalTo END, CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RDepartFrom ELSE h.DepartFrom END)
												END, 
												c.dtIN
											)
										ELSE CASE WHEN a.isRamadan = 1 AND a.isMuslim = 1 THEN h.RDepartFrom ELSE h.DepartFrom END
									END)
				) > @earlyLeavingThreshold 
			AND a.DT BETWEEN @startDate AND @endDate
			AND (RTRIM(b.BusinessUnit) = RTRIM(@costCenter) OR @costCenter IS NULL)
			--AND b.GradeCode <= 11	
	) x
	GROUP BY x.EmpNo, x.CostCenter
	HAVING (COUNT(x.EmpNo) >= @occurenceLimit)

	INSERT INTO @rtnTable 
	SELECT * FROM @mytable 
	ORDER BY CostCenter, EmpNo

	RETURN 
END 

/*	Debugging:

PARAMETERS:
	@startDate					DATETIME,
	@endDate					DATETIME,
	@costCenter					VARCHAR(12),
	@occurenceLimit				INT,
	@lateAttendanceThreshold	INT,
	@earlyLeavingThreshold		INT = 0 

	--Test server
	SELECT * FROM tas.fnGetNotPuctualEmployeesAll('01/01/2016', '07/01/2016', '7550', 0, 0, 0)		--By cost center
	SELECT * FROM tas.fnGetNotPuctualEmployeesAll('01/01/2016', '07/01/2016', '', 0, 0, 0)			--All

	--Production server
	SELECT * FROM tas.fnGetNotPuctualEmployeesAll('06/01/2020', '06/30/2020', '2110', 0, 0, 0)		--By cost center
	SELECT * FROM tas.fnGetNotPuctualEmployeesAll('06/01/2020', '06/30/2020', '', 0, 0, 0)			--All

*/
	

	