USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnCheckIfUseWorkplaceSwipe]    Script Date: 27/01/2021 11:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************************************************************************************************************
*	Revision History
*
*	Name: tas.fnCheckIfUseWorkplaceSwipe
*	Description: This function is used to determine if Timesheet should use the workplace swipes instead of the main gate swipes 
*
*	Date:			Author:		Rev.#:		Comments:
*	17/08/2015		EBrosas		1.0			Created
*	31/08/2015		EBrosas		1.1			Fetch the workplace cost centers from "WorkplaceReaderSetting" table
*	04/09/2015		EBrosas		1.2			Check if DateX is between @DT_SwipeNewProcess and @DT_SwipeLastProcessed
**************************************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnCheckIfUseWorkplaceSwipe]
(
	@DT_SwipeLastProcessed	datetime,	
	@DT_SwipeNewProcess		datetime,
	@empNo					int	
)
RETURNS BIT
AS

BEGIN

	DECLARE	@useWorkplaceSwipe		bit,
			@isCostCenterIncluded	bit,
			@isShifter				bit,
			@isNonSalaryStaff		bit,
			@isShiftSpan			bit,
			@dtMIN					datetime,
			@dtMAX					datetime,
			@arrivalFrom			datetime,
			@arrivalTo				datetime,
			@departFrom				datetime,
			@departTo				datetime,
			@durationRequired		int,
			@workDuration			int,
			@shiftPatCode			varchar(2),	
			@shiftCode				varchar(10)			

	SELECT	@useWorkplaceSwipe		= 0,
			@isCostCenterIncluded	= 0,
			@isShifter				= 0,
			@isNonSalaryStaff		= 0,
			@isShiftSpan			= 0,
			@dtMIN					= null,
			@dtMAX					= null,
			@arrivalFrom			= null,
			@arrivalTo				= null,
			@departFrom				= null,
			@departTo				= null,
			@durationRequired		= 0,
			@workDuration			= 0,
			@shiftPatCode			= '',	
			@shiftCode				= ''			

	/***************************************************************************************************
		Check if the employee belongs to the cost centers where workplace swipes is implemented
	***************************************************************************************************/		
	IF EXISTS
	(
		--Rev. #1.1 
		SELECT a.EmpNo
		FROM tas.Master_Employee_JDE_View a
			INNER JOIN 
			(
				SELECT DISTINCT CostCenter FROM tas.WorkplaceReaderSetting WHERE IsActive = 1
			) b ON RTRIM(a.BusinessUnit) = RTRIM(b.CostCenter)
		WHERE a.EmpNo = @empNo

		--SELECT a.EmpNo
		--FROM tas.Master_Employee_JDE_View a
		--	INNER JOIN tas.syJDE_UserDefinedCode b ON RTRIM(a.BusinessUnit) = RTRIM(b.UDCSpecialHandlingCode)
		--WHERE a.EmpNo = @empNo
		--	AND b.UDCUDCGID = (SELECT UDCGID FROM tas.sy_UserDefinedCodeGroup WHERE RTRIM(UDCGCode) = 'WRKPLACECC')
	)
	BEGIN

		SET @isCostCenterIncluded = 1
	END	

	
	/*************************************************************************
		Get the shift pattern information
	**************************************************************************/		
	SELECT TOP 1
		@shiftPatCode = RTRIM(Effective_ShiftPatCode),
		@shiftCode = RTRIM(Effective_ShiftCode)
	FROM tas.Tran_ShiftPatternUpdates
	WHERE EmpNo = @empNo
		--AND DateX = CONVERT(DATETIME, CONVERT(VARCHAR, @DT_SwipeLastProcessed, 12)) 
		AND DateX BETWEEN CONVERT(DATETIME, CONVERT(VARCHAR, @DT_SwipeLastProcessed, 12)) AND CONVERT(DATETIME, CONVERT(VARCHAR, @DT_SwipeNewProcess, 12)) --Rev. #1.2

	
	/*************************************************************************
		Check if employee is Shifter
	**************************************************************************/	
	SELECT @isShifter = CASE WHEN IsDayShift = 1 THEN 0 ELSE 1 END
	FROM tas.Master_ShiftPatternTitles
	WHERE RTRIM(ShiftPatCode) = RTRIM(@shiftPatCode)


	/*************************************************************************
		Check if employee is Non-salary Staff
	**************************************************************************/	
	SELECT @isNonSalaryStaff = CASE WHEN ISNULL(GradeCode, 0) <= 8 THEN 1 ELSE 0 END
	FROM tas.Master_Employee_JDE_View
	WHERE EmpNo = @empNo


	/*************************************************************************
		Check if Shift Span is enabled
	**************************************************************************/
	IF ISNULL(@shiftPatCode, '') <> '' AND ISNULL(@shiftCode, '') <> ''
	BEGIN

		--Get the shift timing info
		SELECT	@arrivalFrom = a.ArrivalFrom,
				@arrivalTo = a.ArrivalTo,
				@departFrom = a.DepartFrom,
				@departTo = a.DepartTo,
				@durationRequired = DATEDIFF(n, a.ArrivalTo, a.DepartFrom)
		FROM tas.Master_ShiftTimes a
		WHERE RTRIM(a.ShiftPatCode) = @shiftPatCode
			AND RTRIM(a.ShiftCode) = @shiftCode

		--Get the maximum and minimum swipe time
		SELECT	@dtMIN = MIN(DT),
				@dtMAX = MAX(DT)
		FROM tas.fnGetEmployeeSwipeRawData(@DT_SwipeLastProcessed, @DT_SwipeNewProcess, @empNo) 

		--Set the work duration
		SET @workDuration = DATEDIFF(n, @dtMIN, @dtMAX)
		
		IF 
		(	@durationRequired > 0 
			AND @workDuration >= @durationRequired * 2			
		)
		BEGIN

			SET @isShiftSpan = 1
		END
	END

	
	/*************************************************************************
		Determine the final result
	**************************************************************************/
	IF	@isCostCenterIncluded = 1
		AND @isShifter = 1
		AND @isNonSalaryStaff = 1
		AND @isShiftSpan = 0
		--AND @shiftCode <> 'O'
	BEGIN

		--Enable the flag to use the workplace swipe
		SET @useWorkplaceSwipe = 1
	END
	
	RETURN @useWorkplaceSwipe
END


/*	Debugging:

Parameters:
	@DT_SwipeLastProcessed	datetime,	
	@DT_SwipeNewProcess		datetime,
	@empNo					int

	SELECT tas.fnCheckIfUseWorkplaceSwipe('2014-31-08 09:00:00.000', '2014-01-09 09:00:00.000', 10003157)
	SELECT tas.fnCheckIfUseWorkplaceSwipe('2014-31-08 09:00:00.000', '2014-01-09 09:00:00.000', 10001127)
	SELECT tas.fnCheckIfUseWorkplaceSwipe('2014-31-08 09:00:00.000', '2014-01-09 09:00:00.000', 10001881)
	SELECT tas.fnCheckIfUseWorkplaceSwipe('2014-31-08 09:00:00.000', '2014-01-09 09:00:00.000', 10003632)

*/
