USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetProcessedSwipeData]    Script Date: 23/12/2020 11:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/********************************************************************************************************************************

User-defined Function Name		:	tas.fnGetProcessedSwipeData
Description						:	This TVF is used to fetch processed swipe records at the main gate and workplace readers
Created By						:	Ervin O. Brosas
Date Created					:	14 July 2015

Parameters
	@DTSwipeLastProcessed		:	Refers to the begin date of the Timesheet process 
	@DTSwipeNewProcess			:	Refers to the end date of the Timesheet process 
	@empNo						:	The Employee No. to filter the record
	@costCenter					:	The cost center to filter the record

Revision History:
	1.0					EOB			2015.07.14 09:36
	Created

	1.1					EOB			2015.08.18 08:55
	Refactored the condition in determining whether to fetch the main gate or workplace swipes
************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetProcessedSwipeData]
(
	@DTSwipeLastProcessed	datetime,	
	@DTSwipeNewProcess		datetime,
	@empNo					int,
	@costCenter				varchar(12)
)
RETURNS @rtnTable 
TABLE 
(
	EmpNo int NOT NULL,
	DT datetime,
	LocationCode int NOT NULL,
	ReaderNo smallint NOT NULL,
	EventCode smallint NOT NULL,
	Direction char(1) NULL,
	SwipeSource char(1) NULL,
	UseWorkplaceSwipe bit NULL,
	HasWorkplaceSwipe bit NULL
) 
AS 
BEGIN

	DECLARE @myTable TABLE 
	(
		EmpNo int NOT NULL,
		DT datetime,
		LocationCode int NOT NULL,
		ReaderNo smallint NOT NULL,
		EventCode smallint NOT NULL,
		Direction char(1) NULL,
		SwipeSource char(1) NULL,
		UseWorkplaceSwipe bit NULL,
		HasWorkplaceSwipe bit NULL		
	) 

	IF ISNULL(@empNo, 0) = 0
		SET @empNo = NULL

	IF ISNULL(@costCenter, '') = ''
		SET @costCenter = NULL

	--Populate data to the table
	INSERT INTO @myTable  
	SELECT	a.EmpNo,
			CASE WHEN a.UseWorkplaceSwipe = 1 AND (a.DT_WP < @DTSwipeNewProcess OR a.DT_WP IS NULL)
				THEN a.DT_WP 
				ELSE a.DT_MG 
			END AS DT,
			a.LocationCode,
			a.ReaderNo, 
			a.EventCode,
			a.Direction,
			a.[Source],

			CASE WHEN a.UseWorkplaceSwipe = 1 AND (a.DT_WP < @DTSwipeNewProcess OR a.DT_WP IS NULL)
				THEN 1 
				ELSE 0
			END AS UseWorkplaceSwipe,
			--a.UseWorkplaceSwipe,

			a.HasWorkplaceSwipe	 
	FROM
	(
		--Get the swipe records at the Main Gate and Workplace readers
		SELECT 
			a.EmpNo,			
			a.DT AS DT_MG,
			CASE WHEN RTRIM(b.Direction) = 'O' 
				THEN 
					CASE WHEN c.TimeOutWP IS NOT NULL 
						THEN c.TimeOutWP 
						ELSE CASE WHEN tas.fnCheckIfShiftSpan(@DTSwipeLastProcessed, @DTSwipeNewProcess, a.EmpNo) = 1 THEN a.DT ELSE NULL END
					END 
				ELSE
					CASE WHEN c.TimeInWP IS NOT NULL 
						THEN c.TimeInWP 
						ELSE CASE WHEN tas.fnCheckIfShiftSpan(@DTSwipeLastProcessed, @DTSwipeNewProcess, a.EmpNo) = 1 THEN a.DT ELSE NULL END 
				END 
			END AS DT_WP, 
			a.LocationCode, 
			a.ReaderNo, 
			a.EventCode,
			b.Direction,
			a.[Source],

			CASE WHEN RTRIM(b.Direction) = 'O' 
				THEN 
					CASE WHEN c.TimeOutWP IS NOT NULL THEN 1 ELSE 0 END
				ELSE
					CASE WHEN c.TimeInWP IS NOT NULL THEN 1 ELSE 0 END
			END AS HasWorkplaceSwipe,

			--CASE WHEN ISNULL(c.SwipeID, 0) > 0 
			--	THEN 1
			--	ELSE 0
			--END AS UseWorkplaceSwipe,
			tas.fnCheckIfUseWorkplaceSwipe(@DTSwipeLastProcessed, @DTSwipeNewProcess, a.EmpNo) AS UseWorkplaceSwipe,

			c.SwipeID 
		FROM tas.Tran_SwipeData_dsx1 a
			INNER JOIN tas.Master_AccessReaders b ON a.LocationCode = b.LocationCode AND a.ReaderNo = b.ReaderNo
			LEFT JOIN tas.Tran_WorkplaceSwipe c ON a.EmpNo = c.EmpNo AND CONVERT(VARCHAR, c.SwipeDate, 12) BETWEEN CONVERT(VARCHAR, a.DT, 12) AND CONVERT(VARCHAR, DATEADD(DD, 1, a.DT), 12) 
		WHERE a.LocationCode = b.LocationCode
			AND a.ReaderNo = b.ReaderNo
			AND b.UsedForTS = 'y'
			AND a.EventCode = 8
			AND a.DT > @DTSwipeLastProcessed
			AND a.DT <= @DTSwipeNewProcess

		UNION
		
		--Get Manual Attendance records
		SELECT 
			CAST(a.EmpNo AS INT) AS EmpNo,
			a.DT AS DT_MG,
			NULL AS DT_WP, 
			a.LocationCode, 
			a.ReaderNo, 
			a.EventCode,
			b.Direction,
			a.[Source],
			0 AS HasWorkplaceSwipe,
			0 AS UseWorkplaceSwipe,
			0 AS SwipeID
		FROM tas.Tran_SwipeDataManuaL2_SwipeFormat a
			INNER JOIN tas.Master_AccessReaders b ON a.LocationCode = b.LocationCode AND a.ReaderNo = b.ReaderNo
		WHERE a.LocationCode = b.LocationCode
			AND a.ReaderNo = b.ReaderNo
			AND b.UsedForTS = 'y'
			AND a.EventCode = 8
			AND CAST(tas.fmtDate(a.DT) as datetime) + 1 > @DTSwipeLastProcessed
			AND CAST(tas.fmtDate(a.DT) as datetime) + 1 <= @DTSwipeNewProcess
		
		UNION
		
		-- this is a read from table Tran_ManualDsxInsert
		-- all filters should be applied to data in the table, view Tran_SwipeData_dsx2 will read all data only filtered by date
		SELECT
			CAST(a.EmpNo AS INT) AS EmpNo,
			a.DT AS DT_MG,
			NULL AS DT_WP,			
			a.LocationCode,
			a.ReaderNo,
			a.EventCode,
			a.Direction,
			a.[Source],
			0 AS HasWorkplaceSwipe,
			0 AS UseWorkplaceSwipe,
			0 AS SwipeID
		FROM tas.Tran_ManualDsxInsert1 a
		WHERE a.DT > @DTSwipeLastProcessed
			AND a.DT <= @DTSwipeNewProcess
	) a
	LEFT JOIN tas.syJDE_F060116 b ON a.EmpNo = b.YAAN8
	LEFT JOIN tas.Master_ContractEmployee c ON a.EmpNo = c.EmpNo AND ((a.EmpNo >= 10000 OR a.EmpNo >= 50000) AND a.EmpNo < 10000000)
	LEFT JOIN tas.Tran_ShiftPatternUpdates d ON a.EmpNo = d.EmpNo AND a.DT_MG = d.DateX
	WHERE 
		(
			(
				CASE WHEN ((a.EmpNo >= 10000 OR a.EmpNo >= 50000) AND a.EmpNo < 10000000)
					THEN RTRIM(d.Effective_BusinessUnit)			
					ELSE LTRIM(RTRIM(b.YAMCU)) 
				END
			) = @costCenter 
			OR @costCenter IS NULL
		)
		AND (a.EmpNo = @empNo OR @empNo IS NULL)
	ORDER BY a.EmpNo, DT_MG DESC
	
	INSERT INTO @rtnTable 
	SELECT * FROM @mytable 

	RETURN 

END

/*	Debugging:

	DECLARE @empNo		int,
			@startDate	datetime,
			@endDate	datetime

	SELECT	@empNo		= 10001881,
			@startDate	= '2014-31-08 09:00:00.000',
			@endDate	= '2014-01-09 09:00:00.000'

	--Get the In/Out swipe records to be processed by the Timesheet	
	SELECT * FROM tas.fnGetProcessedSwipeData(@startDate, @endDate, @empNo, '') 
	ORDER BY EmpNo, DT DESC, Direction DESC  

	--Get swipes at the main gate and workplace readers
	SELECT * FROM tas.Vw_EmployeeSwipeData_Workplace
	WHERE EmpNo = @empNo 
		AND CONVERT(VARCHAR, SwipeDate, 12) = '140901'
	ORDER BY SwipeTime

	--Get the consolidated swipes from main gate and workplace readers
	SELECT * FROM tas.Tran_WorkplaceSwipe 
	WHERE EmpNo = @empNo
		AND CONVERT(VARCHAR, SwipeDate, 12) = '140901'
	ORDER BY SwipeDate DESC

	EXEC tas.Pr_GetEmployeeSwipeInfo_Workplace @startDate, @endDate, @empNo, '', '', ''

*/