USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fnGetAttendanceStatus]    Script Date: 6/12/2016 10:36:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/********************************************************************************************************************************

Store Procedure Name			:	tas.prTimesheet_CopyWorkingData
Description						:	This stored procedure is used to copy data to temporary tables for proccesing
Created By						:	Zaharan Haleed
Date Created					:	12 December 2011

Revision History:
	1.0					Zaharan			2011.12.12 08:36
	Created

	1.1					Ervin			2016.04.04 15:45
	Refactored the code

************************************************************************************************************************************/

ALTER FUNCTION [tas].[fnGetAttendanceStatus]
(
    @EmpNo INT 
)
RETURNS varchar(2)
AS
BEGIN
      
	DECLARE	@locationCode   INT,
			@readerNo       INT,
			@ret            VARCHAR(2),
			@lateOrEarly    VARCHAR(20),
			@fromDate       DATETIME,
			@toDate         DATETIME,
			@remarks		VARCHAR(100)

	
	SET @ret = 'x'
	  
	--Location code '-1' is for manual timesheets
	SELECT TOP 1
		@readerno = ReaderNo, 
		@locationcode = LocationCode 	
	FROM tas.Master_EmployeeAttendance
	WHERE LocationCode IN (-1, 1, 2) 
		AND EmployeeNo = @empNo
	ORDER BY AttendanceDate DESC

    --Check for the location codes  
    IF @locationCode = 1
	BEGIN
    
		IF @readerNo IN (4, 6, 8) 
			SET @ret = 'i'
		ELSE  
			SET @ret = 'o'
	END     
	         
    ELSE IF @locationCode = 2
	BEGIN
    
		IF @readerNo IN (0, 3) 
			SET @ret = 'i'
		ELSE IF @readerNo IN (1, 2) 
			SET @ret = 'o'
	END     
	         
    ELSE IF @locationCode = -1		-- Manual Timesheet
	BEGIN
    
		IF @readerNo = -1
			SET @ret = 'im'
		ELSE IF @readerNo = -2
			SET @ret = 'om'
	END   
		
	--Return the in/out status
	RETURN RTRIM(@ret)

END

