USE [tas2]
GO
/****** Object:  UserDefinedFunction [tas].[fmtMIN_HHmm]    Script Date: 15/01/2017 10:32:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  function [tas].[fmtMIN_HHmm] (@n int) returns varchar(4)
-- select tas.fmtMIN_HHmm (100)
as
begin
	declare @HH varchar(2)
	declare @nn varchar(2)

	set @HH = @n/60
	set @nn = @n - (@HH * 60)
	return tas.lpad( @HH , 2, '0') + tas.lpad( @nn , 2, '0')
end

